@model ComputeControlModel
@{
    ViewBag.Title = "Hesaplamalar";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Hesaplamalar</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div><!-- content-header -->
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">
                <div class="row">

                    <div class="col-sm-12" style="margin-bottom:20px !important;">
                        <div class="card">
                            <div class="card-header d-sm-flex align-items-start justify-content-between">
                                <h6 class="lh-5 mg-b-0">Hakediş Hesaplamaları </h6>
                                <div class="mg-r-0 mg-l-auto ">yükleniyor</div>
                            </div><!-- card-header -->
                            <div class="card-body pd-y-10 pd-x-10">
                                <div class="table-responsive">
                                    <table class="table table-light table-bordered table-hover table-sm tx-13 tx-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>Lokasyon</th>
                                                <th>Hafta</th>
                                                <th>Tarih</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-white">
                                                <td class="" style="padding:2px !important;">
                                                    <select class="form-control select2 w-100" id="LocationID" name="LocationID">
                                                        <option value="">Lokasyon Seçiminiz</option>
                                                        @foreach (var item in Model.Locations.OrderBy(x => x.SortBy))
                                                        {
                                                            <option value="@item.LocationID">@($"{item?.SortBy?.Trim()} {item?.LocationName} {item?.Description} {item?.State}")</option>
                                                        }
                                                    </select>
                                                </td>

                                                <td class="" style="padding:2px !important;">
                                                    <select class="form-control" id="WeekCode">
                                                        @foreach (var item in Model.WeekLists.OrderByDescending(x=> x.WeekYear).ThenByDescending(x=> x.WeekNumber))
                                                        {
                                                            <option value="@item.WeekKey" @(item.WeekKey == Model.WeekKey ? "selected":"")>@($"{item.WeekKey}. Hafta | {item.Between}")</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td class="" style="padding:2px !important;">
                                                    <input type="text" id="Date" class="form-control form-control-sm datepicker shiftdate">
                                                </td>
                                                <td class="" style="padding:2px !important;">
                                                    <button type="button" class="btn btn-primary btn-block" onclick="ComputeSalaryEarns()">Hesapla</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                        <ul id="ComputeSalaryEarnResult"></ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            chat.client.addMessageToPage = function (name, message) {
                console.log(name);
                console.log(message);

                $('#ComputeSalaryEarnResult').append('<li><strong>' + htmlEncode(name)
                    + '</strong>: ' + htmlEncode(message) + '</li>');
            };
            $.connection.hub.start();
        });

        function htmlEncode(value) {
            //var encodedValue = $('<div />').text(value).html();
            return value;
        }
    </script>

    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");

            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Arama Seçenekleri',
                allowClear: true
            });

            $('.datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });


        });

        function ComputeSalaryEarns() {

            $("#ComputeSalaryEarnResult").empty();

            var locationid = $('#LocationID').val();
            var date = $('#Date').val();
            var weekcode = $('#WeekCode').val();

            var data = new FormData();

            data.append('locationid', locationid);
            data.append('date', date);
            data.append('weekcode', weekcode);


            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Compute/ComputeSalaryEarns",
                data: data
            }).done(function (d) {
                
            });
        }

    </script>



    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
