@model ComputeControlModel
@{
    ViewBag.Title = "Hesaplamalar";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Hesaplamalar</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div><!-- content-header -->
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">
                <div class="row">

                    <div class="col-sm-12" style="margin-bottom:20px !important;">
                        <div class="card">
                            <div class="card-header d-sm-flex align-items-start justify-content-between">
                                <h6 class="lh-5 mg-b-0">Hakediş Hesaplamaları </h6>
                            </div><!-- card-header -->
                            <div class="card-body pd-y-10 pd-x-10">
                                <div class="table-responsive">
                                    <table class="table table-light table-bordered table-hover table-sm tx-13 tx-nowrap mb-0">
                                        <tfoot>
                                            <tr class="bg-white">
                                                <td class="wd-5p"></td>
                                                <td class="tx-medium wd-30p" style="padding:2px !important;">
                                                    <select class="form-control" id="Location" required>
                                                        @foreach (var item in Model.Locations.OrderBy(x=> x.SortBy))
                                                        {
                                                            <option value="@item.LocationID">@($"{item.SortBy.Trim()} {item.LocationName} {item.Description} {item.State}")</option>
                                                        }
                                                    </select>
                                                </td>
                                                <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Date" class="form-control form-control-sm datepicker shiftdate" placeholder="Başlangıç Tarihi"></td>
                                                <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Total" class="form-control form-control-sm money text-right" placeholder="Tutar"></td>
                                                <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Rate" class="form-control form-control-sm money4 text-right" placeholder="Oran"></td>
                                                @*<td class="text-right wd-15p" style="padding:2px !important;">
                                                    <select class="form-control" id="CalculateType">
                                                        <option value="">Hafta Seçiminiz</option>
                                                        @foreach (var item in Model.DateLists)
                                                        {
                                                            <option value="@item.ID">@($"{item.Name}")</option>
                                                        }
                                                    </select>
                                                </td>*@
                                                <td class="wd-15p" style="padding:2px !important;">
                                                    <button type="button" class="btn btn-xs btn-primary btn-block">Parametre Ekle</button>
                                                </td>
                                                <td class="wd-5p" style="padding:2px !important;"></td>

                                            </tr>
                                        </tfoot>
                                    </table>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalLocationSchedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="AddLocationSchedule">

            </div>
        </div>
    </div>
</div>
@section scripts {


    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");

            $('.datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });


        });

    </script>



    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
