@model InventoryControlModel
@{
    ViewBag.Title = "Hayvanlar";
}

@section style{

}

<div class="row no-gutters">



    <div class="col-md-4 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div class="contact-list">

            <div class="row p-4">
                @using (Html.BeginForm("AddCostumeType", "Inventory", FormMethod.Post, new { @class = "form-inline" }))
                {
                    <div class="form-group">
                        <input id="TypeNameEN" name="TypeNameEN" type="text" class="form-control form-control-sm" placeholder="Kostüm EN" required>
                    </div>
                    <div class="form-group mx-sm-1">
                        <input id="TypeNameTR" name="TypeNameTR" type="text" class="form-control form-control-sm" placeholder="Kostüm TR" required>
                    </div>
                    <button class="btn btn-sm btn-primary" type="submit"><i data-feather="corner-right-down"></i></button>
                }
            </div>

            <div class="table-responsive" id="AnimalList">
                <table class="table table-primary table-hover table-striped mg-b-0">
                    <thead>
                        <tr class="table-active">
                            <th>#</th>
                            <th scope="col">Adı (EN) </th>
                            <th scope="col">Adı (TR) </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CostumeTypeList.OrderBy(x => x.TypeNameEN))
                        {
                            <tr>
                                <td><span>@(item.ID)</span></td>
                                <td scope="row" class="@(item.IsActive == true ? "":"tx-danger")"><a href="/Inventory/Animal/@(item.ID)"><b>@(item.TypeNameEN)</b></a></td>
                                <td scope="row" class="@(item.IsActive == true ? "":"tx-danger")"><a href="/Inventory/Animal/@(item.ID)"><b>@(item.TypeNameTR)</b></a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="col-md-8 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
        <div class="df-example demo-forms pd-5 pt-0">
            <div class="card ht-100p" id="Animals">
                <div class="row p-4">
                    @using (Html.BeginForm("FilterLocationAnimal", "Inventory", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <div class="form-group">
                            <select class="form-control form-control-sm" name="LocationID">
                                <option value="">Lokasyon Seçimi</option>
                                @foreach (var item in Model.FilterLocations)
                                {
                                    <option value="@item.LocationID" @(item.LocationID == Model.LocationID ? "selected" : "")>@(item.LocationName )</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mx-sm-1">
                            <select class="form-control form-control-sm" name="CostumeTypeID">
                                <option value="">Kostüm Seçimi</option>
                                @foreach (var item in Model.CostumeTypeList.OrderBy(x => x.TypeNameEN))
                                {
                                    <option value="@item.ID" @(item.ID == Model.CostumeTypeID ? "selected" : "")>@(item.TypeNameEN) - @(item.TypeNameTR)</option>
                                }
                            </select>
                        </div>
                        <button class="btn btn-sm btn-primary" type="submit"><i data-feather="filter"></i></button>
                    }
                </div>
                <div class="table-responsive" id="AnimalList">
                    <table class="table table-primary table-hover mg-b-0">
                        <thead>
                            <tr class="table-active">
                                <th>#</th>
                                <th scope="col">Animal (EN) - (TR) </th>
                                <th scope="col">Lokasyon </th>
                                <th scope="col">Ülke </th>
                                <th scope="col">Başlama </th>
                                <th scope="col">SeriNo </th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var location in Model.Locations)
                            {
                                var locationanimals = Model.LocationAnimals.Where(x => x.LocationID == location.LocationID).ToList();
                                <tr>
                                    <th colspan="6"><a href="/Inventory/Animal/?LocationID=@(location.LocationID)" class="text-muted tx-16"><b>@(location.LocationName)</b></a></th>
                                    <th> <a href="/Inventory/LocationAnimals/@(location.LocationID)" class="tx-16 text-primary float-right"><i data-feather="folder-plus"></i></a></th>
                                </tr>

                                foreach (var item in locationanimals.OrderBy(x => x.TypeNameTR))
                                {
                                    <tr class="table-light @(item.IsActive != true ? "text-danger":"")">
                                        <td><span>@(item.ID)</span></td>
                                        <td><a href="/Inventory/Animal/@(item.CostumeTypeID)"><b>@(item.TypeNameEN) - @(item.TypeNameTR)</b></a></td>
                                        <td><a href="/Inventory/Animal/?LocationID=@(item.LocationID)"><b>@(item.LocationFullName)</b></a></td>
                                        <td scope="row">@(item.OurCompanyID == 1 ? "USA" : item.OurCompanyID == 2 ? "TUR" : "")</td>
                                        <td scope="row">@(item.StartDate?.ToShortDateString())</td>
                                        <td scope="row">@(item.SerialNumber)</td>
                                        <td scope="row"><a href="/Inventory/RemoveAnimal/@(item.ID)" class="tx-16 text-danger float-right" onclick="return confirm('Silmek İstediğinizden Emin misiniz?')"><i data-feather="folder-minus"></i></a></td>
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



@section scripts {

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

