@model InventoryControlModel
@{
    ViewBag.Title = "Pos Ekle";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">POS Detayı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">@(Model.PosTerminal?.SicilNumber)</h4>
                    </div>
                    <div class="d-none d-md-block">

                        <a href="/Inventory/Pos/" class="btn btn-primary btn-uppercase"><i data-feather="list"></i> &nbsp; Pos Listesi</a>
                    </div>
                </div>
                @using (Html.BeginForm("EditPosTerminal", "Inventory", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">
                            <input id="PosID" name="ID" type="hidden" value="@(Model.PosTerminal.ID)" />
                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="SicilNumber" class="col-sm-3 col-form-label">Sicil No</label>
                                <div class="col-sm-6">
                                    <input id="SicilNumber" name="SicilNumber" autocomplete="off" type="text" class="form-control tx-16 text-danger" placeholder="Sicil No" value="@(Model.PosTerminal.SicilNumber)" required readonly>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="SerialNumber" class="col-sm-3 col-form-label">Seri No</label>
                                <div class="col-sm-6">
                                    <input id="SerialNumber" name="SerialNumber" autocomplete="off" type="text" class="form-control tx-16" placeholder="Seri No" value="@(Model.PosTerminal.SerialNumber)" required readonly>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-5">
                                <label for="BrandName" class="col-sm-3 col-form-label">Markası</label>
                                <div class="col-sm-6">
                                    <input id="BrandName" name="BrandName" autocomplete="off" type="text" class="form-control" placeholder="Markası" value="@(Model.PosTerminal.BrandName)" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row">
                                <label for="ModelName" class="col-sm-3 col-form-label">Modeli</label>
                                <div class="col-sm-6">
                                    <input id="ModelName" name="ModelName" autocomplete="off" type="text" class="form-control" placeholder="Modeli" value="@(Model.PosTerminal.ModelName)" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>


                            <div class="form-group row mg-b-5">
                                <label for="BankAccountID" class="col-sm-3 col-form-label">Banka Hesabı</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="BankAccountID" name="BankAccountID">
                                        <option value="">Banka Seçimi</option>
                                        @foreach (var item in Model.Banks)
                                        {
                                            <option value="@item.BankAccountID" @(item.BankAccountID == Model.PosTerminal.BankAccountID ? "selected" : "")>@(item.BankName)</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3"> </div>
                            </div>

                            <div class="form-group row">
                                <label for="ClientID" class="col-sm-3 col-form-label">Müşteri ID</label>
                                <div class="col-sm-6">
                                    <input id="ClientID" name="ClientID" autocomplete="off" type="text" class="form-control" placeholder="Müşteri ID" value="@(Model.PosTerminal.ClientID)">
                                </div>
                                <div class="col-sm-3"></div>
                            </div>


                            <div class="form-group row">
                                <label for="LocationID" class="col-sm-3 col-form-label">Lokasyona Ait</label>
                                <div class="col-sm-6">
                                    <select class="form-control select2" id="LocationID" name="LocationID">
                                        <option value="">Lokasyon Seçimi</option>
                                        @foreach (var item in Model.Locations)
                                        {
                                            <option value="@item.LocationID" @(item.LocationID == Model.PosTerminal.LocationID ? "selected" : "")>@(item.LocationName )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3"> </div>
                            </div>

                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">ÖKC POS Güncelle</button>
                                </div>
                                <div class="col-sm-3"><a href="/Inventory/Remove/@(Model.PosTerminal.ID)" class="btn btn-danger" onclick="return confirm('Silmek İstediğinizden Emin misiniz?')">Sil</a></div>
                            </div>

                        </div>
                    </div>
                }

                <div class="row no-gutters">
                    <h4>Pos Lokasyon Listesi</h4>
                    <div class="col-md-12 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
                        <div class="table-responsive" id="LocationList">
                            <table class="table table-primary table-hover table-striped mg-b-0">
                                <thead>
                                    <tr class="table-active">
                                        <th>#</th>
                                        <th scope="col">Sicil no</th>
                                        <th scope="col">Lokasyon</th>
                                        <th scope="col">Banka</th>
                                        <th scope="col">Tarih</th>
                                        <th scope="col">Aktif</th>
                                        <th scope="col">Master</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.VLocationPosTerminals)
                                    {
                                    <tr>
                                        <td>@(item.ID)</td>
                                        <td>@(item.SicilNumber)</td>
                                        <td>@(item.LocationFullName)</td>
                                        <td>@(item.AccountName)</td>
                                        <td>@(item.RecordDate)</td>
                                        <td>@(item.IsActive)</td>
                                        <td>@(item.IsMaster)</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(function () {
            'use strict'
            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Lokasyon Seçimi'
            });

        });

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}



