@model InventoryControlModel
@{
    ViewBag.Title = "Tanımlar";
}

@section style{

}


<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Lokasyon Listesi</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone ?? 0).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Pos Listesi</li>
                </ol>
            </nav>
        </div>
        <div class="d-none d-md-block">
            <a href="@("/Inventory/AddPos/")" class="btn btn-primary btn-uppercase"><i data-feather="plus-square"></i> &nbsp; ÖKC POS Ekle</a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            @using (Html.BeginForm("PosFilter", "Inventory", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-row align-items-end">
                    <div class="form-group col-md-4 d-flex align-items-end">
                        <input id="SerialNumber" name="SerialNumber" type="text" class="form-control" autocomplete="off" placeholder="Seri / Sicil No" value="@(Model.FilterModel?.SerialNumber ?? "")">
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <select class="form-control" id="LocationID" name="LocationID">
                            <option value="" label="Lokasyon Seçiniz"></option>
                            @foreach (var item in Model.Locations)
                            {
                                <option value="@item.LocationID" @(Model.FilterModel != null ? (Model.FilterModel?.LocationID == item.LocationID ? "selected" : "") : "")>@Html.Raw($"<strong>{item.LocationName}</strong>")</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <select class="form-control" id="BankAccountID" name="BankAccountID">
                            <option value="" label="Banka Seçiniz"></option>
                            @foreach (var item in Model.Banks)
                            {
                                <option value="@item.BankAccountID" @(Model.FilterModel != null ? (Model.FilterModel?.BankAccountID == item.BankAccountID ? "selected" : "") : "")>@Html.Raw($"<strong>{item.BankName}</strong>")</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-1 d-flex align-items-end ">
                        <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div>
        <div class="row no-gutters">

            <div class="col-md-12 mg-t-0 pd-r-0 pd-l-0 pd-t-0">
                <div class="table-responsive" id="LocationList">
                    <table class="table table-primary table-hover table-striped mg-b-0">
                        <thead>
                            <tr class="table-active">
                                <th>#</th>
                                <th scope="col">Marka</th>
                                <th scope="col">Model</th>
                                <th scope="col">Seri</th>
                                <th scope="col">Sicil</th>
                                <th>Banka</th>
                                <th>Lokasyon</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.PosTerminals)
                            {
                                <tr>
                                    <td>@(item.ID)</td>
                                    <td>@(item.BrandName)</td>
                                    <td>@(item.ModelName)</td>
                                    <td>@(item.SerialNumber)</td>
                                    <td><a href="/Inventory/Detail/@(item.SicilNumber)"><b>@(item.SicilNumber)</b></a></td>
                                    <td>@(item.BankName)</td>
                                    <td>@(item.LocationName)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>





@section scripts {


    <script>
        $(function () {
            'use strict'

            const scrollLocation = new PerfectScrollbar('#scrollLocation', {
                suppressScrollX: true
            });

        });
    </script>




    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}


