@model ScheduleControlModel
@{
    ViewBag.Title = "Lokasyon Mesai Takvimi";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <i data-feather="search"></i>
        <input type="search" class="form-control" placeholder="Search">
    </div>
    <nav class="nav">
        <a href="" class="nav-link"><i data-feather="help-circle"></i></a>
        <a href="" class="nav-link"><i data-feather="grid"></i></a>
        <a href="" class="nav-link"><i data-feather="align-left"></i></a>
    </nav>
</div><!-- content-header -->
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">




                <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-10 mg-lg-b-10 rounded">
                    <div class="d-flex align-items-center pd-x-20 mg-r-auto">

                        <span class="tx-15 pd-r-10">@(Html.Raw($"<span clas='text-success'>{Model.SuccessCount}</span> | <span>{Model.WaitingCount}</span> | <span>{Model.TotalCount}</span>  | <span>{Model.SuccessRate}%</span>")) </span>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="#" id="LocationScheduleDate" class="link-03" title="Tarih Seç">
                            <i data-feather="calendar"></i>
                            <input type="hidden" id="DatePicker" />
                            <div></div>
                        </a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Schedule/Location?week=@(Model.PrevWeekCode)" class="link-03" title="Bir Önceki Hafta"><i data-feather="arrow-left"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Schedule/Location" class="link-03" title="Bu Hafta"><i data-feather="target"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Schedule/Location?week=@(Model.NextWeekCode)" class="link-03" title="Bir Sonraki Hafta"><i data-feather="arrow-right"></i></a>
                    </div>

                </div>

                <div class="progress mg-b-10 mg-lg-b-10" style="height: 1px;">
                    <div class="progress-bar" role="progressbar" style="@(Model.SuccessRate > 0 ? $"width: {Model.SuccessRate}%;":"")" aria-valuenow="@(Model.SuccessCount)" aria-valuemin="0" aria-valuemax="@(Model.TotalCount)"></div>
                </div>

                <div class="card mg-b-20 mg-lg-b-25">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Lokasyon Mesai Takvimleri (@(Model.WeekCode). Hafta)</h6>
                        <nav class="nav">
                            <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">@(Model.FirstWeekDay.DateKey.ToLongDateString())</span> <i data-feather="more-horizontal"></i> @(Model.LastWeekDay.DateKey.ToLongDateString())</a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body pd-0">
                        <div class="table-responsive">
                            <table class="table table-primary table-hover table-striped mg-b-0">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:3%;">#</th>
                                        <th scope="col" style="width:21%;">Name</th>
                                        <th scope="col" style="width:3%;" class="text-center bd-l"></th>
                                        @foreach (var day in Model.WeekList.OrderBy(x => x.DateKey))
                                        {
                                            <th scope="col" style="width:10%;" class="text-center @(day.DateKey == Model.FirstWeekDay.DateKey ? "bd-l":day.DateKey == Model.LastWeekDay.DateKey ? "bd-r":"")">@($"{day.Day} {day.MonthNameTR} {day.DayNameTR}")</th>
                                        }
                                        <th scope="col" style="width:3%;" class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var location in Model.ScheduledLocationList.OrderBy(x => x.SortBy).ToList())
                                    {
                                        <tr>
                                            <th scope="row">@location.SortBy</th>
                                            <td>@($"{location.LocationName} {location.Description} {location.State}")</td>
                                            <td class="text-center bd-l"><a href="#modalLocationSchedule" data-toggle="modal" class="text-sm-center d-sm-inline outline-none" onclick="AddLocationSchedule(@location.LocationID, '@(Model.WeekCode)')"> <i data-feather="calendar"></i></a></td>
                                            @foreach (var weekday in Model.WeekList.OrderBy(x => x.DateKey))
                                            {
                                                var schedule = Model.VLocationSchedule.FirstOrDefault(x => x.LocationID == location.LocationID && x.ShiftDate == weekday.DateKey);

                                                <td class="text-center @(weekday.DateKey == Model.FirstWeekDay.DateKey ? "bd-l":weekday.DateKey == Model.LastWeekDay.DateKey ? "bd-r":"")">@(schedule?.ShiftDateStart != null ? schedule.ShiftDateStart.Value.ToShortDateString() : "") <b>@(schedule?.ShiftDateStart != null ? schedule.ShiftDateStart.Value.ToString("HH\\:mm") : "")</b> <br />@(schedule?.ShiftdateEnd != null ? schedule.ShiftdateEnd.Value.ToShortDateString() : "") <b>@(schedule?.ShiftdateEnd != null ? schedule.ShiftdateEnd.Value.ToString("HH\\:mm") : "")</b></td>

                                            }
                                            <td class="text-center"><a href="/Schedule/Employee?week=@(Model.WeekCode)&locationid=@(location.LocationID)" class="text-sm-center d-sm-inline"> <i data-feather="users"></i></a></td>
                                        </tr>
                                    }

                                    @foreach (var location in Model.NonScheduledLocationList.OrderBy(x => x.SortBy).ToList())
                                    {
                                        <tr class="table-dark table-hover table-striped">
                                            <th scope="row" style="width:3%;">@location.SortBy</th>
                                            <td style="width:21%;">@($"{location.LocationName} {location.Description} {location.State}")</td>
                                            <td style="width:3%;" class="text-center bd-l"><a href="#modalLocationSchedule" data-toggle="modal" class="text-sm-center d-sm-inline outline-none" onclick="AddLocationSchedule(@location.LocationID, '@(Model.WeekCode)')"> <i data-feather="calendar"></i></a></td>
                                            @foreach (var weekday in Model.WeekList.OrderBy(x => x.DateKey))
                                            {
                                                <td style="width:10%;" class="text-center @(weekday.DateKey == Model.FirstWeekDay.DateKey ? "bd-l":weekday.DateKey == Model.LastWeekDay.DateKey ? "bd-r":"")">&nbsp; <b>&nbsp;</b> <br />&nbsp; <b>&nbsp;</b></td>
                                            }
                                            <td style="width:3%;" class="text-center"><a href="/Schedule/Employee?week=@(Model.WeekCode)&locationid=@(location.LocationID)" class="text-sm-center d-sm-inline"> <i data-feather="users"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
                        <nav class="nav nav-with-icon tx-13">
                            <a href="/Schedule/ExportToExcel" class="nav-link"><i data-feather="download"></i> Excel Olarak İndir</a>
                        </nav>
                    </div><!-- card-footer -->
                </div>



            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalLocationSchedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="AddLocationSchedule">

            </div>
        </div>
    </div>
</div>
@section scripts {


    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");

            $('#DatePicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1,
                onSelect: function (dateText, inst) {
                    window.location.href = "/Schedule/Location?date=" + dateText;
                },
                beforeShow: function (event, ui) {
                    var $link = $("#LocationScheduleDate");
                    ui.dpDiv.offset({
                        top: $link.offset().top + 10,
                        left: $link.offset().left + 10
                    });
                }
            });

            $("#LocationScheduleDate").click(function () {
                $("#DatePicker").datepicker("show");
            });

            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');



        });



        function AddLocationSchedule(locationid, weekcode) {
            //console.log(locationid);
            //console.log(weekcode);
            $.ajax({
                method: "GET",
                url: "/Schedule/AddLocationSchedule",
                data: { id: locationid, week: weekcode }
            }).done(function (d) {
                $("#AddLocationSchedule").html(d);
            });
        }


    </script>



    @if (Model.ResultMessage != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.ResultMessage.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
