@model SummaryControlModel
@{
    /**/

    List<int> cashsales = new int[] { 10, 21, 24, 28 }.ToList();
    List<int> cashprocess = new int[] { 23, 27 }.ToList();
    List<int> cardsales = new int[] { 1, 3, 5 }.ToList();
    List<int> maas = new int[] { 3, 31 }.ToList();
    List<int> cashexpense = new int[] { 4, 29 }.ToList();
    List<int> cashexchange = new int[] { 25, 40 }.ToList();
    List<int> bankeft = new int[] { 11, 30 }.ToList();
    var blockedamount = Model.CurrentCash.BlockedAmount?.ToString("N2");
    //var usdBlockedamount = (Model.CurrentCash.Currency == "USD" ? Model.CurrentCash.BlockedAmount : 0);
}






<div class="sub-head">
    <p>Kasa Parası (i)</p>
    <p>@(Model.CurrentCash.Currency == "TRL" ? $"{Model.CurrentCash.BlockedAmount?.ToString("N2")}" : "") ₺</p>
</div>
<div class="table-responsive">
    <table cellpadding="0" cellspacing="0" class="daily-summary">
        <tr>
            <th></th>
            <th>$</th>
            <th>€</th>
            <th>₺</th>
        </tr>
        <tr>
            <td class="color-red bg-default">Kasa Deviri</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "USD").Sum(x => x.Total).ToString("N2"))</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "EUR").Sum(x => x.Total).ToString("N2"))</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "TRL").Sum(x => x.Total).ToString("N2"))</td>
        </tr>
        <tr>
            <td class="color-red bg-default">Ciro Deviri</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "USD").Sum(x => x.CiroTotal).ToString("N2"))</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "EUR").Sum(x => x.CiroTotal).ToString("N2"))</td>
            <td class="bg-default">@(Model.DevirTotal.Where(x => x.Currency == "TRL").Sum(x => x.CiroTotal).ToString("N2"))</td>
        </tr>
        <tr>
            <th colspan="4">Bugünkü</th>
        </tr>
        <tr>
            <td class="color-cash">Nakit Satış</td>
            <td>@(Model.CashActions.Where(x => cashsales.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashsales.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashsales.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td class="color-credit">Kredili Satış</td>
            <td>@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td>Kasa İşlemi</td>
            <td>@(Model.CashActions.Where(x => cashprocess.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashprocess.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashprocess.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td>İşçilik</td>
            <td>@(Model.CashActions.Where(x => maas.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => maas.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => maas.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td>Masraf</td>
            <td>@(Model.CashActions.Where(x => cashexpense.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashexpense.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashexpense.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td>Döviz</td>
            <td>@(Model.CashActions.Where(x => cashexchange.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashexchange.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => cashexchange.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td>Havale / EFT</td>
            <td>@(Model.CashActions.Where(x => bankeft.Contains(x.CashActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => bankeft.Contains(x.CashActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td>@(Model.CashActions.Where(x => bankeft.Contains(x.CashActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td class="bg-cash">Nakit Bakiye</td>
            <td class="bg-cash">@((Model.CashActions.Where(x => x.Currency == "USD").Sum(x => x.Amount))?.ToString("N2"))</td>
            <td class="bg-cash">@((Model.CashActions.Where(x => x.Currency == "EUR").Sum(x => x.Amount))?.ToString("N2"))</td>
            <td class="bg-cash">@((Model.CashActions.Where(x => x.Currency == "TRL").Sum(x => x.Amount))?.ToString("N2"))</td>
        </tr>
        <tr>
            <td class="bg-credit">Kart Bakiye</td>
            <td class="bg-credit">@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td class="bg-credit">@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount)?.ToString("N2"))</td>
            <td class="bg-credit">@(Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount)?.ToString("N2"))</td>
        </tr>
        <tr>
            <td class="bg-default">Toplam Bakiye</td>
            <td class="bg-default">@((Model.CashActions.Where(x => x.Currency == "USD").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount))?.ToString("N2"))</td>
            <td class="bg-default">@((Model.CashActions.Where(x => x.Currency == "EUR").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount))?.ToString("N2"))</td>
            <td class="bg-default">@((Model.CashActions.Where(x => x.Currency == "TRL").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount))?.ToString("N2"))</td>
        </tr>
        <tr>
            <th colspan="4">Genel Toplam</th>
        </tr>
        <tr>
            <td class="bg-total">Nakit</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "USD").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "USD").Sum(x => x.Total))?.ToString("N2"))</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "EUR").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "EUR").Sum(x => x.Total))?.ToString("N2"))</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "TRL").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "TRL").Sum(x => x.Total))?.ToString("N2"))</td>
        </tr>
        <tr>
            <td class="bg-total">Kasa</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "USD").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "USD").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "USD").Sum(x => x.Total))?.ToString("N2"))</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "EUR").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "EUR").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "EUR").Sum(x => x.Total))?.ToString("N2"))</td>
            <td class="bg-total">@((Model.CashActions.Where(x => x.Currency == "TRL").Sum(x => x.Amount) + Model.BankActions.Where(x => cardsales.Contains(x.BankActionTypeID.Value) && x.Currency == "TRL").Sum(x => x.Amount) + Model.DevirTotal.Where(x => x.Currency == "TRL").Sum(x => x.Total))?.ToString("N2"))</td>
        </tr>
        <tr>
            <th></th>
            <th>$</th>
            <th>€</th>
            <th>₺</th>
        </tr>
        <tr>
            <td colspan="4" class="text-muted">(i) Bilgi amaçlı verilmiştir, hesaba katılmaz.</td>
        </tr>
    </table>
</div>