@model EmployeeControlModel

<div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-20 rounded">
    <div class="d-flex align-items-center pd-x-5 mg-r-auto">

    </div>
    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
        <a href="#" id="EmployeeScheduleDate" class="link-03" title="Tarih Seç">
            <i class="fa fa-calendar"></i>
            <input type="hidden" id="DatePicker" />
            <div></div>
        </a>
        <input id="EmployeeID" type="hidden" value="@Model.EmpList.EmployeeID" />
        <input id="WeekCode" type="hidden" value="@Model.WeekCode" />
    </div>
    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
        <a href="/Employee/Detail?week=@(Model.PrevWeekCode)&id=@(Model.EmpList.EmployeeID)" class="link-03" title="Bir Önceki Hafta"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
        <a href="/Employee/Detail?date=@(DateTime.Now.ToString("yyyy-MM-dd"))&id=@(Model.EmpList.EmployeeID)" class="link-03" title="Bu Hafta"><i class="fa fa-bullseye"></i></a>
    </div>
    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
        <a href="/Employee/Detail?week=@(Model.NextWeekCode)&id=@(Model.EmpList.EmployeeID)" onclick="nextShift()" class="link-03" title="Bir Sonraki Hafta"><i class="fa fa-arrow-right"></i></a>
    </div>

</div>



<div class="card mg-b-20 mg-lg-b-25">
    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">@(Model.EmployeeBreak != null ? Html.Raw("Molada") : Model.EmployeeShift != null && Model.EmployeeShift.DurationMinute == null ? Html.Raw("Mesaide") : Model.EmployeeShift != null && Model.EmployeeShift.DurationMinute != null ? Html.Raw("Mesaisi Bitti") : Html.Raw("") )</h6>
        <nav class="nav">
            <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">@(Model.CurrentDate.DateKey.ToLongDateString())</span></a>
        </nav>
    </div><!-- card-header -->
    <div class="card-body pd-0">
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="text-center bd-l">Çalışan</th>
                    </tr>
                    <tr>
                        <th class="bd-l">Liste</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        
                        <td class="tx-sm-13 bd-l i-l" style="padding:7px !important;">

                            <table class="table table-hover pd-0 mg-0">
                                <tbody>
                                    @foreach (var item in Model.EmployeeShifts.OrderByDescending(x => x.ShiftDate))
                                    {
                                        var employeeschedule = Model.EmployeeSchedules.FirstOrDefault(x => x.EmployeeID == item.EmployeeID && x.ShiftDate == item.ShiftDate);
                                        var employees = Model.EmployeeList.FirstOrDefault(x => x.EmployeeID == item.EmployeeID);
                                        var employeebreak = Model.EmployeeBreaks.Where(x => x.EmployeeID == item.EmployeeID && x.ShiftDate == item.ShiftDate && x.BreakDurationMinute > 0).ToList();
                                        var employeebreakcurrent = Model.EmployeeBreaks.FirstOrDefault(x => x.EmployeeID == item.EmployeeID && x.BreakDurationMinute == null);
                                        var location = Model.LocationList.FirstOrDefault(x => x.LocationID == item.LocationID);

                                    <tr class="@(item != null && item.DurationMinute == null ? "table-info":"table-warning")">
                                        <td class="wd-300 tx-sm-13 font-weight-bold">@employees.FullName</td>
                                        <td class="wd-300 tx-sm-13 font-weight-bold">@location.LocationName @location.Description @location.State</td>
                                        <td class="wd-150 text-center @(item != null && item.DurationMinute == null ? "bg-info":"bg-warning")" style="padding:2px !important;">@(employeeschedule != null ? employeeschedule?.ShiftDate?.ToString("dd.MM.yyyy") : "")</td>
                                        <td class="wd-150 text-center @(item != null && item.DurationMinute == null ? "bg-info":"bg-warning")" style="padding:2px !important;">@(employeeschedule != null ? employeeschedule?.ShiftDateStart?.ToString("HH\\:mm") : "") @(employeeschedule?.ShiftdateEnd != null ? " - " + employeeschedule?.ShiftdateEnd?.ToString("HH\\:mm") : "")</td>
                                        <td class="wd-150 text-center" style="padding:4px !important;">@(item != null ? item?.ShiftDateStart?.ToString("HH\\:mm") : "") @(item?.ShiftDateEnd != null ? " - " + item?.ShiftDateEnd?.ToString("HH\\:mm") : "")</td>
                                        <td class="wd-20 text-center">
                                            @if (item == null)
                                            {
                                                <a href='#' class="text-warning font-weight-bold"> <i class="ion ion-md-finger-print tx-sm-24"></i></a>
                                            }
                                            else if (item != null && item.DurationMinute == null)
                                            {
                                                <a href='#' class="text-info font-weight-bold"> <i class="ion ion-md-finger-print tx-sm-24"></i> </a>

                                            }
                                            else
                                            {
                                                <a href='#' class="text-dark"><i class="ion ion-md-glasses tx-sm-24"></i></a>
                                            }

                                        </td>
                                        <td class="bd-l wd-150">@(employeebreak.Count()) | @(employeebreak.Sum(x => x.BreakDurationMinute)) | @(employeebreak.Average(x => x.BreakDurationMinute)?.ToString("N2"))</td>
                                        <td class="wd-20 text-center">

                                            @if (employeebreakcurrent == null)
                                            {
                                                <a href='#' class="text-info font-weight-bold"> <i class='ion ion-md-timer tx-sm-24'></i></a>
                                            }
                                            else if (employeebreakcurrent != null && employeebreakcurrent.DurationMinute == null)
                                            {
                                                <a href='#' class="text-warning font-weight-bold"> <i class='ion ion-md-timer tx-sm-24'></i></a>
                                            }
                                            else
                                            {
                                                <a href='#' class="text-dark"><i class="ion ion-md-bicycle tx-sm-24"></i></a>
                                            }
                                        </td>
                                        <td class="tx-sm-24 text-right">@(employeebreakcurrent != null ? Html.Raw("<i class='ion ion-md-cafe'></i>") : item != null && item.DurationMinute == null ? Html.Raw("<i class='ion ion-md-stopwatch'></i>") : item != null && item.DurationMinute != null ? Html.Raw("<i class='ion ion-md-cloud-outline'></i>") : Html.Raw("") )</td>
                                    </tr>
                                    }


                                </tbody>
                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
    </div><!-- card-footer -->
</div>