@model EmployeeControlModel


        <div class="table-responsive">
            <table class="table table-primary table-hover table-striped mg-b-0">
                <thead>
                    <tr class="table-active">
                        @foreach (var day in Model.WeekList.OrderBy(x => x.DateKey))
                        {
                            <th scope="col" style="width:10%;" class="text-center @(day.DateKey == Model.FirstWeekDay.DateKey ? "bd-l":day.DateKey == Model.LastWeekDay.DateKey ? "bd-r":"")">@($"{day.Day} {day.MonthNameTR} {day.DayNameTR}")</th>
                        }
                        <th scope="col" style="width:3%;" class="text-center"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        @foreach (var weekday in Model.WeekList.OrderBy(x => x.DateKey))
                        {
                            var schedule = Model.EmployeeSchedules.FirstOrDefault(x => x.EmployeeID == Model.Employee.EmployeeID && x.ShiftDate == weekday.DateKey);

                            <td class="text-center @(weekday.DateKey == Model.FirstWeekDay.DateKey ? "bd-l":weekday.DateKey == Model.LastWeekDay.DateKey ? "bd-r":"")">
                                @if (schedule != null)
                                {
                                    @(schedule?.ShiftDateStart != null ? schedule.ShiftDateStart.Value.ToShortDateString() : "") <b>@(schedule?.ShiftDateStart != null ? schedule.ShiftDateStart.Value.ToString("HH\\:mm") : "")</b> <br />@(schedule?.ShiftdateEnd != null ? schedule.ShiftdateEnd.Value.ToShortDateString() : "") <b>@(schedule?.ShiftdateEnd != null ? schedule.ShiftdateEnd.Value.ToString("HH\\:mm") : "")</b>

                                }
                            </td>

                        }
                        <td scope="col" style="width:3%;" class="text-center"></td>
                    </tr>
                </tbody>
            </table>
        </div>


