@model EmployeeControlModel
<table class="table table-striped table-hover table-sm tx-13 tx-nowrap mg-b-0">
    <thead class="table-dark">
        <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
            <th></th>
            <th></th>
            <th>#</th>
            <th>Çalışan</th>
            <th>Telefon</th>
            <th>Rol</th>
            <th>Alan</th>
            <th>Departman</th>
            <th>Pozisyon</th>
            <th>Sıra</th>
            <th>Tür</th>
            <th>Maaş Türü</th>
            <th>Durum</th>
            <th class="text-center">Aktif mi?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EmployeeList.OrderBy(x => x.FullName))
        {
        <tr class="@(item.IsActive == false ? "tx-danger" : "tx-dark")">
            <td><span class="@(item.IsActive == true ? "tx-success":"tx-danger")">&#8226;</span></td>
            <td>@*<img src="http://office.ufegrup.com/img/Employee/@item.FotoFile" class="img wd-40 ht-40 rounded-circle" alt="">*@</td>
            <td class="tx-sm-13 bold">@item.EmployeeID</td>
            <td class="tx-sm-13"><a class="@(item.IsActive == false ? "tx-danger" : "tx-dark")" href="@("/Employee/Detail/" + @item.EmployeeUID)">@item.FullName</a></td>
            <td class="tx-sm-13">@item.Mobile</td>
            <td class="tx-sm-13">@item.RoleGroupName</td>
            <td class="tx-sm-13">@item.WorkAreaName</td>
            <td class="tx-sm-13">@item.DepartmentName</td>
            <td class="tx-sm-13">@item.PositionName</td>
            <td class="tx-sm-13">@item.SequenceName</td>
            <td class="tx-sm-13">@item.ShiftTypeName</td>
            <td class="tx-sm-13">@item.SalaryCategoryName</td>
            <td class="tx-sm-13">@item.StatusName</td>
            <td class="tx-sm-13 text-center">
                @Html.Raw(item.IsActive.Value == true ? "<i class='ion ion-md-checkmark-circle text-success'></i>" : "<i class='ion ion-md-close-circle'></i>")
            </td>
        </tr>
        }
    </tbody>
</table>
