@model EmployeeControlModel
<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</a>
<div>
    <h4>@Model.Employee.FullName  | <span class="font-weight-bold text-black-50">Adres Güncelle</span></h4>

    @using (Ajax.BeginForm("EditEmployeeAddress", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EmployeeAddress", InsertionMode = InsertionMode.Replace, OnSuccess = "OnAddressEditSuccess" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group row">
            <label for="EDescription" class="col-sm-3 col-form-label">Tanımı</label>
            <div class="col-sm-9">
                <input id="EDescription" name="EDescription" type="text" class="form-control" autocomplete="off" placeholder="Açıklaması" value="@(Model.EmployeeAdres.Description)">
            </div>
        </div>

        <div class="form-group row bg-gray-50 mg-b-5">
            <label for="EAddressType" class="col-sm-3 col-form-label">Adres Türü</label>
            <div class="col-sm-9">
                <select class="form-control" id="EAddressType" name="EAddressType" required>
                    <option value="">Adres Türünü Seçiniz </option>
                    @foreach (var item in Model.AddressTypes.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.EmployeeAdres.AddressTypeID == item.ID ? "selected" : "")>@($"{item.TypeName}")</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row  mg-b-5  bg-gray-50">
            <label for="ECountry" class="col-sm-3 col-form-label">Ülke / Eyalet / Şehir</label>
            <div class="col-sm-3">
                <select class="form-control" id="ECountry" name="ECountry" required>
                    @foreach (var item in Model.CountryList)
                    {
                        <option value="@item.ID" @(Model.EmployeeAdres.Country == item.ID ? "selected" : "")>@($"{item.CountryName}")</option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="EState" name="EState" required>
                    <option value="">Eyalet Seçiminiz</option>
                    @foreach (var item in Model.StateList)
                    {
                        <option value="@item.ID" @(Model.EmployeeAdres.State == item.ID ? "selected" : "")>@($"{item.StateName}")</option>
                    }
                </select>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="ECity" name="ECity" required>
                    <option value="">Şehir Seçiminiz</option>
                    @foreach (var item in Model.CityList)
                    {
                        <option value="@item.ID" @(Model.EmployeeAdres.City == item.ID ? "selected" : "")>@($"{item.CityName}")</option>
                    }
                </select>
            </div>

        </div>

        <div class="form-group row  mg-b-5  bg-gray-50">
            <label for="EAddress" class="col-sm-3 col-form-label">Adres</label>
            <div class="col-sm-9">
                <textarea id="EAddress" name="EAddress" rows="3" class="form-control" autocomplete="off" placeholder="Adres" style="width:100% !important;" required>@(Model.EmployeeAdres.Address)</textarea>
            </div>

        </div>

        <div class="form-group row bg-gray-50">
            <label for="EPostCode" class="col-sm-3 col-form-label">Posta Kodu / ZIP Code</label>
            <div class="col-sm-9">
                <input id="EPostCode" name="EPostCode" type="text" class="form-control postcode" autocomplete="off" placeholder="Posta Kodu" value="@(Model.EmployeeAdres.PostCode)" required>
            </div>
        </div>


        <div class="form-group row mg-b-0">
            <label for="EIsMaster" class="col-sm-3 col-form-label">Birincil mi?</label>
            <div class="col-sm-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="EIsMaster" name="EIsMaster" value="1" @(Model.EmployeeAdres.IsMaster == true ? "checked" : "")>
                    <label class="custom-control-label" for="EIsMaster">Birincil</label>
                </div>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <label for="EIsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
            <div class="col-sm-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="EIsActive" name="EIsActive" value="1"  @(Model.EmployeeAdres.IsActive == true ? "checked" : "")>
                    <label class="custom-control-label" for="EIsActive">Aktif</label>
                </div>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <input id="EEmployeeID" name="EEmployeeID" type="hidden" value="@(Model.EmployeeAdres.EmployeeID)" />
                <input id="ID" name="ID" type="hidden" value="@(Model.EmployeeAdres.ID)" />
                <button type="submit" class="btn btn-primary btn-block">Adresi Ekle</button>
            </div>
        </div>

    }


</div>
<script>
    $(document).ready(function () {

        $("#ECountry").change(function () {

            var countryID = $("#ECountry").val();

            $.ajax
                ({
                    url: '/Employee/GetStateList',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        countryid: countryID
                    }),
                    success: function (data) {

                        $("#EState").empty();
                        $("#ECity").empty();
                        $("#ECity").append($('<option></option>', { "value": '', "text": 'Şehir Seçiminiz' }));

                        $("#EState").append($('<option></option>', { "value": '', "text": 'Eyalet Seçiminiz' }));

                        $.each(data, function (index, label) {
                            $("#EState").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                        });
                    },
                    error: function () {
                    },
                });
        });



        $("#EState").change(function () {

            var stateID = $("#EState").val();

            $.ajax
                ({
                    url: '/Employee/GetCityList',
                    type: 'POST',
                    datatype: 'application/json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        stateid: stateID
                    }),
                    success: function (data) {

                        $("#ECity").empty();

                        $("#ECity").append($('<option></option>', { "value": '', "text": 'Şehir Seçiminiz' }));

                        $.each(data, function (index, label) {
                            $("#ECity").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                        });
                    },
                    error: function () {
                    },
                });
        });


    });
</script>