@model EmployeeControlModel



@using (Ajax.BeginForm("AddEmployeeLocation", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "LocationList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <table class="table table-warning table-sm tx-13 tx-nowrap mb-5p">
        <tbody>
            <tr class="bg-white">
                <td class="text-right wd-40p" style="padding:2px !important;">
                    <input id="EmployeeID" name="EmployeeID" type="hidden" value="@(Model.Employee.EmployeeID)" />
                    <select class="form-control wd-90p" id="LocationID" name="LocationID">
                        <option value="">Lokasyon Seçiminiz</option>
                        @foreach (var item in Model.LocationList)
                        {
                            <option value="@item.LocationID">@($"{item.LocationFullName}")</option>
                        }
                    </select>
                </td>
                <td class="text-right wd-20p" style="padding:2px !important;">
                    <select class="form-control wd-90p" id="PositionID" name="PositionID">
                        <option value="">Rol Seçiminiz</option>
                        @foreach (var item in Model.PositionList)
                        {
                            <option value="@item.ID">@($"{item.SortBy} {item.PositionName}")</option>
                        }
                    </select>
                </td>
                <td class="wd-10p" style="padding:2px !important;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" checked>
                        <label class="custom-control-label" for="IsActive">Aktif</label>
                    </div>
                </td>
                <td class="wd-10p" style="padding:2px !important;">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="IsMaster" name="IsMaster" value="1" checked>
                        <label class="custom-control-label" for="IsMaster">Master</label>
                    </div>
                </td>
                <td class="wd-20p" style="padding:2px !important;">
                    <button type="submit" class="btn btn-xs btn-dark btn-block">Çalışanı Lokasyona Ekle</button>
                </td>

            </tr>
        </tbody>
    </table>
    


}

<div id="LocationList">

    @{Html.RenderPartial("_PartialEmployeeLocationList", Model); }
</div>

@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}