@model EmployeeControlModel

<div class="table">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Lokasyon</th>
                <th>Tarih</th>
                <th>Hakediş</th>
                <th>Toplam</th>
                <th>Para Birimi</th>
            </tr>
        </thead>
        <tbody>

            @{


            }


            @foreach (var item in Model.CashAction)
            {
                //Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency).Total += item.Amount ?? 0;
                //Model.MiddleTotals.FirstOrDefault(x => x.Currency == item.Currency).Total += item.Amount ?? 0;

            <tr>

                <td class="tx-sm-13 bold">@item.LocationID</td>
                <td class="tx-sm-13">@item.LocationName</td>

                <td class="tx-sm-13">@(item.ProcessDate?.ToLongDateString())</td>

                <td class="tx-sm-13 font-weight-bold">@(item.Collection?.ToString("N2"))</td>
                <td class="text-left bg-light font-weight-bold">@(item.Amount?.ToString("N2"))</td>
                <td class="tx-sm-13">@item.Currency</td>


            </tr>
            }


        </tbody>
        <tfoot>


            @*Genel Toplam*@
            <tr class="bg-light">
                <th></th>
                <th></th>
                <th colspan="1">Genel Toplam</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "TRL").Amount.ToString("N2"))</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "TRL").Total.ToString("N4"))</th>
                <th>TRL</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="bg-light">
                <th></th>
                <th></th>
                <th colspan="1">Genel Toplam</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "USD").Amount.ToString("N2"))</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "USD").Total.ToString("N4"))</th>

                <th>USD</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr class="bg-light">
                <th></th>
                <th></th>
                <th colspan="1">Genel Toplam</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "EUR").Amount.ToString("N2"))</th>
                <th class="text-right bg-dark font-weight-bold text-white">@(Model.FooterTotal.FirstOrDefault(x => x.Currency == "EUR").Total.ToString("N4"))</th>
                <th>EUR</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>