@model EmployeeControlModel


@if (Model.Wizard.IdentityNumbers?.Count() > 0)
{
    <ul class="list-group wd-md-100p mg-b-20">
        <li class="list-group-item d-flex align-items-center active">
            Tc Kimlik Numarası
        </li>
        @foreach (var item in Model.Wizard.IdentityNumbers.ToList())
        {
            var ls = Model.EmployeeList.FirstOrDefault(x => x.IdentityNumber == item);

            <li class="list-group-item d-flex align-items-center">
                <div class="col-lg-3">
                    <span>@(ls.IdentityNumber)</span>
                </div>
                <div class="col-lg-3">
                    <span>@(ls.FullName)</span>
                </div>
                <div class="col-lg-3">
                    <span>@(ls.EMail)</span>
                </div>
                <div class="col-lg-2">
                    <span>@(ls.Mobile)</span>
                </div>
                <div class="col-lg-1">
                    <span><a href="@("/Employee/Detail/" + ls.EmployeeID)" class="btn btn-xs btn-danger"><i class="fa fa-link"></i></a></span>
                </div>

            </li>
        }
    </ul>
}
else
{
    if (Model.Wizard.FullNames?.Count() > 0)
    {
        <ul class="list-group wd-md-100p mg-b-20">
            <li class="list-group-item d-flex align-items-center active">
                İsim Soyisim
            </li>
            @foreach (var item in Model.Wizard.FullNames.ToList())
            {
                var ls = Model.EmployeeList.FirstOrDefault(x => x.FullName == item);

                <li class="list-group-item d-flex align-items-center">
                    <div class="col-lg-3">
                        <span>@(ls.IdentityNumber)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.FullName)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.EMail)</span>
                    </div>
                    <div class="col-lg-2">
                        <span>@(ls.Mobile)</span>
                    </div>
                    <div class="col-lg-1">
                        <span><a href="@("/Employee/Detail/" + ls.EmployeeID)" class="btn btn-xs btn-danger"><i class="fa fa-link"></i></a></span>
                    </div>

                </li>
            }
        </ul>
    }
    if (Model.Wizard.EMails?.Count() > 0)
    {
        <ul class="list-group wd-md-100p mg-b-20">
            <li class="list-group-item d-flex align-items-center active">
                E-Posta
            </li>
            @foreach (var item in Model.Wizard.EMails.ToList())
            {
                var ls = Model.EmployeeList.FirstOrDefault(x => x.EMail == item);

                <li class="list-group-item d-flex align-items-center">
                    <div class="col-lg-3">
                        <span>@(ls.IdentityNumber)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.FullName)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.EMail)</span>
                    </div>
                    <div class="col-lg-2">
                        <span>@(ls.Mobile)</span>
                    </div>
                    <div class="col-lg-1">
                        <span><a href="@("/Employee/Detail/" + ls.EmployeeID)" class="btn btn-xs btn-danger"><i class="fa fa-link"></i></a></span>
                    </div>

                </li>
            }
        </ul>
    }
    if (Model.Wizard.Mobiles?.Count() > 0)
    {
        <ul class="list-group wd-md-100p mg-b-20">
            <li class="list-group-item d-flex align-items-center active">
                Mobil
            </li>
            @foreach (var item in Model.Wizard.Mobiles.ToList())
            {
                var ls = Model.EmployeeList.FirstOrDefault(x => x.Mobile == item);

                <li class="list-group-item d-flex align-items-center">
                    <div class="col-lg-3">
                        <span>@(ls.IdentityNumber)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.FullName)</span>
                    </div>
                    <div class="col-lg-3">
                        <span>@(ls.EMail)</span>
                    </div>
                    <div class="col-lg-2">
                        <span>@(ls.Mobile)</span>
                    </div>
                    <div class="col-lg-1">
                        <span><a href="@("/Employee/Detail/" + ls.EmployeeID)" class="btn btn-xs btn-danger"><i class="fa fa-link"></i></a></span>
                    </div>

                </li>
            }
        </ul>
    }



}
<ul class="list-group wd-md-100p">
    <li class="list-group-item d-flex align-items-center">
        <div class="col-lg-3">
            <span> </span>
        </div>
        <div class="col-lg-3">
            <span> </span>
        </div>
        <div class="col-lg-3">
            <span> </span>
        </div>
        <div class="col-lg-2">
            
        </div>
        <div class="col-lg-1">
            <a href="#" onclick="EmployeeList('@Model.Wizard.IdentityNumber', '@Model.Wizard.FullName', '@Model.Wizard.EMail', '@Model.Wizard.Mobile')" class="btn btn-xs btn-secondary">Bunlar Değil</a>
        </div>

    </li>
</ul>


