@model EmployeeControlModel

<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Çalışan İşlemleri</li>
            </ol>
        </nav>
        <h4 class="mg-b-0 tx-spacing--1">Çalışan Detayı</h4>
    </div>
    <div class="d-none d-md-block">
        <a href="@("/Employee/AddEmployee/")" class="btn btn-primary btn-uppercase"><i data-feather="plus-square"></i> &nbsp; Çalışan Ekle</a>
    </div>
</div>
@using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row row-xs">
        <div class="col-lg-12">
            <div class="form-group row">
                <label for="FullName" class="col-sm-3 col-form-label">Başlık</label>

                <div class="col-sm-6">

                    <input id="Title" name="Title" type="text" class="form-control" autocomplete="off" placeholder="Başlık" value="@(Model.Employee.Title)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row mg-b-5">
                <label for="FullName" class="col-sm-3 col-form-label">Kimlik Türü</label>
                <div class="col-sm-6">
                    <select class="form-control" id="IdentityType" name="IdentityType">
                        @foreach (var item in Model.IdentityTypes)
                        {
                            <option value="@item.ID" @(item.TypeName == Model.Employee.IdentityType ? "selected" : "")>@($"{item.TypeName}")</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="FullName" class="col-sm-3 col-form-label">Kimlik No</label>
                <div class="col-sm-6">
                    <input id="IdentityNumber" name="IdentityNumber" type="text" class="form-control" autocomplete="off" placeholder="Kimlik No" value="@(Model.Employee.IdentityNumber)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row bg-gray-100">
                <label for="FullName" class="col-sm-3 col-form-label">Ad Soyad</label>
                <div class="col-sm-6">
                    <input id="FullName" name="FullName" type="text" class="form-control" autocomplete="off" placeholder="Ad Soyad" value="@(Model.Employee.FullName)" required>
                </div>
                <div class="col-sm-3">
                </div>
            </div>


            <div class="form-group row mg-b-5">
                <label for="EMail" class="col-sm-3 col-form-label">E-Posta</label>
                <div class="col-sm-6">
                    <input id="EMail" name="EMail" type="text" class="form-control" autocomplete="off" placeholder="E-Posta" value="@(Model.Employee.EMail)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="Mobile" class="col-sm-3 col-form-label">Mobil</label>
                <div class="col-sm-6">
                    <input id="Mobile" name="Mobile" type="text" class="form-control" autocomplete="off" placeholder="Telefon" value="@(Model.Employee.Mobile)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="Mobile2" class="col-sm-3 col-form-label">Mobil2</label>
                <div class="col-sm-6">
                    <input id="Mobile2" name="Mobile2" type="text" class="form-control" autocomplete="off" placeholder="Telefon" value="@(Model.Employee.Mobile2)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row">
                <label for="Whatsapp" class="col-sm-3 col-form-label">Whatsapp</label>
                <div class="col-sm-6">
                    <input id="Whatsapp" name="Whatsapp" type="text" class="form-control" autocomplete="off" placeholder="Whatsapp" value="@(Model.Employee.Whatsapp)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>


            <div class="form-group row mg-b-5">
                <label for="Username" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                <div class="col-sm-6">
                    <input id="Username" name="Username" type="text" class="form-control" autocomplete="off" placeholder="Kullanıcı Adı" value="@(Model.Employee.Username)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row">
                <label for="Whatsapp" class="col-sm-3 col-form-label">Şifre</label>
                <div class="col-sm-6">
                    <input id="Password" name="Password" type="text" class="form-control" autocomplete="off" placeholder="Şifre">
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row bg-gray-50">
                <label for="OurCompanyID" class="col-sm-3 col-form-label">Ülke</label>
                <div class="col-sm-6">
                    <select class="form-control" id="OurCompanyID" name="OurCompanyID" required disabled>
                        @foreach (var item in Model.OurList)
                        {
                            <option value="@item.CompanyID" @(Model.Employee.OurCompanyID == item.CompanyID ? "selected" : "")>@($"{item.CompanyName}")</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            



            <div class="form-group row bg-gray-50">
                <label for="RoleGroupID" class="col-sm-3 col-form-label">Rol Grup</label>
                <div class="col-sm-6">
                    <select class="form-control" id="RoleGroupID" name="RoleGroupID" required>
                        <option value="">Rol Seçiniz</option>
                        @foreach (var item in Model.RoleGroupList.OrderBy(x => x.RoleLevel))
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.RoleGroupID ? "selected" : "")>@($"{item.GroupCode} {item.GroupName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>


            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="AreaCategoryID" class="col-sm-3 col-form-label">Alan</label>
                <div class="col-sm-6">
                    <select class="form-control" id="AreaCategoryID" name="AreaCategoryID" required>
                        <option value="">Alan Seçiniz</option>
                        @foreach (var item in Model.AreaCategoryList.OrderBy(x => x.SortBy))
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.AreaCategoryID ? "selected" : "")>@($"{item.SortBy} {item.AreaName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="DepartmentID" class="col-sm-3 col-form-label">Departman</label>
                <div class="col-sm-6">
                    <select class="form-control" id="DepartmentID" name="DepartmentID" required>
                        <option value="">Departman Seçiniz</option>
                        @foreach (var item in Model.DepartmentList.OrderBy(x => x.SortBy))
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.DepartmentID ? "selected" : "")>@($"{item.SortBy} {item.DepartmentName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="PositionID" class="col-sm-3 col-form-label">Pozisyon</label>
                <div class="col-sm-6">
                    <select class="form-control" id="PositionID" name="PositionID" required>
                        <option value="">Pozisyon Seçiniz</option>
                        @foreach (var item in Model.PositionList.OrderBy(x => x.SortBy))
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.PositionID ? "selected" : "")>@($"{item.SortBy} {item.PositionName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="StatusID" class="col-sm-3 col-form-label">Durum</label>
                <div class="col-sm-6">
                    <select class="form-control" id="StatusID" name="StatusID" required>
                        <option value="">Durum Seçiniz</option>
                        @foreach (var item in Model.StatusList)
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.StatusID ? "selected" : "")>@($"{item.Code} {item.Name}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="ShiftTypeID" class="col-sm-3 col-form-label">Çalışma Türü</label>
                <div class="col-sm-6">
                    <select class="form-control" id="ShiftTypeID" name="ShiftTypeID" required>
                        <option value="">Çalışma Seçiniz</option>
                        @foreach (var item in Model.ShiftTypeList)
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.ShiftTypeID ? "selected" : "")>@($"{item.SortBy} {item.TypeName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5 bg-gray-50">
                <label for="SalaryCategoryID" class="col-sm-3 col-form-label">Kategori</label>
                <div class="col-sm-6">
                    <select class="form-control" id="SalaryCategoryID" name="SalaryCategoryID" required>
                        <option value="">Kategori Seçiniz</option>
                        @foreach (var item in Model.SalaryCategoryList)
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.SalaryCategoryID ? "selected" : "")>@($"{item.SortBy} {item.SalaryCategoryName}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row bg-gray-50">
                <label for="SequenceID" class="col-sm-3 col-form-label">Oryantasyon Seviyesi</label>
                <div class="col-sm-6">
                    <select class="form-control" id="SequenceID" name="SequenceID" required>
                        <option value="">Oryantasyon Seçiniz</option>
                        @foreach (var item in Model.SequenceList)
                        {
                            <option value="@item.ID" @(item.ID == Model.Employee.SequenceID ? "selected" : "")>@($"{item.Code} {item.Name}" )</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>


            <div class="form-group row">
                <label for="FotoFile" class="col-sm-3 col-form-label">Resim</label>
                <div class="col-sm-6">
                    <input type="file" name="FotoFile" value="@Model.Employee.FotoFile" style="width: 100%;" class="form-control" />
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row">
                <label for="Description" class="col-sm-3 col-form-label">Açıklama</label>
                <div class="col-sm-6">
                    <textarea id="Description" name="Description" rows="5" cols="20" class="form-control" style="width:100% !important;">@(Model.Employee.Description)</textarea>
                </div>
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row mg-b-0">
                <label for="IsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
                <div class="col-sm-2">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" @(Model.Employee.IsActive == true ? "checked" : "")>
                        <label class="custom-control-label" for="IsActive">Aktif</label>
                    </div>
                </div>
                
                <div class="col-sm-3">
                </div>
            </div>

            <div class="form-group row mg-b-0">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <input id="ID" name="ID" type="hidden" value="@(Model.Employee.EmployeeID)" />
                    <input id="EmployeeUID" name="EmployeeUID" type="hidden" value="@(Model.Employee.EmployeeUID)" />
                    <button type="submit" class="btn btn-primary btn-block">Çalışan Güncelle</button>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
}


<div class="row row-xs bg-gray-100 mg-b-0 mg-t-40">
    <div class="col-sm-3 pd-t-10 pd-b-10">
        <b>Kayıt Tarihçesi</b>
    </div>

    <div class="col-sm-3 pd-t-10">@(Html.Raw($"<b>Kaydeden </b> : {Model.Employee.RecordEmployeeName} {Model.Employee.RecordDate} ")) </div>
    <div class="col-sm-3 pd-t-10">@(Model.Employee.UpdateDate != null ? Html.Raw($"<b>Güncelleyen </b> : {Model.Employee.UpdateEmployeeName} {Model.Employee.UpdateDate} ") : Html.Raw("")) </div>

</div>

@if (Model.LogList != null && Model.LogList.Count() > 0)
{
    <div class="row row-xs">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Kişi</th>
                    <th>Ortam</th>
                    <th>İşlem</th>
                    <th>Açıklama</th>
                    <th>Alan</th>
                    <th>Önceki</th>
                    <th>Yeni</th>
                    <th>Başarılı?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LogList.OrderBy(x => x.RecordDate))
                {
                    <tr>
                        <td>@(item.RecordDate)</td>
                        <td>@(item.RecordEmployee)</td>
                        <td>@(item.Environment)</td>
                        <td>@(item.ProcessType)</td>
                        <td>@(item.ResultMessage)</td>
                        <td>@(item.FieldName)</td>
                        <td><span title="@(item.OldValue)">@(item.OldValue != null && item.OldValue.StartsWith("System.") ? "...": item?.OldValue)</span></td>
                        <td><span title="@(item.NewValue)">@(item.NewValue != null && item.NewValue.StartsWith("System.") ? "..." : item?.NewValue)</span></td>
                        <td>@(item.IsSuccess)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}