@model EmployeeControlModel
<div class="col-lg">
    <div class="avatar avatar-xxxl mg-b-20 ht-100p">
        <img src="http://office.ufegrup.com/img/Employee/@(Model.Employee.FotoFile)" class="rounded-10 w-100" alt="">
    </div>
   
</div><!-- col -->
<div class="col-sm-8 col-md-7 col-lg mg-t-10 mg-sm-t-0 mg-lg-t-15">
    <div class="d-flex">
        <h5 class="mg-b-2 tx-center flex-fill">@(Model.Employee.FullName)</h5><br />
    </div>
    <div class="d-flex">
        <p class="mg-b-2 tx-color-03 tx-center flex-fill">@(Model.Employee.EMail)</p><br />
    </div>
    <div class="d-flex mg-b-10">
        <p class="mg-b-2 tx-color-03 tx-center flex-fill">@(Model.Employee.CountryPhoneCode) @(Model.Employee.Mobile)</p>
    </div>
    <div class="d-flex mg-b-25">
        <a class="btn btn-xs btn-white flex-fill" href="/Employee/Edit/@(Model.Employee.EmployeeUID)">Düzenle</a>
        <button class="btn btn-xs @(Model.EmployeeSchedule != null ? Model.EmployeeShift != null ? Model.EmployeeBreak != null ? Html.Raw("btn-warning") : Model.EmployeeShift.DurationMinute == null ? Html.Raw("btn-success") : Html.Raw("btn-pink") : Html.Raw("btn-danger") : Html.Raw("btn-dark")) flex-fill mg-l-10">@(Model.EmployeeSchedule != null ? Model.EmployeeShift != null ? Model.EmployeeBreak != null ? Html.Raw("Molada") : Model.EmployeeShift.DurationMinute == null ? Html.Raw("Mesaide") : Html.Raw("Mesai Bitti") : Html.Raw("Kapalı") : Html.Raw("Takvim Yok"))</button>
    </div>
    <hr />
    <div class="d-flex mg-b-20">
        <div class="profile-skillset flex-fill">
            <h4><a href="" class="link-01">@(Model.EmployeeSchedule?.ShiftDateStart?.ToString("HH\\:mm"))</a></h4>
            <label>Başlama</label>
        </div>
        <div class="profile-skillset flex-fill tx-right">
            <h4><a href="" class="link-01">@(Model.EmployeeSchedule?.ShiftdateEnd?.ToString("HH\\:mm"))</a></h4>
            <label class="pd-l-15">Bitiş</label>
        </div>
    </div>
    <hr />
    <div class="d-flex mg-b-20">
        <div class="profile-skillset flex-fill">
            <h4><a href="" class="link-01">@(Model.EmployeeShift?.ShiftDateStart?.ToString("HH\\:mm"))</a></h4>
            <label>Başlama</label>
        </div>
        <div class="profile-skillset flex-fill">
            <h4><a href="" class="link-01">@(Model.EmployeeShift?.ShiftDateEnd?.ToString("HH\\:mm"))</a></h4>
            <label class="pd-l-15">Bitiş</label>
        </div>
        <div class="profile-skillset flex-fill">
            <h4><a href="" class="link-01">@(Model.EmployeeShift?.ShiftDuration?.ToString("hh\\:mm"))</a></h4>
            <label class="pd-l-10">Süre</label>
        </div>
    </div>
    <hr />
    <nav class="nav nav-classic flex-column tx-13">
        <a href="/Employee/Detail/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Detail" ? "active" : "")">Detay</a>
        <a href="/Employee/Contacts/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Contacts" ? "active" : "")">İletişim Bilgileri</a>
        <a href="/Employee/Schedule/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Schedule" ? "active" : "")">Schedule (Takvim)</a>
        <a href="/Employee/Shift/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Shift" ? "active" : "")">Shift (Mesai Mola)</a>
        <a href="/Employee/Action/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Action" ? "active" : "")">Cari Hesap</a>
        <a href="/Employee/FoodCard/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "FoodCard" ? "active" : "")">Set Card</a>
        <a href="/Employee/Location/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Location" ? "active" : "")">Lokasyonlar</a>
        <a href="/Employee/Document/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Document" ? "active" : "")">Özlük Belgeleri</a>
        <a href="/Employee/Score/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Score" ? "active" : "")">Puanlama Skorlama</a>
        <a href="/Employee/Period/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Period" ? "active" : "")">Çalışma Dönemleri</a>
        <a href="/Employee/Salary/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Salary" ? "active" : "")">Ücret Tanımlamaları</a>
        <a href="/Employee/Edit/@(Model.Employee.EmployeeUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Employee" && this.ViewContext.RouteData.Values["action"].ToString() == "Edit" ? "active" : "")">Güncelle</a>
    </nav>
</div>
