@model EmployeeControlModel



            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="text-center bd-l">Çalışan</th>
                    </tr>
                    <tr>
                        <th class="bd-l">Skor Listesi</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>


                        <td class="tx-sm-13 bd-l i-l" style="padding:7px !important;">

                            <table class="table table-hover pd-0 mg-0">
                                <tbody>
                                    @foreach (var item in Model.EmployeeCheck.OrderByDescending(x => x.DateKey))
                                    {
                                        var employeescore = Model.EmployeeCheck.FirstOrDefault(x => x.EmployeeID == item.EmployeeID && x.DateKey == item.DateKey);
                                    <tr class="@(employeescore != null && employeescore.IsActive == true ? "table-info":"table-warning")">
                                        <td class="wd-300 tx-sm-13 font-weight-bold">@employeescore.LocationName @employeescore.LocationTypeName @employeescore.State</td>
                                        <td class="wd-150 text-center" style="padding:2px !important;">@(employeescore.TypeName)</td>
                                        <td class="wd-150 text-center" style="padding:2px !important;">@employeescore.Year | @employeescore.Quarter</td>
                                        <td class="wd-150 text-center" style="padding:2px !important;">@employeescore.Description</td>
                                        <td class="wd-50 text-center" style="padding:2px !important;">@employeescore.Parameter</td>
                                        <td class="wd-50 text-center" style="padding:2px !important;">@employeescore.Score</td>
                                        <td class="wd-200 text-center" style="padding:2px !important;">@employeescore.Recorder</td>

                                    </tr>

                                    }


                                </tbody>
                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>

