@model EmployeeControlModel
@{
    ViewBag.Title = "Çalışan İşlemleri";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <h4>Yeni Çalışan Ekleme</h4>

    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30 row">
                    <div class=" col-md-4">
                        <a href="/Employee/AddEmployee" class="btn btn-warning btn-uppercase"><i data-feather="chevron-left"></i> &nbsp; 01. Temel Bilgiler </a>
                    </div>
                    <div class="col-md-4 tx-center">
                        <h4 class="mg-b-0 tx-spacing--1">03. Tüm Bilgiler</h4>
                    </div>
                    <div class="d-none d-md-block col-md-4 tx-right">
                        <a href="/Employee/" class="btn btn-primary btn-uppercase"><i data-feather="users"></i> &nbsp; Çalışanlar Listesi</a>
                    </div>
                </div>
                <div id="employeeStatus">
                    <div class="row no-gutters">
                        <div class="col-lg-12">
                            @using (Html.BeginForm("AddEmployeeCompleteForm", "Employee", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group row">
                                    <label for="Title" class="col-sm-3 col-form-label">Tanım</label>
                                    <div class="col-sm-6">
                                        <input id="Title" name="Title" type="text" class="form-control" autocomplete="off" placeholder="Title">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>

                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="Tc" class="col-sm-3 col-form-label">Kimlik Tipi</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="IdentityType" name="IdentityType" readonly>
                                            @foreach (var item in Model.IdentityTypes)
                                            {
                                                <option value="@item.TypeCode" @(Model.CheckEmployee.IdentityType == item.TypeCode ? "selected" : "")>@($"{item.TypeName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>

                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="IdentityNumber" class="col-sm-3 col-form-label">Kimlik Numarası</label>
                                    <div class="col-sm-6">
                                        <input id="IdentityNumber" name="IdentityNumber" type="text" class="form-control" value="@(Model.CheckEmployee.IdentityNumber)" @(!string.IsNullOrEmpty(Model.CheckEmployee.IdentityNumber) && ? "readonly" : "") autocomplete="off" placeholder="Kimlik No">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="FullName" class="col-sm-3 col-form-label">Adı Soyadı</label>
                                    <div class="col-sm-6">
                                        <input id="FullName" name="FullName" type="text" class="form-control" autocomplete="off" value="@(Model.CheckEmployee.FullName)" @(Model.Wizard.FullName != "" ? "readonly" : "") placeholder="Ad Soyad" required>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="Email" class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-6">
                                        <input id="EMail" name="EMail" type="text" class="form-control" autocomplete="off" value="@(Model.Wizard.EMail)" @(Model.Wizard.EMail != "" ? "readonly" : "") placeholder="E-Posta Adresi">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="Mobile" class="col-sm-3 col-form-label">Telefon</label>
                                    <div class="col-sm-6">
                                        <input id="Mobile" name="Mobile" type="text" class="form-control" autocomplete="off" value="@(Model.Wizard.Mobile)" @(Model.Wizard.Mobile != "" ? "readonly" : "") placeholder="Telefon">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5">
                                    <label for="Mobile" class="col-sm-3 col-form-label">Telefon2</label>
                                    <div class="col-sm-6">
                                        <input id="Mobile2" name="Mobile2" type="text" class="form-control" autocomplete="off" placeholder="Telefon">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Whatsapp" class="col-sm-3 col-form-label">Whatsapp</label>
                                    <div class="col-sm-6">
                                        <input id="Whatsapp" name="Whatsapp" type="text" class="form-control" autocomplete="off" placeholder="Whatsapp">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5">
                                    <label for="Username" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                                    <div class="col-sm-6">
                                        <input id="Username" name="Username" type="text" class="form-control" autocomplete="off" placeholder="Kullanıcı Adı">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Password" class="col-sm-3 col-form-label">Şifre</label>
                                    <div class="col-sm-6">
                                        <input id="Password" name="Password" type="text" class="form-control" autocomplete="off" placeholder="Şifre">
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row bg-gray-50">
                                    <label for="OurCompanyID" class="col-sm-3 col-form-label">Ülke</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="OurCompanyID" name="OurCompanyID" required disabled>
                                            @foreach (var item in Model.OurList)
                                            {
                                                <option value="@item.CompanyID" @(Model.Authentication.ActionEmployee.OurCompanyID == item.CompanyID ? "selected" : "")>@($"{item.CompanyName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>

                                <div class="form-group row bg-gray-50">
                                    <label for="RoleGroupID" class="col-sm-3 col-form-label">Rol Grup</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="RoleGroupID" name="RoleGroupID" required>
                                            @foreach (var item in Model.RoleGroupList.OrderBy(x => x.RoleLevel))
                                            {
                                                <option value="@item.ID">@($"{item.GroupCode} {item.GroupName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>

                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="AreaCategoryID" class="col-sm-3 col-form-label">Alan</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="AreaCategoryID" name="AreaCategoryID" required>
                                            @foreach (var item in Model.AreaCategoryList.OrderBy(x => x.SortBy))
                                            {
                                                <option value="@item.ID">@($"{item.SortBy} {item.AreaName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="DepartmentID" class="col-sm-3 col-form-label">Departman</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="DepartmentID" name="DepartmentID" required>
                                            @foreach (var item in Model.DepartmentList.OrderBy(x => x.SortBy))
                                            {
                                                <option value="@item.ID">@($"{item.SortBy} {item.DepartmentName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="PositionID" class="col-sm-3 col-form-label">Pozisyon</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="PositionID" name="PositionID" required>
                                            @foreach (var item in Model.PositionList.OrderBy(x => x.SortBy))
                                            {
                                                <option value="@item.ID">@($"{item.SortBy} {item.PositionName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="StatusID" class="col-sm-3 col-form-label">Durum</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="StatusID" name="StatusID" required>
                                            @foreach (var item in Model.StatusList)
                                            {
                                                <option value="@item.ID">@($"{item.Code} {item.Name}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="ShiftTypeID" class="col-sm-3 col-form-label">Çalışma Türü</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ShiftTypeID" name="ShiftTypeID" required>
                                            @foreach (var item in Model.ShiftTypeList)
                                            {
                                                <option value="@item.ID">@($"{item.SortBy} {item.TypeName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                                <div class="form-group row mg-b-5 bg-gray-50">
                                    <label for="SalaryCategoryID" class="col-sm-3 col-form-label">Kategori</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="SalaryCategoryID" name="SalaryCategoryID" required>
                                            @foreach (var item in Model.SalaryCategoryList)
                                            {
                                                <option value="@item.ID">@($"{item.SortBy} {item.SalaryCategoryName}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                                <div class="form-group row bg-gray-50">
                                    <label for="SequenceID" class="col-sm-3 col-form-label">Oryantasyon Seviyesi</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="SequenceID" name="SequenceID" required>
                                            @foreach (var item in Model.SequenceList)
                                            {
                                                <option value="@item.ID">@($"{item.Code} {item.Name}")</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="FotoFile" class="col-sm-3 col-form-label">Resim</label>
                                    <div class="col-sm-6">
                                        <input type="file" name="FotoFile" style="width: 100%;" class="form-control" />
                                    </div>
                                    <div class="col-sm-3"> </div>
                                </div>

                                <div class="form-group row">
                                    <label for="Description" class="col-sm-3 col-form-label">Açıklama</label>
                                    <div class="col-sm-6">
                                        <textarea id="Description" name="Description" rows="5" cols="20" class="form-control" style="width:100% !important;"></textarea>
                                    </div>
                                    <div class="col-sm-3"> </div>
                                </div>

                                <div class="form-group row mg-b-0">
                                    <label for="IsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
                                    <div class="col-sm-6">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" checked>
                                            <label class="custom-control-label" for="IsActive">Aktif?</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3"> </div>
                                </div>

                                <div class="form-group row mg-b-0">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <button type="submit" class="btn btn-primary btn-block">Employee Ekle</button>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>

        $('#IdentityType').on('change', function () {
            $('#IdentityNumber').attr('placeholder', this.value)
        });

        $('.phone').mask('(000) 000 00 00');

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}


