@model EmployeeControlModel
@{
    ViewBag.Title = "Employee Özlük Belgeleri";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20"> @(Model.Employee != null ? Model.Employee.FullName + " " + Model.Employee.ShiftTypeName : "") - Çalışma Özlük Belgeleri</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-three">
                <div class="row">
                    @{Html.RenderPartial("_PartialProfileSideBar", Model);}
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">

                <div class="card mg-b-20 mg-lg-b-25">

                    <div class="card-body pd-0">
                        <div class="table-responsive">
                            @using (Ajax.BeginForm("AddEmployeeDocument", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EmployeeDocumentDetail", InsertionMode = InsertionMode.Replace }, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <table class="table table-warning table-sm tx-13 tx-nowrap mb-0">
                                    <tbody>
                                        <tr class="bg-white">
                                            <td class="wd-5p"></td>
                                            <td class="tx-medium wd-20p" style="padding:2px !important;">
                                                <select class="form-control" id="DocumentTypeID" name="DocumentTypeID" required>
                                                    @foreach (var item in Model.PersonalDocumentType)
                                                    {
                                                        <option value="@item.ID">@($"{item.DocumentTypeName}")</option>
                                                    }
                                                </select>
                                            </td>
                                            <td class="text-right wd-15p" style="padding:2px !important;"><input type="text" id="DocumentDescription" name="DocumentDescription" class="form-control form-control-sm text-right" placeholder="Açıklama"></td>
                                            <td class="text-right wd-10p" style="padding:2px !important;"><input id="DocumentFile" name="DocumentFile" type="file" class="form-control form-control-sm" /></td>


                                            <td class="wd-15p" style="padding:2px !important;">
                                                <input name="EmployeeID" type="hidden" value="@(Model.Employee.EmployeeID)" />
                                                <button type="submit" class="btn btn-xs btn-dark btn-block">Doküman Ekle</button>
                                            </td>
                                            <td class="wd-5p" style="padding:2px !important;"></td>

                                        </tr>
                                    </tbody>
                                </table>
                            }

                            <div id="EmployeeDocumentDetail">
                                @{ Html.RenderPartial("_PartialEmployeeDocumentDetail", Model);}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/lib/cleave.js/cleave.min.js"></script>

    <script>
        $(function () {
            'use strict'
            

        });

        function DeleteEmployeeDocument(id) {

            var data = new FormData();

            data.append('id', id);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Employee/DeleteEmployeeDocument",
                data: data
            }).done(function (d) {
                $("#EmployeeDocumentDetail").html(d);
            });
        }
        



    </script>
    }
