@model EmployeeControlModel
@{
    ViewBag.Title = "Çalışan Düzenleme ";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20"> @(Model.Employee != null ? Model.Employee.FullName + " " + Model.Employee.ShiftTypeName : "")</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-three">
                <div class="row">
                    @{Html.RenderPartial("_PartialProfileSideBar", Model);}
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-l-20">
                <div class="card mg-b-20 mg-lg-b-5">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        @(Model.Employee.FullName)
                    </div><!-- card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("EditEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="row row-xs">

                                <div class="col-lg-12">
                                    <div class="form-group row  mg-b-5 bg-gray-50">
                                        <label for="OurCompanyID" class="col-sm-3 col-form-label">Ülke</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="OurCompanyID" name="OurCompanyID" required>
                                                @foreach (var item in Model.OurList)
                                                {
                                                    <option value="@item.CompanyID" @(Model.Employee.OurCompanyID == item.CompanyID ? "selected" : "")>@($"{item.CompanyName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row  mg-b-5">
                                        <label for="Title" class="col-sm-3 col-form-label">Başlık</label>
                                        <div class="col-sm-6">
                                            <input id="Title" name="Title" type="text" class="form-control" autocomplete="off" placeholder="Başlık" value="@(Model.Employee.Title)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5">
                                        <label for="IdentityType" class="col-sm-3 col-form-label">Kimlik Türü</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="IdentityType" name="IdentityType">
                                                @foreach (var item in Model.IdentityTypes)
                                                {
                                                    <option value="@item.TypeCode" @(item.TypeCode == Model.Employee.IdentityType ? "selected" : "")>@($"{item.TypeName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5">
                                        <label for="IdentityNumber" class="col-sm-3 col-form-label">Kimlik No</label>
                                        <div class="col-sm-6">
                                            <input id="IdentityNumber" name="IdentityNumber" type="text" class="form-control" autocomplete="off" placeholder="Kimlik No" value="@(Model.Employee.IdentityNumber)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row bg-gray-100">
                                        <label for="FullName" class="col-sm-3 col-form-label">Ad Soyad</label>
                                        <div class="col-sm-6">
                                            <input id="FullName" name="FullName" type="text" class="form-control tx-14" autocomplete="off" placeholder="Ad Soyad" value="@(Model.Employee.FullName)" required>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5">
                                        <label for="FoodCardNumber" class="col-sm-3 col-form-label">Yemek Kartı No</label>
                                        <div class="col-sm-6">
                                            <input id="FoodCardNumber" name="FoodCardNumber" type="text" class="form-control" autocomplete="off" placeholder="FoodCard" value="@(Model.Employee.FoodCardNumber)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5">
                                        <label for="IBAN" class="col-sm-3 col-form-label">IBAN</label>
                                        <div class="col-sm-6">
                                            <input id="IBAN" name="IBAN" type="text" class="form-control" autocomplete="off" placeholder="IBAN" value="@(Model.Employee.IBAN)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5">
                                        <label for="BankID" class="col-sm-3 col-form-label">IBAN Bankası</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="BankID" name="BankID">
                                                <option value="">Seçiminiz</option>
                                                @foreach (var item in Model.BankList.OrderBy(x => x.ShortName).ToList())
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.BankID ? "selected" : "")>@($"{item.ShortName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="SGKBranchName" class="col-sm-3 col-form-label">SGK Şubesi</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="SGKBranchName" name="SGKBranchName">
                                                <option value="">SGK Şubesi Seçiminiz</option>
                                                @foreach (var item in Model.SGKBranchs.OrderBy(x => x.BranchName).ToList())
                                                {
                                                    <option value="@item.BranchName" @(item.BranchName == Model.Employee.SGKBranch ? "selected" : "")>@($"{item.BranchName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input id="SGKBranchNew" name="SGKBranchNew" type="text" class="form-control phone" autocomplete="off" placeholder="Bunların Dışında Yeni SGK Şubesi" value="">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="LocationID" class="col-sm-3 col-form-label">Tanımlı Lokasyonu</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="LocationID" name="LocationID">
                                                <option value="">Lokasyon Seçiniz</option>
                                                @foreach (var item in Model.LocationList)
                                                {
                                                    <option value="@item.LocationID" @(item.LocationID == Model.Employee.LocationID ? "selected" : "")>@($"{item.LocationFullName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>






                                    <div class="form-group row mg-b-5">
                                        <label for="EMail" class="col-sm-3 col-form-label">E-Posta</label>
                                        <div class="col-sm-6">
                                            <input id="EMail" name="EMail" type="text" class="form-control" autocomplete="off" placeholder="E-Posta" value="@(Model.Employee.EMail)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-5">
                                        <label for="Mobile" class="col-sm-3 col-form-label">Mobil</label>
                                        <div class="col-sm-3">
                                            <select class="form-control" id="CountryPhoneCode" name="CountryPhoneCode">
                                                @foreach (var item in Model.PhoneCodes)
                                                {
                                                    <option value="@item.Code" @(item.Code == Model.Employee.CountryPhoneCode ? "selected" : "")>@($"{item.Code} {item.Country}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <input id="Mobile" name="Mobile" type="text" class="form-control phone" autocomplete="off" placeholder="Telefon" value="@(Model.Employee.Mobile)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>



                                    <div class="form-group row mg-b-5">
                                        <label for="Mobile2" class="col-sm-3 col-form-label">Mobil2</label>
                                        <div class="col-sm-6">
                                            <input id="Mobile2" name="Mobile2" type="text" class="form-control" autocomplete="off" placeholder="Telefon" value="@(Model.Employee.Mobile2)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Whatsapp" class="col-sm-3 col-form-label">Whatsapp</label>
                                        <div class="col-sm-6">
                                            <input id="Whatsapp" name="Whatsapp" type="text" class="form-control" autocomplete="off" placeholder="Whatsapp" value="@(Model.Employee.Whatsapp)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row  mg-b-5  bg-gray-50">
                                        <label for="Country" class="col-sm-3 col-form-label">Ülke / Eyalet / Şehir</label>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="Country" name="Country">
                                                @foreach (var item in Model.CountryList)
                                                {
                                                    <option value="@item.ID" @(Model.Employee.Country == item.ID ? "selected" : "")>@($"{item.CountryName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="State" name="State">
                                                <option value="">Eyalet Seçiminiz</option>
                                                @foreach (var item in Model.StateList)
                                                {
                                                    <option value="@item.ID" @(Model.Employee.State == item.ID ? "selected" : "")>@($"{item.StateName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select class="form-control" id="City" name="City">
                                                <option value="">Şehir Seçiminiz</option>
                                                @foreach (var item in Model.CityList)
                                                {
                                                    <option value="@item.ID" @(Model.Employee.City == item.ID ? "selected" : "")>@($"{item.CityName}")</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row  mg-b-5  bg-gray-50">
                                        <label for="Address" class="col-sm-3 col-form-label">Adres</label>
                                        <div class="col-sm-6">
                                            <textarea id="Address" name="Address" rows="3" class="form-control" autocomplete="off" placeholder="Adres" style="width:100% !important;">@(Model.Employee.Address)</textarea>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row bg-gray-50">
                                        <label for="PostCode" class="col-sm-3 col-form-label">Posta Kodu / ZIP Code</label>
                                        <div class="col-sm-6">
                                            <input id="PostCode" name="PostCode" type="text" class="form-control postcode" autocomplete="off" placeholder="Posta Kodu" value="@(Model.Employee.PostCode)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-5">
                                        <label for="Username" class="col-sm-3 col-form-label">Kullanıcı Adı</label>
                                        <div class="col-sm-6">
                                            <input id="Username" name="Username" type="text" class="form-control" autocomplete="off" placeholder="Kullanıcı Adı" value="@(Model.Employee.Username)">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="Password" class="col-sm-3 col-form-label">Şifre</label>
                                        <div class="col-sm-6">
                                            <input id="Password" name="Password" type="text" class="form-control" autocomplete="off" placeholder="Şifre">
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row bg-gray-50">
                                        <label for="RoleGroupID" class="col-sm-3 col-form-label">Yetki Rol Grubu</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="RoleGroupID" name="RoleGroupID">
                                                <option value="">Rol Seçiniz</option>
                                                @foreach (var item in Model.RoleGroupList.OrderBy(x => x.RoleLevel))
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.RoleGroupID ? "selected" : "") @(item.ID != Model.Employee.RoleGroupID && item.RoleLevel.Value > Model.Authentication.ActionEmployee.RoleGroup.RoleLevel ? "disabled" : "")>@($"{item.GroupCode} {item.GroupName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="AreaCategoryID" class="col-sm-3 col-form-label">Alan</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="AreaCategoryID" name="AreaCategoryID">
                                                <option value="">Alan Seçiniz</option>
                                                @foreach (var item in Model.AreaCategoryList.OrderBy(x => x.SortBy))
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.AreaCategoryID ? "selected" : "")>@($"{item.SortBy} {item.AreaName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="DepartmentID" class="col-sm-3 col-form-label">Departman</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="DepartmentID" name="DepartmentID">
                                                <option value="">Departman Seçiniz</option>
                                                @foreach (var item in Model.DepartmentList.OrderBy(x => x.SortBy))
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.DepartmentID ? "selected" : "")>@($"{item.SortBy} {item.DepartmentName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="PositionID" class="col-sm-3 col-form-label">Pozisyon</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="PositionID" name="PositionID">
                                                <option value="">Pozisyon Seçiniz</option>
                                                @foreach (var item in Model.PositionList.OrderBy(x => x.SortBy))
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.PositionID ? "selected" : "")>@($"{item.SortBy} {item.PositionName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="StatusID" class="col-sm-3 col-form-label">Durum</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="StatusID" name="StatusID">
                                                <option value="">Durum Seçiniz</option>
                                                @foreach (var item in Model.StatusList)
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.StatusID ? "selected" : "")>@($"0{item.ID} {item.Name}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="ShiftTypeID" class="col-sm-3 col-form-label">Çalışma Türü</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ShiftTypeID" name="ShiftTypeID">
                                                <option value="">Çalışma Seçiniz</option>
                                                @foreach (var item in Model.ShiftTypeList)
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.ShiftTypeID ? "selected" : "")>@($"{item.SortBy} {item.TypeName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="SalaryCategoryID" class="col-sm-3 col-form-label">Kategori</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="SalaryCategoryID" name="SalaryCategoryID">
                                                <option value="">Kategori Seçiniz</option>
                                                @foreach (var item in Model.SalaryCategoryList)
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.SalaryCategoryID ? "selected" : "")>@($"{item.SortBy} {item.SalaryCategoryName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-5 bg-gray-50">
                                        <label for="SalaryPaymentTypeID" class="col-sm-3 col-form-label">Ücretini Ödeme Yöntemi</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="SalaryPaymentTypeID" name="SalaryPaymentTypeID">
                                                <option value="">Ödeme Yöntemi Seçiniz</option>
                                                @foreach (var item in Model.SalaryPaymentTypes)
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.SalaryPaymentTypeID ? "selected" : "")>@($"{item.SalaryPaymentTypeName}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row bg-gray-50">
                                        <label for="SequenceID" class="col-sm-3 col-form-label">Oryantasyon Seviyesi</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="SequenceID" name="SequenceID">
                                                <option value="">Oryantasyon Seçiniz</option>
                                                @foreach (var item in Model.SequenceList)
                                                {
                                                    <option value="@item.ID" @(item.ID == Model.Employee.SequenceID ? "selected" : "")>@($"0{item.Sequence} {item.Code} {item.Name}" )</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="FotoFile" class="col-sm-3 col-form-label">Resim</label>
                                        <div class="col-sm-6">
                                            <input type="file" id="FotoFile" name="FotoFile" value="@Model.Employee.FotoFile" style="width: 100%;" class="form-control" />
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="Description" class="col-sm-3 col-form-label">Açıklama</label>
                                        <div class="col-sm-6">
                                            <textarea id="Description" name="Description" rows="5" cols="20" class="form-control" style="width:100% !important;">@(Model.Employee.Description)</textarea>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>


                                    <div class="form-group row mg-b-0">
                                        <label for="IsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
                                        <div class="col-sm-6">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" @(Model.Employee.IsActive == true ? "checked" : "")>
                                                <label class="custom-control-label" for="IsActive">Aktif</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>

                                    <div class="form-group row mg-b-0">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-6">
                                            <input id="EmployeeID" name="EmployeeID" type="hidden" value="@(Model.Employee.EmployeeID)" />
                                            <input id="EmployeeUID" name="EmployeeUID" type="hidden" value="@(Model.Employee.EmployeeUID)" />
                                            <button type="submit" class="btn btn-primary btn-block">Çalışan Güncelle</button>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="row row-xs bg-gray-100 mg-b-0 mg-t-40">
                            <div class="col-sm-3 pd-t-10 pd-b-10">
                                <b>Kayıt Tarihçesi</b>
                            </div>

                            <div class="col-sm-4 pd-t-10">@(Html.Raw($"<b>Kaydeden </b> : {Model.Employee.RecordEmployeeName} {Model.Employee.RecordDate} ")) </div>
                            <div class="col-sm-4 pd-t-10">@(Model.Employee.UpdateDate != null ? Html.Raw($"<b>Güncelleyen </b> : {Model.Employee.UpdateEmployeeName} {Model.Employee.UpdateDate} ") : Html.Raw("")) </div>

                        </div>

                        @if (Model.LogList != null && Model.LogList.Count() > 0)
                        {
                            <div class="row row-xs">
                                <table class="table table-sm table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Tarih</th>
                                            <th>Kişi</th>
                                            <th>Ortam</th>
                                            <th>İşlem</th>
                                            <th>Açıklama</th>
                                            <th>Alan</th>
                                            <th>Önceki</th>
                                            <th>Yeni</th>
                                            <th>Başarılı?</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.LogList.OrderBy(x => x.RecordDate))
                                        {
                                            <tr>
                                                <td>@(item.RecordDate)</td>
                                                <td>@(item.RecordEmployee)</td>
                                                <td>@(item.Environment)</td>
                                                <td>@(item.ProcessType)</td>
                                                <td>@(item.ResultMessage)</td>
                                                <td>@(item.FieldName)</td>
                                                <td><span title="@(item.OldValue)">@(item.OldValue != null && item.OldValue.StartsWith("System.") ? "..." : item?.OldValue)</span></td>
                                                <td><span title="@(item.NewValue)">@(item.NewValue != null && item.NewValue.StartsWith("System.") ? "..." : item?.NewValue)</span></td>
                                                <td>@(item.IsSuccess)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                </div>
                <div class="row">

                    <div class="col-sm-12" style="margin-bottom:20px !important;">
                        <div class="card">
                            <div class="card-header d-sm-flex align-items-start justify-content-between">
                                <h6 class="lh-5 mg-b-0"> </h6>
                                <a href="" class="tx-13 link-03"><div class="wd-10 ht-10 rounded-circle @(Model.Employee.IsActive == true ?"bg-teal":"bg-gray-200") mg-r-auto mg-l-auto"></div></a>
                            </div><!-- card-header -->
                            <div class="card-body pd-y-10 pd-x-10">
                                <div class="table-responsive">
                                    @using (Ajax.BeginForm("AddEmployeePeriods", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EmployeePeriodsDetail", InsertionMode = InsertionMode.Replace }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <table class="table table-warning table-sm tx-13 tx-nowrap mb-0">
                                            <tbody>
                                                <tr class="bg-white">
                                                    <td class="wd-5p"></td>
                                                    <td class="tx-medium wd-20p" style="padding:2px !important;">
                                                        <select class="form-control" id="OurCompanyID" name="OurCompanyID" required disabled>
                                                            @foreach (var item in Model.OurList)
                                                            {
                                                                <option value="@item.CompanyID" @(Model.Authentication.ActionEmployee.OurCompanyID == item.CompanyID ? "selected" : "")>@($"{item.CompanyName}")</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="ContractStartDate" name="ContractStartDate" class="form-control form-control-sm datepicker shiftdate" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")"></td>
                                                    <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="ContractFinishDate" name="ContractFinishDate" class="form-control form-control-sm datepicker shiftdate" placeholder="@DateTime.Now.ToString("yyyy-MM-dd")"></td>
                                                    <td class="text-right wd-15p" style="padding:2px !important;"><input type="text" id="Description" name="Description" class="form-control form-control-sm text-right" placeholder="Açıklama"></td>

                                                    <td class="wd-15p" style="padding:2px !important;">
                                                        <button type="submit" class="btn btn-xs btn-dark btn-block">Periods Ekle</button>
                                                    </td>
                                                    <td class="wd-5p" style="padding:2px !important;"></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    }

                                    <div id="EmployeePeriodsDetail@(Model.Employee.EmployeeID)">
                                        @{ Html.RenderPartial("_PartialEmployeePeriodsDetail", Model);}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>

        $('#IdentityType').on('change', function () {
            var minlenght = $(this).find(':selected').data('minlenght');
            var maxlenght = $(this).find(':selected').data('maxlenght');



            $('#IdentityNumber').attr('placeholder', this.value);
            $('#IdentityNumber').attr('pattern', '.{' + minlenght + ',' + maxlenght+'}');

            $('#IdentityNumber').removeClass();
            if (this.value == "TCKN") {
                $('#IdentityNumber').addClass("form-control tx-15 TCKN");
            }
            else if (this.value == "SOCIALNUMBER") {
                $('#IdentityNumber').addClass("form-control tx-15 SOCIALNUMBER");
            }
            else if (this.value == "TAXNUMBER") {
                $('#IdentityNumber').addClass("form-control tx-15 TAXNUMBER");
            }
            else {
                $('#IdentityNumber').addClass("form-control tx-15");
            }


        });

        $('.phone').mask('(000) 000 00 00');
        $('.TCKN').mask('00000000000');
        $('.SOCIALNUMBER').mask('0000000000000');
        $('.TAXNUMBER').mask('00000000000');
        $('.postcode').mask('00000-000');

        $(document).ready(function () {

            $("#Country").change(function () {

                var countryID = $("#Country").val();

                $.ajax
                    ({
                        url: '/Employee/GetStateList',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            countryid: countryID
                        }),
                        success: function (data) {

                            $("#City").empty();
                            $("#City").append($('<option></option>', { "value": '', "text": 'Şehir Seçiminiz' }));

                            $("#State").empty();
                            $("#State").append($('<option></option>', { "value": '', "text": 'Eyalet Seçiminiz' }));

                            $.each(data, function (index, label) {
                                $("#State").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });
                        },
                        error: function () {
                        },
                    });
            });



            $("#State").change(function () {

                var stateID = $("#State").val();

                $.ajax
                    ({
                        url: '/Employee/GetCityList',
                        type: 'POST',
                        datatype: 'application/json',
                        contentType: 'application/json',
                        data: JSON.stringify({
                            stateid: stateID
                        }),
                        success: function (data) {

                            $("#City").empty();

                            $("#City").append($('<option></option>', { "value": '', "text": 'Şehir Seçiminiz' }));

                            $.each(data, function (index, label) {
                                $("#City").append($('<option></option>', { "value": label.Value, "text": label.Text }));
                            });
                        },
                        error: function () {
                        },
                    });
            });


        });

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}