@model LayoutControlModel
<div class="navbar">
    <a href="/" class="navbar-brand ">
        <svg width="32" height="32" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
            <g class="loading-spin" style="transform-origin: 256px 256px">
                <path d="M200.043 106.067c-40.631 15.171-73.434 46.382-90.717 85.933H256l-55.957-85.933zM412.797 288A160.723 160.723 0 0 0 416 256c0-36.624-12.314-70.367-33.016-97.334L311 288h101.797zM359.973 134.395C332.007 110.461 295.694 96 256 96c-7.966 0-15.794.591-23.448 1.715L310.852 224l49.121-89.605zM99.204 224A160.65 160.65 0 0 0 96 256c0 36.639 12.324 70.394 33.041 97.366L201 224H99.204zM311.959 405.932c40.631-15.171 73.433-46.382 90.715-85.932H256l55.959 85.932zM152.046 377.621C180.009 401.545 216.314 416 256 416c7.969 0 15.799-.592 23.456-1.716L201.164 288l-49.118 89.621z"></path>
            </g>
        </svg>
        <!-- <img src="/assets/img/logo.png" alt="..."> -->
        <span class="hidden-folded d-inline l-s-n-1x ">UFE</span>
    </a>
</div>
<div class="flex scrollable hover">
    <div class="nav-active-text-primary" data-nav>
        <ul class="nav bg">

            <li>
                <a href="/">
                    <span class="nav-icon text-primary"><i data-feather='tablet'></i></span>
                    <span class="nav-text">Bilet Satış İşlemleri</span>
                </a>
            </li>
            <li>
                <a href="#" class="" data-pjax-state="">
                    <span class="nav-icon text-danger">
                        <i data-feather='hard-drive'></i>
                    </span>
                    <span class="nav-text">Kasa İşlemleri</span> <span class="nav-caret"></span>
                </a>
                <ul class="nav-sub nav-mega">
                    <li><a href="/Cash/Index" class="" data-pjax-state=""><span class="nav-text">Günlük Kasa Özeti</span></a></li>
                    <li><a href="/Cash/Collect" class="" data-pjax-state=""><span class="nav-text">Kasa Nakit Tahsilatı</span></a></li>
                    <li><a href="/Cash/Payment" class="" data-pjax-state=""><span class="nav-text">Kasa Nakit Ödemesi</span></a></li>
                    <li><a href="/Cash/Expense" class="" data-pjax-state=""><span class="nav-text">Kasa Masraf Fişleri</span></a></li>
                    <li><a href="/Cash/ExchangeSell" class="" data-pjax-state=""><span class="nav-text">Döviz Satışı</span></a></li>
                    <li><a href="/Cash/ExchangeBuy" class="" data-pjax-state=""><span class="nav-text">Döviz Alışı</span></a></li>
                    <li><a href="/Cash/Transfer" class="" data-pjax-state=""><span class="nav-text">Havale - EFT</span></a></li>
                    <li><a href="/Cash/SalaryPay" class="" data-pjax-state=""><span class="nav-text">Kasa Avans Ödemesi</span></a></li>
                </ul>
            </li>
            @*<li>
                    <a href="/Action">
                        <span class="nav-icon text-primary"><i data-feather='layers'></i></span>
                        <span class="nav-text">Cari Hesap</span>
                    </a>
                </li>*@

            @*<li>
                    <a href="/Schedule">
                        <span class="nav-icon text-info"><i data-feather='calendar'></i></span>
                        <span class="nav-text">Plan Takvimleri</span>
                        <span class="nav-badge"><b class="badge-circle xs text-info"></b></span>
                    </a>
                </li>
                <li>
                    <a href="/Shift">
                        <span class="nav-icon text-info"><i data-feather='clock'></i></span>
                        <span class="nav-text">Mesai Molalar</span>
                        <span class="nav-badge"><b class="badge-circle xs text-info"></b></span>
                    </a>
                </li>*@
            <li>
                <a href="/Employee">
                    <span class="nav-icon text-success"><i data-feather='users'></i></span>
                    <span class="nav-text">Çalışanlar</span>
                </a>
            </li>
            @*<li class="nav-header hidden-folded">
                    <span class="text-muted">Lokasyon</span>
                </li>

                <li>
                    <a href="/Location">
                        <span class="nav-icon text-success"><i data-feather='airplay'></i></span>
                        <span class="nav-text">Lokasyonum</span>
                    </a>
                </li>

                <li>
                    <a href="/Employee">
                        <span class="nav-icon text-success"><i data-feather='users'></i></span>
                        <span class="nav-text">Çalışanlar</span>
                    </a>
                </li>

                <li class="nav-header hidden-folded">
                    <span class="text-muted">Bildirim</span>
                </li>

                <li>
                    <a href="/Message">
                        <span class="nav-icon text-warning"><i data-feather='message-circle'></i></span>
                        <span class="nav-text">Mesajlar</span>
                        <span class="nav-badge"><b class="badge-circle xs text-warning"></b></span>
                    </a>
                </li>*@


            <li>
                <a href="/Envelope">
                    <span class="nav-icon text-danger"><i data-feather='mail'></i></span>
                    <span class="nav-text">Gün Sonu İşlemleri</span>
                </a>
            </li>
        </ul>

    </div>
</div>
<div class="no-shrink ">
    <div class="row p-0 text-center">
        <div class="col-4 m-0 p-0 text-center font-weight-bold v-middle">
            <p class="text-info">@(Model.Schedule != null ? Html.Raw(Model.Schedule.DateStart.ToString("HH\\:mm")) : Html.Raw("&nbsp;"))</p>
            <p class="text-success">@(Model.Shift != null ? Html.Raw(Model.Shift.DateStart.ToString("HH\\:mm")) : Html.Raw("&nbsp;"))</p>
        </div>
        <div class="col-4">
            <a href="@(Model.Shift == null ? "/Envelope/LocationShiftStart" : Model?.Shift?.DateEnd  == null && Model?.Shift?.Duration == null ? "/Envelope/LocationShiftEnd":"#")" class="btn btn-lg btn-raised btn-wave btn-icon btn-rounded mb-2 mt-2  @( Model.Shift == null ? "  btn-dark" : Model?.Shift?.DateEnd  == null && Model?.Shift?.Duration == null ? "light-green text-white":"light-blue text-white")  text-white">
                <i data-feather="@(Model.Shift == null ? "cloud" : Model?.Shift?.DateEnd  == null && Model?.Shift?.Duration == null ? "sun":"moon")"></i>
            </a>
        </div>
        <div class="col-4 m-0 p-0 text-center font-weight-bold v-middle">
            <p class="text-info">@(Model.Schedule != null ? Html.Raw(Model.Schedule.DateEnd?.ToString("HH\\:mm")) : Html.Raw("&nbsp;"))</p>
            <p class="text-success">@(Model.Shift != null ? Html.Raw(Model.Shift.DateEnd?.ToString("HH\\:mm")) : Html.Raw("&nbsp;"))</p>
        </div>


    </div>
    <ul class="nav no-border">
        @if (Model.Authentication.CurrentRoleGroup.RoleLevel >= 3)
        {
            <li class="text-center">
                <a href="/Location/SetCurrentLocation" class="btn btn-block btn-light">@(Html.Raw(Model.Authentication.CurrentLocation.FullName))</a>
            </li>
        }
        else
        {
            <li class="text-center">
                @*<a href="#" class="btn btn-block btn-light">@(Html.Raw(Model.Authentication.CurrentLocation.FullName))</a>*@
                <a href="/Location/SetCurrentLocation" class="btn btn-block btn-light">@(Html.Raw(Model.Authentication.CurrentLocation.FullName))</a>
            </li>
        }


    </ul>
    <div class="py-2 mt-2 b-t no-shrink">
        <ul class="nav no-border">
            @*<li>
                    <a href="/Location/SetCurrentLocation" class="text-success">
                        <span class="nav-icon">
                            <i data-feather="map-pin"></i>
                        </span>
                        <span class="nav-text">Lokasyon</span>
                    </a>
                </li>*@

            <li>
                <a href="/Logout" class="text-danger">
                    <span class="nav-icon">
                        <i data-feather="power"></i>
                    </span>
                    <span class="nav-text">Çıkış</span>
                </a>
            </li>
        </ul>
    </div>


</div>