@model HomeControlModel
@{
    ViewBag.Title = "Ana Sayfa";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.dashboard.css">
    <style>
        #example2_filter input, #SearchKey {
            text-transform: uppercase;
        }
    </style>
}

<div class="content-header">
    <div class="content-search">
        <i data-feather="search"></i>
        <input id="SearchKey" type="search" class="form-control" placeholder="Arama..." aria-controls="example2">
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div>
        <h4 id="section2" class="mg-b-10">Cari Hesap Ekstresi</h4>
        <div data-label="Example" class="df-example">
            <table id="example2" class="table" style="width:100% !important;">
                <thead>
                    <tr>

                        <th class="wd-20p">Adı Soyadı</th>
                        <th class="wd-25p">Tel GSM</th>
                        <th class="wd-20p">Tel EV</th>
                        <th class="wd-15p">Tel İŞ</th>
                        <th class="wd-20p">Cinsyet</th>
                        <th class="wd-20p">Yaş</th>
                        <th class="wd-20p">Bilgi</th>
                        <th class="wd-20p">Kayıt</th>
                        <th class="wd-20p">Tür</th>
                        <th class="wd-20p">No</th>
                    </tr>
                </thead>
                @*<tbody>
                    @foreach (var item in Model.Musteriler.OrderBy(x => x.adi).ThenBy(x => x.soyadi))
                    {
                        <tr>

                            <td><a href="/Home/Detail/@item.musteriid" class="link-01"> @item.fullname</a></td>
                            <td>@item.telgsm</td>
                            <td>@item.telev</td>
                            <td>@item.telis</td>
                            <td>@item.cinsiyeti</td>
                            <td>@item.yasi</td>
                            <td>@(item.bilgi != null ? item.bilgi.ToUpper() : "")</td>
                            <td>@(item.geltarih?.ToShortDateString())</td>
                            <td>@item.turu</td>
                            <td>@item.kayitno</td>
                        </tr>
                    }


                </tbody>*@
            </table>
        </div>


        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>

<div class="modal fade effect-scale" id="modalNewContact" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("AddContact", "Home", FormMethod.Post))
            {
                <div class="modal-body pd-20 pd-sm-30">
                    <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="tx-18 tx-sm-20 mg-b-20">Yeni Hasta Kaydı </h5>
                    <div class="d-sm-flex">
                        <div class="mg-sm-r-30">
                            <div class="pos-relative d-inline-block mg-b-20">
                                <div class="avatar avatar-xxl"><span class="avatar-initial rounded-circle bg-gray-700 tx-normal"><i class="icon ion-md-person"></i></span></div>
                                <a href="" class="contact-edit-photo"><i data-feather="edit-2"></i></a>
                            </div>
                        </div>

                        <div class="flex-fill">
                            <h6 class="mg-b-10">Kişisel Bilgisi</h6>
                            <div class="form-group mg-b-10">
                                <input type="text" name="adi" class="form-control" placeholder="Adı">
                            </div>
                            <div class="form-group mg-b-10">
                                <input type="text" name="soyadi" class="form-control" placeholder="Soyadı">
                            </div>
                            <h6 class="mg-t-20 mg-b-10">İletişim Bilgisi</h6>
                            <div class="form-group mg-b-10">
                                <input type="text" name="telgsm" class="form-control" placeholder="GSM No">
                            </div>
                            <div class="form-group mg-b-10">
                                <input type="text" name="telev" class="form-control" placeholder="Telefon Ev">
                            </div>
                            <div class="form-group mg-b-10">
                                <input type="text" name="telis" class="form-control" placeholder="Telefon İş">
                            </div>
                            <div class="form-group mg-b-10">
                                <input type="email" name="emaili" class="form-control" placeholder="Email address">
                            </div>
                            <h6 class="mg-t-20 mg-b-10">Notlar</h6>
                            <textarea class="form-control" name="bilgi" rows="2" placeholder="Add notes"></textarea>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="wd-100p d-flex flex-column flex-sm-row justify-content-end">
                        <button type="submit" class="btn btn-primary mg-b-5 mg-sm-b-0">Hastayı Kaydet</button>
                        <button type="button" class="btn btn-secondary mg-sm-l-5" data-dismiss="modal">Vazgeç</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script>



        $(function () {
            'use strict'



            var table = $('#example2').DataTable({
                responsive: true,

                lengthMenu: [[50, 100, 200], [50, 100, 200]],
                search: {
                    caseInsensitive: false

                }
            });


            $('#SearchKey').on('keyup', function () {
                var key = this.value.toLocaleUpperCase('tr-TR')
                table.search(key).draw();
            });

            // Select2
            $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

        });

    </script>
}