<link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<table class="table table-primary table-hover table-striped mg-b-0">
    <thead>
        <tr class="table-active">
            <th></th>
            <th scope="col">
                Lokasyon
            </th>
            <th>SortBy</th>
            <th class="tx-right">Açıklama</th>
            <th>Ülke</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var location in Model.LocationList)
        {
            <tr>
                <td><span class="@(location.IsActive == true ? "tx-success":"tx-danger")">&#8226;</span></td>
                <td scope="row" class="@(location.IsActive == true ? "":"tx-danger")"><a href="#" onclick="LocationCash(@location.LocationID);"><b>@(location.LocationName)</b></a></td>
                <td>@(location.SortBy)</td>
                <td class="tx-right font-weight-bold">@(location.Description)</td>
                <td>@(location.State)</td>
            </tr>
        }
    </tbody>
</table>
