@model DefinitionControlModel

<div id="OffCanvasAddCash" class="off-canvas off-canvas-overlay off-canvas-right wd-400" data-backdrop="static">
    <a href="#" class="close"><i data-feather="x"></i></a>

    <div class="pd-25 ht-100p tx-13">
        @using (Html.BeginForm("AddCash", "Definition", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div>
            <h4>Yeni Kasa</h4>
            <p class="tx-color-03">Kasa açılışı.</p>
            
            <div class="form-group">
                <label>Lokasyon</label>
                <select class="form-control" id="LocationID" name="LocationID" required>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID">@($"{item.SortBy}  {item.LocationName} {item.State} {item.Description}" )</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Kasa</label>
                <input id="CashName" name="CashName" type="text" class="form-control" placeholder="Kasa" required>
            </div>
            <div class="form-group">
                <label>Para Birimi</label>
                <select class="form-control" id="Currency" name="Currency" required>
                    @foreach (var item in Model.CurrencyList)
                    {
                        <option value="@item.Code">@($"{item.Code} ({item.Sign})")</option>
                    }
                </select>
            </div>
            
            <button class="btn btn-primary btn-block">Kasa Ekle</button>
        </div>

        }

    </div>
</div>
