@model DefinitionControlModel
@using (Ajax.BeginForm("SaveBank", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "BankList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">@(Model.Bank.Name) <input id="ID" name="ID" value="@(Model.Bank.ID)" type="hidden" /></h6>
    </div>
    <div class="card-body pd-0">

        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputPassword4">Banka</label>
                <input id="Name" name="Name" type="text" class="form-control" autocomplete="off" value="@(Model.Bank.Name)" placeholder="Banka" required>
            </div>
            <div class="form-group col-md-3">
                <label for="inputPassword4">Code</label>
                <input id="Code" name="Code" type="text" class="form-control" autocomplete="off" value="@(Model.Bank.Code)" placeholder="Kod" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">&nbsp;</label>
                <input id="SaveBank" type="submit" class="btn btn-primary btn-block" value="Banka Kaydet" />
            </div>
        </div>
    </div>
    <div class="card-footer text-center tx-13">
    </div>
}

@if (Model.Results != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}