<link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<table class="table table-primary table-hover table-striped mg-b-0">
    <thead>
        <tr class="table-active">
            <th></th>
            <th scope="col">
                Banka
            </th>
            <th>SortBy</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var bank in Model.BankList)
        {
            <tr>
                <td><span class="@(bank.IsActive == true ? "tx-success":"tx-danger")">&#8226;</span></td>
                <td scope="row" class="@(bank.IsActive == true ? "":"tx-danger")"><a href="#" onclick="BankAccountList(@bank.ID);"><b>@(bank.Name)</b></a></td>
                <td>@(bank.SortBy)</td>
            </tr>
        }
    </tbody>
</table>
