<link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<table class="table table-primary table-hover table-striped mg-b-0">
    <thead>
        <tr class="table-active">
            <th></th>
            <th scope="col">
                Banka
            </th>
            <th>SortBy</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var bank in Model.BankList)
        {
            <tr>
                <td><span class="@(bank.IsActive == true ? "tx-success":"tx-danger")">&#8226;</span></td>
                <td scope="row" class="@(bank.IsActive == true ? "":"tx-danger")"><b>@(bank.Name)</b></td>
                <td>@(bank.SortBy)</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Results != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}