@model DefinitionControlModel
@using (Ajax.BeginForm("SavePosTerminal", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "LocationList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">@(Model.LocPosTerminal.LocationFullName) <input id="LocationID" name="LocationID" value="@(Model.LocPosTerminal.LocationID)" type="hidden" /></h6>
    </div>
    <div class="card-body pd-0">

        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputPassword4">Hesap Tipi</label>
                <select class="form-control" id="BankAccountID" name="BankAccountID" required>
                    @foreach (var item in Model.AccountList)
                    {
                        <option value="@item.ID">@($"{item.Name} ({item.AccountName})")</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Marka</label>
                <input id="BrandName" name="BrandName" type="text" class="form-control" value="@(Model.LocPosTerminal.BrandName)" placeholder="Marka" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Model</label>
                <input id="ModelName" name="ModelName" type="text" class="form-control" value="@(Model.LocPosTerminal.ModelName)" placeholder="Marka" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Serial Numara</label>
                <input id="SerialNumber" name="SerialNumber" type="text" class="form-control" value="@(Model.LocPosTerminal.SerialNumber)" placeholder="Serial Numara" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputPassword4">Terminal</label>
                <input id="TerminalID" name="TerminalID" type="text" class="form-control" value="@(Model.LocPosTerminal.TerminalID)" placeholder="Terminal" required>
            </div>
            <div class="form-group col-md-1">
                <label for="inputPassword4">Client</label>
                <input id="ClientID" name="ClientID" type="text" class="form-control" value="@(Model.LocPosTerminal.ClientID)" placeholder="Client" required>
            </div>
            <div class="form-group col-md-1">
                <label for="inputPassword4">&nbsp;</label>
                <input id="SavePosTerminal" type="submit" class="btn btn-primary btn-block" value="Pos Kaydet" />
            </div>
        </div>
    </div>
    <div class="card-footer text-center tx-13">
    </div>
}
    <div id="LocationList">
        @{Html.RenderPartial("_PartialPosTerminalList", Model); }
    </div>
@if (Model.Results != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}