@model DefinitionControlModel

<div class="card-body pd-0">

    <div class="contact-list">
        <div class="table-responsive">
            <table class="table table-primary table-hover table-striped mg-b-0">
                <thead>
                    <tr class="table-active">
                        @*<th>Lokasyon</th>*@
                        <th>Name</th>
                        <th>Serial</th>
                        @*<th></th>*@

                    </tr>
                </thead>
                <tbody>
                    @foreach (var cash in Model.CashRecordsList)
                    {
                        <tr>
                            @*<td>@(cash.LocationFullName)</td>*@
                            <td class="font-weight-bold">@(cash.Name)</td>
                            <td>@(cash.SerialNumber)</td>
                            @*<td class="tx-right font-weight-bold"><a href="#" class="text-danger" onclick="if(confirm('@cash.Name isimli yazarkasayı silmek istediğine emin misin? Bu işlem geri alınamaz')) DeleteCashRecorded(@cash.ID)"><i class="fas fa-trash"></i></a></td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

@if (Model.Results != null)
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Results.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}