@model PartnerControlModel
@{
    ViewBag.Title = "İş Ortakları - Ödeme Dokümanları";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Hakediş Dokümanı Detayı</span>
    </div>
    <nav class="nav">
        <a href="/Partner/Earns"> <i data-feather="menu"></i> </a> &nbsp;
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> <a href="/Partner/Earns">İş Ortakları - Hakediş Dokümanları</a></li>
                            </ol>
                        </nav>
                        <h4 class="mg-b-0 tx-spacing--1">@(Model.DocumentPartnerEarn.DocumentNumber)</h4>
                    </div>
                </div>


                @using (Html.BeginForm("UpdateEarn", "Partner", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs mb-5">
                        <div class="col-lg-12">

                            <div class="form-group row mg-b-5 ">
                                <label for="DocumentNumber" class="col-sm-3 col-form-label">Belge No</label>
                                <div class="col-sm-6">
                                    <input id="DocumentNumber" name="DocumentNumber" type="text" class="form-control" autocomplete="off" placeholder="No" value="@(Model.DocumentPartnerEarn.DocumentNumber)" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 ">
                                <label for="DocumentTypeName" class="col-sm-3 col-form-label">Belge Türü</label>
                                <div class="col-sm-6">
                                    <input id="DocumentTypeName" name="DocumentTypeName" type="text" class="form-control" autocomplete="off" placeholder="Tür" value="@(Model.DocumentPartnerEarn.ActionTypeName)" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="ExpensePeriodCode" class="col-sm-3 col-form-label">Hakediş Periyodu</label>
                                <div class="col-sm-6">
                                    <input id="ExpensePeriodCode" name="ExpensePeriodCode" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon" value="@($"{Model.DocumentPartnerEarn.PeriodCode})" )" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="PartnershipID" class="col-sm-3 col-form-label tx-sm-13">Ortaklık</label>
                                <div class="col-sm-6">
                                    <input id="PartnershipID" name="PartnershipID" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon" value="@($"{Model.DocumentPartnerEarn.FullName} - {Model.DocumentPartnerEarn.LocationFullName} (%{Model.DocumentPartnerEarn.PartnerRate})" )" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>


                            <div class="form-group row mg-b-5 ">
                                <label for="LocationName" class="col-sm-3 col-form-label">Lokasyon</label>
                                <div class="col-sm-6">
                                    <input id="LocationName" name="LocationName" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon" value="@(Model.DocumentPartnerEarn.LocationFullName)" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 ">
                                <label for="PartnerName" class="col-sm-3 col-form-label">Ortak</label>
                                <div class="col-sm-6">
                                    <input id="PartnerName" name="PartnerName" type="text" class="form-control" autocomplete="off" placeholder="Ortak" value="@(Model.DocumentPartnerEarn.FullName)" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>



                            <div class="form-group row ">
                                <label for="DocumentDate" class="col-sm-3 col-form-label">Belge Tarihi</label>
                                <div class="col-sm-6">
                                    <input id="DocumentDate" name="DocumentDate" type="text" class="form-control" autocomplete="off" placeholder="Tarih" value="@(Model.DocumentPartnerEarn.DocumentDate?.ToString("yyyy-MM-dd"))" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="PartnerRate" class="col-sm-3 col-form-label">Ortaklık Oranı (%)</label>
                                <div class="col-sm-6">
                                    <input id="PartnerRate" name="PartnerRate" type="text" class="form-control tx-15 text-right" autocomplete="off" min="0" placeholder="Ortaklık Oranı" value="@(Model.DocumentPartnerEarn.PartnerRate?.ToString("N2"))" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">%</div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="CapacityRate" class="col-sm-3 col-form-label">Kapasite Oranı</label>
                                <div class="col-sm-6">
                                    <input id="CapacityRate" name="CapacityRate" type="text" class="form-control tx-15 text-right" autocomplete="off" min="0" placeholder="Kapasite Oranı" value="@(Model.DocumentPartnerEarn.CapacityRate?.ToString("N2"))" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold"></div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="GrossAmount" class="col-sm-3 col-form-label">Hakediş Matrahı</label>
                                <div class="col-sm-6">
                                    <input id="GrossAmount" name="GrossAmount" type="text" class="form-control tx-15 text-right" autocomplete="off" min="0" placeholder="Masraf Tutarı" value="@(Model.DocumentPartnerEarn.GrossAmount?.ToString("N2"))" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">@(Model.Authentication.ActionEmployee.OurCompany.Currency)</div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="Amount" class="col-sm-3 col-form-label">Kâr / Zarar</label>
                                <div class="col-sm-6">
                                    <input id="Amount" name="Amount" type="text" class="form-control font-weight-bold tx-15 text-right" autocomplete="off" min="0" placeholder="Masraf Tutarı" value="@(Model.DocumentPartnerEarn.Amount?.ToString("N2"))" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">@(Model.Authentication.ActionEmployee.OurCompany.Currency)</div>
                            </div>

                            <div class="form-group row bg-gray-50">
                                <label for="AmountEarned" class="col-sm-3 col-form-label">Hakediş Tutarı</label>
                                <div class="col-sm-6">
                                    <input id="AmountEarned" name="AmountEarned" type="text" class="form-control font-weight-bold tx-15 text-right" autocomplete="off" min="0" placeholder="Masraf Tutarı" value="@(Model.DocumentPartnerEarn.AmountEarned?.ToString("N2"))" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">@(Model.Authentication.ActionEmployee.OurCompany.Currency)</div>
                            </div>

                            <div class="form-group row">
                                <label for="DocumentSource" class="col-sm-3 col-form-label">Referans No</label>
                                <div class="col-sm-6">
                                    <input id="DocumentSource" name="DocumentSource" type="text" class="form-control" maxlength="50" autocomplete="off" placeholder="Dekont No vb." value="@(Model.DocumentPartnerEarn.ReferenceNumber)" readonly>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="PaymentDescription" class="col-sm-3 col-form-label">Açıklama</label>
                                <div class="col-sm-6">
                                    <textarea id="PaymentDescription" name="PaymentDescription" rows="2" cols="20" class="form-control" style="width:100% !important;" readonly>@(Model.DocumentPartnerEarn.Description)</textarea>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group mg-b-0 row">
                                <label for="DocumentSource" class="col-sm-3 col-form-label">Aktif mi?</label>
                                <div class="col-sm-6">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" @(Model.DocumentPartnerEarn.IsActive == true ? "checked" : "") readonly>
                                        <label class="custom-control-label" for="IsActive">Aktif</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>



                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3">
                                    <input id="UID" name="UID" type="hidden" value="@(Model.DocumentPartnerEarn.UID)" />
                                    <input id="DocumentEarnID" name="DocumentEarnID" type="hidden" value="@(Model.DocumentPartnerEarn.ID)" />
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Hakediş Dokümanını Otomatik Güncelle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-0">

                                <div class="col-sm-12 text-center">
                                    Bu belge sistem tarafından otomatik oluşturulmaktadır.
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="row row-xs mt-5">
                    <div class="col-lg-12">
                        <div class="table">
                            <table class="table table-sm table-hover">
                                <thead>

                                    <tr>
                                        <th>#</th>
                                        <th>Masraf Grubu</th>
                                        <th class="text-right">Temel Tutar</th>
                                        <th class="text-right">Oran (%)</th>
                                        <th class="text-right">Kapasite</th>
                                        <th class="text-right">Gelir</th>
                                        <th class="text-right">Masraf</th>
                                        <th class="text-right">Tutar</th>
                                        <th class="text-right">Bakiye</th>
                                        <th></th>
                                        <th>Kayıt</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        double? Balance = 0;
                                     }

                                    @foreach (var exp in Model.DocumentPartnerEarnRows.OrderBy(x => x.ExpenseGroupID))
                                    {
                                        Balance += exp.BalanceAmount;

                                        <tr>

                                            <td class="tx-sm-13">@(exp.ID)</td>
                                            <td class="tx-sm-13 font-weight-bold">@(exp.ExpenseGroupID == 0 ? "Satış" : exp.ExpenseGroupName)</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.BaseAmount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.PartnerRate?.ToString("N2")) %</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.CapacityRate?.ToString("N2"))</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.EarnedAmount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.PayedAmount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(exp.BalanceAmount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 font-weight-bold text-right">@(Balance?.ToString("N2"))</td>
                                            <td class="tx-sm-13">@(exp.Currency)</td>
                                            <td class="tx-sm-13">@(exp.CreatedDate)</td>

                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5"></th>
                                        <th class="tx-sm-13 font-weight-bold text-right">@(Model.DocumentPartnerEarnRows.Sum(x=> x.EarnedAmount)?.ToString("N2"))</th>
                                        <th class="tx-sm-13 font-weight-bold text-right">@(Model.DocumentPartnerEarnRows.Sum(x=> x.PayedAmount)?.ToString("N2"))</th>
                                        <th class="tx-sm-13 font-weight-bold text-right">@(Model.DocumentPartnerEarnRows.Sum(x=> x.BalanceAmount)?.ToString("N2"))</th>
                                        <th class="tx-sm-13 font-weight-bold text-right">@(Balance?.ToString("N2"))</th>
                                        <th colspan="2"></th>

                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section canvasmenu {

}

@section scripts {

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

