@model PartnerControlModel
@{
    ViewBag.Title = "İşortakları - Yönetim";
}
@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">İşortakları - Yönetimi</span>
    </div>
    <nav class="nav">
        <a href="/Partner/Index"> <i data-feather="menu"></i> </a> &nbsp;
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())

    </nav>
</div>
<div class="content-body">

    <div class="form-row align-items-end">

        <div class="form-group col-md-9 d-flex align-items-end">
            &nbsp;
        </div>

        <div class="form-group col-md-3 d-flex align-items-end ">
            <a href="/Partner/NewPartner" class="btn btn-success btn-block font-weight-bold">Yeni İşortağı</a>
        </div>

    </div>


    @if (Model.VPartners != null && Model.VPartners.Count > 0)
    {
        <div>
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>

                        <tr>
                            <th>#</th>
                            <th>İşortağı No</th>
                            <th>İşortağı Adı / Ünvanı</th>
                            <th>Vergi D</th>
                            <th>Vergi No</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Adres</th>
                            <th>Ülke</th>
                            <th>Eyalet</th>
                            <th>Şehir</th>
                            <th>PK</th>
                            <th>Aktif</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var exp in Model.VPartners.OrderBy(x => x.AccountCode).ThenBy(x => x.FullName))
                        {
                            <tr>

                                <td class="tx-sm-13">@(exp.ID)</td>
                                <td class="tx-sm-13 font-weight-bold"><a href="/Partner/Detail/@(exp.UID)" target="_blank" class="@(exp.IsActive == false ? "text-danger":"")"> @(exp.AccountCode)</a></td>
                                <td class="tx-sm-13 font-weight-bold">@(exp.FullName)</td>
                                <td class="tx-sm-13">@(exp.TaxOffice)</td>
                                <td class="tx-sm-13">@(exp.TaxNumber)</td>
                                <td class="tx-sm-13">@(exp.EMail)</td>
                                <td class="tx-sm-13">@($"{exp.PhoneCode} {exp.Phone}")</td>
                                <td class="tx-sm-13">@(exp.Address)</td>
                                <td class="tx-sm-13">@(exp.CountryName)</td>
                                <td class="tx-sm-13">@(exp.StateName)</td>
                                <td class="tx-sm-13">@(exp.CityName)</td>
                                <td class="tx-sm-13">@(exp.PostCode)</td>
                                <td class="tx-sm-13">@(exp.IsActive == true ? "Aktif":"Pasif")</td>
                                <td class="tx-sm-13"><a href="/Partner/Detail/@(exp.UID)" target="_blank" class="@(exp.IsActive == false ? "text-danger":"")"> <i data-feather="file-text"></i></a></td>

                            </tr>
                        }


                    </tbody>


                </table>
            </div>


            <footer class="content-footer">
                <div>
                    <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
                </div>

            </footer>

        </div>
    }
</div>



@section scripts {
    <script>
        $(function () {

            $('#PartnerID').select2({
                placeholder: 'Ortakçı Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#LocationID').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#PeriodCode').select2({
                placeholder: 'Periyot Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DTBG')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DTEN').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }
        });


    </script>


    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}