@model PartnerControlModel
@{
    ViewBag.Title = "Partner";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">İşortaklığı Ekleme</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">@(Model.VPartner?.FullName)</h4>
                    </div>
                    <div class="d-none d-md-block">

                        <a href="/Partner/Index" class="btn btn-primary btn-uppercase"><i data-feather="list"></i> &nbsp; İşortakları Listesi</a> &nbsp;
                        <a href="/Partner/Detail/@(Model.VPartner?.UID)" class="btn btn-warning btn-uppercase">İşortağı Detayı</a>

                    </div>
                </div>
                @using (Html.BeginForm("EditPartnership", "Partner", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">
                            <input id="PartnerID" name="PartnerID" type="hidden" value="@(Model.VPartner.ID)" />
                            <input id="PartnerUID" name="PartnerUID" type="hidden" value="@(Model.VPartner.UID)" />

                            <input id="LocationID" name="LocationID" type="hidden" value="@(Model.Location.LocationID)" />
                            <input id="LocationUID" name="LocationUID" type="hidden" value="@(Model.Location.LocationUID)" />

                            <input id="PartnershipID" name="PartnershipID" type="hidden" value="@(Model.Partnership.ID)" />
                            <input id="UFEPartnershipID" name="UFEPartnershipID" type="hidden" value="@(Model.UFEPartnership.ID)" />


                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="FullName" class="col-sm-3 col-form-label">İşortağı</label>
                                <div class="col-sm-6">
                                    <input id="FullName" name="FullName" autocomplete="off" type="text" class="form-control-plaintext tx-16 text-primary" placeholder="İşortağı" value="@(Model.VPartner.FullName)" readonly>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="LocationFullName" class="col-sm-3 col-form-label">Lokasyon</label>
                                <div class="col-sm-6">
                                    <input id="LocationFullName" name="LocationFullName" autocomplete="off" type="text" class="form-control-plaintext tx-16 text-primary" placeholder="Lokasyon" value="@(Model.Location.LocationFullName)" required>
                                </div>
                                <div class="col-sm-3"></div>
                            </div>

                            <div class="form-group row mg-b-5">
                                <label for="PartnershipRate" class="col-sm-3 col-form-label">İşortağı Oranı</label>
                                <div class="col-sm-6">
                                    <input id="PartnershipRate" name="PartnershipRate" autocomplete="off" type="number" class="form-control tx-16 font-weight-bold text-right" max="@((Model.UFEPartnership?.PartnershipRate ?? 0)+(Model.Partnership?.PartnershipRate ?? 0))" placeholder="İşortağı Oranı" value="@(Model.Partnership?.PartnershipRate ?? 0)" required>
                                </div>
                                <div class="col-sm-3 form-control-plaintext">Mevcut Oran (%)</div>
                            </div>

                            <div class="form-group row">
                                <label for="UFEPartnershipRate" class="col-sm-3 col-form-label">Paylaşılabilecek Max Oran</label>
                                <div class="col-sm-6">
                                    <input id="UFEPartnershipRate" name="UFEPartnershipRate" autocomplete="off" type="number" class="form-control tx-16 font-weight-bold text-right" placeholder="Vergi Dairesi" value="@(Model.UFEPartnership?.PartnershipRate ?? 0)" readonly>
                                </div>
                                <div class="col-sm-3 form-control-plaintext">UFE Oranı %</div>
                            </div>

                            <div class="form-group row  mg-b-5">
                                <label for="DateStart" class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
                                <div class="col-sm-6">
                                    <input id="DateStart" name="DateStart" type="text" class="form-control shiftdate tx-16 font-weight-bold text-right" autocomplete="off" placeholder="Başlama Tarihi" value="@(Model.Partnership != null && Model.Partnership.DateStart != null ? Model.Partnership.DateStart?.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" required>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row ">
                                <label for="DateEnd" class="col-sm-3 col-form-label">Bitiş Tarihi</label>
                                <div class="col-sm-6">
                                    <input id="DateEnd" name="DateEnd" type="text" class="form-control shiftdate tx-16 font-weight-bold text-right" autocomplete="off" placeholder="Bitiş Tarihi" value="@(Model.Partnership != null && Model.Partnership.DateEnd != null ? Model.Partnership.DateEnd?.ToString("yyyy-MM-dd"):"")">
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            @*<div class="form-group row mg-b-0">
                                <label for="IsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
                                <div class="col-sm-2">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" @(Model.Partnership.IsActive == true ? "checked" : "")>
                                        <label class="custom-control-label" for="IsActive">Aktif</label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>*@


                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-6">
                                    @if (Model.Partnership != null)
                                    {
                                        <button type="submit" name="SubmitUpdate" class="btn btn-primary btn-block" value="1">Ortaklık Bilgilerini Güncelle</button>
                                    }
                                    else
                                    {
                                        <button type="submit" name="SubmitAdd" class="btn btn-primary btn-block" value="1">Ortaklık Bilgilerini Ekle</button>
                                    }

                                </div>
                                <div class="col-sm-3">
                                    @if (Model.Partnership != null)
                                    {
                                        <button type="submit" name="SubmitEnd" class="btn btn-danger btn-block" value="1">Ortaklık Sonlandır</button>
                                    }


                                </div>
                            </div>

                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>

        $(function () {
            'use strict'


            $('#DateStart').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#DateEnd').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });


        });

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.quantity').mask("#.##0", { reverse: true });
            $('.number').mask("##0", { reverse: true });
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });




    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}



