@model CashControlModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
    <link href="~/assets/notie/dist/notie.css" rel="stylesheet" />
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="@(Model.Authentication.IsCardSystem == true ? "/Card":"/")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="card-transactions">
                    <div class="head">
                        <h1>Döviz Alış</h1>
                        <div class="btn-set">
                            <a class="btn btn-plus" href="/Cash/NewExchangeBuy">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
                                <!-- plus -->
                            </a>
                        </div>
                    </div>
                    <div class="currency-exchange-information">
                        <div class="cei dolar"><b>$</b>: <span>@(Model.Exchange.USDA?.ToString("N4"))</span></div>
                        <div class="cei euro"><b>€</b>: <span>@(Model.Exchange.EURA?.ToString("N4"))</span></div>
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" class="general-table">
                            <tr>
                                <th>No</th>
                                <th>Tarih</th>
                                <th>Tutar</th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model.CashBuyExchanges)
                            {
                                <tr>
                                    <td><a href="/Cash/ExchangeBuyDetail/@(item.UID)" class="@(item.IsActive == false ? "text-danger":"")">@(item.DocumentNumber)</a></td>
                                    <td>@(item.Date?.ToShortDateString())</td>
                                    <td><b>@(item.Amount?.ToString("N2"))</b></td>
                                    <td> @(item.Currency == "TRL" ? "₺" : item.Currency == "USD" ? "$":"€")</td>
                                </tr>
                            }

                            <tr>
                                <td></td>
                                <td></td>
                                <td>@(Model.CashBuyExchanges.Where(x=> x.Currency == "TRL" && x.IsActive == true).Sum(x=> x.Amount)?.ToString("N2"))</td>
                                <td>₺</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@(Model.CashBuyExchanges.Where(x=> x.Currency == "USD" && x.IsActive == true).Sum(x=> x.Amount)?.ToString("N2"))</td>
                                <td>$</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>@(Model.CashBuyExchanges.Where(x=> x.Currency == "EUR" && x.IsActive == true).Sum(x=> x.Amount)?.ToString("N2"))</td>
                                <td>€</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div><!-- content -->
            <div class="fixed-footer">
                <div class="container">
                    <div class="footer-up">
                        <div class="clean clean-2">
                            <a href="/Cash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="87.52" height="65.64" viewBox="0 0 87.52 65.64">
                                    <path d="M80.227,3h-54.7a6.864,6.864,0,0,0-5.8,3.209L0,35.82,19.728,65.394a6.9,6.9,0,0,0,5.8,3.246h54.7a7.315,7.315,0,0,0,7.293-7.293V10.293A7.315,7.315,0,0,0,80.227,3Zm0,58.347H25.782L8.752,35.82,25.745,10.293H80.227ZM37.962,54.053,51.053,40.962,64.145,54.053l5.142-5.142L56.2,35.82,69.287,22.728l-5.142-5.142L51.053,30.678,37.962,17.587,32.82,22.728,45.912,35.82,32.82,48.912Z" transform="translate(0 -3)" fill="currentColor" />
                                </svg>
                                <!-- clean -->
                                <span>GERİ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- fixed-footer -->
        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script>
        $(function () {


            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });
            $(document).ready(function () {
                $('.piece-options .minus').click(function () {
                    var $input = $(this).parent().find('input');
                    var count = parseInt($input.val()) - 1;
                    count = count < 1 ? 1 : count;
                    $input.val(count);
                    $input.change();
                    return false;
                });
                $('.piece-options .plus').click(function () {
                    var $input = $(this).parent().find('input');
                    $input.val(parseInt($input.val()) + 1);
                    $input.change();
                    return false;
                });
            });
        });
    </script>
    <script src="/assets/notie/dist/notie.min.js"></script>
    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
                $(function () {
                    notie.setOptions({
                        alertTime: 5
                    })
                    notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'top' });
                    noticed = true;
                });
        </script>
    }
</body>
</html>
