@model BankControlModel
@{
    ViewBag.Title = "BAnka Havale / EFT";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
    <link href="/assets/css/confirm.css" rel="stylesheet" />
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Havale / EFT Kontrol</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div><!-- content-header -->
<div class="content-body">



    @using (Html.BeginForm("BankTransferFilters", "Bank", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">

            <div class="form-group col-md-2 d-flex align-items-end bd-r pr-3">
                <input id="SearchKey" name="SearchKey" type="text" class="form-control" autocomplete="off" placeholder="Arama" value="@(Model.Filters?.SearchKey)">
            </div>

            <div class="form-group col-md-3 d-flex align-items-end pl-3">
                <select class="form-control select2" id="locationId" name="LocationId">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID" @(Model.Filters?.LocationID == item.LocationID ? "selected" : "")>@(Html.Raw($"<strong>{item.SortBy}</strong> {item.LocationName} {item.Description} {item.State}"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control" id="StatusID" name="StatusID">
                    <option value="" label="Durum Seçiminiz"></option>
                    @foreach (var item in Model.BankTransferStatus)
                    {
                        <option value="@item.ID" @(Model.Filters?.StatusID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ID}</strong> - {item.StatusName}"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control" id="BankAccountID" name="BankAccountID">
                    <option value="" label="Banka Seçiminiz"></option>
                    @foreach (var item in Model.BankAccounts)
                    {
                        <option value="@item.ID" @(Model.Filters?.BankAccountID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.Name}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="DocumentDate" name="Date" class="form-control" autocomplete="off" placeholder="Tarih" value="@(Model.Filters.Date != null ? Model.Filters.Date?.ToString("yyyy-MM-dd") : "")">
            </div>

            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
            </div>
        </div>

    }



    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">




                <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-10 mg-lg-b-10 rounded">
                    <div class="d-flex align-items-center pd-x-20 mg-r-auto">

                        <span class="tx-15 pd-r-10">
                            @(Model.SelectedDate.ToLongDateString())
                            @*@(Html.Raw($"<span clas='text-success'>{Model.StatusCount.CountStatus1}</span> | <span>{Model.StatusCount.CountStatus2}</span> | <span>{Model.StatusCount.CountStatus3}</span>  | <span>{Model.StatusCount.CountStatus4}</span>   | <span>{Model.StatusCount.CountStatus5}</span>  | <span>{Model.StatusCount.CountStatus6}</span>  | <span>{Model.StatusCount.CountStatus7}</span>   "))*@
                        </span>
                    </div>

                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Bank/BankTransfer?Date=@(Model.PrevDate.ToString("yyyy-MM-dd"))" class="link-03" title="Bir Önceki Hafta"><i data-feather="arrow-left"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Bank/BankTransfer?Date=@(DateTime.Now.ToString("yyyy-MM-dd"))" class="link-03" title="Bu Hafta"><i data-feather="target"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Bank/BankTransfer?Date=@(Model.NextDate.ToString("yyyy-MM-dd"))" class="link-03" title="Bir Sonraki Hafta"><i data-feather="arrow-right"></i></a>
                    </div>

                </div>

                <div class="card mg-b-20 mg-lg-b-25">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">@(Model.DocumentBankTransfers.Count > 0 ? $"{Model.DocumentBankTransfers.Count} Adet Kayıt Bulundu":"Kayıt Bulunamadı")</h6>
                        <nav class="nav">
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body pd-0">
                        <div class="table" id="bankList">
                            <table class="table table-striped table-hover tx-13 tx-nowrap mg-b-0">
                                <thead class="">
                                    <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
                                        <th>Tarih</th>
                                        <th>Belge No</th>
                                        <th>Durum</th>
                                        <th>Lokasyon</th>
                                        <th>Bu Hesaba</th>
                                        <th>Referans</th>
                                        <th>Tahsilat</th>
                                        <th>Komisyon</th>
                                        <th></th>
                                        <th>Kaydeden</th>
                                        <th>Fiş Nr. / Tarihi</th>
                                        <th>Döküman</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.DocumentBankTransfers.Where(x => x.StatusID != 5).OrderByDescending(x => x.RecordDate))
                                    {
                                        <tr style='@(item.IsActive == false ? "color: red" : "")'>

                                            <td class="tx-sm-13"><a href="@($"/Bank/BankTransfer?Date={item.Date?.ToString("yyyy-MM-dd")}")">@(item.Date?.ToString("dd.MM.yyyy"))</a></td>
                                            <td class="tx-sm-13"><a href="@("/Cash/TransferDetail/" + @item.UID)" target="_blank" class="font-weight-bold">@item.DocumentNumber</a></td>
                                            <td class="tx-sm-13">@item.StatusName</td>
                                            <td class="tx-sm-13"><a href="@($"/Bank/BankTransfer?Date={item.Date?.ToString("yyyy-MM-dd")}&&LocationID={item.LocationID}")">@(item.LocationFullName)</a></td>
                                            <td class="tx-sm-13">@item.BankAccountName </td>
                                            <td class="tx-sm-13 text-right text-indigo font-weight-bold">@item.ReferenceCode</td>
                                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Amount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Commission?.ToString("N2"))</td>
                                            <td class="tx-sm-13">@(item.Currency)</td>
                                            <td class="tx-sm-13">@(item.RecorderFullName)<br />@item.RecordDate</td>
                                            <td class="tx-sm-13">@(item.SlipNumber) <br />@($"{item.SlipDate?.ToShortDateString()} {item.SlipDate?.ToString("HH:mm:ss")}")</td>
                                            <td>
                                                @if (item.SlipDocument != null)
                                                {
                                                    <a href="@(string.Format("../Document/Bank/{0}",item.SlipDocument))" target="_blank">
                                                        <img src="@(string.Format("../Document/Bank/{0}",item.SlipDocument))" class="img-fluid img-thumbnail" width="64">
                                                    </a>
                                                }
                                            </td>


                                            <td class="tx-sm-13 text-right">
                                                @if (Model.Authentication.ActionEmployee.RoleGroup.RoleLevel >= 3)
                                                {
                                                    <div class="dropup mg-b-15 mg-sm-b-0 mg-sm-r-auto">
                                                        <button type="button" class="btn btn-block bd bd-gray-300" data-toggle="dropdown" aria-expanded="false">Durum Değiştir <i class="icon ion-ios-arrow-up mg-l-5"></i></button>

                                                        <div class="dropdown-menu tx-13" style="">
                                                            @foreach (var status in Model.BankTransferStatus.OrderBy(x => x.LevelNumber))
                                                            {
                                                                <a href="javascript:;" onclick="ChangeStatus('@(item.UID)',@(status.ID))" class="dropdown-item @(status.ID < item.StatusID ? "text-secondary": status.ID == item.StatusID ? "font-weight-bold" : "text-primary font-weight-bold")">@(status.StatusName)</a>
                                                            }
                                                        </div>

                                                    </div>
                                                }

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tbody class="">
                                    @foreach (var item in Model.StatusCounts)
                                    {
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>@(item.StatusName)</th>
                                            <th></th>
                                            <th></th>
                                            <th class="tx-sm-13 text-right font-weight-bold">@(item.Count)</th>
                                            <th class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Amount.ToString("N2"))</th>
                                            <th class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Commission.ToString("N2"))</th>
                                            <th>@(item.Currency)</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    }

                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Toplam</th>
                                        <th></th>
                                        <th></th>
                                        <th class="tx-sm-13 text-right font-weight-bold">@(Model.StatusCounts.Sum(x=> x.Count))</th>
                                        <th class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.StatusCounts.Sum(x => x.Amount).ToString("N2"))</th>
                                        <th class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.StatusCounts.Sum(x => x.Commission).ToString("N2"))</th>
                                        <th>@(Model.StatusCounts.FirstOrDefault().Currency)</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tbody>
                                <tfoot>
                              

                                    @foreach (var item in Model.DocumentBankTransfers.Where(x => x.StatusID == 5).OrderByDescending(x => x.RecordDate))
                                    {
                                        <tr style='@(item.IsActive == false ? "color: red" : "")'>

                                            <td class="tx-sm-13"><a href="@($"/Bank/BankTransfer?Date={item.Date?.ToString("yyyy-MM-dd")}")">@(item.Date?.ToString("dd.MM.yyyy"))</a></td>
                                            <td class="tx-sm-13"><a href="@("/Cash/TransferDetail/" + @item.UID)" target="_blank" class="font-weight-bold">@item.DocumentNumber</a></td>
                                            <td class="tx-sm-13">@item.StatusName</td>
                                            <td class="tx-sm-13"><a href="@($"/Bank/BankTransfer?Date={item.Date?.ToString("yyyy-MM-dd")}&&LocationID={item.LocationID}")">@(item.LocationFullName)</a></td>
                                            <td class="tx-sm-13">@item.BankAccountName </td>
                                            <td class="tx-sm-13 text-right text-indigo font-weight-bold">@item.ReferenceCode</td>
                                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Amount?.ToString("N2"))</td>
                                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Commission?.ToString("N2"))</td>
                                            <td class="tx-sm-13">@(item.Currency)</td>
                                            <td class="tx-sm-13">@(item.RecorderFullName)<br />@item.RecordDate</td>
                                            <td class="tx-sm-13">@(item.SlipNumber) <br />@($"{item.SlipDate?.ToShortDateString()} {item.SlipDate?.ToString("HH:mm:ss")}")</td>
                                            <td>
                                                @if (item.SlipDocument != null)
                                                {
                                                    <a href="@(string.Format("../Document/Bank/{0}",item.SlipDocument))" target="_blank">
                                                        <img src="@(string.Format("../Document/Bank/{0}",item.SlipDocument))" class="img-fluid img-thumbnail" width="64">
                                                    </a>
                                                }
                                            </td>


                                            <td class="tx-sm-13 text-right">
                                                @if (Model.Authentication.ActionEmployee.RoleGroup.RoleLevel >= 3)
                                                {
                                                    <div class="dropup mg-b-15 mg-sm-b-0 mg-sm-r-auto">
                                                        <button type="button" class="btn btn-block bd bd-gray-300" data-toggle="dropdown" aria-expanded="false">Durum Değiştir <i class="icon ion-ios-arrow-up mg-l-5"></i></button>

                                                        <div class="dropdown-menu tx-13" style="">
                                                            @foreach (var status in Model.BankTransferStatus.OrderBy(x => x.LevelNumber))
                                                            {
                                                                <a href="javascript:;" onclick="ChangeStatus('@(item.UID)',@(status.ID))" class="dropdown-item @(status.ID < item.StatusID ? "text-secondary": status.ID == item.StatusID ? "font-weight-bold" : "text-primary font-weight-bold")">@(status.StatusName)</a>
                                                            }
                                                        </div>

                                                    </div>
                                                }

                                            </td>
                                        </tr>
                                    }

                               
                                </tfoot>
                            </table>

                        </div>
                    </div>


                    <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
                        <nav class="nav nav-with-icon tx-13">
                            <a href="/Schedule/ExportToExcel" class="nav-link"><i data-feather="download"></i> Excel Olarak İndir</a>
                        </nav>
                    </div><!-- card-footer -->
                </div>



            </div>

        </div>
    </div>
</div>


@section scripts {

    <script src="/assets/js/confirm.js"></script>

    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");


            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Arama Seçenekleri',
                allowClear: true
            });

            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });


        });


        function ChangeStatus(uid, statusId) {

            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                title: 'Emin misiniz?',
                content: 'Bu işlemin durumunu değiştirmek istediğinize emin misiniz??',
                buttons: {
                    succes: {
                        text: 'Evet',
                        btnClass: 'btn-yes',
                        action: function () {

                            window.location = '/Bank/ChangeTransferStatus?UID=' + uid + '&StatusID=' + statusId;
                            //$.ajax({
                            //    method: "GET",
                            //    url: "/Bank/ChangeTransferStatus",
                            //    data: { UID: uid, StatusID =  statusId}
                            //}).done(function (d) {
                            //    $("#BasketContent").html(d);
                            //});
                        }
                    },
                    danger: {
                        text: 'Hayır',
                        btnClass: 'btn-no',
                        action: function () {
                            console.log('no');
                        }
                    },
                }
            });





        };


    </script>




    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

