@model DayResultControlModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="card-transactions">
                    <div class="table-responsive" style="border-radius:6px;">
                        <table cellpadding="0" cellspacing="0" class="calendar-overtime">
                            <thead>
                                <tr>
                                    <td colspan="6" style="background-color: #dceafb; color: #6F93C5; font-size: 20px; text-align: left; "> Lokasyon Takvim ve Mesaisi</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>Açılış</th>
                                    <th>Kapanış</th>
                                    <th>Süre</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr>
                                <td style="text-align:left;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z" /></svg></td>
                                <td style="font-size:20px;">@(Model.Schedule?.DateStart.ToShortTimeString())</td>
                                <td style="font-size:20px;">@(Model.Schedule?.DateEnd?.ToShortTimeString())</td>
                                <td style="font-size:20px;">@(Model.Schedule?.Duration?.ToString(@"hh\:mm"))</td>
                                <td></td>
                                <td style="text-align:right;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#27ae60"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" /></svg>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:left;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79zM1 10.5h3v2H1zM11 .55h2V3.5h-2zm8.04 2.495l1.408 1.407-1.79 1.79-1.407-1.408zm-1.8 15.115l1.79 1.8 1.41-1.41-1.8-1.79zM20 10.5h3v2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm0 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-1 4h2v2.95h-2zm-7.45-.96l1.41 1.41 1.79-1.8-1.41-1.41z" /></svg></td>
                                <td style="font-size:20px;" class="color-green">@(Model.Shift?.DateStart.ToString("HH\\:mm"))</td>
                                <td style="font-size:20px;" class="color-green">@(Model.Shift?.DateEnd?.ToString("HH\\:mm"))</td>
                                <td style="font-size:20px;" class="color-green">@(Model.Shift?.Duration?.ToString(@"hh\:mm"))</td>
                                <td></td>
                                <td style="text-align:right;">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#c0392b"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" /></svg>
                                </td>

                            </tr>
                        </table>
                    </div>

                    <div class="table-responsive" style="border-radius:6px;">
                        <table cellpadding="0" cellspacing="0" class="calendar-overtime">
                            <thead>
                                <tr>
                                    <th colspan="4" style="background-color: #dceafb; color: #6F93C5; font-size: 20px; text-align: left; "> Çalışanlar Mesai ve Hakedişler</th>
                                    <th colspan="3" style="background-color: #dceafb; color: #6F93C5; font-size: 20px; text-align: right; ">
                                        <a href="/DayResult/CalculateSalary" class="font-weight-bold pl-2" title="Mesai ve Hakediş Hesapla">
                                            Hesapla
                                        </a>
                                    </th>
                                </tr>
                                <tr>
                                    <th>Çalışan</th>
                                    <th></th>
                                    <th>Başlama</th>
                                    <th>Bitiş</th>
                                    <th>Süre</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model.Employees.Where(x => x.IsScheduled == true))
                            {
                                var shiftModel = Model.EmployeeShifts.FirstOrDefault(x => x.EmployeeID == item.EmployeeID);
                                <tr>
                                    <td rowspan="2" style="text-align:left; font-size:16px;">@(item.EmployeeFullname)</td>
                                    <td style="text-align:left;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M7 11h2v2H7v-2zm14-5v14c0 1.1-.9 2-2 2H5c-1.11 0-2-.9-2-2l.01-14c0-1.1.88-2 1.99-2h1V2h2v2h8V2h2v2h1c1.1 0 2 .9 2 2zM5 8h14V6H5v2zm14 12V10H5v10h14zm-4-7h2v-2h-2v2zm-4 0h2v-2h-2v2z" /></svg></td>
                                    <td style="font-size: 20px;">@(shiftModel?.ScheduleDateStart?.ToString("HH\\:mm"))</td>
                                    <td style="font-size: 20px;">@(shiftModel?.ScheduleDateEnd?.ToString("HH\\:mm"))</td>
                                    <td style="font-size: 20px;">@(shiftModel?.ScheduleDuration?.ToString(@"hh\:mm"))</td>
                                    <td></td>
                                    <td style="text-align:right;">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#27ae60"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm4.59-12.42L10 14.17l-2.59-2.58L6 13l4 4 8-8z" /></svg>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align:left;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M6.76 4.84l-1.8-1.79-1.41 1.41 1.79 1.79zM1 10.5h3v2H1zM11 .55h2V3.5h-2zm8.04 2.495l1.408 1.407-1.79 1.79-1.407-1.408zm-1.8 15.115l1.79 1.8 1.41-1.41-1.8-1.79zM20 10.5h3v2h-3zm-8-5c-3.31 0-6 2.69-6 6s2.69 6 6 6 6-2.69 6-6-2.69-6-6-6zm0 10c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm-1 4h2v2.95h-2zm-7.45-.96l1.41 1.41 1.79-1.8-1.41-1.41z" /></svg></td>
                                    <td style="font-size: 20px;">@(shiftModel?.ShiftDateStart?.ToString("HH\\:mm"))</td>
                                    <td style="font-size: 20px;">@(shiftModel?.ShiftDateEnd?.ToString("HH\\:mm"))</td>
                                    <td style="font-size: 20px;">@(shiftModel?.ShiftDuration?.ToString(@"hh\:mm"))</td>
                                    <td></td>
                                    <td style="text-align:right;">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 0 24 24" width="30px" fill="#c0392b"><path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" /></svg>
                                    </td>
                                </tr>



                                @*<tr>
                                        <td class="bg-body p-1 pl-3">Birimi - Hakedişi</td>
                                        <td class="p-1 text-right">@(item.UnitPrice?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                        <th class="p-1 text-right">@(item.TotalAmount?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</th>
                                    </tr>
                                    <tr>
                                        <td class="bg-body p-1 pl-3">Setcard - Maaş</td>
                                        <td class="p-1 text-right">@(item.TotalAmountFood?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                        <td class="p-1 text-right">@(item.TotalAmountSalary?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                    </tr>*@
                            }
                        </table>
                    </div>

                    <div class="table-responsive" style="border-radius:6px;">
                        <table cellpadding="0" cellspacing="0" class="tickets-sales-cash">
                            <thead>
                                <tr>
                                    <td colspan="7" class="bg-cash" style="color: #14bae4; font-size: 20px; text-align: left; ">Bilet Satış</td>
                                </tr>
                                <tr>
                                    <th class="bg-cash">Bilet - Dk</th>
                                    <th class="bg-cash" style="text-align:right">Fiyat</th>
                                    <th class="bg-cash" style="text-align:right">Ad.</th>
                                    <th class="bg-cash" style="text-align:right">Satış</th>
                                    <th class="bg-cash" style="text-align:right">İptal</th>
                                    <th class="bg-cash" style="text-align:right">İade</th>
                                    <th class="bg-cash" style="text-align:right">Satış(₺)</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model.Prices.OrderBy(x => x.Unit).ToList())
                            {
                                var saletotal = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && (new List<int> { 3, 4, 5 }).Contains(x.PosStatusID.Value)).ToList();
                                var sale = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && x.PosStatusID == 3).ToList();
                                var cancel = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && x.PosStatusID == 4).ToList();
                                var refund = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && x.PosStatusID == 5).ToList();

                                <tr>
                                    <td>@(item.ProductName) <br />@(item.Unit) Dk.</td>
                                    <td style="text-align:right">@(item.Price?.ToString("N2")) ₺</td>
                                    <th class="color-cash font-bold" style="text-align:right">@(saletotal.Sum(x=> x.Quantity))</th>
                                    <th class="color-cash font-bold" style="text-align:right">@(sale.Sum(x=> x.Quantity))</th>
                                    <th class="color-cash font-bold" style="text-align:right">@(cancel.Sum(x=> x.Quantity))</th>
                                    <th class="color-cash font-bold" style="text-align:right">@(refund.Sum(x=> x.Quantity))</th>
                                    <th class="font-bold" style="text-align:right">@((sale.Sum(x => x.Total))?.ToString("N2") ) ₺</th>
                                </tr>
                            }
                            <tr>
                                <td class="color-cash font-bold" colspan="6"></td>
                                <td class="font-bold">@((Model.TicketSaleRowSummary.Where(x=> x.PosStatusID == 3).Sum(x => x.Total))?.ToString("N2")) ₺</td>
                            </tr>
                        </table>

                        <table cellpadding="0" cellspacing="0" class="tickets-sales-total">
                            <tr>
                                <td style="text-align:left;">Tahsilat</td>
                                <td class="color-cash" style="text-align:right;">Nakit</td>
                                <td class="color-credit" style="text-align:right;">Kart</td>
                                <td class="font-bold" style="text-align:right;">Toplam</td>
                            </tr>
                            <tr>
                                <th style="text-align:left;">Fiş</th>
                                <th class="font-bold" style="text-align:right;">@(Model.TicketSalePaymentSummary.Where(x => x.PaymentType == 1 && x.PosStatusID == 3).Sum(x => x.PaymentAmount)?.ToString("N2")) ₺</th>
                                <th class="font-bold" style="text-align:right;">@(Model.TicketSalePaymentSummary.Where(x => x.PaymentType == 4 && x.PosStatusID == 3).Sum(x => x.PaymentAmount)?.ToString("N2")) ₺</th>
                                <th class="font-bold" style="text-align:right;">@(Model.TicketSalePaymentSummary.Where(x => x.PosStatusID == 3).Sum(x => x.PaymentAmount)?.ToString("N2")) ₺</th>
                            </tr>
                            <tr>
                                <th style="text-align:left;">Kasa</th>
                                <th class="font-bold" style="text-align:right;">@((Model.CashActions.Sum(x => x.Amount) ?? 0).ToString("N2")) ₺</th>
                                <th class="font-bold" style="text-align:right;">@((Model.BankActions.Sum(x => x.Amount) ?? 0).ToString("N2")) ₺</th>
                                <th class="font-bold" style="text-align:right;">@(((Model.CashActions.Sum(x => x.Amount) ?? 0) + (Model.BankActions.Sum(x => x.Amount) ?? 0 )).ToString("N2")) ₺</th>
                            </tr>
                        </table>
                    </div>



                    <div class="head">
                        <h1>Z Raporu</h1>
                        <span class="flex"></span>
                        <div style="margin-right:10px;">
                            <a href="javascript:;" class="font-weight-bold pl-2" title="Add Cash Collect" data-toggle="modal" data-target="#modalcashrecorder">
                                Ekle
                            </a>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" class="z-report">
                            <tr>
                                <td class="font-bold">No</td>
                                <td class="font-bold">Tarih</td>
                                <td class="font-bold">Tutar</td>
                                <td class="font-bold"></td>
                            </tr>
                            @foreach (var item in Model.CashRecordSlip)
                            {
                                <tr>
                                    <td><a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalcashrecorderedit" onclick="GetCashRecorderModal(@(item.ID))">@(item.DocumentNumber)</a></td>
                                    <td>@(item.Date?.ToShortDateString())</td>
                                    <td class="@(item.IsActive == false ? "text-muted":"text-dark") font-weight-bold pr-0"><b>@(item.CashAmount?.ToString("N2"))</b></td>
                                    <td> @(item.Currency == "TRL" ? "₺" : item.Currency == "USD" ? "$":"€")</td>
                                </tr>
                            }
                        </table>
                    </div>


                    <div class="head">
                        <h1>Gün Sonu Zarfı</h1>
                    </div>
                    <div class="daily-end-adverb-form">

                        @using (Html.BeginForm("AddResultDocument", "DayResult", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-4">
                                        <input id="ResultFile" name="ResultFile" class="form-control" type="file" style="width:100%;" />
                                        <input id="DayResultID" name="DayResultID" type="hidden" value="@(Model.CurrentDayResult.ID)" />
                                        <button type="submit" id="btn-save" class="btn btn-block bg-primary text-white input-group-btn">Ekle</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="0" cellspacing="0" class="daily-end-adverb">
                            <tr>
                                <td class="font-bold">No</td>
                                <td class="font-bold">Tarih</td>
                                <td class="font-bold">Doc</td>
                            </tr>
                            @foreach (var item in Model.ResultDocuments)
                            {
                                <tr>
                                    <td>
                                        <a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalResultDocument" onclick="GetResultDocument(@(item.ID))">@(item.ID)</a>
                                    </td>
                                    <td>@(item.Date.ToShortDateString())</td>
                                    <td class="@(item.IsActive == false ? "text-muted":"text-dark")">
                                        <b>
                                            <a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalResultDocument" onclick="GetResultDocument(@(item.ID))">Detay</a>
                                        </b>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>


                    <div class="head">
                        <h1>Gün Sonu Kapama</h1>
                    </div>
                    @using (Html.BeginForm("SetResultState", "DayResult", FormMethod.Post))
                    {
                        <div class="daily-end-close-form">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col col-4">
                                        <label>Durum</label>
                                        <input name="DayresultID" type="hidden" value="@(Model.CurrentDayResult.ID)" />
                                    </div>
                                    <div class="col col-8">
                                        <select class="form-control" name="StateID" required>
                                            @foreach (var item in Model.ResultStates)
                                            {
                                                <option value="@item.StateID" @(item.StateID == Model.CurrentDayResult.StateID ? "selected" : "")>@(Html.Raw($"{item.StateName}"))</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea id="ResultDescription" name="Description" class="form-control" rows="4" style="width:100%">@(Model.CurrentDayResult?.Description)</textarea>
                            </div>
                            <div class="form-group">
                                @if (Model?.Shift != null && Model?.Shift?.Duration != null)
                                {
                                    <button id="btnResultStateSubmit" type="submit">Durumu Onayla</button>
                                }
                                else
                                {
                                    <button id="btnResultStateSubmit" type="button">Lokasyon Kapanmalıdır</button>

                                }
                            </div>
                        </div>
                    }
                </div>
            </div><!-- content -->
            <div class="fixed-footer">
                <div class="container">
                    <div class="footer-up">
                        <div class="clean clean-2">
                            <a href="/Cash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="87.52" height="65.64" viewBox="0 0 87.52 65.64">
                                    <path d="M80.227,3h-54.7a6.864,6.864,0,0,0-5.8,3.209L0,35.82,19.728,65.394a6.9,6.9,0,0,0,5.8,3.246h54.7a7.315,7.315,0,0,0,7.293-7.293V10.293A7.315,7.315,0,0,0,80.227,3Zm0,58.347H25.782L8.752,35.82,25.745,10.293H80.227ZM37.962,54.053,51.053,40.962,64.145,54.053l5.142-5.142L56.2,35.82,69.287,22.728l-5.142-5.142L51.053,30.678,37.962,17.587,32.82,22.728,45.912,35.82,32.82,48.912Z" transform="translate(0 -3)" fill="currentColor" />
                                </svg>
                                <!-- clean -->
                                <span>GERİ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- fixed-footer -->
        </div>
    </div><!-- main -->



    <div id="modalcashrecorder" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"><div class="modal-title font-weight-500 text-dark">Cash Payment</div><button class="close" data-dismiss="modal">×</button></div>
                <div class="modal-body form mt-0 mb-0 pb-4 pt-4">
                    @using (Html.BeginForm("AddCashRecordSlip", "DayResult", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                    {
                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label pr-0">ZRapor No</label>
                            <div class="col-8">
                                <input id="ReceiptNumber" type="text" name="ReceiptNumber" class="form-control font-weight-bold" required />
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label">Fiş Tarihi</label>
                            <div class="col-8">
                                <input id="ReceiptDate" name="ReceiptDate" type="date" class="form-control font-weight-bold" placeholder="Date" value="@(Model.DocumentDate.ToString("yyyy-MM-dd"))" required>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label">Fiş Saati</label>
                            <div class="col-8">
                                <input id="ReceiptTime" name="ReceiptTime" type="time" class="form-control font-weight-bold" step="1" placeholder="Time" value="@(Model.DocumentDate.ToString("HH\\:mm\\:ss"))" required>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label">Nakit</label>
                            <div class="col-8">
                                <input id="CashAmount" name="CashAmount" type="text" class="form-control font-weight-bold text-right money" onkeyup="SumCashRecorder()" placeholder="0,00" required>
                            </div>
                        </div>
                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label">Kredi</label>
                            <div class="col-8">
                                <input id="CreditAmount" name="CreditAmount" type="text" class="form-control font-weight-bold text-right money" onkeyup="SumCashRecorder()" placeholder="0,00" required>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label pr-0">Fiş Tutarı</label>
                            <div class="col-8">
                                <input id="NetAmount" name="NetAmount" type="text" class="form-control font-weight-bold text-right money" placeholder="0,00" required>
                            </div>
                        </div>

                        <div class="form-group row mb-1">
                            <label class="col-4 col-form-label pr-0">Genel Tutar</label>
                            <div class="col-8">
                                <input id="TotalAmount" name="TotalAmount" type="text" class="form-control font-weight-bold text-right money" placeholder="0,00" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input id="ReceiptFile" name="ReceiptFile" class="form-control" type="file" style="width:100%;" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-4 col-form-label"></label>
                            <div class="col-8">
                                <button type="submit" id="btn-save" class="btn btn-block btn-rounded btn-primary">Kaydet</button>
                            </div>
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

    <div id="modalcashrecorderedit" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"><div class="modal-title">Cash Recorder Slip</div><button class="close" data-dismiss="modal">×</button></div>
                <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                    <div class="p-0" id="modalcashContent">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-rounded btn-light text-info" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>

    <div id="modalResultDocument" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header"><div class="modal-title">Envelope File</div><button class="close" data-dismiss="modal">×</button></div>
                <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                    <div class="p-0" id="modalResultDocumentContent">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-rounded btn-light text-info" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>




















    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/modal.js"></script>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/jquery.mask.js"></script>
    <script>

        $(function () {


            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });
            $(document).ready(function () {
                $('.piece-options .minus').click(function () {
                    var $input = $(this).parent().find('input');
                    var count = parseInt($input.val()) - 1;
                    count = count < 1 ? 1 : count;
                    $input.val(count);
                    $input.change();
                    return false;
                });
                $('.piece-options .plus').click(function () {
                    var $input = $(this).parent().find('input');
                    $input.val(parseInt($input.val()) + 1);
                    $input.change();
                    return false;
                });
            });





        });

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.postcode').mask('00000-000');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });


        function SumCashRecorder() {

            var cashamount = $("#CashAmount").val().replace('.', '').replace(',', '.');
            var creditamount = $("#CreditAmount").val().replace('.', '').replace(',', '.');

            var rate = parseFloat(cashamount) + parseFloat(creditamount) || 0.00;

            $("#NetAmount").val(rate.toFixed(2).replace('.', ',').toString());
        };

        function GetCashRecorderModal(id) {

            $("#modalcashContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/DayResult/GetCashRecorder",
                data: { ID: id }
            }).done(function (d) {
                $("#modalcashContent").html(d);
            });
        };


        function GetResultDocument(id) {

            $("#modalResultDocumentContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/DayResult/GetResultDocument",
                data: { ID: id }
            }).done(function (d) {
                $("#modalResultDocumentContent").html(d);
            });
        };
    </script>
    <script src="/assets/notie/dist/notie.min.js"></script>
    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
                $(function () {
                    notie.setOptions({
                        alertTime: 5
                    })
                    notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                    noticed = true;
                });
        </script>
    }
</body>
</html>
