@model EmployeeShiftModel
@{


    var employeeschedule = Model.EmployeeSchedule;
    var employeeshift = Model.EmployeeShift;
    var employeebreak = Model.EmployeeBreaks;
    var employeebreakcurrent = Model.EmployeeBreaks.FirstOrDefault(x => x.LocationID == Model.Location.LocationID && x.EmployeeID == Model.Employee.EmployeeID && x.BreakDurationMinute == null);



    <tr class="@(employeeshift != null && employeeshift.DurationMinute == null ? "table-info":"table-warning")" id="@($"EmployeeStatus_{Model.Location.LocationID}_{Model.Employee.EmployeeID}_2")">
        <td class="wd-300 tx-sm-13 font-weight-bold">@Model.Employee.FullName</td>
        <td class="wd-md-120 @(employeeshift != null && employeeshift.DurationMinute == null ? "bg-info":"bg-warning") text-center" onclick="ss()" style="padding:2px !important;">@(employeeschedule != null ? employeeschedule?.ShiftDateStart?.ToString("HH\\:mm") : "") @(employeeschedule?.ShiftdateEnd != null ? " - " + employeeschedule?.ShiftdateEnd?.ToString("HH\\:mm") : "")</td>
        <td class="wd-md-120 text-center" style="padding:4px !important;">@(employeeshift != null ? employeeshift?.ShiftDateStart?.ToString("HH\\:mm") : "") @(employeeshift?.ShiftDateEnd != null ? " - " + employeeshift?.ShiftDateEnd?.ToString("HH\\:mm") : "")</td>
        <td class="bd-l wd-150">@(employeebreak.Count()) | @(employeebreak.Sum(x => x.BreakDurationMinute)) | @(employeebreak.Average(x => x.BreakDurationMinute)?.ToString("N2"))</td>
        <td class="tx-sm-10 text-right">@(employeebreakcurrent != null ? Html.Raw("<i data-feather='coffee'></i>") : employeeshift != null && employeeshift.DurationMinute == null ? Html.Raw("<i data-feather='watch'></i>") : employeeshift != null && employeeshift.DurationMinute != null ? Html.Raw("<i data-feather='cloud'></i>") : Html.Raw("") )</td>
    </tr>

}