<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Tarih</th>
            <th>Belge No</th>
            <th>Lokasyon</th>
            <th>Kasa</th>
            <th>İşlem</th>
            <th>Bu Hesaptan</th>
            <th>Ödeme Yöntemi</th>
            <th>Adet</th>
            <th>Tahsilat</th>
            <th>Para Br.</th>
            <th>Kaydeden</th>
            <th>Kayıt Tarihi</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.CashSales)
        {
            <tr style='@(item.IsActive == false ? "color: red" : "")'>

                <td class="tx-sm-13 bold">@item.ID</td>
                <td class="tx-sm-13">@item.Date</td>
                <td class="tx-sm-13"><a href="@("/Cash/SaleDetail/" + @item.UID)">@item.DocumentNumber</a></td>
                <td class="tx-sm-13">@item.LocationFullName</td>
                <td class="tx-sm-13">@item.CashName</td>
                <td class="tx-sm-13">@item.ActionTypeName</td>
                <td class="tx-sm-13">@item.CustomerFullName</td>
                <td class="tx-sm-13">@(item.PayMethodName)</td>
                <td class="tx-sm-13">@item.Quantity</td>
                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Amount?.ToString("N2"))</td>
                <td class="tx-sm-13">@(item.Currency)</td>
                <td class="tx-sm-13">@item.RecorderFullName</td>
                <td class="tx-sm-13">@item.RecordDate</td>

            </tr>
        }

    </tbody>
</table>
