@model CashControlModel
@{
    ViewBag.Title = "Kasa Tahsilat";
}

@section style{
    <style type="text/css">
        .form-group {
            margin-bottom: 8px;
        }
    </style>
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Kasa Açılış Fişi Detay</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Kasa Nakit İşlemleri</li>
                            </ol>
                        </nav>
                        <h4 class="mg-b-0 tx-spacing--1">Kasa Açılış Fişi Detayı</h4>
                    </div>
                    <div class="d-none d-md-block">
                        @{Html.RenderPartial("_PartialAddCashMenu");}
                    </div>
                </div>


                @using (Html.BeginForm("EditCashOpen", "Cash", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row row-xs">
                        <div class="col-lg-6">
                            <div class="card mg-b-20 mg-lg-b-25">
                                <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                                    @*<h6 class="tx-uppercase tx-semibold mg-b-0">@(Html.Raw($"{Model.OpenDetail.ActionName}"))</h6>*@
                                    <input id="ActinTypeID" name="ActinTypeID" type="hidden" value="26" />
                                    <input id="UID" name="UID" type="hidden" value="@(Model.OpenDetail.UID)" />
                                    <nav class="nav">
                                        <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">@(Model.OpenDetail.Date.Value.ToLongDateString())</span></a>
                                    </nav>
                                </div><!-- card-header -->
                                <div class="card-body pd-20">
                                    <form>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Kasa Tipi</label>
                                            <div class="col-sm-9">
                                                <span class="text-danger">@Model.OpenDetail.ActionTypeName</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Kasa</label>
                                            <div class="col-sm-9">
                                                <span class="text-danger">@Model.OpenDetail.CashName</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Döküman Nr</label>
                                            <div class="col-sm-9">
                                                <span class="text-danger">@Model.OpenDetail.DocumentNumber</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Tarih</label>
                                            <div class="col-sm-9">
                                                <input id="DocumentDate" name="DocumentDate" type="text" class="form-control shiftdate" autocomplete="off" placeholder="Tarih" value="@(Model.OpenDetail.Date.Value.ToString("yyyy-MM-dd"))" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Lokasyon</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="LocationID" name="LocationID" required>
                                                    @foreach (var item in Model.LocationList)
                                                    {
                                                        <option value="@item.LocationID" @(Model.OpenDetail.LocationID == item.LocationID ? "selected" : "")>@($"{item.SortBy}  {item.LocationName} {item.State} {item.Description}" )</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Tutar</label>
                                            <div class="col-sm-9">
                                                <input id="Amount" name="Amount" type="text" class="form-control money" autocomplete="off" value="@(Model.OpenDetail.Amount?.ToString("N2"))" placeholder="Tutar" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Para Birimi</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" id="Currency" name="Currency" required>
                                                    @foreach (var item in Model.CurrencyList)
                                                    {
                                                        <option value="@item.Code" @(Model.OpenDetail.Currency == item.Code ? "selected" : "")>@($"{item.Code} ({item.Sign})")</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Döviz Kuru</label>
                                            <div class="col-sm-9">
                                                <input id="ExchangeRate" name="ExchangeRate" type="text" class="form-control money4" autocomplete="off" placeholder="Döviz Kuru">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Kur</label>
                                            <div class="col-sm-9">
                                                <input id="Exchange" name="Exchange" type="text" class="form-control money4" autocomplete="off" value="@(Model.OpenDetail.ExchangeRate?.ToString("N4"))" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Döviz Tutarı</label>
                                            <div class="col-sm-3">
                                                <span class="text-danger">@($"{Model.OpenDetail.SystemAmount?.ToString("N4")} {Model.OpenDetail.SystemCurrency}")</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputPassword3" class="col-sm-3 col-form-label">Açıklama</label>
                                            <div class="col-sm-9">
                                                <textarea id="Description" name="Description" rows="4" class="form-control" value="@Model.OpenDetail.Description" placeholder="Açıklama"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-3">Active?</div>
                                            <div class="col-sm-9">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" value="@Model.OpenDetail.IsActive" checked="@Model.OpenDetail.IsActive" class="custom-control-input">
                                                    <label class="custom-control-label">Aktif mi?</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-3 col-form-label">Referans ID</label>
                                            <div class="col-sm-9">
                                                <input id="ReferenceID" name="ReferenceID" type="text" class="form-control" autocomplete="off" value="@Model.OpenDetail.ReferenceID" placeholder="Referans ID">
                                            </div>
                                        </div>
                                        <div class="form-group row mg-b-0">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-9">
                                                @if (Model.OpenDetail.IsActive == true)
                                                {
                                                    <button class="btn btn-primary btn-block">Tahsilat Güncelle</button>
                                                }

                                            </div>
                                        </div>


                                    </form>
                                </div>
                                <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
                                    <nav class="nav nav-with-icon tx-13">
                                        <a href="" class="nav-link"><i data-feather="save"></i> <strong>İlk Kayıt : </strong></a>
                                        <a href="" class="nav-link"><i data-feather="user-plus"></i> @(Html.Raw($"{Model.OpenDetail.RecorderFullName}"))</a>
                                        <a href="" class="nav-link"><i data-feather="calendar"></i> @(Html.Raw($"{Model.OpenDetail.RecordDate.Value.ToLongDateString()}"))</a>
                                        <a href="" class="nav-link"><span>|</span></a>
                                        <a href="" class="nav-link"><i data-feather="edit"></i> <strong>Güncelleyen : </strong></a>
                                        <a href="" class="nav-link"><i data-feather="user-check"></i> @(Html.Raw($"{Model.OpenDetail.UpdaterFullName}"))</a>
                                        <a href="" class="nav-link"><i data-feather="calendar"></i> @(Model.OpenDetail.UpdateDate != null ? Html.Raw($"{Model.OpenDetail.UpdateDate.Value.ToLongDateString()}") : Html.Raw($""))</a>
                                    </nav>
                                </div><!-- card-footer -->
                            </div><!-- card -->
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header pd-b-0 pd-x-20 bd-b-0">
                                    <div class="d-sm-flex align-items-center justify-content-between">
                                        @*<h6 class="mg-b-0">@(Model.OpenDetail.ActionName)</h6>*@
                                        <p class="tx-12 tx-color-03 mg-b-0">@(Model.OpenDetail.Date.Value.ToLongDateString())</p>
                                    </div>
                                </div><!-- card-header -->
                                <div class="card-body pd-20">
                                    <ul class="activity tx-13">

                                        @foreach (var item in Model.History)
                                        {
                                            <li class="activity-item">
                                                <div class="activity-icon @(item.ProcessType == "Insert" ? "bg-success-light tx-success": item.ProcessType == "Update" ? "bg-indigo-light tx-indigo" : "bg-pink-light tx-pink")">
                                                    <i data-feather="@(item.ProcessType == "Insert" ? "plus-circle" : item.ProcessType == "Update" ? "edit" : "trash-2")"></i>
                                                </div>

                                                <div class="activity-body">
                                                    <p class="mg-b-2"><strong>@item.ProcessType :</strong> @(item.ErrorMessage != "" ? Html.Raw($"<span class='text-danger'>{item.ErrorMessage}</span>") : Html.Raw($"<span class='text-black-50'>{item.ResultMessage}</span>"))</p>
                                                    @(Html.Raw($"<p class='mg - b - 2'>{item.FieldName} <strong> | </strong> {item.OldValue} <strong> | </strong> {item.NewValue} </p>"))
                                                    <small class="tx-color-03">@(Html.Raw($"{item.RecordDate.Value.ToLongDateString()} {item.RecordDate.Value.ToLongTimeString()} {item.RecordEmployee}"))</small>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section canvasmenu {
    @{Html.RenderPartial("_PartialDocumentForms", Model);}
}

@section scripts {
    <script src="/lib/cleave.js/cleave.min.js"></script>
    <script>

        $(function () {
            'use strict'
            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options'
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#dateFrom')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#dateTo').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            var cleaveC = new Cleave('#DocumentDate', {
                date: true,
                delimiter: '-',
                datePattern: ['Y', 'm', 'd'],

            });
            //var cleave = new Cleave('#Amount', {
            //    numeral: true
            //});
            //var cleave2 = new Cleave('#Exchange', {
            //    numeral: true
            //});
            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }

        });

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });



    </script>
    <script>


        $(function () {
            'use strict'

            $('.off-canvas-menu').on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $(target).addClass('show');
            });


            $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                        $('.off-canvas.show').addClass('show');
                    }
                }
            });


        });
    </script>
    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

