@model HomeControlModel
@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> {Model.Authentication?.CurrentLocation?.FullName?.ToUpper()} </span>";

}


<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="row-xs">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-info">Cash</th>
                                <th class="text-center text-warning">Credit</th>
                                <th class="text-center">Revenues</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">120,00 ₺</th>
                                <th class="text-center">100,00 ₺</th>
                                <th class="text-center">220,00 ₺</th>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="scroll-y mx-1 mb-0 card">

                <div class="row no-gutters">
                    <div class="col-md-12 b-r bg-light--lt">
                        <div class="p-2">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card p-3 mb-1">
                                        @foreach (var price in Model.PriceList)
                                        {
                                            <button class="btn btn-info btn-md btn-block btn-rounded" data-toggle="modal" data-target="#modalcash">@($"{price.Unit} Dk.")  &nbsp; &nbsp;   <span class="font-weight-bold">@(price.Price?.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency) </span>  &nbsp; &nbsp; Cash</button>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card p-3 mb-1">
                                        @foreach (var price in Model.PriceList)
                                        {
                                            <button class="btn btn-warning btn-md btn-block btn-rounded" data-toggle="modal" data-target="#modalcredit">@($"{price.Unit} Dk.") &nbsp; &nbsp;   <span class="font-weight-bold">  @(price.Price?.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency) </span>  &nbsp; &nbsp; Credit</button>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div class="table-responsive">




                                <table class="table table-theme table-hover v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">

                                    <thead>
                                        <tr class="table-light text-sm font-weight-bold">
                                            <td colspan="5" class="text-center block">@(DateTime.Now.ToLongDateString())</td>
                                        </tr>
                                        <tr class="table-light text-sm font-weight-bold">
                                            <td>Time</td>
                                            <td class="text-center">Part</td>
                                            <td>Ticket</td>
                                            <td class="text-right bg-secondary--lt">Amount</td>
                                            <td></td>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var price in Model.PriceList)
                                        {
                                            <tr class="v-middle shadow-sm">
                                                <td class="font-weight-500 text-dark text-center">10:23 </td>
                                                <td class="font-weight-light text-dark text-center">Tramboline </td>
                                                <td class="font-weight-500 text-warning text-center">@($"{price.Unit} Dk.") </td>
                                                <td class="font-weight-bolder text-dark text-right"><strong> @(price.Price?.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency)</strong></td>
                                                <td><span class="badge badge-circle text-primary"></span></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                        <tr class="v-middle shadow-sm">
                                            <td colspan="3" class="font-weight-500 text-dark text-left">Revenues</td>
                                            <td class="text-right text-dark p-1 font-weight-bold">
                                                220,00 ₺
                                            </td>
                                            <td></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6 bg-light">
                            <div class="p-2">
                                <span class="text-md"> Hesap Özeti</span>
                                <div class="table-responsive" id="Summary">
                                    @{ Html.RenderPartial("_PartialSummary", Model.Summary);}
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalcash" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title text-md">Modal title</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body"><div class="p-4 text-center"><p>Woohoo, you're reading this text in a modal!</p></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Save Cash Sale</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="modalcredit" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title text-md">Modal title</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body"><div class="p-4 text-center"><p>Woohoo, you're reading this text in a modal!</p></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Save Credit Sale</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
@section scripts {

    <script type="text/javascript">





        //function AddBasketTicket() {
        //    $.ajax({
        //        method: "GET",
        //        url: "/Default/BasketItemDetail",
        //        data: { id: itemid }
        //    }).done(function (d) {
        //        $("#BasketItemDetailContent").html(d);
        //    });
        //};



    </script>


    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
