@model HomeControlModel
@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> {Model.Authentication?.CurrentLocation?.FullName?.ToUpper()} </span>";

}


<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="javascript:;" class="btn btn-md btn-white" title="Sepeti Boşalt" onclick="return confirm('Sepeti silmek istediğinize Emin misiniz? ') ? ClearBasket():''">
                        <i class="text-primary font-weight-bold" data-feather="trash-2"></i>
                    </a>
                    <a href="/Sale" class="btn btn-md btn-white">
                        <i class="text-primary font-weight-bold" data-feather="list"></i>
                    </a>

                </div>
            </div>
            <div class="scroll-y mx-3 mb-3 card">

                <div class="row no-gutters">
                    <div class="col-md-6 b-r bg-light--lt">
                        <div class="p-2">

                            <div class="table-responsive">




                                <table class="table table-theme table-hover v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">

                                    <thead>

                                        <tr class="table-light text-sm font-weight-bold">
                                            <td>Bilet Satışı</td>
                                            <td colspan="2" class="text-center bg-info">Nakit</td>
                                            <td colspan="2" class="text-center bg-warning">Kart</td>
                                            <td colspan="2"></td>

                                        </tr>
                                        <tr class="table-light text-sm font-weight-bold">
                                            <td>Bilet</td>
                                            <td class="text-center">Satış</td>
                                            <td class="text-center">İade</td>
                                            <td class="text-center bg-warning--lt">Satış</td>
                                            <td class="text-center bg-warning-lt">İade</td>
                                            <td class="text-center">Dk.</td>
                                            <td class="text-center">@(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var price in Model.PriceList)
                                        {
                                        <tr class=" v-middle shadow-sm">
                                            <td class="font-weight-500 text-dark">@(price.ProductName)</td>
                                            <td class="text-center text-dark p-1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="CashSale@(price.ID)" value="1" style="width:16px;">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-light" type="button"><i class="text-info font-weight-bold" data-feather="plus"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-dark p-1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control text-danger" id="CashSale@(price.ID)" value="1" style="width:16px;">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-light" type="button"><i class="text-info font-weight-bold" data-feather="plus"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center p-1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="CashSale@(price.ID)" value="1" style="width:16px;">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button"><i class="text-info font-weight-bold" data-feather="plus"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center text-danger p-1">
                                                <div class="input-group">
                                                    <input type="text" class="form-control text-danger" id="CashSale@(price.ID)" value="1" style="width:16px;">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button"><i class="text-info font-weight-bold" data-feather="plus"></i></button>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-dark">@(price.Unit)</td>
                                            <td class="text-dark">@(price.Price?.ToString("N2"))</td>
                                        </tr>

                                        }


                                    </tbody>


                                </table>

                            </div>



                           
                        </div>
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="p-2">
                            <span class="text-md"> Sepet</span>
                            <span class="mr-2 float-right"><i data-feather="shopping-cart"></i></span>
                            <div class="table-responsive" id="BasketList">
                                @*@{ Html.RenderPartial("_PartialBasketList", Model);}*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="BasketItemDetail" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="BasketItemDetailContent">
        </div>
    </div>
</div>

<div id="AddBasketTicket" class="modal bg-white fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="BasketItemTicketContent">
            <div class="modal-header">
                <h5 class="modal-title">Bileti Okutunuz</h5>
                <button class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body p-2">


                <div class="input-group input-group-lg mb-3">
                    <input id="InputTicketNumber" name="TicketNumber" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" autofocus>
                    <div class="input-group-append">
                        <button class="btn btn-warning" style="width:80px;" type="button" onclick="GetReadTicketDetailTest();"><i data-feather="cast"></i></button>
                    </div>
                </div>

                <div class="" id="ReadTicketDetail">

                </div>

            </div>

        </div>
    </div>
</div>

<div id="AddOrderInfo" class="modal bg-white fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content" id="AddOrderTicketContent">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="btn btn-lg btn-light close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body p-2" id="OrderSummary">

            </div>

        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">





        //function AddBasketTicket() {
        //    $.ajax({
        //        method: "GET",
        //        url: "/Default/BasketItemDetail",
        //        data: { id: itemid }
        //    }).done(function (d) {
        //        $("#BasketItemDetailContent").html(d);
        //    });
        //};



    </script>


    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
