@model HomeControlModel
@{
    ViewBag.Title = "Home";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> {Model.Authentication?.CurrentLocation?.FullName?.ToUpper()} </span>";

}


<div class="d-flex flex fixed-content">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-1">
                <div class="row-xs">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th class="text-center text-info p-0">Cash</th>
                                <th class="text-center text-warning p-0">Credit</th>
                                <th class="text-center p-0">Revenues</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center p-1">@($"{Model.LocationBalance?.CashTotal.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                                <th class="text-center p-1">@($"{Model.LocationBalance?.CreditTotal.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                                <th class="text-center p-1">@($"{Model.LocationBalance?.Balance.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="scroll-y mx-1 mb-0 card">
                <div class="row no-gutters">
                    <div class="col-md-12 b-r bg-light--lt">
                        <div class="p-2">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card p-3 mb-1">
                                        @foreach (var price in Model.PriceList.OrderBy(x=> x.Unit))
                                        {
                                            <button class="btn btn-info btn-md btn-block btn-rounded" data-toggle="modal" data-target="#modalcash" onclick="GetTicketCashModal(@(price.ID))">@($"{price.Unit} Dk.")  &nbsp; &nbsp;   <span class="font-weight-bold">@(price.Price?.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency) </span>  &nbsp; &nbsp; Cash</button>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card p-3 mb-1">
                                        @foreach (var price in Model.PriceList.OrderBy(x => x.Unit))
                                        {
                                            <button class="btn btn-warning btn-md btn-block btn-rounded" data-toggle="modal" data-target="#modalcredit" onclick="GetTicketCreditModal(@(price.ID))">@($"{price.Unit} Dk.") &nbsp; &nbsp;   <span class="font-weight-bold">  @(price.Price?.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency) </span>  &nbsp; &nbsp; Credit</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-theme table-hover v-middle" style="border-spacing: 0 1px !important; padding: 0.5rem !important;">
                                    <thead>
                                        <tr class="table-light text-sm font-weight-bold">
                                            <td colspan="5" class="text-center block">@(Model.DocumentDate.ToLongDateString())</td>
                                        </tr>
                                        <tr class="table-light text-sm font-weight-bold">
                                            <td>Time</td>
                                            <td class="text-center">Part</td>
                                            <td>Ticket</td>
                                            <td class="text-right bg-secondary--lt">Amount</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var ticket in Model.TicketList.OrderByDescending(x => x.RecordDate))
                                        {
                                            <tr class="v-middle shadow-sm @(ticket.IsActive == true ? "table-light":"table-danger")">
                                                <td class="font-weight-500 @(ticket.IsActive == true ? "text-dark":"text-danger")" text-center p-0 pb-2 pt-2"><a href="@($"/Home/Detail/{ticket.Uid}")">@(ticket.RecordDate.ToString("HH\\:mm\\:ss"))</a> </td>
                                                <td class="font-weight-light text-dark text-center  p-0">@(ticket.Part) </td>
                                                <td class="font-weight-500 @(ticket.PayMethodID == 1 ? "text-info":"text-warning") text-center  p-0">@($"{ticket.Unit} Dk.") </td>
                                                <td class="font-weight-bolder  @(ticket.IsActive == true ? "text-dark":"text-light") text-right  p-0"><strong> @(ticket.Total.ToString("N2")) @(Model.PriceList.FirstOrDefault()?.Sign ?? Model.Authentication.CurrentOurCompany.Currency)</strong></td>
                                                <td class=" text-center p-0"> <a href="@($"/Home/Detail/{ticket.Uid}")"> <span class="badge badge-circle @(ticket.StatusID == 5 || ticket.StatusID == 4 ? "text-danger":"text-success")"></span></a></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>

                                        <tr class="v-middle shadow-sm">
                                            <td colspan="3" class="font-weight-500 text-dark text-left">Revenues</td>
                                            <td class="text-right text-dark p-1 font-weight-bold">
                                                @($"{Model.LocationBalance?.Balance.ToString("N2")} {Model.LocationBalance?.CurrencySign}")
                                            </td>
                                            <td></td>

                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-6 bg-light">
                            <div class="p-2">
                                <span class="text-md"> Hesap Özeti</span>
                                <div class="table-responsive" id="Summary">
                                    @{ Html.RenderPartial("_PartialSummary", Model.Summary);}
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>

</div>

<div id="modalcash" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title text-md text-info">Cash Sale</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                <div class="p-0 text-center" id="modalcashContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-rounded btn-light text-info" data-dismiss="modal">Close Cash Sale</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="modalcredit" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title text-md text-warning">Credit Sale</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                <div class="p-0 text-center" id="modalcreditContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-rounded btn-light text-warning" data-dismiss="modal">Close Credit Sale</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>
@section scripts {

    <script type="text/javascript">


        function GetTicketCashModal(priceID) {
            $("#modalcashContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/Home/GetTicketModal",
                data: { PriceID: priceID, PaymethodID: 1 }
            }).done(function (d) {
                $("#modalcashContent").html(d);
            });
        };

        function GetTicketCreditModal(priceID) {
            $("#modalcreditContent").html('Loading.');
            $.ajax({
                method: "GET",
                url: "/Home/GetTicketModal",
                data: { PriceID: priceID, PaymethodID: 2 }
            }).done(function (d) {
                $("#modalcreditContent").html(d);
            });
        };

        function SetTicketSale(priceID, paymethodID, colorID, costumeID) {
            $("#modalcreditContent").html('Ekleniyor...');
            $("#modalcashContent").html('Ekleniyor...');
            $.ajax({
                method: "GET",
                url: "/Home/SetTicketSale",
                data: { PriceID: priceID, PaymethodID: paymethodID, ColorID: colorID, CostumeID: costumeID }
            }).done(function (d) {
                window.location.href = "/";
            });
        };


    </script>


    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
