@model SalaryControlModel
@using (Ajax.BeginForm("SaveSalaryUnit", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "SalaryUnitList", InsertionMode = InsertionMode.Replace }))
{
    @Html.AntiForgeryToken()

    <div class="card-header d-flex align-items-center justify-content-between">
        <h6 class="mg-b-0">@(Model.CurrentEmployee?.FullName) <input id="EmployeeID" name="EmployeeID" value="@(Model.CurrentEmployee?.EmployeeID)" type="hidden" /></h6>
    </div>
    <div class="card-body pd-0">
        
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputEmail4">Tarih</label>
                    <input id="DateStart" name="DateStart" type="text" class="form-control shiftdate" autocomplete="off" placeholder="Tarih"  required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Saatlik Ücret</label>
                    <input id="Hourly" name="Hourly" type="text" class="form-control money" autocomplete="off"  placeholder="Saatlik Ücret" required>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPassword4">Mesai Ücret</label>
                    <input id="HourlyExtend" name="HourlyExtend" type="text" class="form-control money" autocomplete="off"  placeholder="Mesai Ücret" required>
                </div>
                <div class="form-group col-md-1">
                    <label for="inputPassword4">Oran</label>
                    <input id="ExtendMultiplyRate" name="ExtendMultiplyRate" type="text" class="form-control money" autocomplete="off"  placeholder="Oran" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputPassword4">&nbsp;</label>
                    <input id="SaveSalaryUnit" type="submit" class="btn btn-primary btn-block" autocomplete="off" value="Ücret Kaydet" />
                </div>
            </div>
    </div>
    <div class="card-footer text-center tx-13">
    </div>
}

<div id="SalaryUnitList">
    @{Html.RenderPartial("_PartialEmployeeSalaryList", Model); }
</div>

<div class="card-body pd-0">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="2">Takvim</th>
                    <th colspan="2">Mesai</th>
                    <th></th>
                </tr>
                <tr>
                    <th>tarih</th>
                    <th>Lokasyon</th>
                    <th>Takvim</th>
                    <th>Lokasyon</th>
                    <th>Mesai</th>
                    <th>Süre</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.DateList.OrderByDescending(x=> x.DateKey))
                {
                    var takvim = Model.ScheduleList.FirstOrDefault(x => x.ShiftDate == item.DateKey);
                    var mesai = Model.ShiftList.FirstOrDefault(x => x.ShiftDate == item.DateKey);

                <tr>
                    <td class="tx-sm-14 bold">@(item.DateKey.ToLongDateString())</td>
                    <td class="tx-sm-13">@(takvim?.LocationName)</td>
                    <td class="tx-sm-13">@(Html.Raw($"{takvim?.ShiftDateStart?.ToString()} <br /> {takvim?.ShiftdateEnd?.ToString()}"))</td>
                    <td class="tx-sm-13">@($"{mesai?.SortBy} {mesai?.LocationName}")</td>
                    <td class="tx-sm-13">@(Html.Raw($"{mesai?.ShiftDateStart?.ToString()} <br /> {mesai?.ShiftDateEnd?.ToString()}"))</td>
                    <td class="tx-sm-13">@(mesai?.ShiftDuration?.ToString())</td>
                </tr>
                }
                

            </tbody>
        </table>
    </div>
</div>



<script>
        $(function () {
            'use strict'

            $('#DateStart').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

    });

    $(function () {
        $('.shiftbegintime').mask('00:00');
        $('.hour').mask('00:00');
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.quantity').mask("#.##0", { reverse: true });
        $('.number').mask("##0", { reverse: true });
        $('.money').mask("#.##0,00", { reverse: true });
        $('.money4').mask("#.##0,0000", { reverse: true });
    });
</script>