@model SalaryControlModel

<div id="OffCanvasAddSalaryEarn" class="off-canvas off-canvas-overlay off-canvas-right wd-400" data-backdrop="static">
    <a href="#" class="close"><i data-feather="x"></i></a>

    <div class="pd-25 ht-100p tx-13">
        @using (Html.BeginForm("AddSalaryEarn", "Salary", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
        <div>
            <h4>Yeni Ücret Hakediş</h4>
            <p class="tx-color-03">Ücret hakediş işlemi yapar.</p>
            <input id="ActinTypeID" name="ActinTypeID" type="hidden" value="32" />
            <div class="form-group">
                <label>Kime</label>
                <select class="form-control" id="EmployeeID" name="EmployeeID" onchange="SalaryEarn(this.value)" required>
                    @foreach (var item in Model.FromList)
                    {
                        <option value="@item.Code">@(Html.Raw($"{item.Name}"))</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Lokasyon</label>
                <select class="form-control" id="LocationID" name="LocationID" required>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID">@($"{item.SortBy}  {item.LocationName} {item.State} {item.Description}" )</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Saatlik Ücret</label>
                <input id="UnitPrice" name="UnitPrice" type="text" class="form-control" placeholder="Saatlik Ücret" readonly required>
            </div>
            <div class="form-group">
                <label>Toplam Saat</label>
                <input id="QuantityHour" name="QuantityHour" type="text" class="form-control" placeholder="Toplam Saat" required>
            </div>
            <div class="form-group">
                <label>Toplam Tutar</label>
                <input id="TotalAmount" name="TotalAmount" type="text" class="form-control" placeholder="Tutar" required>
            </div>
            <div class="form-group">
                <label>Para Birimi</label>
                <select class="form-control" id="Currency" name="Currency" required>
                    @foreach (var item in Model.CurrencyList)
                    {
                        <option value="@item.Code">@($"{item.Code} ({item.Sign})")</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Tarih</label>
                <input id="DocumentDate" name="DocumentDate" type="text" class="form-control" placeholder="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required>
            </div>
            <div class="form-group">
                <label>Açıklama</label>
                <textarea id="Description" name="Description" rows="4" class="form-control" placeholder="Açıklama"></textarea>
            </div>
            <button class="btn btn-primary btn-block">Tahsilat Ekle</button>
        </div>

        }

    </div>
</div>

<div id="OffCanvasAddSalaryPayment" class="off-canvas off-canvas-overlay off-canvas-right wd-400">
    <a href="#" class="close"><i data-feather="x"></i></a>

    <div class="pd-25 ht-100p tx-13">
        @using (Html.BeginForm("AddSalaryPayment", "Salary", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div>
                <h4>Yeni Maaş Avans Ödemesi</h4>
                <p class="tx-color-03">Maaş / Avans ödemesi giriş işlemi yapar.</p>
                <input id="ActinTypeID" name="ActinTypeID" type="hidden" value="31" />
                <div class="form-group">
                    <label>Kime</label>
                    <select class="form-control" id="FromID" name="FromID" required>
                        @foreach (var item in Model.FromList)
                        {
                            <option value="@item.Code">@(Html.Raw($"{item.Name}"))</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Lokasyon</label>
                    <select class="form-control" id="LocationID" name="LocationID" required>
                        @foreach (var item in Model.LocationList)
                        {
                            <option value="@item.LocationID">@($"{item.SortBy}  {item.LocationName} {item.State} {item.Description}" )</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Ödeme Türü</label>
                    <select class="form-control" id="SalaryType" name="SalaryType" required>
                        <option value="1">Maaş Ödemesi</option>
                        <option value="2">Avans Ödemesi</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Banka</label>
                    <select class="form-control" id="BankAccountID" name="BankAccountID">
                        <option value="0">Kasa</option>
                        @foreach (var item in Model.BankAccountList)
                        {
                            <option value="@item.ID">@($"{item.Bank.Name} ({item.AccountName})")</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Tutar</label>
                    <input id="Amount" name="Amount" type="text" class="form-control" placeholder="Tutar" required>
                </div>
                <div class="form-group">
                    <label>Para Birimi</label>
                    <select class="form-control" id="Currency" name="Currency" required>
                        @foreach (var item in Model.CurrencyList)
                        {
                            <option value="@item.Code">@($"{item.Code} ({item.Sign})")</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Tarih</label>
                    <input id="DocumentDate" name="DocumentDate" type="text" class="form-control" placeholder="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required>
                </div>
                <div class="form-group">
                    <label>Açıklama</label>
                    <textarea id="Description" name="Description" rows="4" class="form-control" placeholder="Açıklama"></textarea>
                </div>

                <button class="btn btn-primary btn-block">Tahsilat Ekle</button>
            </div>

        }

    </div>
</div>

