@model SalaryControlModel

<div class="card-body pd-0">

    <div class="contact-list">
        <div class="table-responsive">
            <table class="table table-primary table-hover table-striped mg-b-0">
                <thead>
                    <tr class="table-active">
                        <th>Tarih</th>
                        <th class="tx-right">Saat Ücreti</th>
                        <th>Birim</th>
                        <th class="tx-right">Mesai Ücreti</th>
                        <th class="tx-right">Oran</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model.UnitSalaryList.OrderByDescending(x=> x.DateStart).ToList())
                    {
                    <tr>
                        <td>@(employee.DateStart?.Date.ToShortDateString() )</td>
                        <td class="tx-right font-weight-bold">@(employee.Hourly?.ToString("N2"))</td>
                        <td>@(employee.Money)</td>
                        <td class="tx-right font-weight-bold">@(employee.HourlyExtend?.ToString("N2"))</td>
                        <td class="tx-right font-weight-bold">@(employee.ExtendMultiplyRate?.ToString("N2"))</td>
                        <td class="tx-right font-weight-bold"><a href="#" class="text-danger" onclick="if(confirm('@employee.DateStart tarihli ücret girişini silmek istediğine emin misin? Bu işlem geri alınamaz')) DeleteSalaryUnit(@employee.ID)"><i class="fas fa-trash"></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

@if (Model.Result != null)
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}