@model SalaryControlModel
@{
    ViewBag.Title = "Çalışan Cari Hesap";
}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Maaş Periyodu Detayı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">


    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <h4 class="mg-b-0 tx-spacing--1">@($"{Model.SalaryPeriod.PeriodCode}" ) &nbsp; | &nbsp; @($"{Model.SalaryPeriod.GroupName}" ) &nbsp; | &nbsp; @($"{Model.SalaryPeriod.StatusName}" )</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="/Salary/SalaryPeriods" class="btn btn-primary tx-16"><i data-feather="list"></i></a>
            @if (Model.SalaryPeriod.SalaryPeriodStatusID != Model.SalaryPeriodNextStatus.ID)
            {
                <a href="/Salary/StatusSalaryPeriod/@(Model.SalaryPeriod.UID) " class="btn btn-info btn-uppercase" onclick="return confirm('Durumunu Güncellemek İstediğinize Emin misiniz?')">
                    <b class="tx-16"> @(Model.SalaryPeriod.StatusName) </b> Durumunu <b class="tx-16"> @(Model.SalaryPeriodNextStatus.StatusName) </b> Olarak Güncelle
                </a>
            }
            else
            {
                <a href="/Salary/StatusSalaryPeriod/@(Model.SalaryPeriod.UID) " class="btn btn-info btn-uppercase" onclick="return confirm('Durumunu Güncellemek İstediğinize Emin misiniz?')">
                    Durumu <b class="tx-16"> @(Model.SalaryPeriodNextStatus.StatusName) </b> Olarak Güncel
                </a>
            }


        </div>
    </div>

    <div>

        @if (Model.SalaryPeriod != null && Model.SalaryPeriod.GroupType == 1)
        {
            if (Model.SalaryPeriod.SalaryPeriodGroupID == 2)  // Maaşlı
            {
                <div class="table">
                    <table class="table table-sm table-hover">
                        <thead>
                            @if (Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                            {
                                <tr>
                                    <th colspan="18">
                                        <a href="/Salary/ExportDataPeriod120/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Aylık Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                    <th colspan="17" style="text-align:right;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                        {
                                            <a href="/Salary/GetDataPeriodTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Hakediş Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                        {
                                            <a href="/Salary/GetDataPeriodPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Ödeme Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID >= 1)
                                        {
                                            <a href="/Salary/ExportDataPeriodBank/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Banka Dosyasını Excel Olarak İndir</a>
                                            <a href="/Salary/GetDataPeriodCostTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Maliyet Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryCost/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Maliyet Import Et</a>
                                        }
                                    </th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th colspan="35">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                </tr>
                            }
                            <tr>
                                <th colspan="7" style="border-left:1px solid #808080;">Personel Bilgisi</th>
                                <th colspan="7" class="" style="border-left:1px solid #808080;">Hakedişler</th>
                                <th colspan="8" class="" style="border-left:1px solid #808080;">Avans Ödemeler</th>
                                <th colspan="5" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Bakiye</th>
                                <th colspan="6" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Maliyet</th>
                                <th colspan="2" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Güncellenme</th>
                            </tr>
                            <tr>
                                <th style="border-left:1px solid #808080;">Adı</th>
                                <th>TCKN</th>
                                <th>Phone</th>
                                <th>FoodCard</th>
                                <th>IBAN</th>
                                <th>Bank</th>
                                <th></th>

                                <th class="text-right" style="border-left:1px solid #808080;">Maaş</th>
                                <th class="text-right">İzin</th>
                                <th class="text-right">F.Mesai</th>
                                <th class="text-right">Prim</th>
                                <th class="text-right">Resmi</th>
                                <th class="text-right">Diğer</th>
                                <th class="text-right">Toplam</th>

                                <th class="text-right" style="border-left:1px solid #808080;">Avans Maaş</th>
                                <th class="text-right">Kesinti</th>
                                <th class="text-right">İzin</th>
                                <th class="text-right">F.Mesai</th>
                                <th class="text-right">Prim</th>
                                <th class="text-right">Resmi</th>
                                <th class="text-right">Diğer</th>
                                <th class="text-right">Toplam</th>

                                <th class="text-right" style="border-left: 1px solid #808080;">Bakiye</th>
                                <th class="text-right" style="border-left: 1px solid #808080;">Banka</th>
                                <th class="text-right">Manuel</th>
                                <th class="text-right">Devir</th>
                                <th class="text-right" style="border-left: 1px solid #808080;">Final </th>

                                <th class="text-right" style="border-left:1px solid #808080;">Net</th>
                                <th class="text-right">SSK</th>
                                <th class="text-right">GV</th>
                                <th class="text-right">DV</th>
                                <th class="text-right">Toplam</th>
                                <th class="text-right">M.Tarihi</th>

                                <th class="text-right" style="border-left: 1px solid #808080;">Tarih </th>
                                <th class="text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"> </th>

                            </tr>
                            <tr class="table-secondary">
                                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="7">Toplam</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.SalaryTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalProgress?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.PrePaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SalaryCutAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalPaymentAmount?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.TotalBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.BankPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ManuelPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TransferBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.GrossBalance?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.NetCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SSK?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.GV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.DV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold"></td>

                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080;"></td>
                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"></td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var emp in Model.SalaryPeriodComputes.OrderBy(x => x.FullName))
                            {
                                <tr>


                                    <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.FullName)</td>
                                    <td class="tx-sm-13">@(emp.IdentityNumber?.Length > 3 ? $"{emp.IdentityNumber?.Substring(0, 3)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.PhoneNumber?.Length > 5 ? $"{emp.PhoneNumber.Substring(0, 5)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.FoodCard?.Length > 5 ? $"{emp.FoodCard.Substring(0, 5)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.IBAN?.Length > 4 ? $"{emp.IBAN.Substring(0, 4)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.BankName?.Length > 4 ? $"{emp.BankName.Substring(0, 4)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.SalaryPaymentTypeID == 1 ? "B":"")</td>

                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.SalaryTotal != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.SalaryTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.PermitTotal != 0 ? "font-weight-bold":"")">@(emp.PermitTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.ExtraShiftTotal != 0 ? "font-weight-bold":"")">@(emp.ExtraShiftTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.PremiumTotal != 0 ? "font-weight-bold":"")">@(emp.PremiumTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.FormalTotal != 0 ? "font-weight-bold":"")">@(emp.FormalTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.OtherTotal != 0 ? "font-weight-bold":"")">@(emp.OtherTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.TotalProgress != 0 ? "font-weight-bold":"")">@(emp.TotalProgress.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PrePaymentAmount != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.PrePaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.SalaryCutAmount != 0 ? "font-weight-bold":"")">@(emp.SalaryCutAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PermitPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.PermitPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.ExtraShiftPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PremiumPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.PremiumPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.FormalPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.FormalPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.OtherPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.OtherPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TotalPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.TotalPaymentAmount.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TotalBalance != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.TotalBalance.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.BankPaymentAmount != 0 ? "font-weight-bold":"")" style="border-left: 1px solid #808080;">@(emp.BankPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.ManuelPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.ManuelPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TransferBalance != 0 ? "font-weight-bold":"")">@(emp.TransferBalance?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.GrossBalance != 0 ? "font-weight-bold":"")" style="border-left: 1px solid #808080;">@(emp.GrossBalance.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right @(emp.NetCost != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.NetCost?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.SSK != 0 ? "font-weight-bold":"")">@(emp.SSK?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.GV != 0 ? "font-weight-bold":"")">@(emp.GV?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.DV != 0 ? "font-weight-bold":"")">@(emp.DV?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.TotalCost != 0 ? "font-weight-bold":"")">@(emp.TotalCost.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right">@(emp.CostDate?.ToString("G"))</td>

                                    <td class="tx-sm-13 text-right" style="border-left: 1px solid #808080;">@(emp.RecordDate?.ToString("G"))</td>
                                    <td class="tx-sm-13 text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID > 0 && Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                                        {
                                            <a href="#modalEmployeeSalary" data-toggle="modal" onclick="SetEmployeeSalary(@(emp.SalaryPeriodID), @(emp.EmployeeID))"><i data-feather="edit"></i></a>
                                        }
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr class="table-secondary">
                                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="7">Toplam</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.SalaryTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalProgress?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.PrePaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SalaryCutAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalPaymentAmount?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.TotalBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.BankPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ManuelPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TransferBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.GrossBalance?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.NetCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SSK?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.GV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.DV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold"></td>

                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080;"></td>
                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"></td>
                            </tr>
                            @if (Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                            {
                                <tr>
                                    <th colspan="18">
                                        <a href="/Salary/ExportDataPeriod120/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Aylık Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                    <th colspan="17" style="text-align:right;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                        {
                                            <a href="/Salary/GetDataPeriodTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Hakediş Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                        {
                                            <a href="/Salary/GetDataPeriodPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Ödeme Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID >= 1)
                                        {
                                            <a href="/Salary/ExportDataPeriodBank/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Banka Dosyasını Excel Olarak İndir</a>
                                            <a href="/Salary/GetDataPeriodCostTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Maliyet Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryCost/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Maliyet Import Et</a>
                                        }
                                    </th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th colspan="35">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                </tr>
                            }

                        </tfoot>
                    </table>
                </div>
            }
            else
            {
                <div class="table">
                    <table class="table table-sm table-hover">
                        <thead>
                            @if (Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                            {
                                <tr>
                                    <th colspan="18">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                    <th colspan="17" style="text-align:right;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                        {
                                            <a href="/Salary/GetDataPeriodTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Hakediş Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                        {
                                            <a href="/Salary/GetDataPeriodPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Ödeme Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID >= 1)
                                        {
                                            <a href="/Salary/ExportDataPeriodBank/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Banka Dosyasını Excel Olarak İndir</a>
                                            <a href="/Salary/GetDataPeriodCostTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Maliyet Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryCost/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Maliyet Import Et</a>
                                        }
                                    </th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th colspan="35">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                </tr>
                            }
                            <tr>
                                <th colspan="7" style="border-left:1px solid #808080;">Personel Bilgisi</th>
                                <th colspan="7" class="" style="border-left:1px solid #808080;">Hakedişler</th>
                                <th colspan="8" class="" style="border-left:1px solid #808080;">Avans Ödemeler</th>
                                <th colspan="5" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Bakiye</th>
                                <th colspan="6" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Maliyet</th>
                                <th colspan="2" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Güncellenme</th>
                            </tr>
                            <tr>
                                <th style="border-left:1px solid #808080;">Adı</th>
                                <th>TCKN</th>
                                <th>Phone</th>
                                <th>FoodCard</th>
                                <th>IBAN</th>
                                <th>Bank</th>
                                <th></th>

                                <th class="text-right" style="border-left:1px solid #808080;">Maaş</th>
                                <th class="text-right">İzin</th>
                                <th class="text-right">F.Mesai</th>
                                <th class="text-right">Prim</th>
                                <th class="text-right">Resmi</th>
                                <th class="text-right">Diğer</th>
                                <th class="text-right">Toplam</th>

                                <th class="text-right" style="border-left:1px solid #808080;">Av. Maaş</th>
                                <th class="text-right">Kesinti</th>
                                <th class="text-right">İzin</th>
                                <th class="text-right">F.Mesai</th>
                                <th class="text-right">Prim</th>
                                <th class="text-right">Resmi</th>
                                <th class="text-right">Diğer</th>
                                <th class="text-right">Toplam</th>

                                <th class="text-right" style="border-left: 1px solid #808080;">Bakiye</th>
                                <th class="text-right" style="border-left: 1px solid #808080;">Banka</th>
                                <th class="text-right">Manuel</th>
                                <th class="text-right">Devir</th>
                                <th class="text-right" style="border-left: 1px solid #808080;">Final </th>

                                <th class="text-right" style="border-left:1px solid #808080;">Net</th>
                                <th class="text-right">SSK</th>
                                <th class="text-right">GV</th>
                                <th class="text-right">DV</th>
                                <th class="text-right">Toplam</th>
                                <th class="text-right">M.Tarihi</th>

                                <th class="text-right" style="border-left: 1px solid #808080;">Tarih </th>
                                <th class="text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"> </th>

                            </tr>
                            <tr class="table-secondary">
                                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="7">Toplam</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.SalaryTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalProgress?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.PrePaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SalaryCutAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalPaymentAmount?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.TotalBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.BankPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ManuelPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TransferBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.GrossBalance?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.NetCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SSK?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.GV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.DV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold"></td>

                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080;"></td>
                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"></td>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var emp in Model.SalaryPeriodComputes.OrderBy(x => x.FullName))
                            {
                                <tr>


                                    <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.FullName)</td>
                                    <td class="tx-sm-13">@(emp.IdentityNumber?.Length > 3 ? $"{emp.IdentityNumber?.Substring(0, 3)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.PhoneNumber?.Length > 5 ? $"{emp.PhoneNumber.Substring(0, 5)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.FoodCard?.Length > 5 ? $"{emp.FoodCard.Substring(0, 5)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.IBAN?.Length > 4 ? $"{emp.IBAN.Substring(0, 4)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.BankName?.Length > 4 ? $"{emp.BankName.Substring(0, 4)}..":"")</td>
                                    <td class="tx-sm-13">@(emp.SalaryPaymentTypeID == 1 ? "B":"")</td>

                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.SalaryTotal != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.SalaryTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.PermitTotal != 0 ? "font-weight-bold":"")">@(emp.PermitTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.ExtraShiftTotal != 0 ? "font-weight-bold":"")">@(emp.ExtraShiftTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.PremiumTotal != 0 ? "font-weight-bold":"")">@(emp.PremiumTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.FormalTotal != 0 ? "font-weight-bold":"")">@(emp.FormalTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.OtherTotal != 0 ? "font-weight-bold":"")">@(emp.OtherTotal?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-warning-light @(emp.TotalProgress != 0 ? "font-weight-bold":"")">@(emp.TotalProgress.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PrePaymentAmount != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.PrePaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.SalaryCutAmount != 0 ? "font-weight-bold":"")">@(emp.SalaryCutAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PermitPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.PermitPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.ExtraShiftPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.PremiumPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.PremiumPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.FormalPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.FormalPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.OtherPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.OtherPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TotalPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.TotalPaymentAmount.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TotalBalance != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.TotalBalance.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.BankPaymentAmount != 0 ? "font-weight-bold":"")" style="border-left: 1px solid #808080;">@(emp.BankPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.ManuelPaymentAmount != 0 ? "font-weight-bold":"")">@(emp.ManuelPaymentAmount?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.TransferBalance != 0 ? "font-weight-bold":"")">@(emp.TransferBalance?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right bg-primary-light @(emp.GrossBalance != 0 ? "font-weight-bold":"")" style="border-left: 1px solid #808080;">@(emp.GrossBalance.ToString("N2"))</td>

                                    <td class="tx-sm-13 text-right @(emp.NetCost != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.NetCost?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.SSK != 0 ? "font-weight-bold":"")">@(emp.SSK?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.GV != 0 ? "font-weight-bold":"")">@(emp.GV?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.DV != 0 ? "font-weight-bold":"")">@(emp.DV?.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right @(emp.TotalCost != 0 ? "font-weight-bold":"")">@(emp.TotalCost.ToString("N2"))</td>
                                    <td class="tx-sm-13 text-right">@(emp.CostDate?.ToString("G"))</td>

                                    <td class="tx-sm-13 text-right" style="border-left: 1px solid #808080;">@(emp.RecordDate?.ToString("G"))</td>
                                    <td class="tx-sm-13 text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID > 0 && Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                                        {
                                            <a href="#modalEmployeeSalary" data-toggle="modal" onclick="SetEmployeeSalary(@(emp.SalaryPeriodID), @(emp.EmployeeID))"><i data-feather="edit"></i></a>
                                        }
                                    </td>
                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr class="table-secondary">
                                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="7">Toplam</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.SalaryTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherTotal?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalProgress?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.PrePaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SalaryCutAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PermitPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ExtraShiftPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.PremiumPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.FormalPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.OtherPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalPaymentAmount?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.TotalBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.BankPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.ManuelPaymentAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TransferBalance?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.GrossBalance?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.NetCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.SSK?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.GV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.DV?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@(Model.SalaryPeriodComputeSum.TotalCost?.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right bg-warning-light font-weight-bold"></td>

                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080;"></td>
                                <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;"></td>
                            </tr>
                            @if (Model.SalaryPeriod.SalaryPeriodStatusID < 5)
                            {
                                <tr>
                                    <th colspan="18">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                    <th colspan="17" style="text-align:right;">
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                        {
                                            <a href="/Salary/GetDataPeriodTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Hakediş Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                        {
                                            <a href="/Salary/GetDataPeriodPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Ödeme Import Et</a>
                                        }
                                        @if (Model.SalaryPeriod.SalaryPeriodStatusID >= 1)
                                        {
                                            <a href="/Salary/ExportDataPeriodBank/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Banka Dosyasını Excel Olarak İndir</a>
                                            <a href="/Salary/GetDataPeriodCostTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Maliyet Şablonu İndir</a>
                                            <a href="/Salary/ImportSalaryCost/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Maliyet Import Et</a>
                                        }
                                    </th>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <th colspan="35">
                                        <a href="/Salary/ExportDataPeriod110/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Saatlik Maaşlı Grubu Excel Olarak İndir</a> &nbsp;
                                    </th>
                                </tr>
                            }
                        </tfoot>
                    </table>
                </div>
            }

        }
        else if (Model.SalaryPeriod != null && Model.SalaryPeriod.GroupType == 2)
        {
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr class="table-borderless">
                            <th colspan="6">
                                <a href="/Salary/ExportDataPeriod210/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Yemek Kartı Grubu Ödeme Excel Olarak İndir</a> &nbsp;
                            </th>
                            <th colspan="4" style="text-align:right;">
                                @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                {
                                    <a href="/Salary/GetDataFoodcardEarnTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                    <a href="/Salary/ImportFoodcardEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Hakediş Import Et</a>

                                }
                                @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                {
                                    <a href="/Salary/GetDataFoodcardPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                    <a href="/Salary/ImportFoodcardPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Ödeme Import Et</a>

                                }
                            </th>
                        </tr>


                        <tr>
                            <th style="border-left:1px solid #808080;">Adı</th>
                            <th>TCKN</th>
                            <th>Phone</th>
                            <th>FoodCard</th>
                            <th>IBAN</th>
                            <th>Bank</th>

                            <th class="text-right bg-warning-light" style="border-left:1px solid #808080;">Hakediş</th>
                            <th class="text-right bg-primary-light" style="border-left:1px solid #808080;">Ödeme</th>
                            <th class="text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Kalan </th>
                            <th></th>
                        </tr>

                        <tr class="table-secondary">
                            <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="6">Toplam</td>

                            <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardTotal?.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardPaymentAmount?.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodcardBalance?.ToString("N2"))</td>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var emp in Model.SalaryPeriodComputes.OrderBy(x => x.FullName))
                        {
                            <tr>
                                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.FullName)</td>
                                <td class="tx-sm-13">@(emp.IdentityNumber)</td>
                                <td class="tx-sm-13">@(emp.PhoneNumber?.Length > 5 ? $"{emp.PhoneNumber.Substring(0, 5)}..":"")</td>
                                <td class="tx-sm-13">@(emp.FoodCard)</td>
                                <td class="tx-sm-13">@(emp.IBAN?.Length > 4 ? $"{emp.IBAN.Substring(0, 4)}..":"")</td>
                                <td class="tx-sm-13">@(emp.BankName?.Length > 4 ? $"{emp.BankName.Substring(0, 4)}..":"")</td>

                                <td class="tx-sm-13 text-right bg-warning-light @(emp.SalaryTotal != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.FoodCardTotal?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right bg-primary-light @(emp.FoodCardPaymentAmount != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.FoodCardPaymentAmount?.ToString("N2"))</td>

                                <td class="tx-sm-13 text-right @(emp.TotalBalance != 0 ? "font-weight-bold":"")" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">@(emp.FoodcardBalance.ToString("N2"))</td>
                                <td class="tx-sm-13 text-right">
                                    @if (Model.SalaryPeriod.SalaryPeriodStatusID <= 1)
                                    {
                                        <a href="/Salary/RemovePeriodCompute/@(emp.UID)?SalaryPeriodId=@(emp.SalaryPeriodID)" onclick="return confirm('Silmek istediğinize emin misiniz?')" class="text-danger"><i data-feather="trash-2"></i></a>
                                    }
                                </td>

                            </tr>
                        }


                    </tbody>
                    <tfoot>
                        <tr class="table-secondary">
                            <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="6">Toplam</td>

                            <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardTotal?.ToString("N2"))</td>

                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardPaymentAmount?.ToString("N2"))</td>

                            <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodcardBalance?.ToString("N2"))</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <a href="/Salary/ExportDataPeriod210/@(Model.SalaryPeriod.UID)" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Yemek Kartı Grubu Ödeme Excel Olarak İndir</a> &nbsp;
                            </td>
                            <td colspan="4" style="text-align:right;">
                                @if (Model.SalaryPeriod.SalaryPeriodStatusID == 1)
                                {
                                    <a href="/Salary/GetDataFoodcardEarnTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Hakediş Şablonu İndir</a>
                                    <a href="/Salary/ImportFoodcardEarn/@(Model.SalaryPeriod.UID)" class="btn btn-primary text-white"><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Foddcard Hakediş Import Et</a>

                                }
                                @if (Model.SalaryPeriod.SalaryPeriodStatusID == 3)
                                {
                                    <a href="/Salary/GetDataFoodcardPaymentTemplate/@(Model.SalaryPeriod.UID)" class="btn btn-warning">Ödeme Şablonu İndir</a>
                                    <a href="/Salary/ImportFoodcardPayment/@(Model.SalaryPeriod.UID)" class="btn btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24" /></g><g><g /><g><path d="M17,19.22H5V7h7V5H5C3.9,5,3,5.9,3,7v12c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-7h-2V19.22z" /><path d="M19,2h-2v3h-3c0.01,0.01,0,2,0,2h3v2.99c0.01,0.01,2,0,2,0V7h3V5h-3V2z" /><rect height="2" width="8" x="7" y="9" /><polygon points="7,12 7,14 15,14 15,12 12,12" /><rect height="2" width="8" x="7" y="15" /></g></g></svg> &nbsp; Foddcard Ödeme Import Et</a>
                                }
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }



        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>

<div class="modal fade" id="modalEmployeeSalary" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content" id="SetEmployeeSalary">

        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {

            $('#LocationID').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#EmployeeID').select2({
                placeholder: 'Çalışan Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DateBegin')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DateEnd').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }
        });

        function SetEmployeeSalary(periodId, employeeId) {
            $.ajax({
                method: "GET",
                url: "/Salary/SetEmployeeSalary",
                data: { id: periodId, empid: employeeId }
            }).done(function (d) {
                $("#SetEmployeeSalary").html(d);
            });
        }


    </script>
}