@model SalaryControlModel
@{
    ViewBag.Title = "Çalışan Cari İşlemleri";
}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Ücret Hakediş</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Çalışan Cari İşlemleri</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Ücret Hakediş</h4>
        </div>
        <div class="d-none d-md-block">
            <a href="/Salary/AddNewSalaryEarn" class="btn btn-primary btn-uppercase"><i data-feather="plus-square"></i> &nbsp; Hakediş  Ekle</a>
        </div>
    </div>





    @using (Html.BeginForm("Filter", "Salary", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">
            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="LocationID" name="LocationID">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID" @(Model.Filters.LocationID == item.LocationID ? "selected" : "")>@(Html.Raw($"<strong>{item.SortBy}</strong> {item.LocationName} {item.Description} {item.State}"))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="EmployeeID" name="EmployeeID">
                    <option value="" label="Personel Seçiminiz"></option>
                    @foreach (var item in Model.EmployeeList)
                    {
                        <option value="@item.EmployeeID" @(Model.Filters.EmployeeID == item.EmployeeID ? "selected" : "")>@(Html.Raw($"<strong>{item.EmployeeID}</strong> {item.FullName}"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="DateBegin" name="DateBegin" class="form-control" autocomplete="off" placeholder="Başlangıç Tarihi" value="@(Model.Filters.DateBegin.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="DateEnd" name="DateEnd" class="form-control" autocomplete="off" placeholder="Bitiş Tarihi" value="@(Model.Filters.DateEnd.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
            </div>
        </div>

    }



    <div>
        <div class="table">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tarih</th>
                        <th>Belge No</th>
                        <th>Lokasyon</th>
                        <th>İşlem</th>
                        <th>Bu Personele</th>
                        <th>Birim Fiyat</th>
                        <th>Saatlik Ücret</th>
                        <th>Tahsilat</th>
                        <th>Para Br.</th>
                        <th>Kaydeden</th>
                        <th>Kayıt Tarihi</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.SalaryEarn)
                    {
                        <tr style='@(item.IsActive == false ? "color: red" : "")'>

                            <td class="tx-sm-13 bold">@item.ID</td>
                            <td class="tx-sm-13">@item.Date.Value.ToShortDateString()</td>
                            <td class="tx-sm-13"><a href="@("/Salary/Detail/" + @item.UID)">@item.DocumentNumber</a></td>
                            <td class="tx-sm-13">@item.LocationFullName</td>
                            <td class="tx-sm-13">@item.ActionTypeName</td>
                            <td class="tx-sm-13">@item.EmployeeFullName </td>
                            <td class="tx-sm-13">@(item.UnitPrice != null ? item.UnitPrice.Value.ToString("N2") : "")</td>
                            <td class="tx-sm-13">@(item.QuantityHour != null ? item.QuantityHour.Value.ToString("N2") : "")</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.TotalAmount != null ? item.TotalAmount.Value.ToString("N2") : "")</td>
                            <td class="tx-sm-13">@(item.Currency)</td>
                            <td class="tx-sm-13">@item.RecorderFullName</td>
                            <td class="tx-sm-13 text-right">@item.RecordDate</td>
                            @*<td class="tx-sm-13 text-right"><a href="@("/Salary/Detail/" + @item.UID)" class="btn btn-xs btn-primary btn-icon"><i data-feather="edit"></i></a></td>
                                @if (item.IsActive == true)
                                {
                                    <td class="tx-sm-13 text-right"><a href="/Salary/Index" class="btn btn-xs btn-danger btn-icon" onclick="if(confirm('@(Html.Raw($"{item.TotalAmount} tutarlı ücret hakediş iptal etmek istediğine emin misin?')"))) DeleteSalaryEarn(@item.ID)"><i data-feather="trash-2"></i></a></td>
                                }*@

                        </tr>
                    }

                </tbody>
            </table>
        </div>


        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>


@section canvasmenu {
    @*@{Html.RenderPartial("_PartialDocumentForms", Model);}*@
}

@section scripts {

    <script>
        $(function () {

            $('#LocationID').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#EmployeeID').select2({
                placeholder: 'Personel Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DateBegin')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DateEnd').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }

        });


        function SalaryEarn(EmployeeID) {
            $.ajax({
                method: "GET",
                url: "/Salary/SalaryEarn",
                data: { id: EmployeeID }

            }).done(function (d) {
                $("#UnitPrice").val(d);

            });
        }



    </script>
    <script>
        $(function () {
            'use strict'

            $('.off-canvas-menu').on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $(target).addClass('show');
            });


            $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                        $('.off-canvas.show').addClass('show');
                    }
                }
            });


        });
    </script>
    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}



