@model SalaryControlModel
@{
    Layout = null;
    var hakedisids = new[] { 32, 36, 37, 39, 43, 44, 45, 46 }.ToList();
    var odemeids = new[] { 31, 38 }.ToList();
}
<table class="table table-sm table-hover">
    <thead>


        <tr>
            <th colspan="6" style="border-left:1px solid #808080;">Personel Bilgisi</th>
            <th colspan="8" class="bg-warning-light" style="border-left:1px solid #808080;">Hakedişler</th>
            <th colspan="3" class="bg-primary-light" style="border-left:1px solid #808080;">Ödemeler</th>
            <th colspan="3" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Bakiye</th>
        </tr>
        <tr>
            <th style="border-left:1px solid #808080;">Adı</th>
            <th>TCKN</th>
            <th>Phone</th>
            <th>FoodCard</th>
            <th>IBAN</th>
            <th>Bank</th>

            <th class="text-right bg-warning-light" style="border-left:1px solid #808080;">Maaş</th>
            <th class="text-right bg-warning-light">Setcard</th>
            <th class="text-right bg-warning-light">İzin</th>
            <th class="text-right bg-warning-light">F.Mesai</th>
            <th class="text-right bg-warning-light">Prim</th>
            <th class="text-right bg-warning-light">Resmi</th>
            <th class="text-right bg-warning-light">Diğer</th>
            <th class="text-right bg-warning-light">Toplam</th>

            <th class="text-right bg-primary-light" style="border-left:1px solid #808080;">Maaş</th>
            <th class="text-right bg-primary-light">Setcard</th>
            <th class="text-right bg-primary-light">Toplam</th>

            <th style="border-left:1px solid #808080;">Bakiye</th>
            <th>Kümüle</th>
            <th style="border-right:1px solid #808080;"> </th>
        </tr>
    </thead>
    <tbody>



        @foreach (var emp in Model.EmployeeModels)
        {


            var maashakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 32 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var setcardhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 39 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var izinhakedis = Model.EmployeeActionList.Where(x => (x.ActionTypeID == 36 || x.ActionTypeID == 37) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var mesaihakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 43 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var primhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 44 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var resmihakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 45 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var digerhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 46 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var toplamhakedis = Model.EmployeeActionList.Where(x => hakedisids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;

            var maas = Model.EmployeeActionList.Where(x => x.ActionTypeID == 31 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var setcard = Model.EmployeeActionList.Where(x => x.ActionTypeID == 38 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var total = Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;

            var kumule = Model.EmployeeActionList.Where(x => x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;


            <tr>


                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.EmployeeName)</td>
                <td class="tx-sm-13">@(emp.IdentityNumber)</td>
                <td class="tx-sm-13">@(emp.MobilePhone)</td>
                <td class="tx-sm-13">@(emp.FoodCardNumber)</td>
                <td class="tx-sm-13">@(emp.IBAN)</td>
                <td class="tx-sm-13">@(emp.BankName)</td>

                <td class="tx-sm-13 text-right bg-warning-light @(maashakedis != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(maashakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(setcardhakedis != 0 ? "font-weight-bold":"")">@(setcardhakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(izinhakedis != 0 ? "font-weight-bold":"")">@(izinhakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(mesaihakedis != 0 ? "font-weight-bold":"")">@(mesaihakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(primhakedis != 0 ? "font-weight-bold":"")">@(primhakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(resmihakedis != 0 ? "font-weight-bold":"")">@(resmihakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(digerhakedis != 0 ? "font-weight-bold":"")">@(digerhakedis.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-warning-light @(toplamhakedis != 0 ? "font-weight-bold":"")">@(toplamhakedis.ToString("N2"))</td>

                <td class="tx-sm-13 text-right bg-primary-light" style="border-left:1px solid #808080;">@(maas.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-primary-light">@(setcard.ToString("N2"))</td>
                <td class="tx-sm-13 text-right bg-primary-light">@(total.ToString("N2"))</td>

                <td class="tx-sm-13 text-right" style="border-left:1px solid #808080;">@((toplamhakedis + total).ToString("N2"))</td>
                <td class="tx-sm-13 text-right">@(kumule.ToString("N2"))</td>
                <td class="tx-sm-13" style="border-right:1px solid #808080;">@(emp.Currency)</td>

            </tr>
        }


    </tbody>
    <tfoot>
        <tr>
            <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">Toplam</td>
            <td class="tx-sm-13"></td>
            <td class="tx-sm-13"></td>
            <td class="tx-sm-13"></td>
            <td class="tx-sm-13"></td>
            <td class="tx-sm-13"></td>

            <td class="tx-sm-13 text-right bg-warning-light" style="border-left:1px solid #808080;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 32).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 39).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 36 || x.ActionTypeID == 37).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 43).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 44).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 45).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 46).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-warning-light">@((Model.EmployeeActionList.Where(x=> hakedisids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>


            <td class="tx-sm-13 text-right bg-primary-light" style="border-left:1px solid #808080;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 31).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-primary-light">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 38).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13 text-right bg-primary-light">@((Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>

            <td class="tx-sm-13 text-right" style="border-left:1px solid #808080;">@(((Model.EmployeeActionList.Where(x=> hakedisids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0)+(Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0)).ToString("N2"))</td>
            <td class="tx-sm-13 text-right">@((Model.EmployeeActionList.Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
            <td class="tx-sm-13" style="border-right:1px solid #808080;"></td>
        </tr>
        
    </tfoot>
</table>