@model SalaryControlModel
@{
    Layout = null;
    var hakedisids = new[] { 32, 36, 37, 39, 43, 44, 45, 46 }.ToList();
    var odemeids = new[] { 31, 38, 47 }.ToList();
}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th>İsim</th>
            <th>TCKN (Opsiyonel)</th>
            <th>Banka Kodu</th>
            <th>Şube Kodu</th>
            <th>Hesap</th>
            <th>IBAN (Boşluksuz 26 Karakter)</th>
            <th>Tutar</th>
            <th>Borç İzahat</th>
            <th>Alacak izahat</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var emp in Model.EmployeeModels.OrderBy(x=> x.EmployeeName).ToList())
        {

            var setcardhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 39 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var toplamhakedis = Model.EmployeeActionList.Where(x => hakedisids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var toplammaashakedis = toplamhakedis - setcardhakedis;

            var setcard = Model.EmployeeActionList.Where(x => x.ActionTypeID == 38 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var total = Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
            var maastotal = total - setcard;

            <tr>

                <td class="tx-sm-13">@(emp.EmployeeName)</td>
                <td class="tx-sm-13">@(emp.IdentityNumber)</td>
                <td class="tx-sm-13"></td>
                <td class="tx-sm-13"></td>
                <td class="tx-sm-13">@(emp.BankName)</td>
                <td class="tx-sm-13">@(emp.IBAN)</td>
                <td class="tx-sm-13 text-right">@((toplammaashakedis + maastotal).ToString("N2"))</td>
                <td class="tx-sm-13"></td>
                <td class="tx-sm-13"></td>

            </tr>
        }


    </tbody>
    
</table>