@model SalaryControlModel
@{
    Layout = null;
}
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th colspan="6" style="border-left:1px solid #808080;">Personel Bilgisi</th>
            <th colspan="1" class="bg-warning-light" style="border-left:1px solid #808080;">Hakedişler</th>
            <th colspan="1" class="bg-primary-light" style="border-left:1px solid #808080;">Ödemeler</th>
            <th style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Bakiye</th>
        </tr>
        <tr>
            <th style="border-left:1px solid #808080;">Adı</th>
            <th>TCKN</th>
            <th>Phone</th>
            <th>FoodCard</th>
            <th>IBAN</th>
            <th>Bank</th>

            <th class="text-right bg-warning-light" style="border-left:1px solid #808080;">Hakediş</th>
            <th class="text-right bg-primary-light" style="border-left:1px solid #808080;">Ödeme</th>
            <th class="text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Kalan </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var emp in Model.SalaryPeriodComputes.OrderBy(x => x.FullName))
        {
            <tr>
                <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.FullName)</td>
                <td class="tx-sm-13">@(emp.IdentityNumber)</td>
                <td class="tx-sm-13">@(emp.PhoneNumber)</td>
                <td class="tx-sm-13">@(emp.FoodCard)</td>
                <td class="tx-sm-13">@(emp.IBAN)</td>
                <td class="tx-sm-13">@(emp.BankName)</td>

                <td class="tx-sm-13 text-right bg-warning-light @(emp.SalaryTotal != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(emp.FoodCardTotal)</td>

                <td class="tx-sm-13 text-right bg-primary-light" style="border-left:1px solid #808080;">@(emp.FoodCardPaymentAmount)</td>

                <td class="tx-sm-13 text-right" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">@(emp.TotalBalance)</td>
                

            </tr>
        }


    </tbody>
    <tfoot>
        <tr class="table-secondary">
            <td class="tx-sm-13 bold" style="border-left:1px solid #808080;" colspan="6">Toplam</td>

            <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardTotal)</td>

            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@(Model.SalaryPeriodComputeSum.FoodCardPaymentAmount)</td>

            <td class="tx-sm-13 text-right font-weight-bold" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">@(Model.SalaryPeriodComputeSum.TotalBalance)</td>
        </tr>
    </tfoot>
</table>