@model SalaryControlModel
@{
    ViewBag.Title = "Çalışan Cari Hesap";
    var hakedisids = new[] { 32, 36, 37, 43, 44, 45, 46 }.ToList(); // 39 set kart 
    var odemeids = new[] { 31, 47 }.ToList();  // 38 setcard   

}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Çalışan Hakediş - Maaş Cetveli</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
        
    </nav>
</div>
<div class="content-body">
    @using (Html.BeginForm("ResultFilter", "Salary", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">
            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control select2" id="LocationID" name="LocationID">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID" @(Model.Filters.LocationID == item.LocationID ? "selected" : "")>@(Html.Raw($"<strong>{item.LocationFullName}</strong> ({item.IsActive}) "))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control select2" id="EmployeeID" name="EmployeeID">
                    <option value="" label="Çalışan Seçiminiz"></option>
                    @foreach (var item in Model.EmployeeList)
                    {
                        <option value="@item.EmployeeID" @(Model.Filters.EmployeeID == item.EmployeeID ? "selected" : "")>@(Html.Raw($"<strong>{item.FullName}</strong> ({item.IsActive}) "))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="SalaryPeriodID" name="SalaryPeriodID">
                    <option value="" label="Ücret Periyodu Seçiminiz"></option>
                    @foreach (var item in Model.SalaryPeriods)
                    {
                        <option value="@item.ID" @(Model.Filters.SalaryPeriodID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.PeriodCode} {item.GroupName}</strong> ({item.DateBegin?.ToString("d")} - {item.DateEnd?.ToString("d")}) "))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-1 d-flex align-items-end">
                <input type="text" id="DateBegin" name="DateBegin" class="form-control" autocomplete="off" placeholder="Başlangıç Tarihi" value="@(Model.Filters.DateBegin.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-1 d-flex align-items-end">
                <input type="text" id="DateEnd" name="DateEnd" class="form-control" autocomplete="off" placeholder="Bitiş Tarihi" value="@(Model.Filters.DateEnd.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary btn-block" type="submit" id="btnsearch">Ara</button>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end ">
                <a href="/Salary/SalaryPeriods" class="btn btn-info btn-block">Maaş Periyotları</a>
            </div>

        </div>
    }

    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <h4 class="mg-b-0 tx-spacing--1">@($"{Model.Filters.DateBegin.Value.ToString("D")} - {Model.Filters.DateEnd.Value.ToString("D")}" )</h4>
        </div>
        <div class="d-none d-md-block">
            @if (Model.SalaryPeriod != null && Model.SalaryPeriod.SalaryPeriodStatusID == 0)
            {
                <a href="/Salary/NewSalaryPeriod/@(Model.SalaryPeriod.UID)" class="btn btn-info btn-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> &nbsp; Maaş Periyodu Sabitle</a>
            }
            else if(Model.SalaryPeriod != null && Model.SalaryPeriod.SalaryPeriodStatusID > 0)
            {
                <a href="/Salary/DetailSalaryPeriod/@(Model.SalaryPeriod.UID)" class="btn btn-info btn-uppercase"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-square"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg> &nbsp; Maaş Periyodu Detayı</a>
            }
            
        </div>
    </div>

    <div>
        <div class="table">
            <table class="table table-sm table-hover">
                <thead>


                    <tr>
                        <th colspan="6" style="border-left:1px solid #808080;">Personel Bilgisi</th>
                        <th colspan="8" class="bg-warning-light" style="border-left:1px solid #808080;">Hakedişler</th>
                        <th colspan="4" class="bg-primary-light" style="border-left:1px solid #808080;">Ödemeler</th>
                        <th colspan="3" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">Bakiye</th>
                    </tr>
                    <tr>
                        <th style="border-left:1px solid #808080;">Adı</th>
                        <th>TCKN</th>
                        <th>Phone</th>
                        <th>FoodCard</th>
                        <th>IBAN</th>
                        <th>Bank</th>

                        <th class="text-right bg-warning-light" style="border-left:1px solid #808080;">Maaş</th>
                        <th class="text-right bg-warning-light">İzin</th>
                        <th class="text-right bg-warning-light">F.Mesai</th>
                        <th class="text-right bg-warning-light">Prim</th>
                        <th class="text-right bg-warning-light">Resmi</th>
                        <th class="text-right bg-warning-light">Diğer</th>
                        <th class="text-right bg-warning-light">Toplam</th>
                        <th class="text-right bg-warning-light" style="color:orangered;">Setcard</th>

                        <th class="text-right bg-primary-light" style="border-left:1px solid #808080;">Maaş</th>
                        <th class="text-right bg-primary-light">Kesinti</th>
                        <th class="text-right bg-primary-light">Toplam</th>
                        <th class="text-right bg-primary-light" style="color:orangered;">Setcard</th>

                        <th style="border-left:1px solid #808080;">Maaş</th>
                        <th style="color: orangered;">Setcard</th>
                        <th style="border-right:1px solid #808080;">Kümüle </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var emp in Model.EmployeeModels.OrderBy(x=> x.EmployeeName))
                    {

                        var maashakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 32 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var setcardhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 39 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var izinhakedis = Model.EmployeeActionList.Where(x => (x.ActionTypeID == 36 || x.ActionTypeID == 37) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var mesaihakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 43 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var primhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 44 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var resmihakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 45 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var digerhakedis = Model.EmployeeActionList.Where(x => x.ActionTypeID == 46 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var toplamhakedis = Model.EmployeeActionList.Where(x => hakedisids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;

                        var maas = Model.EmployeeActionList.Where(x => x.ActionTypeID == 31 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var setcard = Model.EmployeeActionList.Where(x => x.ActionTypeID == 38 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var kesinti = Model.EmployeeActionList.Where(x => x.ActionTypeID == 47 && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;
                        var total = Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value) && x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;



                        var kumule = Model.EmployeeActionList.Where(x => x.EmployeeID == emp.EmployeeID).Sum(x => x.Amount) ?? 0;


                        <tr>


                            <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">@(emp.EmployeeName)</td>
                            <td class="tx-sm-13">@(emp.IdentityNumber?.Length > 3 ? $"{emp.IdentityNumber?.Substring(0, 3)}..":"")</td>
                            <td class="tx-sm-13">@(emp.MobilePhone?.Length > 5 ? $"{emp.MobilePhone.Substring(0, 5)}..":"")</td>
                            <td class="tx-sm-13">@(emp.FoodCardNumber?.Length > 5 ? $"{emp.FoodCardNumber.Substring(0, 5)}..":"")</td>
                            <td class="tx-sm-13">@(emp.IBAN?.Length > 4 ? $"{emp.IBAN.Substring(0, 4)}..":"")</td>
                            <td class="tx-sm-13">@(emp.BankName?.Length > 4 ? $"{emp.BankName.Substring(0, 4)}..":"")</td>

                            <td class="tx-sm-13 text-right bg-warning-light @(maashakedis != 0 ? "font-weight-bold":"")" style="border-left:1px solid #808080;">@(maashakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(izinhakedis != 0 ? "font-weight-bold":"")">@(izinhakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(mesaihakedis != 0 ? "font-weight-bold":"")">@(mesaihakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(primhakedis != 0 ? "font-weight-bold":"")">@(primhakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(resmihakedis != 0 ? "font-weight-bold":"")">@(resmihakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(digerhakedis != 0 ? "font-weight-bold":"")">@(digerhakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(toplamhakedis != 0 ? "font-weight-bold":"")">@(toplamhakedis.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-warning-light @(setcardhakedis != 0 ? "font-weight-bold":"")" style="color: orangered;">@(setcardhakedis.ToString("N2"))</td>

                            <td class="tx-sm-13 text-right bg-primary-light" style="border-left:1px solid #808080;">@(maas.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-primary-light">@(kesinti.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-primary-light">@(total.ToString("N2"))</td>
                            <td class="tx-sm-13 text-right bg-primary-light" style="color: orangered;">@(setcard.ToString("N2"))</td>


                            <td class="tx-sm-13 text-right" style="border-left:1px solid #808080;">@((toplamhakedis + total).ToString("N2"))</td>
                            <td class="tx-sm-13 text-right" style="color: orangered;">@((setcardhakedis + setcard).ToString("N2"))</td>
                            <td class="tx-sm-13 text-right" style="border-right:1px solid #808080;">@(kumule.ToString("N2"))</td>

                        </tr>
                    }


                </tbody>
                <tfoot>
                    <tr>
                        <td class="tx-sm-13 bold" style="border-left:1px solid #808080;">Toplam</td>
                        <td class="tx-sm-13"></td>
                        <td class="tx-sm-13"></td>
                        <td class="tx-sm-13"></td>
                        <td class="tx-sm-13"></td>
                        <td class="tx-sm-13"></td>

                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="border-left:1px solid #808080;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 32).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 36 || x.ActionTypeID == 37).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 43).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 44).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 45).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 46).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold">@((Model.EmployeeActionList.Where(x=> hakedisids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-warning-light font-weight-bold" style="color:orangered;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 39).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>


                        <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="border-left:1px solid #808080;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 31).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 47).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@((Model.EmployeeActionList.Where(x => odemeids.Contains(x.ActionTypeID.Value)).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right bg-primary-light font-weight-bold" style="color: orangered;">@((Model.EmployeeActionList.Where(x => x.ActionTypeID == 38).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>

                        <td class="tx-sm-13 text-right font-weight-bold" style="border-left:1px solid #808080;">@(((Model.EmployeeActionList.Where(x=> x.ActionTypeID != 38 && x.ActionTypeID != 39).Sum(x => x.Amount) ?? 0)).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right font-weight-bold" style="color:orangered;">@((Model.EmployeeActionList.Where(x=> x.ActionTypeID == 38 || x.ActionTypeID == 39).Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                        <td class="tx-sm-13 text-right font-weight-bold" style="border-right:1px solid #808080;">@((Model.EmployeeActionList.Sum(x => x.Amount) ?? 0).ToString("N2"))</td>
                    </tr>
                    <tr>
                        <td colspan="21">
                            <a href="/Salary/ExportData" class="btn btn-success"><i data-feather="download"></i> Excel Olarak İndir</a> &nbsp;
                            <a href="/Salary/ExportBankData" class="btn btn-success"><i data-feather="download"></i> Banka Listesi İndir</a> &nbsp;
                            <a href="/Salary/ExportSetcardData" class="btn btn-success"><i data-feather="download"></i> Yemek Kartı Listesi İndir</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>


        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>



@section scripts {
    <script>
        $(function () {

            $('#LocationID').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#EmployeeID').select2({
                placeholder: 'Çalışan Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DateBegin')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DateEnd').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }
        });


    </script>
}