@model ResultControlModel
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Adet</th>
                <th class="text-right">Birim</th>
                <th class="text-right">Fiyat</th>
                <th class="text-right">Toplam</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CheckPriceList?.Count > 0)
            {
                foreach (var item in Model.CheckPriceList)
                {
                    <tr class="table-light">
                        <td class="wd-25p"><input id="Quantity_@(item.ID)" type="text" class="form-control form-control-sm" placeholder="Adet" value="@(item.Quantity)" onchange="CheckPrice(@(item.ID))"></td>
                        <td class="text-right">@item.Unit Dk</td>
                        <td class="text-right">@(item.Price?.ToString("N2")) @(item.Currency)</td>
                        <td class="text-right">@(item.Total?.ToString("N2")) @(item.Currency)</td>
                    </tr>
                }
            }
            <tr>
                <td colspan="3">Bilet Toplamı : </td>
                <td class="tx-right">@(Model.CheckPriceList.Sum(x => x.Total)?.ToString("N2"))</td>
            </tr>
            <tr>
                <td colspan="3">Ciro Toplamı : </td>
                <td class="tx-right">@((Model.CashCiro + Model.CardCiro)?.ToString("N2"))</td>
            </tr>
            <tr>
                <td colspan="3"></td>
                <td class="tx-right"><a href="javascript:;" class="btn btn-info" onclick="ReCheckPrice(@(Model.DayResult.ID))"><i data-feather="refresh-cw"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    feather.replace();
</script>