@model ResultControlModel
<div class="table">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th colspan="4" class="text-center">Dosyalar</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Belge Türü</th>
                <th>Belge Tarihi</th>
                <th>Açıklama</th>
                <th>Dosya</th>
                <th>Aktif</th>
                <th>Kayıt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model.DayResultDocuments.OrderBy(x => x.RecordDate))
            {
                <tr>
                    <td class="tx-sm-13 bold">@sale.ID</td>
                    <td class="tx-sm-13">@sale.TypeName</td>
                    <td class="tx-sm-13">@sale.Date</td>
                    <td class="tx-sm-13">@(sale.Description)</td>
                    <td class="tx-sm-13">
                        <a target="_blank" href="@($"{sale.FilePath}/{sale.FileName}")">
                            <img class="thumb" src="@($"{sale.FilePath}/{sale.FileName}")" alt="@(sale.FileName)">
                        </a>
                    </td>
                    <td class="tx-sm-13">@sale.IsActive</td>
                    <td class="tx-sm-13">@sale.RecordDate</td>
                </tr>
            }

        </tbody>

    </table>
</div>

@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}