@model ResultControlModel


<div class="table">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th colspan="9" class="text-center">Nakit</th>
            </tr>
            <tr>
                <th>#</th>
                <th>İşlem</th>
                <th>Doküman No</th>
                <th>Z Rapor No</th>
                <th>Z Rapor Tarihi</th>
                <th>Z Raporu</th>
                <th>Tutar</th>
                <th>Genel Tutar</th>
                <th>Para</th>
                <th>Kayıt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model.CashRecorderSlips.OrderBy(x => x.RecordDate))
            {
                <tr>
                    <td class="tx-sm-13 bold">@sale.ID</td>
                    <td class="tx-sm-13">@sale.ActionTypeName</td>
                    <td class="tx-sm-13">
                        <a href="@($"/CashRecorder/Detail/{sale.UID}")" target="_blank" class="">@(sale.DocumentNumber)</a>
                    </td>
                    <td class="tx-sm-13">@sale.SlipNumber</td>
                    <td class="tx-sm-13">@(sale.SlipDate?.ToString())</td>
                    <td class="tx-sm-13">
                        <a target="_blank" href="@($"/{sale.SlipPath}/{sale.SlipFile}")">
                            <img class="thumb" src="@($"/{sale.SlipPath}/{sale.SlipFile}")" alt="@(sale.SlipFile)">
                        </a>
                    </td>
                    <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(sale.NetAmount != null ? sale.NetAmount?.ToString("N2") : "")</td>
                    <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(sale.TotalAmount != null ? sale.TotalAmount?.ToString("N2") : "")</td>
                    <td class="tx-sm-13">@sale.Currency</td>
                    <td class="tx-sm-13">@sale.RecordDate</td>
                </tr>
            }

        </tbody>
    </table>
</div>

@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}