@model ResultControlModel


<div class="table">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th colspan="8" class="text-center">Nakit</th>
            </tr>
            <tr>
                <th>#</th>
                <th>İşlem</th>
                <th>Z Rapor No</th>
                <th>Z Rapor Tarihi</th>
                <th>Tutar</th>
                <th>Genel Tutar</th>
                <th>Para</th>
                <th>Kayıt</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model.CashRecorderSlips.OrderBy(x => x.RecordDate))
            {
                <tr>
                    <td class="tx-sm-13 bold">@sale.ID</td>
                    <td class="tx-sm-13">@sale.ActionTypeName</td>
                    <td class="tx-sm-13">@sale.SlipNumber</td>
                    <td class="tx-sm-13">@(sale.SlipDate?.ToString())</td>
                    <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(sale.NetAmount != null ? sale.NetAmount?.ToString("N2") : "")</td>
                    <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(sale.TotalAmount != null ? sale.TotalAmount?.ToString("N2") : "")</td>
                    <td class="tx-sm-13">@sale.Currency</td>
                    <td class="tx-sm-13">@sale.RecordDate</td>
                </tr>
            }

        </tbody>
    </table>
</div>

