@model ResultControlModel
@{

    double? totaltrl = 0;
    string currency = "";
}

@if (Model.CashActions != null)
{

    <div class="table">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th colspan="7" class="text-center">Masraf</th>
                    <th></th>
                </tr>
                <tr>
                    <th class="wd-5p">#</th>
                    <th class="wd-20p">İşlem</th>
                    <th class="wd-10p">Belge Tarihi</th>
                    <th class="wd-20p">Belge No</th>
                    <th class="text-right">Tutar</th>
                    <th class="wd-5p">Para</th>
                    <th>Tür</th>
                    <th>Detay</th>
                    <th>Foto</th>
                    <th>Kayıt</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var sale in Model.Expenses.OrderByDescending(x => x.RecordDate))
                {
                <tr>
                    <td class="tx-sm-13 bold">@sale.ID</td>
                    <td class="tx-sm-13">@sale.ActionTypeName</td>
                    <td class="tx-sm-13">@(sale.Date?.ToShortDateString())</td>
                    <td class="tx-sm-13">
                        @if (sale.Amount >= 0)
                        {
                            <a href="@($"/Cash/ExpenseDetail/{sale.UID}")" target="_blank" class="">@(sale.DocumentNumber)</a>
                        }
                        else
                        {
                            <a href="@($"/Cash/ExpenseDetail/{sale.UID}")" target="_blank" class="">@(sale.DocumentNumber)</a>
                        }

                    </td>
                    <td class="tx-sm-13 text-right bg-primary-light font-weight-bold text-danger">@(sale.Amount?.ToString("N2"))</td>
                    <td class="tx-sm-13">@sale.Currency</td>
                    <td class="tx-sm-13">@sale.ExpenseTypeName</td>
                    <td class="tx-sm-13">@sale.Description</td>
                    <td class="tx-sm-13">
                        <a target="_blank" href="@($"/Document/Expense/{sale.SlipDocument}")">
                            <img class="thumb" src="@($"/Document/Expense/{sale.SlipDocument}")" alt="@(sale.SlipDocument)">
                        </a>
                    </td>
                    <td class="tx-sm-13">@sale.RecordDate</td>

                </tr>

                    totaltrl = totaltrl + sale.Amount;
                    currency = sale.Currency;
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="3"></th>
                    <th>Toplam</th>
                    <th class="text-right bg-light  text-danger">@(totaltrl?.ToString("N2"))</th>
                    <th>@currency</th>
                    <th></th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
}

@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}