@using System.Globalization;
@model ResultControlModel
@{
    ViewBag.Title = "Gün Sonu Zarf Detayı";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Gün Sonu Zarfları</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.CurrentLocation.Timezone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">
                <div class="profile-update-option bg-light ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-20 rounded">
                    <div class="d-flex align-items-center pd-x-5 mg-r-auto">
                        0
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="#" id="LocationResultDate" class="link-03" title="Tarih Seç">
                            <i data-feather="calendar"></i>
                            <input type="hidden" id="DatePicker" />
                            <div></div>
                        </a>
                        <input id="CurrentDateCode" type="hidden" value="@Model.CurrentDateCode" />
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Result/Detail?date=@(Model.PrevDateCode)&locationID=@(Model.CurrentLocation.LocationID)" class="link-03" title="Bir Önceki Gün"><i data-feather="arrow-left"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Result/Detail?date=@(Model.TodayDateCode)&locationID=@(Model.CurrentLocation.LocationID)" class="link-03" title="Bu Gün"><i data-feather="target"></i></a>
                    </div>
                    <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
                        <a href="/Result/Detail?date=@(Model.NextDateCode)&locationID=@(Model.CurrentLocation.LocationID)" class="link-03" title="Bir Sonraki Gün"><i data-feather="arrow-right"></i></a>
                    </div>

                </div>



                <div class="card mg-b-20 mg-lg-b-25">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">@Model.CurrentDayResult.LocationFullName</h6>
                        <nav class="nav">
                            <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">@(Model.CurrentDate.DateKey.Date.ToString())</span></a>
                        </nav>
                    </div><!-- card-header -->
                    <div class="card-body pd-r-10 pd-l-10 pd-t-0">
                        <div class="row row-xs">
                            <div class="col-md-9 pd-r-0 pd-l-0 pd-t-0">

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Nakit Satış / İade İşlemleri</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th colspan="4" class="bd-l text-center font-weight-bold"><span>(2) Nakit Satış</span></th>
                                                        <th colspan="4" class="bd-l text-center font-weight-bold"><span>(5) Nakit Satış İade</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span></span></th>
                                                        <th class="bd-l text-right"><span>Adet</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th class="text-center"><span></span></th>

                                                        <th class="bd-l text-right"><span>Adet</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th class="text-center"><span></span></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:100px;"><strong>TRL (₺)</strong></td>

                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" id="N2TRL" name="N2TRL" class="form-control money font-weight-bold text-right text-info" placeholder="0" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID ==2 && x.Currency == " TRL")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" id="N2TRL" name="N2TRL" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "TRL").Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" id="N2TRLD" name="N2TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l  text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5TRL" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "TRL")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5TRL" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "TRL")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="I5TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>USD ($)</td>

                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="N2USD" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "USD")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="N2USD" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "USD")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="N2USDD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "USD").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5USD" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "USD")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5USD" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "USD")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="I5USDD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "USD").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>EUR (€)</td>

                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="N2EUR" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "EUR")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="N2EUR" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "EUR")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="N2EURD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 2 && x.Currency == "EUR").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5EUR" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "EUR")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="I5EUR" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "EUR")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="I5EURD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 5 && x.Currency == "EUR").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                        <div class="card-body pd-0">
                                            <div class="table">
                                                <table class="table table-sm table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th colspan="4" class="text-center">Nakit</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>İşlem</th>
                                                            <th>Belge Tarihi</th>
                                                            <th>Belge No</th>

                                                            <th>Satış</th>
                                                            <th>İade</th>
                                                            <th>Bakiye</th>
                                                            <th>Para Br.</th>
                                                            <th>Kayıt</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <td class="tx-sm-13 bold"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13 text-right bg-primary-light"></td>
                                                            <td class="tx-sm-13 text-right bg-primary-light"></td>
                                                            <td class="tx-sm-13 text-right bg-primary font-weight-bold text-white"></td>

                                                            <td class="tx-sm-13">&nbsp;</td>
                                                            <td class="tx-sm-13 text-right"></td>

                                                        </tr>

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th colspan="3"></th>
                                                            <th>Toplam</th>
                                                            <th colspan="2"></th>
                                                            <th class="text-right bg-light"></th>
                                                            <th>TRL</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3"></th>
                                                            <th>Toplam</th>
                                                            <th colspan="2"></th>
                                                            <th class="text-right bg-light"></th>
                                                            <th>USD</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="3"></th>
                                                            <th>Toplam</th>
                                                            <th colspan="2"></th>
                                                            <th class="text-right bg-light"></th>
                                                            <th>EUR</th>
                                                            <th></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Kart Satış / İade İşlemleri</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th colspan="4" class="bd-l text-center font-weight-bold"><span>(10) Kredi Kartı Satış</span></th>
                                                        <th colspan="4" class="bd-l text-center font-weight-bold"><span>(11,12) Kredi Kartı İptal / İade</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span></span></th>
                                                        <th class="bd-l text-right"><span>Adet</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                        <th class="bd-l text-right"><span>Adet</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:100px;"><strong>TRL (₺)</strong></td>

                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="S1TRL" class="form-control money font-weight-bold text-right tx-orange" placeholder="0" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 10 && x.Currency == " TRL")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="S1TRL" class="form-control money font-weight-bold text-right tx-orange" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 10 && x.Currency == "TRL")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T1TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 10 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l  text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T4TRL" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 11 && x.Currency == "TRL")?.Quantity?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T4TRL" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 11 && x.Currency == "TRL")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T4TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 11 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>


                                            </table>
                                        </div>
                                        <div class="card-body pd-0">
                                            <div class="table">
                                                <table class="table table-sm table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th colspan="4" class="text-center">Nakit</th>
                                                            <th colspan="4" class="text-center">Kart</th>
                                                            <th class="text-center">Toplam</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Lokasyon</th>
                                                            <th>Belge Tarihi</th>
                                                            <th>İşlem</th>
                                                            <th>Belge No</th>

                                                            <th>Tahsilat</th>
                                                            <th>Ödeme</th>
                                                            <th>Toplam</th>
                                                            <th>Bakiye</th>

                                                            <th>Tahsilat</th>
                                                            <th>Ödeme</th>
                                                            <th>Toplam</th>
                                                            <th>Bakiye</th>

                                                            <th>Bakiye</th>
                                                            <th>Para Br.</th>
                                                            <th>Kayıt Tarihi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                            <td class="tx-sm-13 bold"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13"></td>
                                                            <td class="tx-sm-13 text-right bg-primary-light"></td>
                                                            <td class="tx-sm-13 text-right bg-primary-light"></td>
                                                            <td class="tx-sm-13 text-right bg-primary-light"></td>
                                                            <td class="tx-sm-13 text-right bg-primary font-weight-bold text-white"></td>

                                                            <td class="tx-sm-13 text-right bg-warning-light"></td>
                                                            <td class="tx-sm-13 text-right bg-warning-light"></td>
                                                            <td class="tx-sm-13 text-right bg-warning-light"></td>
                                                            <td class="tx-sm-13 text-right bg-warning font-weight-bold text-white"></td>


                                                            <td class="tx-sm-13 text-right bg-orange font-weight-bold text-white"></td>
                                                            <td class="tx-sm-13">&nbsp;</td>
                                                            <td class="tx-sm-13 text-right"></td>

                                                        </tr>

                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>Dip Toplam</th>

                                                            <th></th>
                                                            <th></th>
                                                            <th>TRL</th>
                                                            <th class="text-right bg-light"></th>

                                                            <th></th>
                                                            <th></th>
                                                            <th>TRL</th>
                                                            <th class="text-right bg-light"></th>

                                                            <th class="text-right bg-light"></th>
                                                            <th>TRL</th>
                                                            <th></th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Nakit Tahsilat / Ödeme İşlemleri</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th colspan="3" class="bd-l text-center font-weight-bold"><span>(1) Kasa Tahsilatı</span></th>
                                                        <th colspan="3" class="bd-l text-center font-weight-bold"><span>(4) Kasa Ödemesi</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span></span></th>
                                                        <th class="bd-l text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                        <th class="bd-l text-right"><span>Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:100px;"><strong>TRL (₺)</strong></td>
                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T1TRL" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "TRL").Amount.Value.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T1TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l  text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T4TRL" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "TRL").Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T4TRLD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "TRL").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>USD ($)</td>
                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T1USD" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "USD").Amount.Value.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T1USDD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "USD").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T4USD" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "USD").Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T4USDD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "USD").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <tr>

                                                        <td>EUR (€)</td>
                                                        <td class="bd-l text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T1EUR" class="form-control money font-weight-bold text-right text-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "EUR").Amount.Value.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T1EURD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 1 && x.Currency == "EUR").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                        <td class="bd-l" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="T4EUR" class="form-control money font-weight-bold text-right text-danger" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "EUR").Amount?.ToString("N2"))">
                                                        </td>
                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="T4EURD" class="form-control" placeholder="" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 4 && x.Currency == "EUR").Description)" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div><!-- card -->
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Döviz Satış İşlemleri</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th colspan="6" class="text-center font-weight-bold"><span>(3) Döviz Satışı</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span></span></th>
                                                        <th class="text-right"><span>Döviz Tutar</span></th>
                                                        <th class="text-right"><span>Kur</span></th>
                                                        <th class=""><span>Döviz</span></th>
                                                        <th class="text-right"><span>TRL Tutar</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="width:100px;"><strong>USD ($)</strong></td>

                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3USDA" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "USD")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3USDE" class="form-control money4 font-weight-bold text-right" min="0" placeholder="0,0000" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "USD")?.Exchange?.ToString("N4"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3USDC" class="form-control" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "USD").Currency)" readonly />
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3USDS" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "USD")?.SystemAmount?.ToString("N2"))" readonly>
                                                        </td>
                                                        <td class="bd-l  text-right" style="padding:1px !important;">
                                                            <input type="text" name="E3USDD" class="form-control" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "USD")?.Description)">
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>

                                                    </tr>

                                                    <tr>
                                                        <td style="width:100px;"><strong>EUR (€)</strong></td>

                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3EURA" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "EUR")?.Amount?.ToString("N2"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3EURE" class="form-control money4 font-weight-bold text-right" min="0" placeholder="0,0000" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "EUR")?.Exchange?.ToString("N4"))">
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3EURC" class="form-control" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "EUR").Currency)" readonly />
                                                        </td>
                                                        <td class="text-right" style="width:100px; padding:1px !important;">
                                                            <input type="text" name="E3EURS" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "EUR")?.SystemAmount?.ToString("N2"))" readonly>
                                                        </td>
                                                        <td class="bd-l  text-right" style="padding:1px !important;">
                                                            <input type="text" name="E3EURD" class="form-control" value="@(Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 3 && x.Currency == "EUR")?.Description)">
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                </tbody>


                                            </table>
                                        </div>
                                    </div><!-- card -->
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Masraflar</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th colspan="7" class="text-center font-weight-bold"><span>(6) Masraf Detayı</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span></span></th>
                                                        <th class="text-right"><span>Adet</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th class=""><span>Para</span></th>
                                                        <th class="text-right"><span>Fiş No</span></th>
                                                        <th class="text-right"><span>Fiş Tarihi</span></th>
                                                        <th class="text-center"><span>Açıklama</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DayResultItemList.Where(x => x.ResultItemID == 6).ToList())
                                                    {
                                                        <tr>
                                                            <td style="width:100px;"><strong>@item.ID</strong></td>

                                                            <td class="text-right" style="width:60px; padding:1px !important;">
                                                                <input type="text" name="E6TRLQ" class="form-control font-weight-bold text-right tx-info" min="0" placeholder="0" value="@(item.Quantity)">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E6TRLA" class="form-control money font-weight-bold text-right" min="0" placeholder="0,00" value="@(item.Amount?.ToString("N2"))">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E6TRLC" class="form-control" value="@(item.Currency)" readonly />
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E6TRLN" class="form-control font-weight-bold" value="@(item.SlipNumber)">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" id="ExpSlipDate" name="E6TRLD" class="form-control font-weight-bold" value="@(item.SlipDate != null ? item.SlipDate?.ToString("yyyy-MM-dd") :Model.CurrentDayResult.Date.ToString("yyyy-MM-dd") )">
                                                            </td>
                                                            <td class="bd-l  text-right" style="padding:1px !important;">
                                                                <input type="text" name="E6TRLDE" class="form-control" value="@(item.Description)">
                                                            </td>
                                                            <td class="text-center" style="width:50px; padding:1px !important;">
                                                                <a href="#" class="text-primary">
                                                                    <i data-feather="plus-square"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }




                                                </tbody>


                                            </table>
                                        </div>
                                    </div><!-- card -->
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Havale / EFT</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th colspan="9" class="text-center font-weight-bold"><span>(7) Havale EFT Bildirimi</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span>Banka Hesabı</span></th>
                                                        <th class="text-right"><span>Tutar</span></th>
                                                        <th><span>Referans</span></th>
                                                        <th><span>Fiş No</span></th>
                                                        <th><span>Fiş Tarihi</span></th>
                                                        <th><span>Fiş Tutarı</span></th>
                                                        <th><span>Açıklama</span></th>
                                                        <th><span>Dekont</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.DayResultItemList.Where(x => x.ResultItemID == 7).ToList())
                                                    {
                                                        <tr>
                                                            <td style="width:240px; padding:1px !important;">
                                                                <select class="form-control" id="BankAccountID" name="BankAccountID" required>
                                                                    @foreach (var bank in Model.BankAccountList.Where(x => x.AccountTypeID == 1))
                                                                    {
                                                                        <option value="@bank.ID" @(item.BankAccountID == bank.ID ? "selected" : "")>@($"{bank.BranchName} ({bank.Currency})")</option>
                                                                    }
                                                                </select>
                                                            </td>

                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E7TRLA" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(item.Amount?.ToString("N2"))">
                                                            </td>

                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E7TRLR" class="form-control font-weight-bold" value="@(item.ReferenceCode)">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E7TRLN" class="form-control font-weight-bold" value="@(item.SlipNumber)">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" id="slipDate" name="E7TRLD" class="form-control font-weight-bold" value="@(item.SlipDate != null ? item.SlipDate?.ToString("yyyy-MM-dd") :Model.CurrentDayResult.Date.ToString("yyyy-MM-dd") )">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E7TRLSA" class="form-control money font-weight-bold text-right tx-info" min="0" placeholder="0,00" value="@(item.SlipTotalAmount?.ToString("N2"))">
                                                            </td>
                                                            <td class="text-right" style="padding:1px !important;">
                                                                <input type="text" name="E7TRLDE" class="form-control" value="@(item.Description)">
                                                            </td>
                                                            <td style="width:200px; padding:1px !important;">
                                                                <input id="E7TRLF" name="E7TRLF" class="form-control" type="file" />
                                                            </td>
                                                            <td class="text-center" style="width:50px; padding:1px !important;">
                                                                <a href="#" class="text-primary">
                                                                    <i data-feather="plus-square"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>


                                            </table>
                                        </div>
                                    </div><!-- card -->
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Ücret Hakediş / Ödeme İşlemleri</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover  mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th></th>
                                                        <th colspan="3" class=" bd-l text-center font-weight-bold">Sistem Maaş Hakediş Hesabı</th>
                                                        <th colspan="5" class=" bd-l text-center font-weight-bold">(8) Lokasyon Maaş Hakediş Hesabı</th>
                                                        <th colspan="3" class=" bd-l text-center font-weight-bold">(9) Maaş Avansı Ödeme</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="wd-150-f">Adı Soyadı</th>

                                                        <th class="bg-gray-200 bd-l"><span>Süre</span></th>
                                                        <th class="bg-gray-200 text-right"><span>@(Model.CurrentLocation.Currency)/Saat</span></th>
                                                        <th class="bg-gray-200 text-right"><span>Hakediş (@(Model.CurrentLocation.Currency))</span></th>


                                                        <th class=" bd-l">Süre</th>
                                                        <th class="text-right"><span>@(Model.CurrentLocation.Currency)/Saat</span></th>
                                                        <th class="text-right"><span>Hakediş (@(Model.CurrentLocation.Currency))</span></th>
                                                        <th class="text-center">Açıklama</th>
                                                        <th></th>

                                                        <th class="text-right bd-l"><span>Ödeme (@(Model.CurrentLocation.Currency))</span></th>
                                                        <th class="text-center">Açıklama</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var emp in Model.DayResultItemList.Where(x => x.ResultItemID == 8 || x.ResultItemID == 9).Select(x => x.EmployeeID).Distinct().ToList())
                                                    {
                                                        var salary = Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 8 && x.EmployeeID == emp);
                                                        var payment = Model.DayResultItemList.FirstOrDefault(x => x.ResultItemID == 9 && x.EmployeeID == emp);

                                                        <tr>
                                                            <td>
                                                                <input id="salaryID" type="hidden" value="@salary.ID" />
                                                                <input id="paymentID" type="hidden" value="@payment.ID" />
                                                                <strong> @salary.FullName</strong>
                                                            </td>

                                                            <td class="bd-l"> @(salary.SystemDuration != null ? salary.SystemDuration.Value.ToString("hh\\:mm") : "00:00")</td>
                                                            <td class="text-right"> @(salary.UnitHourPrice?.ToString("N2"))</td>
                                                            <td class="text-right">@((salary.UnitHourPrice * salary.SystemHourQuantity)?.ToString("N2"))</td>


                                                            <td class="bd-l" style="width:60px; padding:1px !important;">
                                                                <input type="text" name="S8SD" class="form-control hour font-weight-bold" placeholder="00:00" value="@(salary.Duration != null ? salary.Duration.Value.ToString("hh\\:mm"):"00:00")" />
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="S8SU" class="form-control money text-right" placeholder="0,00" value="@(salary.UnitHourPrice?.ToString("N2"))" />
                                                            </td>
                                                            <td class="text-right" style="width:120px; padding:1px !important;">
                                                                <input type="text" name="S8ST" class="form-control money text-right  font-weight-bold text-info" placeholder="0,00" value="@((salary.UnitHourPrice * salary.HourQuantity)?.ToString("N2"))" />
                                                            </td>
                                                            <td class="table-light" style="padding:1px !important;">
                                                                <input type="text" name="S8SD" class="form-control money" placeholder="" value="@(salary.Description)" />
                                                            </td>
                                                            <td class="text-center" style="width:50px; padding:1px !important;">
                                                                <a href="#" class="text-primary">
                                                                    <i data-feather="plus-square"></i>
                                                                </a>
                                                            </td>
                                                            <td class="bd-l" style="width:120px; padding:1px !important;">
                                                                <input type="text" name="S9PA" class="form-control money text-right font-weight-bold text-danger" placeholder="0,00" value="@(payment.Amount?.ToString("N2"))" />
                                                            </td>
                                                            <td class="" style="padding:1px !important;">
                                                                <input type="text" name="S9PD" class="form-control money" placeholder="" value="@(payment.Description)" />
                                                            </td>
                                                            <td class="text-center" style="width:50px; padding:1px !important;">
                                                                <a href="#" class="text-primary">
                                                                    <i data-feather="plus-square"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }

                                                </tbody>

                                            </table>
                                        </div>
                                    </div><!-- card -->
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Yazarkasa</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th colspan="8" class="text-center font-weight-bold"><span>(13) Yazarkasa Fişi Bildirimi</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span>Fiş No</span></th>
                                                        <th><span>Fiş Tarihi</span></th>
                                                        <th><span>Fiş Saati</span></th>
                                                        <th class="text-right"><span>Fiş Tutarı</span></th>
                                                        <th class="text-right"><span>Genel Tutar</span></th>
                                                        <th><span>Açıklama</span></th>
                                                        <th><span>Fiş Dosyası</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var cr in Model.DayResultItemList.Where(x => x.ResultItemID == 13))
                                                    {
                                                        <tr>
                                                            <td style="width:160px; padding:1px !important;">
                                                                <input type="text" name="E13TRLN" class="form-control font-weight-bold" value="@(cr.SlipNumber)">
                                                            </td>
                                                            <td style="width:120px; padding:1px !important;">
                                                                <input type="text" id="crSlipDate" name="E13TRLD" class="form-control shiftdate font-weight-bold" value="@(cr.SlipDate != null ? cr.SlipDate.Value.ToString("yyyy-MM-dd") : Model.CurrentDayResult.Date.ToString("yyyy-MM-dd"))">
                                                            </td>
                                                            <td style="width:120px; padding:1px !important;">
                                                                <input type="text" id="crSlipTime" name="E13TRLT" class="form-control hourfull font-weight-bold" value="@(cr.SlipDate != null ? cr.SlipDate.Value.TimeOfDay.ToString() : Model.CurrentDayResult.Date.TimeOfDay.ToString())">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E13TRLA" class="form-control money font-weight-bold text-right" min="0" placeholder="0,00" value="@(cr.Amount?.ToString("N2"))">
                                                            </td>
                                                            <td class="text-right" style="width:100px; padding:1px !important;">
                                                                <input type="text" name="E13TRLTA" class="form-control money font-weight-bold text-right" min="0" placeholder="0,00" value="@(cr.SlipTotalAmount?.ToString("N2"))">
                                                            </td>

                                                            <td style="padding:1px !important;">
                                                                <input type="text" name="E13TRLDE" class="form-control" value="@(cr.Description)">
                                                            </td>
                                                            <td style="width:200px; padding:1px !important;">
                                                                <input id="E13TRLF" name="E13TRLF" class="form-control" type="file" />
                                                            </td>
                                                            <td class="text-center" style="width:50px; padding:1px !important;">
                                                                <a href="#" class="text-primary">
                                                                    <i data-feather="plus-square"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Dosyalar </h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover mg-b-0">
                                                <thead class="bg-gray-100">
                                                    <tr>
                                                        <th colspan="4" class="text-center font-weight-bold"><span>(14) Gün Sonu Dosyaları</span></th>
                                                    </tr>
                                                    <tr>
                                                        <th><span>Dosya Türü</span></th>
                                                        <th><span>Açıklama</span></th>
                                                        <th><span>Dosya</span></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <tr>
                                                       
                                                        <td style="width:240px; padding:1px !important;">
                                                            <select class="form-control" id="FileTypeID" name="FileTypeID" required>
                                                                @foreach (var doc in Model.DocumentTypes)
                                                                {
                                                                    <option value="@doc.TypeID">@($"{doc.TypeName}")</option>
                                                                }
                                                            </select>
                                                        </td>

                                                        <td style="padding:1px !important;">
                                                            <input type="text" name="E14TRLDE" class="form-control">
                                                        </td>
                                                        <td style="width:200px; padding:1px !important;">
                                                            <input id="E13TRLF" name="E14TRLF" class="form-control" type="file" />
                                                        </td>
                                                        <td class="text-center" style="width:50px; padding:1px !important;">
                                                            <a href="#" class="text-primary">
                                                                <i data-feather="plus-square"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3 pd-r-0 pd-l-0 pd-t-0">
                                <div class="col-md-12 mg-t-10 pd-r-0 pd-l-0 pd-t-0">
                                    <div class="card ht-100p">
                                        <div class="card-header d-flex align-items-center justify-content-between">
                                            <h6 class="mg-b-0">Gün Sonu Toplamı</h6>
                                            <div class="d-flex tx-18">
                                                <a href="" class="link-03 lh-0"><i class="icon ion-md-refresh"></i></a>
                                                <a href="" class="link-03 lh-0 mg-l-10"><i class="icon ion-md-more"></i></a>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Kasa</th>
                                                        <th>Tahsilat</th>
                                                        <th>Ödeme</th>
                                                        <th>Bakiye</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Kasa TRL</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>₺</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kasa USD</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>$</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Kasa EUR</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>0,00</td>
                                                        <td>€</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                        <div class="card-footer text-center tx-13">
                                            <a href="" class="link-03">View All Transactions <i class="icon ion-md-arrow-down mg-l-5"></i></a>
                                        </div><!-- card-footer -->
                                    </div><!-- card -->
                                </div>
                            </div>


                        </div>

                    </div>


                    <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
                        <nav class="nav nav-with-icon tx-13">
                            <a href="/Result/ExportToExcel" class="nav-link"><i data-feather="download"></i> Excel Olarak İndir</a>
                        </nav>
                    </div><!-- card-footer -->
                </div>

                <footer class="content-footer">
                    <div>
                        <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
                    </div>

                </footer>

            </div>

        </div>
    </div>
</div>


@section canvasmenu {

}

@section scripts {

    <script>
        $(function () {
            'use strict'

            $("body").addClass("page-profile");

            $('#DatePicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1,
                onSelect: function (dateText, inst) {
                    window.location.href = "/Result/Detail?date=" + dateText + "&locationID="+@Model.CurrentLocation.LocationID;
                },
                beforeShow: function (event, ui) {
                    var $link = $("#LocationResultDate");
                    ui.dpDiv.offset({
                        top: $link.offset().top + 10,
                        left: $link.offset().left + 10
                    });
                }
            });

            $('#slipDate').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#ExpSlipDate').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#crSlipDate').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $("#LocationResultDate").click(function () {
                $("#DatePicker").datepicker("show");
            });


        });

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
