@model ResultControlModel
@{
    ViewBag.Title = "Gün Sonu Zarf İşlemleri";
}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <i data-feather="search"></i>
        <input id="SearchKey" type="search" class="form-control" placeholder="Arama..." aria-controls="example2">
    </div>
    <nav class="nav">
        <select class="custom-select bg-light btn-xs" id="CurrentCompany">
            <option value="1" @(Model.Authentication.ActionEmployee.OurCompanyID == 1 ? "selected" : "")>UFE Group USA</option>
            <option value="2" @(Model.Authentication.ActionEmployee.OurCompanyID == 2 ? "selected" : "")>UFE Grup  TUR</option>
        </select>
    </nav>
</div>
<div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Gün Sonu İşlemleri</li>
                </ol>
            </nav>
            <h4 class="mg-b-0 tx-spacing--1">Gün Sonu Zarfları</h4>
        </div>
        <div class="d-none d-md-block">
            <a class="btn btn-primary btn-uppercase" id="AddResult" href="/Result/New">
                <i data-feather="envelope"></i> &nbsp; Gün Sonu Zarfı Ekle
            </a>
            @*@{Html.RenderPartial("_PartialAddCashMenu");}*@
        </div>
    </div>


    @using (Html.BeginForm("CheckNew", "Result", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">
            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="locationId" name="locationId">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID">@(Html.Raw($"<strong>{item.SortBy}</strong> {item.LocationName} {item.Description} {item.State}"))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="resultDate" name="resultDate" class="form-control" placeholder="Gün Sonu Tarihi" value="@(DateTime.Now.ToString("yyyy-MM-dd"))">
            </div>

            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary" type="submit" id="btnsearch">Ekle</button>
            </div>
        </div>

    }

</div>


@section canvasmenu {

}

@section scripts {
    <script>
        $(function () {

            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options'
            });
            $('#resultDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            var cleaveC = new Cleave('#resultDate', {
                date: true,
                delimiter: '-',
                datePattern: ['Y', 'm', 'd'],

            });
        });
    </script>
}


