@model RevenueDetailModel
<table class="table table-hover table-striped table-warning mg-b-0">
    <thead class="table-dark">
        <tr>
            <th>Week</th>
            <th>Date</th>
            <th>Dayname</th>
            <th>Currency</th>
            <th>Cash</th>
            <th>Credit</th>
            <th>Total</th>
            <th>VAT</th>
            <th>Labor</th>
            <th>Expense</th>
            <th>CashIn</th>
            <th>Rent</th>
            <th>Commission Rate</th>
            <th>Credit Commission</th>
            <th>Insurance</th>
            <th>OpDebt</th>
            <th>Update Date</th>
            <th>Envelope</th>

        </tr>
    </thead>
    <tbody class="table-hover table-striped">
        @foreach (var line in Model.RevenueLines)
        {
        <tr>
            <td>@(line.WeekYear) - @(line.WeekNumber)</td>
            <td>@(line.Date?.ToShortDateString())</td>
            <td>@(line.DayNameTR)</td>
            <td>@(line.Currency)</td>
            <td>@(line.Cash?.ToString("N2"))</td>
            <td>@(line.Credit?.ToString("N2"))</td>
            <td>@(line.Total.ToString("N2"))</td>
            <td>@(line.VAT?.ToString("N2"))</td>
            <td>@(line.Labor?.ToString("N2"))</td>
            <td>@(line.Expense?.ToString("N2"))</td>
            <td>@(line.CashIn?.ToString("N2"))</td>
            <td>@(line.Rent?.ToString("N2"))</td>
            <td>@(line.CommissionRate)</td>
            <td>@(line.CreditCommission?.ToString("N2"))</td>
            <td>@(line.Insurance?.ToString("N2"))</td>
            <td>@(line.OpDebt?.ToString("N2"))</td>
            <td>@(Model.Revenue.UpdateDate)</td>
            <td class="text-center">
                @if (!string.IsNullOrEmpty(line.EnvelopeFile))
                {
                    <a href="@($"http://office.ufegrup.com/Documents/{line.EnvelopeFile}")" target="_blank" class=""><i data-feather="mail"></i></a>
                }

            </td>
        </tr>
        }
    </tbody>
    <tfoot class="font-weight-bold">
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@(Model.RevenueLines?.Sum(x => x.Cash)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Credit)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Total).ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.VAT ?? 0).ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Labor)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Expense)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.CashIn)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Rent)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.FirstOrDefault()?.CommissionRate?.ToString("N4"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.CreditCommission)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.Insurance)?.ToString("N2"))</td>
            <td>@(Model.RevenueLines?.Sum(x => x.OpDebt)?.ToString("N2"))</td>
            <td></td>
            <td></td>

        </tr>
    </tfoot>
</table>

<table class="table table-borderless table-info table-hover mg-t-10">
    <thead>
        <tr>
            <th></th>
            <th class="text-right">Tutar</th>
            <th class="text-right">Oran</th>
            <th class="text-right">Tür</th>
            <th class="text-right">Aylık</th>
            <th class="text-right">Yıllık</th>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Cash</th>
            <td class="text-right">@(Model.Revenue.TotalCash?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Kredit</th>
            <td class="text-right">@(Model.Revenue.TotalCredit?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Gross Total</th>
            <td class="text-right">@(Model.Revenue.GrossTotal?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Vat Total</th>
            <td class="text-right">@(Model.Revenue.TotalVAT?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Labor</th>
            <td class="text-right">@(Model.Revenue.TotalLabor?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Expense</th>
            <td class="text-right">@(Model.Revenue.TotalExpense?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Cash in</th>
            <td class="text-right">@(Model.Revenue.TotalCashIn?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Rent</th>
            <td class="text-right">@(Model.Revenue.TotalRent?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">@(Model.Revenue.RentMonthly?.ToString("N2"))</td>
            <td class="text-right">@((Model.Revenue.RentMonthly * 12)?.ToString("N2"))</td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>

        <tr>
            <th>Credit Commission</th>
            <td class="text-right">@(Model.Revenue.TotalCreditCommission?.ToString("N2"))</td>
            <td class="text-right">@(Model.RevenueLines?.FirstOrDefault()?.CommissionRate?.ToString("N4"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Insurance</th>
            <td class="text-right">@(Model.Revenue.TotalInsurance?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">@(Model.Revenue.InsuranceMonthly?.ToString("N2"))</td>
            <td class="text-right">@((Model.Revenue.InsuranceMonthly * 12)?.ToString("N2"))</td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>OpDebt</th>
            <td class="text-right">@(Model.Revenue.OpDept?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right">@(Model.Revenue.OpDeptMonthly?.ToString("N2"))</td>
            <td class="text-right">@((Model.Revenue.OpDeptMonthly * 12)?.ToString("N2"))</td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
    </tbody>
    <tfoot class="font-weight-bold">
        <tr>
            <th>Net</th>
            <td class="text-right">@(Model.Revenue.Net?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Operator</th>
            <td class="text-right">@(Model.Revenue.Operator?.ToString("N2"))</td>
            <td class="text-right">@(Model.Revenue.ComputedRate)</td>
            <td class="text-right">@(Model.Revenue.ComputedType)</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Action Time</th>
            <td class="text-right">@(Model.Revenue.ActionTime?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
        <tr>
            <th>Op Return</th>
            <td class="text-right">@(Model.Revenue.OpReturn?.ToString("N2"))</td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-center">@(Model.Revenue.Currency)</th>
        </tr>
    </tfoot>
</table>
