@model LocationParameterDetailModel


<table class="table table-light table-bordered table-hover table-sm tx-13 tx-nowrap mg-b-0">
    <thead>
        <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
            <th class="wd-5p">#</th>
            <th class="wd-30p">Parametre</th>
            <th class="wd-10p">Başlangıç</th>
            <th class="wd-10p text-right">Tutar</th>
            <th class="wd-10p text-right">Oran (%)</th>
            <th class="wd-15p">Hesaplama Türü</th>
            <th class="wd-15p">Güncelleme</th>
            <th class="wd-5p"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var param in Model.LocationParameters)
        {
            <tr>
                <td class="text-left">
                    @(param.ID)
                </td>
                <td class="tx-medium" style="padding:2px 2px 2px 17px !important;">@($"{param.TypeName}")</td>
                <td class="" style="padding:2px !important;"><input id="Date_@(param.ID)" type="text" class="form-control form-control-sm datepicker" placeholder="Başlangıç Tarihi" value="@(param.DateStart?.ToString("yyyy-MM-dd"))" onchange="EditLocationParameter(@(param.ID),@(param.LocationID))"></td>
                <td class="text-right" style="padding:2px !important;"><input id="Total_@(param.ID)" type="text" class="form-control form-control-sm money text-right" placeholder="Tutar" value="@(param.Total?.ToString("N2"))" onchange="EditLocationParameter(@(param.ID),@(param.LocationID))"></td>
                <td class="text-right" style="padding:2px !important;"><input id="Rate_@(param.ID)" type="text" class="form-control form-control-sm money4 text-right" placeholder="Oran" value="@(param.Rate?.ToString("N4"))" onchange="EditLocationParameter(@(param.ID),@(param.LocationID))"></td>
                <td class="" style="padding:2px !important;">
                    <select class="form-control" id="CalculateType_@(param.ID)" onchange="EditLocationParameter(@(param.ID),@(param.LocationID))">
                        <option value=""></option>
                        @foreach (var item in Model.LocationParamCalculate)
                        {
                            <option value="@item.ID" @(item.ID == param.Calculate ? "selected" : "")>@($"{item.Name}")</option>
                        }
                    </select>
                </td>
                <td class="" style="padding:2px !important;">
                    <small class="tx-12 tx-color-03">@(param.UpdateDate ?? param.RecordDate)</small>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-icon btn-xs" onclick="confirm('Bu Parametreyi Silmek İstediğinize Emin misiniz?') ? DeleteLocationParameter(@(param.ID),@(param.LocationID)) : ''">
                        <i class="tx-danger" data-feather="trash"></i> &nbsp;
                    </button>
                </td>
            </tr>
        }

    </tbody>
</table>
<script>
    $(function () {
        feather.replace();
    });
</script>