@model RevenueControlModel
@{
    ViewBag.Title = "Lokasyon Parametreleri";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Lokasyon Parametreleri</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div><!-- content-header -->
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">
                <div class="row">
                    @foreach (var location in Model.Locations.OrderBy(x => x.SortBy).ToList())
                    {
                        <div class="col-sm-12" style="margin-bottom:20px !important;">
                            <div class="card">
                                <div class="card-header d-sm-flex align-items-start justify-content-between">
                                    <h6 class="lh-5 mg-b-0">@($"{location.SortBy?.Trim()} {location?.LocationName} {location?.Description} {location?.State}") </h6>
                                    <a href="" class="tx-13 link-03"><div class="wd-10 ht-10 rounded-circle @(location.IsActive == true ?"bg-teal":"bg-gray-200") mg-r-auto mg-l-auto"></div></a>
                                </div><!-- card-header -->
                                <div class="card-body pd-y-10 pd-x-10">
                                    <div class="table-responsive">
                                        <table class="table table-light table-bordered table-hover table-sm tx-13 tx-nowrap mb-0">
                                            <tfoot>
                                                <tr class="bg-white">
                                                    <td class="wd-5p"></td>
                                                    <td class="tx-medium wd-30p" style="padding:2px !important;">
                                                        <select class="form-control" id="ParameterType@(location.LocationID)" required>
                                                            @foreach (var item in Model.ParameterTypes)
                                                            {
                                                                <option value="@item.TypeID">@($"{item.TypeName}")</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Date@(location.LocationID)" class="form-control form-control-sm datepicker shiftdate" placeholder="Başlangıç Tarihi"></td>
                                                    <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Total@(location.LocationID)" class="form-control form-control-sm money text-right" placeholder="Tutar"></td>
                                                    <td class="text-right wd-10p" style="padding:2px !important;"><input type="text" id="Rate@(location.LocationID)" class="form-control form-control-sm money4 text-right" placeholder="Oran"></td>
                                                    <td class="text-right wd-15p" style="padding:2px !important;">
                                                        <select class="form-control" id="CalculateType@(location.LocationID)">
                                                            <option value="">Seçiminiz</option>
                                                            @foreach (var item in Model.LocationParamCalculate)
                                                            {
                                                                <option value="@item.ID">@($"{item.Name}")</option>
                                                            }
                                                        </select>
                                                    </td>
                                                    <td class="wd-15p" style="padding:2px !important;">
                                                        <button type="button" class="btn btn-xs btn-primary btn-block" onclick="AddLocationParameter(@(location.LocationID))">Parametre Ekle</button>
                                                    </td>
                                                    <td class="wd-5p" style="padding:2px !important;"></td>

                                                </tr>
                                            </tfoot>
                                        </table>
                                        <div id="LocationParamDetail@(location.LocationID)">
                                            @{ Html.RenderPartial("_PartialLocationParameterDetail", new LocationParameterDetailModel() { Location = location, LocationParameters = Model.LocationParameters.Where(x => x.LocationID == location.LocationID).ToList(), LocationParamCalculate = Model.LocationParamCalculate });}
                                        </div>
                                        <hr />
                                        <table class="table table-warning table-sm tx-13 tx-nowrap mb-0">
                                            <tbody>
                                                <tr class="bg-white">
                                                    <td class="wd-5p"></td>
                                                    <td class="tx-medium wd-30p" style="padding:2px !important;">
                                                        UFE'ye ait mi?
                                                    </td>
                                                    <td class="wd-10p" style="padding:2px !important;">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="cashCheck@(location.LocationID)" value="1">
                                                            <label class="custom-control-label" for="cashCheck@(location.LocationID)">Nakit</label>
                                                        </div>
                                                    </td>
                                                    <td class="wd-10p" style="padding:2px !important;">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="creditCheck@(location.LocationID)" value="1">
                                                            <label class="custom-control-label" for="creditCheck@(location.LocationID)">Kredi</label>
                                                        </div>
                                                    </td>
                                                    <td class="wd-10p" style="padding:2px !important;">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="rentCheck@(location.LocationID)" value="1">
                                                            <label class="custom-control-label" for="rentCheck@(location.LocationID)">Kira</label>
                                                        </div>
                                                    </td>
                                                    <td class="wd-15p" style="padding:2px !important;">
                                                        <input type="text" id="DateRevenue@(location.LocationID)" class="form-control form-control-sm datepicker shiftdate" placeholder="Başlangıç Tarihi">
                                                    </td>
                                                    <td class="wd-15p" style="padding:2px !important;">
                                                        <button type="button" class="btn btn-xs btn-warning btn-block" onclick="AddRevenueParameter(@(location.LocationID))">Parametre Ekle</button>
                                                    </td>
                                                    <td class="wd-5p" style="padding:2px !important;"></td>

                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="RevenueParamDetail@(location.LocationID)">
                                            @{ Html.RenderPartial("_PartialRevenueParameterDetail", new RevenueParameterDetailModel() { Location = location, RevenueParameters = Model.RevenueParameters.Where(x => x.LocationID == location.LocationID).ToList() });}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalLocationSchedule" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="AddLocationSchedule">

            </div>
        </div>
    </div>
</div>
@section scripts {


    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");

            $('.datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('.shifttime').mask('00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });

            
        });

        function AddLocationParameter(locationid) {

            var typeid = $('#ParameterType' + locationid).val();
            var startdate = $('#Date' + locationid).val();
            var total = $('#Total' + locationid).val();
            var rate = $('#Rate' + locationid).val();
            var calctype = $('#CalculateType' + locationid).val();

            var data = new FormData();

            data.append('locationid', locationid);
            data.append('startdate', startdate);
            data.append('total', total);
            data.append('typeid', typeid);
            data.append('rate', rate);
            data.append('calctype', calctype);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/AddLocationParameter",
                data: data
            }).done(function (d) {
                $("#LocationParamDetail" + locationid).html(d);
            });
        }

        function EditLocationParameter(id, locationid) {

            var startdate = $('#Date_' + id).val();
            var total = $('#Total_' + id).val();
            var rate = $('#Rate_' + id).val();
            var calctype = $('#CalculateType_' + id).val();

            var data = new FormData();

            data.append('id', id);
            data.append('startdate', startdate);
            data.append('total', total);
            data.append('rate', rate);
            data.append('calctype', calctype);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/EditLocationParameter",
                data: data
            }).done(function (d) {
                $("#LocationParamDetail" + locationid).html(d);
            });
        }

        function DeleteLocationParameter(id, locationid) {

            var data = new FormData();

            data.append('id', id);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/DeleteLocationParameter",
                data: data
            }).done(function (d) {
                $("#LocationParamDetail" + locationid).html(d);
            });
        }

        function AddRevenueParameter(locationid) {

            var startdate = $('#DateRevenue' + locationid).val();

            var cash = 0;
            if ($('#cashCheck' + locationid).is(":checked")) {
                cash = 1;
            }

            var credit = 0;
            if ($('#creditCheck' + locationid).is(":checked")) {
                credit = 1;
            }

            var rent = 0;
            if ($('#rentCheck' + locationid).is(":checked")) {
                rent = 1;
            }

            var data = new FormData();

            data.append('locationid', locationid);
            data.append('startdate', startdate);
            data.append('cash', cash);
            data.append('credit', credit);
            data.append('rent', rent);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/AddRevenueParameter",
                data: data
            }).done(function (d) {
                $("#RevenueParamDetail" + locationid).html(d);
            });
        }

        function EditRevenueParameter(id, locationid) {

            var startdate = $('#DateRevenue_' + id).val();

            var cash = 0;
            if ($('#cashCheck_' + id).is(":checked")) {
                cash = 1;
            }

            var credit = 0;
            if ($('#creditCheck_' + id).is(":checked")) {
                credit = 1;
            }

            var rent = 0;
            if ($('#rentCheck_' + id).is(":checked")) {
                rent = 1;
            }

            var data = new FormData();

            data.append('id', id);
            data.append('startdate', startdate);
            data.append('cash', cash);
            data.append('credit', credit);
            data.append('rent', rent);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/EditRevenueParameter",
                data: data
            }).done(function (d) {
                $("#RevenueParamDetail" + locationid).html(d);
            });
        }

        function DeleteRevenueParameter(id, locationid) {

            var data = new FormData();

            data.append('id', id);

            $.ajax({
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                url: "/Revenue/DeleteRevenueParameter",
                data: data
            }).done(function (d) {
                $("#RevenueParamDetail" + locationid).html(d);
            });
        }

    </script>



    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
