@model EmployeeControlModel
@{
    ViewBag.Title = "Çalışanlar";
}

<div class="d-flex flex fixed-content">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-2">
                <div class="toolbar">
                    <a href="#" class="btn btn-md btn-block btn-white" title="Lokasyon">
                        @(Model.Location.FullName)
                    </a>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-sm btn-block btn-white">
                        <span class="font-weight-bold">@(Model.LocationDate.ToLongDateString())</span>
                    </a>
                </div>
            </div>
            <div class="scroll-y mb-0">
                <div class="row no-gutters">
                    <div class="col-md-12 p-2">

                        @foreach (var item in Model.Employees)
                        {
                            <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">

                                <div class="card-header @(item.Shift != null && item.Shift.Duration == null && item.Breaks.Any() && item.Breaks.Any(x=> x.Duration == null) ? "bg-warning" : item.Shift != null && item.Shift.Duration == null ? $"bg-success" :  item.Shift != null ?  "bg-primary" : "bg-body" )">
                                    <div class="d-flex">

                                        <span class="font-weight-bold fa-2x pt-2"> @(item.FullName)</span>
                                        <span class="flex"></span>
                                        <div>
                                            <span class="avatar w-36" style="margin: -2px;"><img src="@($"http://office.ufegrup.com/img/Employee/{item.FotoFile}")" alt="@(Model.Authentication?.CurrentEmployee?.FullName)"></span>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="m-0 p-0">
                                        <a href="#" class="btn btn-block btn-warning font-weight-bold"><i class="font-weight-bold" data-feather="coffee"></i> &nbsp; Molada</a>
                                    </div>*@
                                <div class="card-body m-0 p-0">
                                    <div class="table-responsive scrollable scroll-x">
                                        <table class="table mb-0">
                                            <tbody>
                                                <tr>
                                                    <th class="bg-body p-2" colspan="3">Takvimi</th>
                                                </tr>
                                                <tr>
                                                    <th class="p-2 text-center">@(item?.Schedule?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="p-2 text-center">@(item?.Schedule?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="p-2 text-center">@(item?.Schedule?.Duration?.ToString(@"hh\:mm\:ss"))</th>
                                                </tr>
                                                <tr>
                                                    <th class="bg-success--lt p-2" colspan="2">Mesaisi</th>
                                                    <th class="bg-success--lt p-0 m-0 text-right" style="vertical-align: middle;"><a href="@(item.Shift != null && item.Shift.Duration == null ? $"/Employee/EmployeeShiftEnd?EmployeeID={item.ID}&Token={item.Token}" : item.Shift == null ? $"/Employee/EmployeeShiftStart?EmployeeID={item.ID}&Token={item.Token}" :"#" )" class="btn btn-block  font-weight-bold text-success"><i class="font-weight-bold" data-feather="clock"></i></a></th>

                                                </tr>
                                                <tr>
                                                    <th class="text-success p-2 text-center">@(item?.Shift?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="text-success p-2 text-center">@(item?.Shift?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="text-success p-2 text-center">@(item?.Shift?.Duration?.ToString(@"hh\:mm\:ss"))</th>

                                                </tr>
                                                <tr>
                                                    <th class="bg-warning--lt p-2" colspan="2">Molaları</th>
                                                    <th class="bg-warning--lt p-0 m-0 text-right" style="vertical-align: middle;"><a href="@(item.Shift != null && item.Shift.Duration == null && item.Breaks.Any() && item.Breaks.Any(x=> x.Duration == null) ? $"/Employee/EmployeeBreakEnd?EmployeeID={item.ID}&Token={item.Token}" : item.Shift != null && item.Shift.Duration == null  && !item.Breaks.Any(x=> x.Duration == null) ? $"/Employee/EmployeeBreakStart?EmployeeID={item.ID}&Token={item.Token}" :"#" )" class="btn btn-block font-weight-bold text-warning"><i class="font-weight-bold" data-feather="coffee"></i></a></th>

                                                </tr>
                                                @foreach (var b in item.Breaks)
                                                {
                                                    <tr>
                                                        <th class="text-warning p-2 text-center">@(b?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                        <th class="text-warning p-2 text-center">@(b?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                        <th class="text-warning p-2 text-center">@(b?.Duration?.ToString(@"hh\:mm\:ss"))</th>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
                $(function () {
                    notie.setOptions({
                        alertTime: 5
                    })
                    notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                    noticed = true;
                });
        </script>
    }

    <script type="text/javascript">



        function GetCashRecorderModal(id) {

            $("#modalcashContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/Envelope/GetCashRecorder",
                data: { ID: id }
            }).done(function (d) {
                $("#modalcashContent").html(d);
            });
        };


        function GetResultDocument(id) {

            $("#modalResultDocumentContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/Envelope/GetResultDocument",
                data: { ID: id }
            }).done(function (d) {
                $("#modalResultDocumentContent").html(d);
            });
        };

    </script>

}