@model SalesControlModel
<table cellpadding="0" cellspacing="0" class="tickets-sales-cash">
    <tr>
        <td class="bg-cash">Bilet - Dk</td>
        <td class="bg-cash" style="text-align:right">Fiyat</td>
        <td class="bg-cash" style="text-align:right">Ad.</td>
        <td class="bg-cash" style="text-align:right">Satış</td>
        <td class="bg-cash" style="text-align:right">İptal</td>
        <td class="bg-cash" style="text-align:right">İade</td>
        <td class="bg-cash" style="text-align:right">Satış(₺)</td>
    </tr>

    @foreach (var item in Model.VPrices.OrderBy(x => x.Unit).ToList())
    {
        var saletotal = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && (new List<int> { 3, 4, 5 }).Contains(x.PosStatusID.Value)).ToList();
        var sale = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && x.PosStatusID == 3 && x.StatusID == 2).ToList();
        var cancel = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && x.PosStatusID == 4).ToList();
        var refund = Model.TicketSaleRowSummary.Where(x => x.PriceID == item.ID && (x.PosStatusID == 5 || x.StatusID == 5)).ToList();

        <tr>
            <td>@(item.ProductName) <br />@(item.Unit) Dk.</td>
            <td style="text-align:right">@(item.Price?.ToString("N2")) ₺</td>
            <th class="color-cash font-bold" style="text-align:right">@(saletotal.Sum(x=> x.Quantity))</th>
            <th class="color-cash font-bold" style="text-align:right">@(sale.Sum(x=> x.Quantity))</th>
            <th class="color-cash font-bold" style="text-align:right">@(cancel.Sum(x=> x.Quantity))</th>
            <th class="color-cash font-bold" style="text-align:right">@(refund.Sum(x=> x.Quantity))</th>
            <th class="font-bold" style="text-align:right">@((sale.Sum(x => x.Total))?.ToString("N2") ) ₺</th>
        </tr>
    }
    <tr>
        <td class="color-cash font-bold" colspan="5"></td>
        <td class="font-bold" colspan="2">@((Model.TicketSaleRowSummary.Where(x=> x.PosStatusID == 3 && x.StatusID == 2).Sum(x => x.Total))?.ToString("N2")) ₺</td>
    </tr>
</table>
