@model SalesControlModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="@(Model.Authentication.IsCardSystem == true ? "/Card":"/")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="refund-form">
                    <div class="steps">
                        <h1>SATIŞ ÖDEME FİŞİ</h1>
                        <div class="step step-1 active">
                            @if (Model.TicketSalePosReceipt != null)
                            {

                                using (Html.BeginForm("EditPayment", "Sales", FormMethod.Post, new { role = "form" }))
                                {
                            <div class="form">
                                <input id="PosReceiptID" name="PosReceiptID" type="hidden" value="@(Model.TicketSalePosReceipt.ID)" />
                                <input id="OrderID" name="OrderID" type="hidden" value="@(Model.TicketSaleSummary.ID)" />

                                <div class="form-group mb-0">
                                    <input type="text" name="OrderNumber" class="form-control" style=" background-color: lightgray;" value="@(Model.TicketSaleSummary.OrderNumber)" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="WillPaymentAmount" class="form-control form-control-plaintext" style="text-align:right; font-weight:bold; background-color:lightgray;" value="@($"Tutar : {Model.PaymentAmount.ToString("N2")} ₺")" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="BalanceAmount" class="form-control form-control-plaintext" style="text-align: right; font-weight: bold; background-color: lightgray;" value="@($"Kalan : {Model.BalanceAmount.ToString("N2")} ₺")" readonly>
                                </div>

                                <div class="form-group">
                                    <input type="number" name="ReceiptNo" class="form-control" placeholder="FİŞ NO" value="@(Model.TicketSalePosReceipt.ReceiptNo)">
                                </div>

                                <div class="form-group">
                                    <input type="number" name="ZNo" class="form-control" placeholder="Z NO" value="@(Model.TicketSalePosReceipt.ZNo)">
                                </div>

                                <div class="form-group">
                                    <input type="number" name="EkuNo" class="form-control" placeholder="EKÜ NO" value="@(Model.TicketSalePosReceipt.EkuNo)">
                                </div>

                                <div class="form-group">
                                    <input type="date" name="ReceiptDate" class="form-control" placeholder="Fiş Tarihi" value="@(Model.TicketSalePosReceipt.ReceiptDate != null ? Model.TicketSalePosReceipt.ReceiptDate?.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" required>
                                </div>

                                <div class="form-group">
                                    <input type="time" name="ReceiptTime" class="form-control" placeholder="Fiş Saati" value="@(Model.TicketSalePosReceipt.ReceiptTime != null ? Model.TicketSalePosReceipt.ReceiptTime?.ToString(@"hh\:mm\:ss") : DateTime.Now.ToString("HH\\:mm"))">
                                </div>

                                @if (Model.BalanceAmount > 0)
                                {
                                    <p>ÖDEME BİLGİSİ </p>


                                    <div class="form-group">
                                        <input type="text" name="PaymentAmount" class="form-control money" style="text-align:right; font-weight:bold;" value="@(Model.BalanceAmount.ToString("N2"))" required>
                                    </div>
                                    <div class="form-group">
                                        <select id="PosPaymentType" name="PosPaymentType" class="form-control" required>
                                            <option value="">Ödeme Yöntemi Seçiniz</option>
                                            @foreach (var item in Model.PosPaymentType.ToList())
                                            {
                                                <option value="@(item.PaymentTypeID)">@(item.PaymentTypeName)</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group" id="divBankId" style="display:none;">
                                        <select id="BankId" name="BankId" class="form-control">
                                            <option value="">Kartın Bankasını Seçiniz</option>
                                            @foreach (var item in Model.Banks.OrderBy(x => x.Name).ToList())
                                            {
                                                <option value="@(item.EFTCode)">@(item.Name.ToUpper())</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="form-group" id="divInstallment" style="display:none;">
                                        <select id="Installment" name="Installment" class="form-control">
                                            <option value="">Taksit Sayısı Seçiniz</option>
                                            <option value="1">Tek Çekim</option>
                                            <option value="2">2 Taksit</option>
                                            <option value="3">3 Taksit</option>
                                            <option value="4">4 Taksit</option>
                                            <option value="5">5 Taksit</option>
                                            <option value="6">6 Taksit</option>
                                            <option value="7">7 Taksit</option>
                                            <option value="8">8 Taksit</option>
                                            <option value="9">9 Taksit</option>
                                            <option value="10">10 Taksit</option>
                                            <option value="11">11 Taksit</option>
                                            <option value="12">12 Taksit</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <button type="Submit" class="btn btn-primary">KALAN ÖDEMEYİ EKLE</button>
                                    </div>

                                }
                                else
                                {
                                    if (Model.TicketSaleSummary.IsSendPosTerminal == false)
                                    {
                                        <div class="form-group">
                                            <button type="Submit" class="btn btn-primary">GÜNCELLE</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary">GÜNCELLENEMEZ</button>
                                        </div>
                                    }

                                }

                            </div>
                                }
                            }
                            else
                            {
                                using (Html.BeginForm("AddPayment", "Sales", FormMethod.Post, new { role = "form" }))
                                {
                                    <div class="form">
                                        <input id="PosReceiptID" name="PosReceiptID" type="hidden" value="0" />
                                        <input id="OrderID" name="OrderID" type="hidden" value="@(Model.TicketSaleSummary.ID)" />

                                        <div class="form-group mb-0">
                                            <input type="text" name="OrderNumber" class="form-control" style=" background-color: lightgray;" value="@(Model.TicketSaleSummary.OrderNumber)" readonly>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="WillPaymentAmount" class="form-control form-control-plaintext" style="text-align:right; font-weight:bold; background-color:lightgray;" value="@($"Tutar : {Model.PaymentAmount.ToString("N2")} ₺")" readonly>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="BalanceAmount" class="form-control form-control-plaintext" style="text-align: right; font-weight: bold; background-color: lightgray;" value="@($"Kalan : {Model.BalanceAmount.ToString("N2")} ₺")" readonly>
                                        </div>

                                        <div class="form-group">
                                            <input type="number" name="ReceiptNo" class="form-control" placeholder="FİŞ NO" value="">
                                        </div>

                                        <div class="form-group">
                                            <input type="number" name="ZNo" class="form-control" placeholder="Z NO" value="">
                                        </div>

                                        <div class="form-group">
                                            <input type="number" name="EkuNo" class="form-control" placeholder="EKÜ NO" value="">
                                        </div>

                                        <div class="form-group">
                                            <input type="date" name="ReceiptDate" class="form-control" placeholder="Fiş Tarihi" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="time" name="ReceiptTime" class="form-control" placeholder="Fiş Saati" value="@(DateTime.Now.ToString("HH\\:mm"))">
                                        </div>

                                        <p>ÖDEME BİLGİSİ </p>


                                        <div class="form-group">
                                            <input type="text" name="PaymentAmount" class="form-control money" style="text-align:right; font-weight:bold;" value="@(Model.BalanceAmount.ToString("N2"))" required>
                                        </div>
                                        <div class="form-group">
                                            <select id="PosPaymentType" name="PosPaymentType" class="form-control" required>
                                                <option value="">Ödeme Yöntemi Seçiniz</option>
                                                @foreach (var item in Model.PosPaymentType.ToList())
                                                {
                                                    <option value="@(item.PaymentTypeID)">@(item.PaymentTypeName)</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group" id="divBankId" style="display:none;">
                                            <select id="BankId" name="BankId" class="form-control">
                                                <option value="">Kartın Bankasını Seçiniz</option>
                                                @foreach (var item in Model.Banks.OrderBy(x => x.Name).ToList())
                                                {
                                                    <option value="@(item.EFTCode)">@(item.Name.ToUpper())</option>
                                                }
                                            </select>
                                        </div>

                                        <div class="form-group" id="divInstallment" style="display:none;">
                                            <select id="Installment" name="Installment" class="form-control">
                                                <option value="">Taksit Sayısı Seçiniz</option>
                                                <option value="1">Tek Çekim</option>
                                                <option value="2">2 Taksit</option>
                                                <option value="3">3 Taksit</option>
                                                <option value="4">4 Taksit</option>
                                                <option value="5">5 Taksit</option>
                                                <option value="6">6 Taksit</option>
                                                <option value="7">7 Taksit</option>
                                                <option value="8">8 Taksit</option>
                                                <option value="9">9 Taksit</option>
                                                <option value="10">10 Taksit</option>
                                                <option value="11">11 Taksit</option>
                                                <option value="12">12 Taksit</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-info">EKLE</button>
                                        </div>


                                    </div>
                                }
                            }

                            @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message))
                            {
                                <div>
                                    <div class="form-result">
                                        <h2>@(Model.Result.IsSuccess ? "İşleminiz başarıyla tamamlandı." : "İşlem Başarısız")</h2>
                                        <p>@(Model.Result.Message)</p>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div><!-- content -->
            <div class="fixed-footer">
                <div class="container">
                    <div class="footer-up">
                        <div class="clean clean-2">
                            <a href="/sales/Detail/@(Model.TicketSaleSummary.ID)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="87.52" height="65.64" viewBox="0 0 87.52 65.64">
                                    <path d="M80.227,3h-54.7a6.864,6.864,0,0,0-5.8,3.209L0,35.82,19.728,65.394a6.9,6.9,0,0,0,5.8,3.246h54.7a7.315,7.315,0,0,0,7.293-7.293V10.293A7.315,7.315,0,0,0,80.227,3Zm0,58.347H25.782L8.752,35.82,25.745,10.293H80.227ZM37.962,54.053,51.053,40.962,64.145,54.053l5.142-5.142L56.2,35.82,69.287,22.728l-5.142-5.142L51.053,30.678,37.962,17.587,32.82,22.728,45.912,35.82,32.82,48.912Z" transform="translate(0 -3)" fill="currentColor" />
                                </svg>
                                <!-- clean -->
                                <span>GERİ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- fixed-footer -->
        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script>
        $(function () {
            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });


        });

        $("#PosPaymentType").on('change', function () {
            var itemId = $("#PosPaymentType").val();

            if (itemId == 4) {
                $("#divBankId").show();
                $("#divInstallment").show();

                $('#Installment').attr('required');
                $('#BankId').attr('required');
            }
            else {
                $("#divBankId").hide();
                $("#divInstallment").hide();

                $('#Installment').removeAttr('required');
                $('#BankId').removeAttr('required');
            }
        });
    </script>
    <script src="/assets/js/jquery.mask.js"></script>
    <script>
        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.postcode').mask('00000-000');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });
        function SumExchangeRate() {
            var amount = $("#Amount").val().replace('.', '').replace(',', '.');
            var toamount = $("#ToAmount").val().replace('.', '').replace(',', '.');
            var rate = parseFloat(toamount) / parseFloat(amount) || 0.0000;
            $("#SaleExchangeRate").val(rate.toFixed(4).toString());
        };
        function SumExchangeToAmount() {
            var amount = $("#Amount").val().replace('.', '').replace(',', '.');
            var rate = $("#SaleExchangeRate").val().replace('.', '').replace(',', '.');
            var toamount = parseFloat(amount) * parseFloat(rate) || 0.00;
            $("#ToAmount").val(toamount.toFixed(2).toString());
        };</script>


</body>
</html>
