@model SalesControlModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="refund-form">
                    <div class="steps">
                        <h1>İADE FORMU (Gider Pusulası)</h1>
                        <div class="step step-1 active">
                            @using (Html.BeginForm("AddRefund", "Sales", FormMethod.Post, new { role = "form" }))
                            {
                            <div class="form">
                                <input id="OrderID" name="OrderID" type="hidden" value="@(Model.TicketSaleSummary.ID)" />
                                <input id="OrderRowID" name="OrderRowID" type="hidden" value="@(Model.TicketSaleRow != null ? Model.TicketSaleRow.ID : 0)" />

                                <div class="form-group">
                                    <input type="text" name="OrderNumber" class="form-control" value="@(Model.TicketSaleSummary.OrderNumber)" readonly>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="PaymentAmount" class="form-control money" style="text-align:right; font-weight:bold;" value="@(Model.RefundAmount.ToString("N2"))" required readonly>
                                </div>
                                <div class="form-group">
                                    <select name="PayMethod" class="form-control" required>
                                        <option value="">İade Yöntemi</option>
                                        @foreach (var item in Model.PayMethods)
                                        {
                                            <option value="@(item.ID)"> @(item.MethodName)</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="text" name="DocumentNumber" class="form-control" placeholder="Gider Pusulası Evrak No" value="@(Model.ExpenseSlip != null ? Model.ExpenseSlip.DocumentNumber : "")" required>
                                </div>
                                <div class="form-group">
                                    <input type="date" name="DocumentDate" class="form-control" placeholder="Evrak Tarihi" value="@(Model.ExpenseSlip != null ? Model.ExpenseSlip.DocumentDate?.ToString("yyyy-MM-dd") :  Model.TicketSaleSummary.Date?.ToString("yyyy-MM-dd"))" required>
                                </div>

                                <div class="row">
                                    <div class="col-5">
                                        <div class="form-group">
                                            <select class="form-control" id="phone-number-country" name="PhoneNumberCountry" autocomplete="off">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="form-group">
                                            <div class="phone-number">
                                                <div class="form-control phone-number-prefix"></div>
                                                <input class="form-control" id="phone-number" name="CustomerPhone" type="tel" autocomplete="off" style="font-weight:bold;" value="@(Model.Customer != null ? Model.Customer.PhoneNumber : "")" required>
                                                <input type="hidden" id="phone-number-full" name="PhoneNumberFull" />
                                                <input type="hidden" id="phone-number-code" name="CountryCode" value="@(Model.Customer != null ? Model.Customer.PhoneCode : "90")" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="CustomerName" name="CustomerName" class="form-control" placeholder="Müşteri Adı Soyadı" value="@(Model.Customer != null ? Model.Customer.FullName : "")" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="CustomerIdentityNumber" name="CustomerIdentityNumber" class="form-control" placeholder="TCKN" value="@(Model.Customer != null ? Model.Customer.IdentityNumber : "")" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" id="CustomerMail" name="CustomerMail" class="form-control" placeholder="E-Mail" value="@(Model.Customer != null ? Model.Customer.EMail : "")">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="PostAddress" name="PostAddress" placeholder="Posta Adresi" required rows="1">@(Model.ExpenseSlip != null ? Model.ExpenseSlip.CustomerAddress : "")</textarea>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="Description" placeholder="Açıklama" required>@(Model.ExpenseSlip != null ? Model.ExpenseSlip.Description : "")</textarea>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-light">@(Model.ExpenseSlip != null ? "GÜNCELLE" : "KAYDET")</button>
                                </div>


                            </div>
                            }
                        </div>
                       
                        @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message))
                        {
                            <div>
                                <div class="form-result">
                                    <h2>@(Model.Result.IsSuccess ? "İşleminiz başarıyla tamamlandı." : "İşlem Başarısız")</h2>
                                    <p>@(Model.Result.Message)</p>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div><!-- content -->
            <div class="fixed-footer">
                <div class="container">
                    <div class="footer-up">
                        <div class="clean clean-2">
                            <a href="/sales/Detail/@(Model.TicketSaleSummary.ID)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="87.52" height="65.64" viewBox="0 0 87.52 65.64">
                                    <path d="M80.227,3h-54.7a6.864,6.864,0,0,0-5.8,3.209L0,35.82,19.728,65.394a6.9,6.9,0,0,0,5.8,3.246h54.7a7.315,7.315,0,0,0,7.293-7.293V10.293A7.315,7.315,0,0,0,80.227,3Zm0,58.347H25.782L8.752,35.82,25.745,10.293H80.227ZM37.962,54.053,51.053,40.962,64.145,54.053l5.142-5.142L56.2,35.82,69.287,22.728l-5.142-5.142L51.053,30.678,37.962,17.587,32.82,22.728,45.912,35.82,32.82,48.912Z" transform="translate(0 -3)" fill="currentColor" />
                                </svg>
                                <!-- clean -->
                                <span>GERİ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- fixed-footer -->
        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script>
        $(function () {
            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });
            $(document).ready(function () {
                $('.piece-options .minus').click(function () {
                    var $input = $(this).parent().find('input');
                    var count = parseInt($input.val()) - 1;
                    count = count < 1 ? 1 : count;
                    $input.val(count);
                    $input.change();
                    return false;
                });
                $('.piece-options .plus').click(function () {
                    var $input = $(this).parent().find('input');
                    $input.val(parseInt($input.val()) + 1);
                    $input.change();
                    return false;
                });
            });

        });
    </script>
    <script src="/assets/js/intlTelInput.js"></script>
    <script src="/assets/js/formatter.js"></script>
    <script>
        /*

        Description:
        Dropdown and Telephone input to handle international phone number entry. Default option is US but can be changed. Uses formatter js to add spacing, dashes and parentheses if needed while the user types. On selection of country in the dropdown the gray dial code box next to the telephone input is updated with the selected countries dial code. The formatter pattern is also updated on change. Validation is through intl-tel-inputs built in validator from googles libphonenumber. This is fully responsive and mobile optimized.

        Test Numbers:
        UK: +44 07400 123456
        JP: +81 070-1234-5678
        DE: +49 01512 3456789
        FR: +33 06 12 34 56 78
        */

        const intlPhoneNumber = function(countryCode) {
        // get the country data from the plugin
        const countryData = $.fn.intlTelInput.getCountryData();
        const telInput = $("#phone-number");
        const telInputLabel = telInput.parents(".form-group").find("label");
        const countryDropdown = $("#phone-number-country");
        const phonePrefix = $('.phone-number-prefix');
        const fullPhoneNumber = $('#phone-number-full');
        const errorMsg = $("#error-msg");
        const initCountry = countryCode || 'tr'; /* başlangıç ülkesi*/
        let pattern = '';

        //set initial pattern for formatting
        if (initCountry === 'us') {
            pattern = '({{999}}) {{999}}-{{9999}}';
        } else if(initCountry === 'tr') {
            pattern = '({{999}}) {{999}} {{99}} {{99}}';
        } else{
            // using as temp until formatting on init figured out
            pattern = '{{9999999999999999999999}}';
        }

        // reset function to reset error state on validation
        const reset = function() {
            telInput.attr("placeholder", "(555) 555 55 55");
            telInput.removeClass("has-error");
            telInputLabel.removeClass("has-error");
            errorMsg.addClass("hidden-xs-up");
        };

        // populate the country dropdown with intl-tel-input countries data
        $.each(countryData, function(i, country) {
            countryDropdown.append($("<option></option>").attr("value", country.iso2).text(country.name));
        });

        // init plugin for formatting placeholders
        telInput.intlTelInput({
            allowDropdown: false,
            initialCountry: initCountry,
            utilsScript: "https://1cf5229636340d3e1dd5-0eccc4d82b7628eccb93a74a572fd3ee.ssl.cf1.rackcdn.com/testing/utils.js"
        });

            // set dropdowns initial value
        const initialCountry = telInput.intlTelInput("getSelectedCountryData").iso2;
        let dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
        countryDropdown.val(initialCountry);
        phonePrefix.text("+" + dialCode);
        $('#phone-number-code').val(dialCode);

        // init format
        telInput.formatter({
            'pattern': pattern
        });

        // delete intl-tel-input items that aren't needed
        $('.flag-container').remove();
        $('.intl-tel-input').replaceWith(function() {
            return $('#phone-number', this);
        });

        // set placeholder
        telInput.attr("placeholder", "(555) 555 55 55");

        // on blur: validate
        telInput.blur(function() {
            // reset states
            reset();

            if ($.trim(telInput.val())) {
            // if number is not valid
            if (telInput.intlTelInput("isValidNumber")) {
                // set hidden input to dial code + inputted number
                fullPhoneNumber.val(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());

                GetCustomerInfo(telInput.intlTelInput("getSelectedCountryData").dialCode + telInput.val());
            } else {
                // set error states
                telInput.addClass("has-error");
                telInputLabel.addClass("has-error");
                errorMsg.removeClass("hidden-xs-up");
                //clear hidden input val
                fullPhoneNumber.val("");
            }
            }
        });

        // on keyup / change flag: reset
        telInput.on("keyup change", reset);

        // listen to the country dropdown for changes.
        // updates placeholder and prefix when changed
        countryDropdown.change(function() {
            // Update Placeholder via plugin - so we can get the example number + format
            telInput.intlTelInput("setCountry", $(this).val());
            // Update Dial Code Prefix
            dialCode = telInput.intlTelInput("getSelectedCountryData").dialCode;
            phonePrefix.text("+" + dialCode);
            // Use updated placeholder to define formatting pattern
            pattern = telInput.attr("placeholder").replace(new RegExp("[0-9]", "g"), "9").replace(/([9]\d{0,10})/g, '{{$1}}');
            // update formatter
            telInput.formatter().resetPattern(pattern);
            // clear telephone input to prevent validation errors
            telInput.val("");
            // update placeholder to specific
            telInput.attr("placeholder", "Tel. No");
        });
        };

        // Testing for prepopulation. If country code not supplied: default = 'us'
        // const initCountryCode = 'ca'; // uncomment to pass in as param
        intlPhoneNumber();


        function GetCustomerInfo(phonenumber) {

            $.ajax({
                method: "POST",
                url: "/Sales/GetCustomerInfo",
                data: { id: phonenumber }
            }).done(function (d) {

                //console.log(d);

                //if (d == null) {

                //    $("#CustomerName").val('');
                //    $("#CustomerIdentityNumber").val('');
                //    $("#CustomerMail").val('');
                //    $("#PostAddress").val('');

                //}

                $("#CustomerName").val(d.FullName);
                $("#CustomerIdentityNumber").val(d.IdentityNumber);
                $("#CustomerMail").val(d.EMail);
                $("#PostAddress").val(d.PostAddress);

                //$("#BasketBody").html(d);
            }).fail(function (d) {

                console.log(d);
                $("#CustomerName").val('');
                $("#CustomerIdentityNumber").val('');
                $("#CustomerMail").val('');
                $("#PostAddress").val('');

            })
            ;
        };
    </script>
    <script src="/assets/js/jquery.mask.js"></script>
    <script>
        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.postcode').mask('00000-000');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });
    </script>
</body >
</html >
