@model SettingsControlModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
    <link rel="stylesheet" href="/assets/scss/confirm.css" />
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">@(Model.CurrentCardReader?.SerialNumber)</a>
                    <div class="date" style="font-weight:800;" id="MessageArea">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="@(Model.Authentication.IsCardSystem == true ? "/Card":"/")">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content" style="padding-top:80px;">
                <div class="content" style="padding:40px 20px 20px;">
                    <div class="card-transactions">
                        <div class="steps">
                            <h1>KART OKUYUCU TANIMLAMA</h1>




                            @using (Html.BeginForm("CardReaderUpdate", "Settings", FormMethod.Post, new { role = "form" }))
                            {
                                <div class="form">
                                    <input id="CardReaderID" name="CardReaderID" type="hidden" value="@(Model.CardReader?.ID)" />
                                    <input id="CurrentCardReaderID" name="CurrentCardReaderID" type="hidden" value="@(Model.CurrentCardReader?.ID)" />
                                    <input id="LocationID" name="LocationID" type="hidden" value="@(Model.Authentication.CurrentLocation?.ID)" />
                                    <input id="LocationTypeID" name="LocationTypeID" type="hidden" value="@(Model.Authentication.CurrentLocation?.LocationTypeID)" />

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Lokasyon</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body"> @(Model.Authentication.CurrentLocation?.FullName)</label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Seri No</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body" style="font-size:16px;"> @(Model.CardReader?.SerialNumber)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Mac No</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body" style="font-size:16px;"> @(Model.CardReader?.MACAddress)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Versiyon</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body"> @(Model.CardReader?.Version)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>IP</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body"> @(Model.CardReader?.IPAddress)</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Tarihi</label>
                                            </div>
                                            <div class="col col-8">
                                                <label class="form-control font-weight-bold mb-0 bg-body"> @(Model.CardReader?.StartDate?.ToString("G"))</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Türü</label>
                                            </div>
                                            <div class="col col-8">
                                                <select id="CardReaderTypeID" name="CardReaderTypeID" class="form-control" required>
                                                    <option value="">Okuyucu Tipi Seçiminiz</option>
                                                    @foreach (var item in Model.CardReaderTypes.OrderBy(x => x.ID).ToList())
                                                    {
                                                        <option value="@(item.ID)" @(item.ID == Model.CardReader?.CardReaderTypeID ? "selected" : "")> @(item.ReaderTypeName)</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                                <label>Bölüm</label>
                                            </div>
                                            <div class="col col-8">
                                                <select id="LocationPartID" name="LocationPartID" class="form-control" required>
                                                    <option value="">Bölüm Seçiminiz</option>

                                                    @foreach (var item in Model.LocationParts.OrderBy(x => x.PartName).ToList())
                                                    {
                                                        <option value="@(item.PartID)" @(item.PartID == Model.CardReader?.LocationPartID ? "selected" : "")> @(item.PartName)</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col col-4">
                                            </div>
                                            <div class="col col-8">
                                                <button class="btn btn-primary btn-block" id="Submit1" type="submit">OKUYUCU TANIMINI GÜNCELLE</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            }



                        </div>

                        <div class="card-transactions" style="margin-top: 20px;">

                            <div class="table-responsive">
                                <table cellpadding="0" cellspacing="0" class="general-table">
                                    <thead>
                                        <tr>
                                            <th colspan="7">Tanımlanmış Okuyucular : @(Model.Authentication.CurrentLocation.FullName)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Seri</th>
                                            <th>Mac</th>
                                            <th>Ver.</th>
                                            <th>IP</th>
                                            <th>Tür</th>
                                            <th>Bölüm</th>
                                            <th>Tarih</th>
                                        </tr>

                                        @foreach (var item in Model.CardReaders.OrderByDescending(x=> x.StartDate).ToList())
                                        {
                                            <tr>
                                                <td><a href="/Settings/cardreader/@(item.ID)" class="btn btn-block @(item.IsActive == false ? "text-danger":"")" style="color:darkblue;"><b>@(item.SerialNumber)</b></a></td>
                                                <td><a href="/Settings/cardreader/@(item.ID)" class="btn btn-block @(item.IsActive == false ? "text-danger":"")" style="color:darkblue;"><b>@(item.MACAddress)</b></a></td>
                                                <td>@(item.Version)</td>
                                                <td>@(item.IPAddress)</td>
                                                <td><b>@(item.ReaderTypeName)</b></td>
                                                <td style="text-align:left;"><b> @(item.PartName)</b></td>
                                                <td style="text-align:right;">@(item.StartDate?.ToString("G"))</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                            <div class="table-responsive">
                                <table cellpadding="0" cellspacing="0" class="general-table">
                                    <thead>
                                        <tr>
                                            <th colspan="7">Tanımsız Okuyucular</th>
                                        </tr>
                                        <tr>
                                            <th colspan="7">
                                                @using (Html.BeginForm("CardReader", "Settings", FormMethod.Post, new { role = "form" }))
                                                {
                                                    <div class="form">
                                                        <input id="CardReaderID" name="id" type="hidden" value="@(Model.CardReader?.ID)" />

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col col-4">
                                                                    <label>Arama</label>
                                                                </div>
                                                                <div class="col col-8">
                                                                    <input id="SearchKey" name="SearchKey" class="form-control font-weight-bold" type="text" value="@(Model.SearchKey)" />
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col col-4">
                                                                </div>
                                                                <div class="col col-8">
                                                                    <button class="btn btn-primary btn-block" id="Submit2" type="submit">ARA</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                }

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Seri</th>
                                            <th>Mac</th>
                                            <th>Ver.</th>
                                            <th>IP</th>
                                            <th>Tür</th>
                                            <th>Bölüm</th>
                                            <th>Tarih</th>
                                        </tr>

                                        @foreach (var item in Model.NewCardReaders.OrderByDescending(x => x.StartDate).ToList())
                                        {
                                            <tr>
                                                <td><a href="/Settings/cardreader/@(item.ID)" class="btn btn-block @(item.IsActive == false ? "text-danger":"")" style="color:darkblue;"><b>@(item.SerialNumber)</b></a></td>
                                                <td><a href="/Settings/cardreader/@(item.ID)" class="btn btn-block @(item.IsActive == false ? "text-danger":"")" style="color:darkblue;"><b>@(item.MACAddress)</b></a></td>
                                                <td>@(item.Version)</td>
                                                <td>@(item.IPAddress)</td>
                                                <td><b>@(item.ReaderTypeName)</b></td>
                                                <td style="text-align:left;"><b> @(item.PartName)</b></td>
                                                <td style="text-align:right;">@(item.StartDate?.ToString("G"))</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- content -->
            <div class="fixed-footer">
                <div class="container">
                    <div class="footer-up">
                        <div class="clean clean-2">
                            <a href="/Settings/Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="87.52" height="65.64" viewBox="0 0 87.52 65.64">
                                    <path d="M80.227,3h-54.7a6.864,6.864,0,0,0-5.8,3.209L0,35.82,19.728,65.394a6.9,6.9,0,0,0,5.8,3.246h54.7a7.315,7.315,0,0,0,7.293-7.293V10.293A7.315,7.315,0,0,0,80.227,3Zm0,58.347H25.782L8.752,35.82,25.745,10.293H80.227ZM37.962,54.053,51.053,40.962,64.145,54.053l5.142-5.142L56.2,35.82,69.287,22.728l-5.142-5.142L51.053,30.678,37.962,17.587,32.82,22.728,45.912,35.82,32.82,48.912Z" transform="translate(0 -3)" fill="currentColor" />
                                </svg>
                                <!-- clean -->
                                <span>GERİ</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- fixed-footer -->
        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/confirm.js"></script>

    <script type="text/javascript">

        function SetPersonel(card) {

            $.confirm({
                animation: 'zoom',
                closeAnimation: 'scale',
                title: 'Onaylama',
                content: 'Bu karta seçili personeli kaydetmek istediğinize emin misiniz?',
                buttons: {
                    succes: {
                        text: 'EVET',
                        btnClass: 'btn-yes',
                        action: function () {
                            //console.log('');
                            //Android.sendComment('');
                            // personel ekleme methodu çağrılır
                        }
                    },
                    danger: {
                        text: 'HAYIR',
                        btnClass: 'btn-no',
                        action: function () {

                        }
                    },
                }
            });
        };

    </script>

    <script>
        $(function () {
            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });


        });

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script type="text/javascript">



        "use strict";

        var connection;

        connection = new signalR.HubConnectionBuilder()
            .withUrl('http://push.ufegrup.com/MyHub')
            .build();



        connection.start().catch(function (err) {
            $("#MessageArea").html("<p>" + err.toString() + "</p>");
            //return console.error(err.toString())
        });


        connection.on('ReceiveComment', (locationid, comment) => {
            if (locationid == @(Model.Authentication.CurrentLocation.ID)) {
                ReceiveComment(comment);
            }
        });


        connection.on('finished', (update) => {
            connection.stop();
        });


          function ReceiveComment(comment) {

            var currentseri = '@(Model.CurrentCardReader?.SerialNumber)';
            var currentmac = '@(Model.CurrentCardReader?.MACAddress)';

            const commentArray = comment.split(";");

            if (commentArray[2] == '80') {
                $("#MessageArea").html("Versiyon : " + commentArray[3]);
            }

            if (commentArray[2] == '85') {
                $("#MessageArea").html("Kart Yok");
            }

            if (commentArray[2] == '86') {

                if (commentArray[3] == '0') {

                    $("#MessageArea").html("Reader Tanımı Yok!");
                }

                if (commentArray[3] == '1') {

                    $("#MessageArea").html("Reader Tanımı Yapılmış");
                }

            }

            if (commentArray[2] == '0') {
                $("#MessageArea").html("Yabancı Kart : " + commentArray[3]);
            }

            if (commentArray[2] == '3') {
                $("#MessageArea").html("Formatsız Kart : " + commentArray[3]);
            }

            if (commentArray[2] == '2') {

                if (commentArray[4] == '7') {

                    var cardnumber = '';
                    var employeeid = $("#EmployeeID").val();

                    $.ajax({
                        method: "GET",
                        url: "/Card/CompleteEmployeeSet",
                        data: { cardnumber, employeeid}
                    }).done(function (d) {
                        $("#MessageArea").html(d);
                        window.location = '/Card/Index?cardinfo=' + comment;
                    });


                    //00EF6963;A4:CF:12:EF:69:63;2;A59E37EC;1;254;0;
                    //00EF6963;A4:CF:12:EF:69:63;2;A59E37EC;7;254;0;
                    //window.location = '/Card/Index?cardinfo=' + comment;  CardServiceClient
                };

                 if (commentArray[4] == '1') {

                    window.location = '/Card/Index?cardinfo=' + comment;


                    //00EF6963;A4:CF:12:EF:69:63;2;A59E37EC;1;254;0;
                    //00EF6963;A4:CF:12:EF:69:63;2;A59E37EC;7;254;0;
                    //window.location = '/Card/Index?cardinfo=' + comment;  CardServiceClient
                };

                if (commentArray[4] == '6') {
                    $("#MessageArea").html("Tekrar Deneyiniz");
                };
                if (commentArray[4] == '5') {
                    $("#MessageArea").html("Kart Değişmiş");
                };
                if (commentArray[4] == '4') {
                    $("#MessageArea").html("Karta Yazılamıyor");
                };
                if (commentArray[4] == '3') {
                    $("#MessageArea").html("Kart Okunamıyor");
                };
                if (commentArray[4] == '2') {
                    $("#MessageArea").html("Bozuk Kart");
                };
                if (commentArray[4] == '1') {
                    $("#MessageArea").html("Kart Okundu");
                };


             };




        };

    </script>


</body>
</html>
