@model SaleControlModel
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Bilet Türü</th>
                <th>Fiyat Kategorisi</th>
                <th>Bilet Ürün Adı</th>
                <th class="tx-center">Birimi (Dk)</th>
                <th class="tx-right">Başlangıç Tarihi</th>
                <th class="tx-right">Geçerli Fiyatı</th>
                <th class="tx-right bd-l">Yeni Fiyat</th>
                <th></th>
                <th class="tx-center">Satışta Kullan</th>
                <th class="tx-center">Aktif</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model.TicketProductList.OrderByDescending(x => x.ProductName))
            {
                foreach (var pricecat in Model.PriceCategoryList.OrderByDescending(x => x.SortBy))
                {

                    var lastprice = Model.PriceLastList.FirstOrDefault(x => x.ProductID == prod.ID && x.PriceCategoryID == pricecat .ID && x.TicketTypeID == prod.TicketTypeID);

                    <tr>
                        <td>@(prod.ID)</td>
                        <td><a href="/Sale/PriceTypeDetail/@(prod.TicketTypeID)"><span class="d-none d-sm-inline"> @($"{prod.TicketTypeName}")</span></a> </td>
                        <td><a href="/Sale/PriceCategoryDetail/@(pricecat?.ID)"><span class="d-none d-sm-inline"> @($"{pricecat?.CategoryName}")</span></a> </td>
                        <td><a href="/Sale/PriceDetail/@(prod.ID)"><span class="d-none d-sm-inline"> @(prod.ProductName)</span> </a></td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center"> @(prod.Unit)</td>
                        <td class="tx-right">@(lastprice?.StartDate?.ToString("yyyy-MM-dd")) @(lastprice?.StartDate?.ToString("HH\\:mm\\:ss"))</td>
                        <td class="tx-right">@(lastprice?.Price?.ToString("N2")) @(lastprice?.Currency)</td>

                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-right wd-10p">
                            <input id="Price_@(prod.ID)" name="Price" type="text" class="form-control money tx-right" autocomplete="off" placeholder="0,00" required>
                        </td>
                        <td>@(lastprice?.Currency)</td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center">
                            <input type="checkbox" class="" id="UseSale_@(prod.ID)" name="UseSale" value="1" checked>
                        </td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center">
                            <input type="checkbox" class="" id="IsActive_@(prod.ID)" name="IsActive" value="1" checked>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
<script>
    $(function () {
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.money').mask("#.##0,00", { reverse: true });
    });
</script>