@model SaleControlModel
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th class="tx-center">Seçili</th>
                <th>Bilet Türü</th>
                <th>Fiyat Kategorisi</th>
                <th>Bilet Ürün Adı</th>
                <th class="tx-center">Birimi (Dk)</th>
                <th class="tx-right">Başlangıç Tarihi</th>
                <th class="tx-right">Geçerli Fiyatı</th>
                <th class="tx-right bd-l">Yeni Fiyat</th>
                <th class="tx-right bd-l">Extra</th>
                <th></th>
                <th class="tx-center">Satışta Kullan</th>
                <th class="tx-center">Aktif</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 0;}
            @foreach (var pricecat in Model.PriceCategoryList.OrderBy(x => x.SortBy))
            {
                foreach (var prod in Model.TicketProductList.OrderBy(x => x.ProductName))
                {
                    var lastprice = Model.PriceLastList.FirstOrDefault(x => x.ProductID == prod.ID && x.PriceCategoryID == pricecat.ID && x.TicketTypeID == prod.TicketTypeID);

                    <tr class="@(lastprice != null ? "bg-gray-100":"")">
                        <td>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" id="customSwitch@(index)" class="custom-control-input" name="pricelist[@index].IsSelected" value="1" @(lastprice != null && lastprice.IsActive == true ? "checked" : "")>
                                <label class="custom-control-label" for="customSwitch@(index)"></label>
                            </div>
                            <input id="ProductID" name="pricelist[@index].productID" type="hidden" value="@(prod.ID)" />
                            <input id="CategoryID" name="pricelist[@index].categoryID" type="hidden" value="@(pricecat.ID)" />
                        </td>
                        <td><a href="/Sale/PriceTypeDetail/@(prod.TicketTypeID)"><span class="d-none d-sm-inline"> @($"{prod.TicketTypeName}")</span></a> </td>
                        <td><a href="/Sale/PriceCategoryDetail/@(pricecat?.ID)"><span class="d-none d-sm-inline"> @($"{pricecat?.TicketTypeName} - {pricecat?.CategoryName}")</span></a> </td>
                        <td><a href="/Sale/PriceDetail/@(prod.ID)"><span class="d-none d-sm-inline"> @(prod.ProductName)</span> </a></td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center"> @(prod.Unit)</td>
                        <td class="tx-right">@(lastprice?.StartDate?.ToString("yyyy-MM-dd")) @(lastprice?.StartDate?.ToString("HH\\:mm\\:ss"))</td>
                        <td class="tx-right">@(lastprice?.Price?.ToString("N2")) @(lastprice?.Currency)</td>

                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-right wd-10p">
                            <input name="pricelist[@index].Price" type="text" class="form-control money tx-right" autocomplete="off" placeholder="0,00">
                        </td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-right wd-10p">
                            <input name="pricelist[@index].Extra" type="text" class="form-control money tx-right" autocomplete="off" placeholder="0,00">
                        </td>
                        <td>@(lastprice?.Currency)</td>
                        <td class="tx-sm-13 font-weight-bold tx-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customCheck@(index)" name="pricelist[@index].UseSale" value="1" @(lastprice != null && lastprice.UseToSale == true ? "checked" : "")>
                                <label class="custom-control-label" for="customCheck@(index)"></label>
                            </div>
                        </td>
                        <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="customChecka@(index)" name="pricelist[@index].IsActive" value="1" @(lastprice != null && lastprice.IsActive == true ? "checked" : "")>
                                <label class="custom-control-label" for="customChecka@(index)"></label>
                            </div>
                        </td>
                    </tr>
                    index++;
                }
            }
        </tbody>

    </table>
</div>
<script>
    $(function () {
        $('.hourfull').mask('00:00:00');
        $('.shiftdate').mask('0000-00-00');
        $('.money').mask("#.##0,00", { reverse: true });
    });
</script>