@model SaleControlModel

<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</a>
<div>
    <h4><span class="font-weight-bold text-black-50">Bilet Ürünü Ekle</span></h4>

    @using (Ajax.BeginForm("AddTicketProduct", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "TicketProductList", InsertionMode = InsertionMode.Replace, OnSuccess = "OnProductAddSuccess" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group row">
            <label for="OurCompanyID" class="col-sm-3 col-form-label">Our Company</label>
            <div class="col-sm-9">
                <select class="form-control" id="OurCompanyID" name="OurCompanyID" required>
                    @foreach (var item in Model.OurCompanyList)
                    {
                        <option value="@item.CompanyID" @(Model.Authentication.ActionEmployee.OurCompanyID == item.CompanyID ? "selected" : "")>@($"{item.Code} {item.CompanyName}")</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group row bg-gray-50 mg-b-5">
            <label for="TicketTypeID" class="col-sm-3 col-form-label">Bilet Türü</label>
            <div class="col-sm-9">
                <select class="form-control" id="TicketTypeID" name="TicketTypeID" required>
                    @foreach (var item in Model.TicketTypeList)
                    {
                        <option value="@item.ID">@($"{item.TicketTypeName}")</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row bg-gray-50 mg-b-5">
            <label for="CategoryID" class="col-sm-3 col-form-label">Kategorisi</label>
            <div class="col-sm-9">
                <select class="form-control" id="CategoryID" name="CategoryID" required>
                    @foreach (var item in Model.TicketProductCategoryList)
                    {
                        <option value="@item.ID">@($"{item.ProductCategoryName}")</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row bg-gray-50 mg-b-5">
            <label for="ProductName" class="col-sm-3 col-form-label">Bilet Ürünü Adı</label>
            <div class="col-sm-9">
                <input id="ProductName" name="ProductName" type="text" class="form-control" autocomplete="off" placeholder="Ürün Adı" required>
            </div>
        </div>

        <div class="form-group row bg-gray-50">
            <label for="Unit" class="col-sm-3 col-form-label">Birim (Dakika)</label>
            <div class="col-sm-9">
                <input id="Unit" name="Unit" type="number" class="form-control" autocomplete="off" placeholder="Birim" required>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <label for="IsActive" class="col-sm-3 col-form-label">Aktif mi?</label>
            <div class="col-sm-9">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="IsActive" name="IsActive" value="1" checked>
                    <label class="custom-control-label" for="IsActive">Aktif</label>
                </div>
            </div>
        </div>

        <div class="form-group row mg-b-0">
            <div class="col-sm-3"></div>
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Bilet Ürünü Ekle</button>
            </div>
        </div>

    }


</div>

