@model SaleControlModel
<div class="table-responsive">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Our Company</th>
                <th>Türü</th>
                <th>Kategori</th>
                <th>Ürün Adı</th>
                <th class="tx-center">Birimi (Dk)</th>
                <th>Aktif</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cat in Model.TicketProductList.OrderBy(x => x.ProductName))
            {
                <tr>
                    <td>@cat.ID</td>
                    <td>@cat.CompanyName</td>
                    <td class="tx-sm-13 bg-primary-light font-weight-bold">@($"{cat.TicketTypeName}")</td>
                    <td class="tx-sm-13 bg-primary-light font-weight-bold">@($"{cat.ProductCategoryName}")</td>
                    <td class="tx-sm-13 bg-primary-light font-weight-bold">
                        <a href="#modalEditTicketProduct" data-toggle="modal"><span class="d-none d-sm-inline" onclick="EditTicketProduct(@(cat.ID));"> @(cat.ProductName)</span></a>
                    </td>
                    <td class="tx-sm-13 bg-primary-light font-weight-bold tx-center"> @(cat.Unit)</td>
                    <td class="tx-sm-13">@(cat.IsActive)</td>
                    <td class="tx-sm-13 bg-light font-weight-bold ">
                        <a href="#" onclick="return confirm('Ürünü Silmek İstediğinize Emin misiniz?') ? RemoveTicketProduct(@(cat.ID)):''">Kaldır</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Model.Result != null) //
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}
