@model SaleControlModel
@{
    ViewBag.Title = "Detail";

    var paymenttotalamount = Model.TicketSalePosPaymentSummary.Sum(x => x.PaymentAmount) ?? 0;
    var saletotalamount = Model.TicketSale.Amount ?? 0;

}
@section style{
    <link rel="stylesheet" href="/lib/animate.css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Sipariş Detayı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-three">
                <div class="row">
                    @{Html.RenderPartial("_PartialSaleSideBar", Model);}
                </div>
            </div>

            <div class="media-body mg-t-40 mg-lg-t-0 pd-l-20">
                <div class="card mg-b-20 mg-lg-b-5">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Satış Detayı</h6>
                        <nav class="nav nav-with-icon tx-13">
                            <a href="@($"/Sale/Index?LocationID={Model.TicketSale.LocationID}&Date={Model.TicketSale.Date?.ToString("yyyy-MM-dd")}")" class="nav-link p-2 font-weight-bold tx-16">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><path d="M0,0h24v24H0V0z" fill="none" /><path d="M3,18h13v-2H3V18z M3,13h10v-2H3V13z M3,6v2h13V6H3z M21,15.59L17.42,12L21,8.41L19.59,7l-5,5l5,5L21,15.59z" /></svg>
                                Satış Listesi
                            </a>
                        </nav>
                    </div>
                    <div class="card-body pd-20 pd-lg-5">



                        <table class="table table-light table-hover table-striped mg-b-0">
                            <tbody class="table-hover table-striped">
                                <tr>
                                    <td class="wd-25p">ID</td>
                                    <td>@(Model.TicketSale.ID)</td>
                                </tr>
                                <tr>
                                    <td>Sipariş No</td>
                                    <td>@(Model.TicketSale.OrderNumber)</td>
                                </tr>
                                <tr>
                                    <td>Tür</td>
                                    <td>@(Model.CurrentTicketSaleSummary.Name)</td>
                                </tr>
                                <tr>
                                    <td>Tarih</td>
                                    <td>@(Model.TicketSale.Date?.ToShortDateString())</td>
                                </tr>
                                <tr>
                                    <td>Lokasyon</td>
                                    <td>@(Model.CurrentTicketSaleSummary.LocationFullName)</td>
                                </tr>

                                <tr>
                                    <td>Kaynak Ortam</td>
                                    <td>@(Model.CurrentTicketSaleSummary.Environment)</td>
                                </tr>
                                <tr>
                                    <td>Bilet Adedi</td>
                                    <td>@(Model.CurrentTicketSaleSummary.Quantity)</td>
                                </tr>

                                <tr>
                                    <td>Satış Tutarı</td>
                                    <td>@(Model.CurrentTicketSaleSummary.Total.ToString("N2")) @(Model.CurrentTicketSaleSummary.Sign)</td>
                                </tr>
                                <tr>
                                    <td>Tahsilat Tutarı</td>
                                    <td>@(Model.CurrentTicketSaleSummary.PaymentAmount.ToString("N2")) @(Model.CurrentTicketSaleSummary.Sign)</td>
                                </tr>
                                <tr>
                                    <td>Kalan Tutar</td>
                                    <td>@(Model.CurrentTicketSaleSummary.BalanceAmount.ToString("N2")) @(Model.CurrentTicketSaleSummary.Sign)</td>
                                </tr>
                                <tr>
                                    <td>Tahsilat Durumu</td>
                                    <td>@(Model.CurrentTicketSaleSummary.PosStatusName)</td>
                                </tr>
                                <tr>
                                    <td>Tahsilat Yöntemi</td>
                                    <td>@(Model.CurrentTicketSaleSummary.PayMethodList)</td>
                                </tr>
                                <tr>
                                    <td>İşlem Tamamlanma Yeri</td>
                                    <td>@(Model.CurrentTicketSaleSummary.IsSendPosTerminal == true ? "Ingenico":"Manuel")</td>
                                </tr>

                                <tr>
                                    <td>OKC Sicil</td>
                                    <td>@(Model.TicketSale.PosRegistryNumber)</td>
                                </tr>
                                <tr>
                                    <td>Kaydeden</td>
                                    <td>@(Model.CurrentTicketSaleSummary.FullName)</td>
                                </tr>
                                <tr>
                                    <td>Kayıt Tarihi</td>
                                    <td>@(Model.TicketSale.RecordDate.ToString())</td>
                                </tr>
                                <tr>
                                    <td>Kayıt IP</td>
                                    <td>@(Model.TicketSale.RecordIP)</td>
                                </tr>
                                <tr>
                                    <td>Güncelleme Tarihi</td>
                                    <td>@(Model.TicketSale.UpdateDate.ToString())</td>
                                </tr>
                                <tr>
                                    <td>Güncelleme IP</td>
                                    <td>@(Model.TicketSale.UpdateDate)</td>
                                </tr>
                                <tr>
                                    <td>Aktif</td>
                                    <td>@(Model.TicketSale.IsActive == true ? "Aktif":"Pasif")</td>
                                </tr>
                                <tr>
                                    <td>Kontrol</td>
                                    <td>
                                        <a href="@($"/Sale/CheckSale/{Model.TicketSale.UID}")" class="btn btn-xs btn-primary" onclick="return confirm('Kontrol işlemi yapılacak emin misiniz?') ? true : false">Kontrol Et</a>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mg-b-20 mg-lg-b-5 mt-4">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Bilet / Ürün Listesi</h6>
                    </div>
                    <div class="card-body pd-20 pd-lg-5">

                        <div class="table-responsive">
                            <table class="table table-dashboard table-striped table-hover">
                                <tr>
                                    <th>ÜRÜN</th>
                                    <th>KDV %</th>
                                    <th>ADET</th>
                                    <th>DK</th>
                                    <th>EXT. DK</th>
                                    <th>EXT. FİYAT</th>
                                    <th>FİYAT</th>
                                    <th>FİYAT KAT</th>
                                    <th>DURUM</th>
                                    <th>KAYIT</th>
                                </tr>
                                @foreach (var item in Model.TicketSaleRows)
                                {
                                    <tr>
                                        <td class="font-weight-bold">@(item.ProductName)</td>
                                        <td>@(item.TaxRate) %</td>
                                        <td>@(item.Quantity)</td>
                                        <td>@(item.SaleRowUnit) dk</td>
                                        <td>@(item.ExtraUnit > 0 ? $"{item.ExtraUnit} dk":"")</td>
                                        <td>@(item.ExtraUnit > 0 ? $"{item.ExtraPrice?.ToString("N2")} {item.Sign}":"")</td>
                                        <td class="text-right font-weight-bold">@(item.RowTotal?.ToString("N2")) @(item.Sign)</td>
                                        <td>@(item.CategoryName)</td>
                                        <td>@(item.StatusName)</td>
                                        <td>@(item.Date)</td>

                                    </tr>
                                }
                            </table>
                        </div>



                    </div>
                </div>

                <div class="card mg-b-20 mg-lg-b-25 mt-4">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Tahsilat Listesi</h6>
                    </div>
                    <div class="card-body pd-20 pd-lg-5">

                        <div class="table-responsive">
                            <table class="table table-dashboard table-striped table-hover">
                                <tr>
                                    <th>TÜRÜ</th>
                                    <th>TUTAR</th>
                                    <th>TAKSİT</th>
                                    <th>BANKA</th>
                                    <th>NEREDEN</th>
                                    <th></th>
                                </tr>
                                @foreach (var item in Model.TicketSalePosPaymentSummary)
                                {
                                    <tr>
                                        <td>@(item.PaymentTypeName.ToUpper())</td>
                                        <td>@(item.PaymentAmount?.ToString("N2")) @(item.Sign)</td>
                                        <td>@(item.PaymentType == 4 ? item.NumberOfInstallment.ToString() : "")</td>
                                        <td>@(item.BankName)</td>
                                        <td>@(item.FromPosTerminal == true ? "Ingenico":"Manuel")</td>
                                        <td>
                                            @if (item.FromPosTerminal != true && paymenttotalamount > saletotalamount)
                                            {
                                                <a href="@($"/Sale/RemovePayment/{item.ID}")" onclick="return confirm('Silmek istediğinize emin misiniz?') ? true : false">Sil</a>
                                            }
                                        </td>
                                    </tr>
                                }


                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }



}