@model SaleControlModel
@{
    ViewBag.Title = "Satışlar";
}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Satışlar</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">

    @using (Html.BeginForm("FilterSale", "Sale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">
            <div class="form-group col-md-2 d-flex align-items-end bd-r pr-3">
                <input id="SearchKey" name="SearchKey" type="text" class="form-control" autocomplete="off" placeholder="Arama" value="@(Model.Filters?.SearchKey)">
            </div>
            <div class="form-group col-md-3 d-flex align-items-end pl-3">
                <select class="form-control select2" id="locationId" name="LocationID">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID" @(Model.Filters.LocationID == item.LocationID ? "selected" : "")>@(Html.Raw($"<strong>{item.SortBy}</strong> {item.LocationName} {item.Description} {item.State}"))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="DocumentDate" name="filterDate" class="form-control" autocomplete="off" placeholder="Tarih" value="@(Model.Filters.Date.Value.ToString("yyyy-MM-dd"))">
            </div>

            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
            </div>
        </div>

    }



    <div>
        @if (Model.TicketSaleSummary != null)
        {
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th colspan="16">
                                @(Model.Filters.Date?.ToLongDateString()) &nbsp;&nbsp; - &nbsp;&nbsp; @(Model?.CurrentLocation == null ? "" : Model?.CurrentLocation?.LocationFullName)
                            </th>
                            <th colspan="2" class="text-right">
                                @if (Model.CurrentLocation?.LocationID > 0)
                                {
                                    <a href="http://ufepos.ufegrup.com/Setup/UserAuthenticationCheck/@(Model.Authentication.ActionEmployee.Token)?locationId=@(Model.CurrentLocation.LocationUID)" class="btn btn-primary btn-xs" target="_blank">Lokasyon Pos Uyguamasına Git</a>
                                }

                                <a href="@($"/Action/Index?locationID={Model.Filters?.LocationID}&DateBegin={Model.Filters.Date?.ToString("yyyy-MM-dd")}&&DateEnd={Model.Filters.Date?.ToString("yyyy-MM-dd")}")" class="btn btn-primary btn-xs" target="_blank">Cari Hesap Ekstresi</a>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>#</th>
                            <th>Sipariş No</th>
                            <th>Kart No</th>
                            <th>Yüklendi</th>
                            <th>Şube</th>
                            <th>Tarih</th>
                            <th>Durum</th>
                            <th>Kaynak</th>
                            <th>Adet</th>
                            <th class="bd-l text-right">Satış</th>
                            <th class="text-right">Tahsilat</th>
                            <th class="text-right">Bakiye</th>
                            <th class=" bd-l">Ödeme</th>
                            <th>İşlendi</th>
                            <th>Kaydeden</th>
                            <th>Kayıt Tarihi</th>
                            <th>Aktif</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int sortnumber = 1;}
                        @foreach (var item in Model.TicketSaleSummary.OrderBy(x => x.RecordDate))
                        {
                            var refunds = Model.DocumentExpenseSlips.Where(x => x.SaleID == item.ID).ToList();

                            <tr style='@(item.IsActive == false ? "color: red" : "")'>
                                <td class="tx-sm-13 bold">@(sortnumber)</td>
                                <td class="tx-sm-13 bold">@item.ID</td>
                                <td class="tx-sm-13 font-weight-bold"><a href="@("/Sale/Detail/" + @item.UID)" target="_blank">@item.OrderNumber</a></td>
                                <td class="tx-sm-13 font-weight-bold"><a href="@("/Sale/Detail/" + @item.UID)" target="_blank">@item.CardNumber</a></td>
                                <td class="tx-sm-13 font-weight-bold">@(item.IsSuccess == true ? "OK":"")</td>
                                <td class="tx-sm-13"><a href="@($"/Sale/Index?LocationID={item.LocationID}&Date={item.Date?.ToString("yyyy-MM-dd")}")" title="@(item.LocationFullName)" target="_blank">@(item.SortBy)</a></td>
                                <td class="tx-sm-13"><a href="@($"/Sale/Index?LocationID={item.LocationID}&Date={item.Date?.ToString("yyyy-MM-dd")}")" title="@(item.LocationFullName)" target="_blank">@(item.Date?.ToShortDateString())</a></td>
                                <td class="tx-sm-13 @(item.PosStatusID == 3 ? "font-weight-bold":"")">@item.PosStatusName</td>
                                <td class="tx-sm-13">@(item.Environment)</td>
                                <td class="tx-sm-13 text-right">@(item.Quantity)</td>

                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold  bd-l">@(item.Total.ToString("N2")) @(item.Sign)</td>
                                <td class="tx-sm-13 text-right bg-primary-light @(item.PaymentAmount != 0 ? "font-weight-bold":"")">@(item.PaymentAmount.ToString("N2")) @(item.Sign)</td>
                                <td class="tx-sm-13 text-right bg-primary-light @(item.BalanceAmount != 0 ? "font-weight-bold":"")">@(item.BalanceAmount.ToString("N2")) @(item.Sign)</td>

                                <td class="tx-sm-13 bd-l">@item.PayMethodList</td>
                                <td class="tx-sm-13">@(item.IsSendPosTerminal == true ? "Ingenico":"Manuel")</td>
                                <td class="tx-sm-13">@(item.FullName)</td>
                                <td class="tx-sm-13">@item.RecordDate</td>
                                <td class="tx-sm-13">@(item.IsActive)</td>

                            </tr>

                            sortnumber++;
                            if (refunds != null && refunds.Count > 0)
                            {
                                foreach (var rf in refunds)
                                {
                                    <tr style='@(rf.IsActive == false ? "color: red" : "")'>
                                        <td class="tx-sm-13 bold">@(sortnumber)</td>
                                        <td class="tx-sm-13 bold">@rf.ID</td>
                                        <td class="tx-sm-13 font-weight-bold"><a href="@("/Sale/Detail/" + @item.UID)" target="_blank">@(item.OrderNumber)</a></td>
                                        <td class="tx-sm-13 font-weight-bold"><a href="@("/Sale/Detail/" + @item.UID)" target="_blank">@(item.CardNumber)</a></td>
                                        <td class="tx-sm-13 font-weight-bold">@(item.IsSuccess == true ? "OK":"")</td>
                                        <td class="tx-sm-13"><a href="@($"/Sale/Index?LocationID={item.LocationID}&Date={item.Date?.ToString("yyyy-MM-dd")}")" target="_blank">@rf.DocumentNumber</a></td>
                                        <td class="tx-sm-13"><a href="@($"/Sale/Index?LocationID={item.LocationID}&Date={item.Date?.ToString("yyyy-MM-dd")}")" title="@(item.LocationFullName)" target="_blank">@(rf.DocumentDate?.ToShortDateString())</a></td>
                                        <td class="tx-sm-13"></td>
                                        <td class="tx-sm-13"></td>
                                        <td class="tx-sm-13 text-right">-1</td>

                                        <td class="tx-sm-13 text-right bg-primary-light font-weight-bold  bd-l">-@(rf.Amount?.ToString("N2")) @(rf.Sign)</td>
                                        <td class="tx-sm-13 text-right bg-primary-light @(rf.Amount != 0 ? "font-weight-bold":"")">-@(rf.Amount?.ToString("N2")) @(rf.Sign)</td>
                                        <td class="tx-sm-13 text-right bg-primary-light">@((0).ToString("N2")) @(rf.Sign)</td>

                                        <td class="tx-sm-13 bd-l">@rf.PayMethodName</td>
                                        <td class="tx-sm-13"></td>
                                        <td class="tx-sm-13">@(rf.FullName)</td>
                                        <td class="tx-sm-13">@(rf.RecordDate)</td>
                                        <td class="tx-sm-13">@(rf.IsActive)</td>

                                    </tr>
                                    sortnumber++;
                                }

                            }

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th class="text-right">@((Model.TicketSaleSummary.Where(x=> x.PosStatusID == 3 && x.IsActive == true).Sum(x=> x.Quantity) ?? 0) - (Model.TicketSaleSaleRows.Where(x=> x.PosStatusID == 3 && x.StatusID == 5).Sum(x=> x.Quantity))        )</th>
                            <th class="text-right bg-light bd-l">@(  ((Model.TicketSaleSummary.Where(x=> x.PosStatusID <= 3 && x.IsActive == true).Sum(x=> x.Total)) - (Model.TicketSaleSaleRows.Where(x => x.PosStatusID == 3 && x.StatusID == 5).Sum(x => x.Total) ?? 0)).ToString("N2")) @(Model.TicketSaleSummary.FirstOrDefault()?.Sign ?? "₺")</th>
                            <th class="text-right bg-light">@(((Model.TicketSaleSummary.Where(x=> x.PosStatusID == 3 && x.IsActive == true).Sum(x=> x.PaymentAmount)) -(Model.TicketSaleSaleRows.Where(x => x.PosStatusID == 3 && x.StatusID == 5).Sum(x => x.Total) ?? 0)).ToString("N2")) @(Model.TicketSaleSummary.FirstOrDefault()?.Sign ?? "₺")</th>
                            <th class="text-right bg-light">@((Model.TicketSaleSummary.Where(x=> x.PosStatusID <= 3 && x.IsActive == true).Sum(x=> x.BalanceAmount)).ToString("N2")) @(Model.TicketSaleSummary.FirstOrDefault()?.Sign ?? "₺")</th>
                            <th class="bd-l"></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th colspan="18">
                                <a href="/Sale/ExportSales" class="btn btn-success"><img src="~/images/excel.png" class="rounded-10" style="width:24px;"> &nbsp;&nbsp; Lokasyon Satışını Excel Olarak İndir</a> &nbsp;
                            </th>
                        </tr>
                    </tfoot>
                </table>

                <a href="/Sale/CheckLocationTicketSale?LocationId=@(Model.Filters.LocationID)&DocumentDate=@(Model.Filters.Date?.ToString("yyyy-MM-dd"))&Source=Index" class="btn btn-warning">Kontrol Et</a>
                @if (Model.CurrentLocation?.LocationID > 0)
                {
                    <a href="http://ufepos.ufegrup.com/Setup/UserAuthenticationCheck/@(Model.Authentication.ActionEmployee.Token)?locationId=@(Model.CurrentLocation.LocationUID)" class="btn btn-primary" target="_blank">Lokasyon Pos Uyguamasına Git</a>
                }
            </div>
        }
        else
        {
            <div class="table">
                Lütfen filtreleme yapınız.
            </div>
        }

        @if (Model.CurrentLocation != null && Model.CurrentLocation?.UseCardSysteme == true)
        {


            var totalactiontypes = new[] { 1, 3 }.ToArray();

            var depozitosale = Model.CardActions.Where(x => x.ActionTypeID == 1).ToList();
            var depozitorefund = Model.CardActions.Where(x => x.ActionTypeID == 5).ToList();

            var customersale = Model.CardActions.Where(x => x.ActionTypeID == 3 && x.CardTypeID == 0 && x.IsPromotion == false).ToList();
            var customersalepromo = Model.CardActions.Where(x => x.ActionTypeID == 3 && x.CardTypeID == 0 && x.IsPromotion == true).ToList();

            var cashsale = Model.CardActions.Where(x => x.ActionTypeID == 3 && x.CardTypeID == 1).ToList();

            var Totalsale = Model.CardActions.Where(x => totalactiontypes.Contains((short)x.ActionTypeID)).ToList();

            var depositeunit = Model.DepositeUnitPrice == 0 ? 5 : Model.DepositeUnitPrice;


            var customeruse = Model.CardActions.Where(x => x.ActionTypeID == 2 && x.CardTypeID == 0).ToList();
            var cashuse = Model.CardActions.Where(x => x.ActionTypeID == 2 && x.CardTypeID == 1).ToList();
            var totaluse = Model.CardActions.Where(x => x.ActionTypeID == 2).ToList();

            var customerrefund = Model.CardActions.Where(x => x.ActionTypeID == 4 && x.CardTypeID == 0).ToList();
            var cashrefund = Model.CardActions.Where(x => x.ActionTypeID == 4 && x.CardTypeID == 1).ToList();
            var totalrefund = Model.CardActions.Where(x => x.ActionTypeID == 4).ToList();





            <div class="table">
                <table cellpadding="0" cellspacing="0" class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" style="width:40%;">Yükleme (Satış)</th>
                            <th style="width: 15%; text-align: right;">Kart Sayısı</th>
                            <th style="width: 15%; text-align: right;">İşlem Sayısı</th>
                            <th style="width: 15%; text-align: right;">Kontör</th>
                            <th style="width: 15%; text-align: right;">Ortalama</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="bg-credit" style="width:20%;">Müşteri</td>
                        <td class="bg-credit">Depozito</td>
                        <td class="bg-credit" style="text-align:right">@(depozitosale.Select(x=> x.CardNumber).Distinct().Count())</td>
                        <td class="bg-credit" style="text-align:right">@(depozitosale.Count)</td>
                        <td class="bg-credit" style="text-align:right">@(depozitosale.Sum(x=> x.SaleRowTotal))</td>
                        <td class="bg-credit" style="text-align:right">@( ( depozitosale.Sum(x => x.SaleRowTotal) / depozitosale.Count).ToString("N2"))</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Müşteri</td>
                        <td class="bg-cash">Kontör Satış</td>
                        <td class="bg-cash" style="text-align:right">@(customersale.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(customersale.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(customersale.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( (customersale.Sum(x => x.Credit) / customersale.Count).ToString("N2"))</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Müşteri</td>
                        <td class="bg-cash">Promosyon</td>
                        <td class="bg-cash" style="text-align:right">@(customersalepromo.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(customersalepromo.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(customersalepromo.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( (customersalepromo.Sum(x => x.Credit) / customersalepromo.Count).ToString("N2"))</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Kasa</td>
                        <td class="bg-cash">Kontör Satış</td>
                        <td class="bg-cash" style="text-align:right">@(cashsale.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(cashsale.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(cashsale.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( cashsale.Count > 0 ? (cashsale.Sum(x => x.Credit) / cashsale.Count).ToString("N2") : "0,00")</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Toplam</td>
                        <td class="bg-cash">Satış</td>
                        <td class="bg-cash" style="text-align: right; font-weight:600;">@(Totalsale.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(Totalsale.Count)</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(Totalsale.Sum(x=> x.Credit) + depozitosale.Sum(x => x.SaleRowTotal))</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@( ((Totalsale.Sum(x => x.Credit) + depozitosale.Sum(x => x.SaleRowTotal)) / Totalsale.Count).ToString("N2"))</td>
                    </tr>

                    <tr>
                        <td class="bg-light">Toplam Kasa</td>
                        <td class="bg-light">Satış</td>
                        <td class="bg-light" style="text-align:right">@(Totalsale.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-light" style="text-align:right">@(customersale.Count)</td>
                        <td class="bg-light" style="text-align: right; font-weight: 600;">₺ @(customersale.Sum(x => x.Credit) + depozitosale.Sum(x => x.SaleRowTotal))</td>
                        <td class="bg-light" style="text-align:right">@( ((customersale.Sum(x => x.Credit) + depozitosale.Sum(x => x.SaleRowTotal)) / (customersale.Count + depozitosale.Count)).ToString("N2"))</td>
                    </tr>

                </table>


                <table cellpadding="0" cellspacing="0" class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" style="width:40%;">Harcama (Kullanım)</th>
                            <th style="width: 15%; text-align: right;">Kart Sayısı</th>
                            <th style="width: 15%; text-align: right;">İşlem Sayısı</th>
                            <th style="width: 15%; text-align: right;">Kontör</th>
                            <th style="width: 15%; text-align: right;">Ortalama</th>
                        </tr>
                    </thead>

                    <tr>
                        <td class="bg-cash">Müşteri Kartı</td>
                        <td class="bg-cash" style="width:20%;">Kontör Kullanım</td>
                        <td class="bg-cash" style="text-align:right">@(customeruse.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(customeruse.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(customeruse.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( (customeruse.Sum(x => x.Credit) / customeruse.Count).ToString("N2"))</td>
                    </tr>

                    <tr>
                        <td class="bg-cash"></td>
                        <td class="bg-cash" style="width:20%;">Dışardan Kontör Kullanım</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Select(x=> x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x=> x.Quantity))</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x=> x.Amount))</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x => x.Amount) != 0 ? (((Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x => x.Amount) ?? 0) / (Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x => x.Quantity))))?.ToString("N2") : "0")</td>
                    </tr>

                    <tr>
                        <td class="bg-cash"></td>
                        <td class="bg-cash" style="width:20%;">Satıştan Kontör Kullanım</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Select(x=> x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x=> x.Quantity))</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x=> x.Amount))</td>
                        <td class="bg-cash" style="text-align:right">@(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x => x.Amount) != 0 ? (((Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x => x.Amount) ?? 0) / (Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x => x.Quantity))))?.ToString("N2") : "0")</td>
                    </tr>

                    <tr>
                        <td class="bg-cash">Kasa Kartı</td>
                        <td class="bg-cash">Kontör Kullanım</td>
                        <td class="bg-cash" style="text-align:right">@(cashuse.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(cashuse.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(cashuse.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( cashuse.Count > 0 ? (cashuse.Sum(x => x.Credit) / cashuse.Count).ToString("N2") : "0,00")</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Toplam</td>
                        <td class="bg-cash">Kontör Kullanım</td>
                        <td class="bg-cash" style="text-align: right; font-weight:600;">@(totaluse.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(totaluse.Count)</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(totaluse.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@( ((totaluse.Sum(x => x.Credit)) / totaluse.Count).ToString("N2"))</td>
                    </tr>

                </table>


                <table cellpadding="0" cellspacing="0" class="table table-sm">
                    <thead>
                        <tr>
                            <th colspan="2" style="width:40%;">İade</th>
                            <th style="width: 15%; text-align: right;">Kart Sayısı</th>
                            <th style="width: 15%; text-align: right;">İşlem Sayısı</th>
                            <th style="width: 15%; text-align: right;">Kontör</th>
                            <th style="width: 15%; text-align: right;">Ortalama</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="bg-credit" style="width:20%;">Müşteri</td>
                        <td class="bg-credit">Depozito İade</td>
                        <td class="bg-credit" style="text-align:right">@(depozitorefund.Select(x=> x.CardNumber).Distinct().Count())</td>
                        <td class="bg-credit" style="text-align:right">@(depozitorefund.Count)</td>
                        <td class="bg-credit" style="text-align:right">@(depozitorefund.Sum(x=> x.SaleRowTotal))</td>
                        <td class="bg-credit" style="text-align:right">@(depozitorefund.Count > 0 ? (depozitorefund.Sum(x => x.SaleRowTotal) / depozitorefund.Count).ToString("N2") : "0,00")</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Müşteri</td>
                        <td class="bg-cash">Kontör İade</td>
                        <td class="bg-cash" style="text-align:right">@(customerrefund.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(customerrefund.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(customerrefund.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@(customerrefund.Count > 0 ? (customerrefund.Sum(x => x.Credit) / customerrefund.Count).ToString("N2") : "0,00")</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Kasa</td>
                        <td class="bg-cash">Kontör İade</td>
                        <td class="bg-cash" style="text-align:right">@(cashrefund.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align:right">@(cashrefund.Count)</td>
                        <td class="bg-cash" style="text-align:right">@(cashrefund.Sum(x=> x.Credit))</td>
                        <td class="bg-cash" style="text-align:right">@( cashrefund.Count > 0 ? (cashrefund.Sum(x => x.Credit) / cashrefund.Count).ToString("N2") : "0,00")</td>
                    </tr>
                    <tr>
                        <td class="bg-cash">Toplam</td>
                        <td class="bg-cash">İade</td>
                        <td class="bg-cash" style="text-align: right; font-weight:600;">@(totalrefund.Select(x => x.CardNumber).Distinct().Count())</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(totalrefund.Count)</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@(totalrefund.Sum(x=> x.CreditCharge))</td>
                        <td class="bg-cash" style="text-align: right; font-weight: 600;">@( totalrefund.Count > 0 ? (totalrefund.Sum(x => x.CreditCharge ?? 0) / totalrefund.Count).ToString("N2") : "0,00")</td>
                    </tr>

                </table>




                <table cellpadding="0" cellspacing="0" class="table table-warning">
                    <thead>
                        <tr>
                            <th style="width:20%;">Personel</th>
                            @foreach (var item in Model.LocationParts)
                            {
                                <th style="text-align:right;">@(item.PartName)</th>
                            }

                            <th style="text-align:right;">Tanımsız</th>
                            <th style="text-align:right;">Toplam</th>
                        </tr>
                    </thead>
                    @foreach (var employee in Model.Employees)
                    {
                        <tr>
                            <td>@(employee.FullName)</td>

                            @foreach (var item in Model.LocationParts)
                            {
                                var employeecount = Model.CardActions.Where(x => x.ActionTypeID == 2 && x.LocationPartID == item.PartID && x.EmployeeID == employee.EmployeeID).Count();

                                <td style="text-align:right;">@(employeecount)</td>

                            }
                            <td style="text-align:right;">@(Model.CardActions.Where(x => x.ActionTypeID == 2 && x.LocationPartID <= 0 && x.EmployeeID == employee.EmployeeID).Count())</td>

                            <td class="bg-credit" style="font-weight:800;text-align:right;">@(Model.CardActions.Where(x => x.ActionTypeID == 2 && x.EmployeeID == employee.EmployeeID).Count())</td>

                        </tr>
                    }
                    <tr>
                        <td class="bg-credit" style="font-weight:800;">TOPLAM</td>

                        @foreach (var item in Model.LocationParts)
                        {
                            var totalecount = Model.CardActions.Where(x => x.ActionTypeID == 2 && x.LocationPartID == item.PartID).Count();

                            <td class="bg-credit" style="font-weight: 800; text-align: right;">@(totalecount)</td>

                        }
                        <td class="bg-credit" style="font-weight: 800; text-align: right;">@(Model.CardActions.Where(x => x.ActionTypeID == 2 && x.LocationPartID <= 0).Count())</td>

                        <td class="bg-credit" style="font-weight: 800; text-align: right;">@(Model.CardActions.Where(x => x.ActionTypeID == 2).Count())</td>

                    </tr>

                </table>





            </div>


            <div class="">
                <h4> @(Model.Filters.Date?.ToLongDateString()) Günü Özet Raporu;</h4>




                <p>
                    Yeni Kart Yükleme: @(depozitosale.Select(x=> x.CardNumber).Distinct().Count()) Adet
                </p>
                <p>
                    Birakilan Kart Yeniden Yükleme: @(depozitosale.Count - depozitosale.Select(x=> x.CardNumber).Distinct().Count()) Adet
                </p>

                <p>
                    Diger Günlerde Satılmış Karta Yükleme: @(customersale.Select(x => x.CardNumber).Distinct().Count() - depozitosale.Select(x => x.CardNumber).Distinct().Count()) Adet
                </p>

                <p>
                    Toplam Yükleme Yapılan Kart: @(customersale.Select(x => x.CardNumber).Distinct().Count()) Adet
                </p>

                <p>
                    Toplam Kart Depozito: @(depozitosale.Count * depositeunit) TL (( @(depozitosale.Select(x=> x.CardNumber).Distinct().Count())  + @(depozitosale.Count - depozitosale.Select(x=> x.CardNumber).Distinct().Count()) ) × @(depositeunit) TL)
                </p>


                <p>
                    Toplam Yükleme Sayısı: @(customersale.Count) Adet
                </p>

                <p>
                    Yükleme Ortalaması: @( (customersale.Sum(x => x.Credit) / customersale.Count).ToString("N2")) TL
                </p>

                <p>
                    Müşteri Satış Ortalaması: @( (customersale.Sum(x => x.Credit) / customersale.Select(x => x.CardNumber).Distinct().Count()).ToString("N2")) TL
                </p>

                <p>
                    Ücretli Yüklenen Kontör: @(customersale.Sum(x=> x.Credit)) TL
                </p>

                <p>
                    Hediye Yüklenen Kontör: @(customersalepromo.Sum(x=> x.Credit)) TL
                </p>

                <p>
                    Toplam yuklenen: @((Totalsale.Sum(x=> x.Credit) + depozitosale.Sum(x => x.SaleRowTotal))) TL
                </p>

                <p>
                    Bugün Yüklenip Bugün Kullanılan Kontör: @(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x=> x.Quantity)) Adet
                </p>
                <p>
                    Bugün Yüklenip Bugün Kullanılan Kontör: @(Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x=> x.Amount)) TL
                </p>

                <p>
                    Önceden Yüklenip Bugün Kullanılan Kontör: @(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x=> x.Quantity)) Adet
                </p>
                <p>
                    Önceden Yüklenip Bugün Kullanılan Kontör: @(Model.GetSaledUsedStats.Where(x => x.OrderID == 0).Sum(x=> x.Amount)) TL
                </p>
                <p>
                    Toplam Kullanılan Kontör: @(customeruse.Count) Adet
                </p>
                <p>
                    Toplam Kullanılan Kontör: @(customeruse.Sum(x=> x.Credit)) TL
                </p>

                <p>
                    Toplam İade Edilen Kontör: @(totalrefund.Sum(x=> x.CreditCharge)) TL
                </p>

                <p>Bugün Yüklenip Bugün Kullanılmayan Kontörler Toplamı: @(customersale.Sum(x=> x.Credit) + Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x => x.Amount) ) (Ücretli) + @(customersalepromo.Sum(x=> x.Credit)) (Hediye) = @((Totalsale.Sum(x=> x.Credit) + depozitosale.Sum(x => x.SaleRowTotal)) + Model.GetSaledUsedStats.Where(x => x.OrderID == 1).Sum(x => x.Amount)) TL</p>

            </div>

        }
        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>


@section scripts {

    <script>
        $(function () {

            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#dateFrom')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#dateTo').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });


            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }

        });


    </script>
    <script>
        $(function () {
            'use strict'

            $('.off-canvas-menu').on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $(target).addClass('show');
            });


            $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                        $('.off-canvas.show').addClass('show');
                    }
                }
            });


        });
    </script>
    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
