@model SaleControlModel
@{
    ViewBag.Title = "Bilet Ürünleri";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Fiyat Listesi</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body mg-t-40 mg-lg-t-0">
                <div class="row">
                    <div class="col-12">
                        @using (Html.BeginForm("PriceFilter", "Sale", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                        <div class="form-row align-items-end">

                            <div class="form-group col-md-2 d-flex align-items-end">
                                <select class="form-control select2" id="ListType" name="ListType">
                                    <option value="1" @(Model.FilterModel?.ListType == 1 ? "selected" : "")>Güncel Liste</option>
                                    <option value="2" @(Model.FilterModel?.ListType == 2 ? "selected" : "")>Tüm Liste</option>
                                </select>
                            </div>

                            <div class="form-group col-md-2 d-flex align-items-end">
                                <select class="form-control select2" id="OurCompanyID" name="OurCompanyID">
                                    @foreach (var item in Model.OurCompanyList.Where(x => x.CompanyID == Model.Authentication.ActionEmployee.OurCompanyID).ToList())
                                    {
                                        <option value="@item.CompanyID">@(Html.Raw($"{item.CompanyName}"))</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 d-flex align-items-end">
                                <select class="form-control" id="TicketTypeID" name="TicketTypeID">
                                    <option value="" label="Bilet Türü Seçiminiz"></option>
                                    @foreach (var item in Model.TicketTypeList)
                                    {
                                        <option value="@item.ID" @(Model.FilterModel?.TicketTypeID == item.ID ? "selected" : "")>@(Html.Raw($"{item.TicketTypeName} "))</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 d-flex align-items-end">
                                <select class="form-control" id="PriceCategoryID" name="PriceCategoryID">
                                    <option value="" label="Fiyat Kategorisi Seçiminiz"></option>
                                    @foreach (var item in Model.PriceCategoryList.OrderBy(x=> x.SortBy))
                                    {
                                        <option value="@item.ID" @(Model.FilterModel?.PriceCategoryID == item.ID ? "selected" : "")>@(Html.Raw($"{item.TicketTypeName} - {item.CategoryName}"))</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-2 d-flex align-items-end">
                                <select class="form-control" id="ProductID" name="ProductID">
                                    <option value="" label="Bilet Ürünü Seçiminiz"></option>
                                    @foreach (var item in Model.TicketProductList.OrderBy(x => x.ProductName))
                                    {
                                        <option value="@item.ID" @(Model.FilterModel?.ProductID == item.ID ? "selected" : "")>@(Html.Raw($"{item.ProductName}"))</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-1 d-flex align-items-end ">
                                <div class="custom-control custom-checkbox form-control bd-0">
                                    <input type="checkbox" class="custom-control-input" id="Active" name="Active" value="1" @(Model.FilterModel != null && Model.FilterModel?.IsActive == false ? "" : "checked")>
                                    <label class="custom-control-label" for="Active"> Aktif</label>
                                </div>
                            </div>
                            <div class="form-group col-md-1 d-flex align-items-end ">
                                <button class="btn btn-primary btn-block" type="submit" id="btnsearch">Ara</button>
                            </div>
                        </div>

                        }
                    </div>
                </div>
                <div class="card mg-b-20 mg-lg-b-25">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">@(Model.PriceLastList != null ? "Güncel Fiyatlar" : "Tüm Fiyatlar")</h6>
                        <nav class="nav">
                            <a href="/Sale/AddPrice" class="btn btn-success mg-l-10"><span class="d-none d-sm-inline">Fiyat Ekle</span></a>
                        </nav>
                    </div>
                    <div class="card-body pd-0" id="TicketProductList">
                        @{Html.RenderPartial("_PartialPriceList", Model);}
                    </div>
                    <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
                        <nav class="nav nav-with-icon tx-13">
                            <a href="/Sale/ExportToExcel" class="nav-link"><i data-feather="download"></i> Excel Olarak İndir </a>
                        </nav>
                    </div>
                </div>

                <footer class="content-footer">
                    <div>
                        <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
                    </div>
                </footer>

            </div>

        </div>
    </div>
</div>




@section scripts {

    <script>
        $(function () {
            'use strict'
            $("body").addClass("page-profile");
        });


        

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
