@model SaleControlModel
@{
    ViewBag.Title = "Satış Tahsilat Cari";
    var sign = Model.Authentication.ActionEmployee.OurCompanyID == 2 ? "₺" : Model.Authentication.ActionEmployee.OurCompanyID == 1 ? "$" : "";
}

@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Satış Tahsilat Cari</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">

    @using (Html.BeginForm("FilterSaleAction", "Sale", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">
            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="locationId" name="LocationID">
                    <option value="" label="Lokasyon Seçiminiz"></option>
                    @foreach (var item in Model.LocationList)
                    {
                        <option value="@item.LocationID" @(Model.Filters?.LocationID == item.LocationID ? "selected" : "")>@(Html.Raw($"<strong>{item.SortBy}</strong> {item.LocationName} {item.Description} {item.State}"))</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <input type="text" id="DocumentDate" name="filterDate" class="form-control" autocomplete="off" placeholder="Tarih" value="@(Model.Filters.Date.Value.ToString("yyyy-MM-dd"))">
            </div>

            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
            </div>
        </div>

    }



    <div>
        @if (Model.TicketSaleSummary != null && Model.TicketSaleSummary.Count > 0)
        {
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th colspan="16">
                                @(Model.Filters.Date?.ToLongDateString()) &nbsp;&nbsp; - &nbsp;&nbsp; @(Model.CurrentLocation.LocationFullName)
                            </th>
                        </tr>
                        <tr>
                            <th colspan="6">Satış</th>
                            <th colspan="4" class="bd-l">Tahsilat</th>
                            <th colspan="4" class="bd-l">Doküman</th>
                            <th colspan="2" class="bd-l">Cari</th>
                        </tr>
                        <tr>
                            <th class="">Sipariş No</th>
                            <th>Durum</th>
                            <th class="bd-l text-right">Ad.</th>
                            <th class="bd-r text-right">Tutar</th>
                            <th>Kaynak</th>
                            <th class="text-right">Saat</th>

                            <th class="bd-l">Tür</th>
                            <th class="text-right">Tutar</th>
                            <th>Kaynak</th>
                            <th class="text-right">Saat</th>

                            <th class="bd-l">No</th>
                            <th class="text-right">Tutar</th>
                            <th>Tür</th>
                            <th class="text-right">Aktif</th>

                            <th class="bd-l">No</th>
                            <th class="text-right">Tutar</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.TicketSaleSummary.OrderBy(x => x.RecordDate))
                        {
                            var payments = Model.TicketSalePosPaymentSummary.Where(x => x.SaleID == item.ID).ToList();
                            var documents = Model.DocumentsAllSummary.Where(x => x.ReferenceID == item.ID).ToList();
                            var uids = documents.Select(x => x.UID).ToList();
                            var actions = Model.SaleActionsAllSummary.Where(x => uids.Contains(x.ProcessUID)).ToList();
                            var refunds = Model.DocumentExpenseSlips.Where(x => x.SaleID == item.ID).ToList();


                            <tr>
                                <td class="tx-sm-13 font-weight-bold @(item.IsActive == false ? "text-danger" : "")">
                                    <a href="@("/Sale/Detail/" + @item.UID)">@item.OrderNumber</a>
                                </td>
                                <td class="tx-sm-13 @(item.PosStatusID == 3 ? "font-weight-bold":"")">@item.PosStatusName</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Quantity) @(refunds != null && refunds.Count > 0 ? Html.Raw( "<br>"+ refunds.Count().ToString()) : Html.Raw(""))</td>
                                <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(item.Total.ToString("N2")) @(item.Sign)  @(refunds != null && refunds.Count > 0 ? Html.Raw("<br> -" + refunds.Sum(x=> x.Amount)?.ToString("N2") +" "+item.Sign) : Html.Raw(""))</td>

                                <td class="tx-sm-13">@(item.IsSendPosTerminal == true ? "Ingenico":"Manuel")</td>
                                <td class="tx-sm-13 text-right">@(item.RecordDate?.ToString(@"T"))</td>

                                <td class="tx-sm-13 bd-l " colspan="4">
                                    @if (payments != null)
                                    {
                                        <table class="table table-borderless m-0 p-0">
                                            @foreach (var payment in payments)
                                            {
                                                <tr>
                                                    <td class="tx-sm-13" style="width:30%;">@(payment.PaymentTypeName)</td>
                                                    <td class="tx-sm-13 text-right font-weight-bold" style="width:30%;">@(payment.PaymentAmount?.ToString("N2")) @(payment.Sign) </td>
                                                    <td class="tx-sm-13" style="width:20%;">@(payment.FromPosTerminal == true ? "Ingenico":"Manuel")</td>
                                                    <td class="tx-sm-13 text-right">@(payment.PaymentTime?.ToString("T"))</td>
                                                </tr>
                                            }

                                        </table>
                                    }
                                </td>

                                <td class="tx-sm-13 bd-l " colspan="4">
                                    @if (documents != null)
                                    {
                                        <table class="table table-borderless m-0 p-0">
                                            @foreach (var document in documents)
                                            {
                                                <tr>
                                                    <td class="tx-sm-13" style="width:30%;">
                                                        <a href="@(document.DocumentNumber.StartsWith("PCN") ? $"/Bank/PosCancelDetail/{document.UID}" : document.DocumentNumber.StartsWith("PC") ? $"/Bank/Detail/{document.UID}" :  document.DocumentNumber.StartsWith("TSR") ? $"/Cash/SaleRefundDetail/{document.UID}" : document.DocumentNumber.StartsWith("TS") ? $"/Cash/SaleDetail/{document.UID}" : "#")" target="_blank">@(document.DocumentNumber)</a>
                                                    </td>
                                                    <td class="tx-sm-13 text-right font-weight-bold" style="width:20%;">@(document.Amount.ToString("N2")) @(document.Currency == "TRL" ? "₺": document.Currency == "USD" ? "$" :"")  </td>
                                                    <td class="tx-sm-13" style="width:35%;">@(document.ActionTypeName) </td>
                                                    <td class="tx-sm-13 text-right">@(document.IsActive == true ? "A":"P")</td>
                                                </tr>
                                            }

                                        </table>
                                    }
                                </td>

                                <td class="tx-sm-13 bd-l " colspan="3">
                                    @if (actions != null)
                                    {
                                        <table class="table table-borderless m-0 p-0">
                                            @foreach (var action in actions)
                                            {
                                                <tr>
                                                    <td class="tx-sm-13" style="width:30%;">@(action.DocumentNumber)</td>
                                                    <td class="tx-sm-13 text-right font-weight-bold">@(action.Amount?.ToString("N2")) @(action.Currency == "TRL" ? "₺": action.Currency == "USD" ? "$" :"")  </td>
                                                </tr>
                                            }

                                        </table>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="bd-l"></td>
                            <td></td>
                            <td class="bd-l"></td>
                            <td></td>
                            <td class="bd-l">Nakit</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.TicketSalePosPaymentSummary.Where(x=> x.PaymentType == 1 && x.PosStatusID == 3).Sum(x=> x.PaymentAmount)?.ToString("N2")) @(sign)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bd-l">Nakit</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SaleActionsAllSummary.Where(x=> x.ActionTypeID == 24 || x.ActionTypeID == 28).Sum(x=> x.Amount)?.ToString("N2")) @(sign)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="bd-l"></td>
                            <td></td>
                            <td class="bd-l"></td>
                            <td></td>
                            <td class="bd-l">Banka Kartı</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.TicketSalePosPaymentSummary.Where(x=> x.PaymentType == 4 && x.PosStatusID == 3).Sum(x=> x.PaymentAmount)?.ToString("N2")) @(sign)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bd-l">Banka Kartı</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SaleActionsAllSummary.Where(x=> x.ActionTypeID == 1 || x.ActionTypeID == 5).Sum(x=> x.Amount)?.ToString("N2")) @(sign)</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold bd-l">@(Model.TicketSaleSummary.Where(x=> x.PosStatusID == 3 && x.IsActive == true).Sum(x=> x.Quantity))</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.TicketSaleSummary.Where(x=> x.PosStatusID == 3 && x.IsActive == true).Sum(x=> x.Total).ToString("N2")) @(sign)</td>
                            <td class="bd-l"></td>
                            <td></td>
                            <td class="bd-l">Toplam</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.TicketSalePosPaymentSummary.Where(x=> x.PosStatusID == 3).Sum(x=> x.PaymentAmount)?.ToString("N2")) @(sign)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bd-l">Toplam</td>
                            <td class="tx-sm-13 text-right bg-primary-light font-weight-bold">@(Model.SaleActionsAllSummary.Sum(x=> x.Amount)?.ToString("N2")) @(sign)</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
        else
        {
            <div class="table">
                Sonuç Bulanamadı. Lütfen filtreleme yapınız.
            </div>
        }

        <footer class="content-footer">
            <div>
                <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
            </div>

        </footer>

    </div>
</div>


@section scripts {

    <script>
        $(function () {

            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#dateFrom')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#dateTo').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });


            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }

        });


    </script>
    <script>
        $(function () {
            'use strict'

            $('.off-canvas-menu').on('click', function (e) {
                e.preventDefault();
                var target = $(this).attr('href');
                $(target).addClass('show');
            });


            $('.off-canvas .close').on('click', function (e) {
                e.preventDefault();
                $(this).closest('.off-canvas').removeClass('show');
            })

            $(document).on('click touchstart', function (e) {
                e.stopPropagation();

                if (!$(e.target).closest('.off-canvas-menu').length) {
                    var offCanvas = $(e.target).closest('.off-canvas').length;
                    if (!offCanvas) {
                        $('.off-canvas.show').addClass('show');
                    }
                }
            });


        });
    </script>
    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}
