@model DefaultControlModel
@using (Ajax.BeginForm("EditBasketItem", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "BasketList", InsertionMode = InsertionMode.Replace, OnSuccess = "OnItemEditSuccess" }))
{
    @Html.AntiForgeryToken()
    @*<div class="modal-header ">
            <div class="modal-title text-md">@($"{Model.BasketItem.ProductName}")</div>
            <button class="close" data-dismiss="modal">&times;</button>
        </div>*@
    <div class="modal-body">
        <div class="pl-4 pt-4 pr-4 pb-0">
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Bilet Türü</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.TicketTypeName)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Bilet Adı</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.ProductName)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Fiyat Kategorisi</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.CategoryName)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Süresi</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.Unit) Dk.</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Fiyatı</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.Price.ToString("N2")) @(Model.BasketItem.Money)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">İskonto</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.Discount?.ToString("N2")) @(Model.BasketItem.Money)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Vergi (%@(Model.BasketItem.TaxRate))</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.Tax?.ToString("N2")) @(Model.BasketItem.Money)</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Promosyon Biletmi</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.PromotionID > 0 ? "Evet Promosyon" : "Hayır")</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Kullanım Durumu</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.UseImmediately == true ? "Hemen Kullanılacak" : "Daha Sonra Kullanılacak")</label>
            </div>
            <div class="form-group row mb-1 bg-light--lt">
                <label class="col-sm-3 pt-1">Açıklama</label>
                <label class="col-sm-9 pt-1">@(Model.BasketItem.Description)</label>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-body">
        <button type="button" class="btn btn-danger w-25" onclick="return confirm('Bu bileti sepetten silmek istediğinize emin misiniz?') ? RemoveBasketItem(@(Model.BasketItem.ID)):''"> <i data-feather="trash-2"></i> &nbsp; Bileti Sil</button>
        <button type="button" class="btn btn-primary w-25" data-dismiss="modal">Tamam</button>
    </div>
}

<script type="text/javascript">
        feather.replace({ 'width': 16, 'height': 16 });
</script>