@model DefaultControlModel
<table class="table table-theme table-row v-middle">
    <tbody>
        @foreach (var item in Model.BasketList.OrderBy(x => x.RecordDate))
        {
            <tr class=" v-middle shadow-sm">
                <td class="flex" style="border-right:dotted 1px #d8d6d6 !important;">
                    <label class="ui-switch dark" style="vertical-align:middle;">
                        <input type="checkbox" value="1" id="UseImmediately_@(item.ID)" @(item.UseImmediately == true ? "checked" : "") onchange="CheckImmediately(@(item.ID));">
                        <i></i>
                    </label>
                </td>
                @*<td class="flex">
                        <a href="#" class="item-title text-color font-weight-bold"> @(item.Quantity) Ad.</a>
                        <div class="item-except text-muted text-sm h-1x font-weight-100">@(item.ProductName)</div>
                    </td>*@
                <td>
                    <span class="item-amount d-none d-sm-block text-sm font-weight-bold">@(item.Unit) Dk</span>
                </td>
                <td>
                    <span class="item-amount d-none d-sm-block text-sm font-weight-bold">
                        @(item.Price.ToString("N2")) @(item.Sign)
                    </span>
                </td>
                <td class="@($"bg-{item.BackStyle}--lt")" style="border-left:dotted 1px #d8d6d6 !important;">
                    <div class="item-action dropdown text-center">
                        <a href="#" class="text-muted" data-toggle="modal" data-target="#BasketItemDetail" onclick="BasketItemDetail(@(item.ID))"><i  data-feather="more-vertical"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>



@if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
{
    <script type="text/javascript">

        feather.replace({ 'width': 16, 'height': 16 });

            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });

    </script>

}