@model DefaultControlModel
@{
    ViewBag.Title = "Index";
    ViewBag.PageTitle = $"{DateTime.Now.ToLongDateString()} &nbsp; &nbsp; <span class='font-weight-bold'> {Model.Authentication?.CurrentLocation?.FullName?.ToUpper()} </span>";

}


<div class="d-flex flex fixed-content">

    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-3">
                <div class="toolbar">
                    <a href="javascript:;" class="btn btn-md btn-white" title="Yeni Satış" onclick="return confirm('Yeni Sepet Oluşturmak istediğinize Emin misiniz? ') ? ClearBasket():''">
                        <i class="text-primary font-weight-bold" data-feather="plus"></i>
                    </a>
                    <a href="/Sale" class="btn btn-md btn-white">
                        <i class="text-primary font-weight-bold" data-feather="list"></i>
                    </a>
                    <a href="#" class="btn btn-md btn-white">
                        Sipariş No &nbsp;&nbsp;&nbsp;  <span class="font-weight-bold">@((Model.EmployeeBasketCount.Value + 1).ToString().PadLeft(3, '0'))</span>
                    </a>

                    <button data-toggle="modal" data-target="#content-aside" data-modal class="btn btn-md ml-auto btn-white">
                        <i data-feather="download"></i> &nbsp;&nbsp;&nbsp; Bilet Ekle
                    </button>
                </div>
            </div>
            <div class="scroll-y mx-3 mb-3 card">

                <div class="row no-gutters">
                    <div class="col-md-6 b-r bg-light--lt">
                        <div class="p-2">
                            <div class="row row-xs">
                                @foreach (var price in Model.PriceList)
                                {
                                    <div class="col-sm-6">
                                        <div class="card shadow-sm mb-3">
                                            <div class="media media-21x9 @(price.Style)">

                                                <a href="#" class="media-content" onclick="AddBasket(@(price.ID))">
                                                    <h3 class="text-fade text-white">@(price.Unit) Dk</h3><br />
                                                </a>

                                            </div>
                                            <div class="p-2 text-center">
                                                <h5 class="card-title mb-0">@(price.Price?.ToString("N2")) @(price.Sign)</h5>
                                                <span class="item-amount d-none d-sm-block text-sm">
                                                    @(price.ProductName)
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 bg-light">
                        <div class="p-2">
                            <span class="text-md"> Sepet</span>
                            <span class="mr-2 float-right"><i data-feather="shopping-cart"></i></span>
                            <div class="table-responsive" id="BasketList">
                                @{ Html.RenderPartial("_PartialBasketList", Model);}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade aside aside-sm" id="content-aside">
        <div class="modal-dialog d-flex flex-column w-md bg-body" id="user-nav">
            <div class="navbar">
                <span class="text-md mx-2">  &nbsp; </span>
                <div class="dropdown dropright">
                    <button data-toggle="dropdown" class="btn btn-sm btn-icon no-bg no-shadow"></button>

                </div>
            </div>
            <div class="scrollable hover">
                <div class="sidenav p-2">
                    <div class="table-responsive">
                        <table class="table v-middle">

                            <tbody>
                                <tr class="v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">Tutar</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00 ₺
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">İskonto</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00 ₺
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">Ara Toplam</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00 ₺
                                        </span>
                                    </td>
                                </tr>
                                <tr class="v-middle">
                                    <td class="flex">
                                        <span class="item-amount text-sm ">KDV (18)</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-sm float-right">
                                            20,00 ₺
                                        </span>
                                    </td>
                                </tr>
                                <tr class=" v-middle shadow-sm">
                                    <td class="flex">
                                        <span class="item-amount text-md text-primary ">Bakiye</span>
                                    </td>
                                    <td class="bg-light--lt" style="border-left:dotted 1px #d8d6d6 !important;">
                                        <span class="item-amount d-none d-sm-block text-md font-weight-bold text-dark float-right">
                                            20,00 ₺
                                        </span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="">

                        @*<div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-form-label h-25" for="usingnow" style="vertical-align:middle;">Hemen Kullanılacak</label> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <label class="ui-switch ui-switch-lg dark" style="vertical-align:middle;">
                                        <input type="checkbox" value="1" id="usingnow" name="usingnow" checked>
                                        <i></i>
                                    </label>
                                </div>
                            </div>
                            <div class="mb-1">
                                <input type="text" class="form-control" placeholder="Adı Soyadı" required>
                            </div>
                            <div class="mb-1">
                                <input type="text" class="form-control" placeholder="Cep Telefonu">
                            </div>
                            <div class="mb-1">
                                <input type="text" class="form-control" placeholder="Kimlik Numarası">
                            </div>
                            <div class="mb-1">
                                <input type="text" class="form-control" placeholder="Detay" required>
                            </div>*@


                        <div class="mt-2 mb-1">
                            <button class="btn btn-dark btn-block btn-md">Satışı Tamamla</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
</div>

<div id="BasketItemDetail" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="BasketItemDetailContent">

        </div>
        <!-- /.modal-content -->
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        function OnItemEditSuccess(data) {
            $('#BasketItemDetail').modal('hide');
        };

        function AddBasket(priceid) {
            $.ajax({
                method: "GET",
                url: "/Default/AddBasket",
                data: { id: priceid }
            }).done(function (d) {
                $("#BasketList").html(d);
            });
        };

        function BasketItemDetail(itemid) {
            $.ajax({
                method: "GET",
                url: "/Default/BasketItemDetail",
                data: { id: itemid }
            }).done(function (d) {
                $("#BasketItemDetailContent").html(d);
            });
        };

        function ClearBasket() {
            $.ajax({
                method: "GET",
                url: "/Default/ClearBasket"
            }).done(function (d) {
                $("#BasketList").html(d);
            });
        };

        function CheckImmediately(id) {

            var ischecked = 0;

            if ($("#UseImmediately_" + id).is(':checked')) {
                ischecked = 1;
            }

            $.ajax({
                method: "GET",
                url: "/Default/CheckImmediately",
                data: { id: id, ischecked: ischecked }
            }).done(function (d) {
                $("#BasketList").html(d);
            });
        };


    </script>






    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
            $(function () {
                notie.setOptions({
                    alertTime: 5
                })
                notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                noticed = true;
            });
        </script>
    }

}
