@model ExpenseControlModel
@{
    ViewBag.Title = "Masraf Yönetimi";
}
@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Masraf Yönetimi - Maliyet Dokümanları</span>
    </div>
    <nav class="nav">
        <a href="/Expense"> <i data-feather="menu"></i> </a> &nbsp;
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())

    </nav>
</div>
<div class="content-body">
    @using (Html.BeginForm("CostFilter", "Expense", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">

            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="ECID" name="ECID">
                    @foreach (var item in Model.ExpenseCenters.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseCenterID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ExpenseCenterName}</strong> ({item.IsActive}) "))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="EIID" name="EIID">
                    <option value="" label="Masraf Kalemi Seçiminiz"></option>
                    @foreach (var item in Model.ExpenseItems.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseItemID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ExpenseItemName}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control" id="EGID" name="EGID">
                    <option value="" label="Grup Seçiminiz"></option>
                    @foreach (var item in Model.ExpenseGroups.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseGroupID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ExpenseGroupName}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control" id="EPCD" name="EPCD">
                    <option value="" label="Dönem"></option>
                    @foreach (var item in Model.ExpensePeriods.OrderBy(x => x.DateBegin))
                    {
                        <option value="@item.PeriodCode" @(Model.Filters.ExpensePeriodCode == item.PeriodCode ? "selected" : "")>@(Html.Raw($"<strong>{item.PeriodCode}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end ">
                <button class="btn btn-primary btn-block" type="submit" id="btnsearch">Ara</button>
            </div>

        </div>
    }

    @if (Model.ExpenseActions != null && Model.ExpenseActions.Count > 0)
    {
        <div>
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Kurum</th>
                            <th>Doküman</th>
                            <th>Merkez</th>
                            <th>Lokasyon</th>
                            <th>Maliyet</th>
                            <th>Grubu</th>
                            <th>Dönemi</th>
                            <th class="text-right">Dağıtılan</th>
                            <th class="text-right">Oran (%)</th>
                            <th class="text-right">Tutar</th>
                            <th></th>
                            <th>Kayıt</th>
                            <th>Traih</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var exp in Model.ExpenseActions.OrderByDescending(x => x.LocationFullName).ThenByDescending(x => x.RecordDate))
                        {
                            <tr>

                                <td class="tx-sm-13">@(exp.ID)</td>
                                <td class="tx-sm-13"> @(exp.OurCompanyCode)</td>
                                <td class="tx-sm-13"> @(exp.DocumentNumber)</td>
                                <td class="tx-sm-13">@(exp.ExpenseCenterName)</td>
                                <td class="tx-sm-13 font-weight-bold">@(exp.LocationFullName)</td>
                                <td class="tx-sm-13">@(exp.ExpenseItemName)</td>
                                <td class="tx-sm-13">@(exp.ExpenseGroupName)</td>
                                <td class="tx-sm-13">@(exp.ExpensePeriodCode)</td>
                                <td class="tx-sm-13 text-right">@(exp.Total?.ToString("N2"))</td>
                                <td class="tx-sm-13 font-weight-bold text-right">@(exp.Rate?.ToString("N2"))</td>
                                <td class="tx-sm-13 font-weight-bold text-right">@(exp.Amount?.ToString("N2"))</td>
                                <td class="tx-sm-13">@(exp.Currency)</td>
                                <td class="tx-sm-13">@(exp.RecordEmployeeName)</td>
                                <td class="tx-sm-13">@(exp.RecordDate)</td>

                            </tr>
                        }


                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="10"></th>
                            <th class="tx-sm-13 font-weight-bold text-right">@(Model.ExpenseActions.Sum(x=> x.Amount)?.ToString("N2"))</th>
                            <th colspan="3"></th>

                        </tr>
                    </tfoot>

                </table>
            </div>


            <footer class="content-footer">
                <div>
                    <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
                </div>

            </footer>

        </div>
    }
</div>



@section scripts {
    <script>
        $(function () {

            $('#ECID').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#EIID').select2({
                placeholder: 'Masraf Kalemi Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DTBG')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DTEN').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }
        });


    </script>


    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}