@model ExpenseControlModel
@{
    ViewBag.Title = "Masraf Yönetimi";
}
@section style{

}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Masraf Yönetimi - Masraf Dokümanları</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())

    </nav>
</div>
<div class="content-body">
    @using (Html.BeginForm("ExpenseFilter", "Expense", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-row align-items-end">

            <div class="form-group col-md-3 d-flex align-items-end">
                <select class="form-control select2" id="ECID" name="ECID">
                    <option value="" label="Gelir/Gider Merkezi Seçiminiz"></option>
                    @foreach (var item in Model.ExpenseCenters.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseCenterID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ExpenseCenterName}</strong> ({item.IsActive}) "))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control select2" id="EIID" name="EIID">
                    <option value="" label="Masraf Kalemi Seçiminiz"></option>
                    @foreach (var item in Model.ExpenseItems.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseItemID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.ExpenseItemName}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-2 d-flex align-items-end">
                <select class="form-control select2" id="ESID" name="ESID">
                    <option value="" label="Durum Seçiminiz"></option>
                    @foreach (var item in Model.ExpenseDocumentStatuses.OrderBy(x => x.SortBy))
                    {
                        <option value="@item.ID" @(Model.Filters.ExpenseStatusID == item.ID ? "selected" : "")>@(Html.Raw($"<strong>{item.StatusName}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-1 d-flex align-items-end">
                <select class="form-control select2" id="EPCD" name="EPCD">
                    <option value="" label="Dönem"></option>
                    @foreach (var item in Model.ExpensePeriods.OrderBy(x => x.DateBegin))
                    {
                        <option value="@item.PeriodCode" @(Model.Filters.ExpensePeriodCode == item.PeriodCode ? "selected" : "")>@(Html.Raw($"<strong>{item.PeriodCode}</strong>"))</option>
                    }
                </select>
            </div>

            <div class="form-group col-md-1 d-flex align-items-end">
                <input type="text" id="DTBG" name="DTBG" class="form-control" autocomplete="off" placeholder="Başlangıç Tarihi" value="@(Model.Filters.DateBegin.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-1 d-flex align-items-end">
                <input type="text" id="DTEN" name="DTEN" class="form-control" autocomplete="off" placeholder="Bitiş Tarihi" value="@(Model.Filters.DateEnd.Value.ToString("yyyy-MM-dd"))">
            </div>
            <div class="form-group col-md-1 d-flex align-items-end ">
                <button class="btn btn-primary btn-block" type="submit" id="btnsearch">Ara</button>
            </div>
            <div class="form-group col-md-1 d-flex align-items-end ">
                <a href="/Expense/NewDocument" class="btn btn-success btn-block font-weight-bold"> <i data-feather="plus"></i>  Yeni</a>
            </div>
        </div>
    }

    @if (Model.ExpenseDocuments != null && Model.ExpenseDocuments.Count > 0)
    {
        <div>
            <div class="table">
                <table class="table table-sm table-hover">
                    <thead>

                        <tr>
                            <th>#</th>
                            <th>Doküman No</th>
                            <th>Tarih</th>
                            <th>G/G Merkezi</th>
                            <th>M. Kalemi</th>
                            <th>Grubu</th>
                            <th>Dönemi</th>
                            <th class="text-right">Tutarı</th>
                            <th class="text-right">Dağıtım</th>
                            <th></th>
                            <th>Durum</th>
                            <th>Kayıt</th>
                            <th>Aktif</th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var exp in Model.ExpenseDocuments.OrderByDescending(x => x.DocumentDate).ThenByDescending(x => x.RecordDate))
                        {
                            <tr>

                                <td class="tx-sm-13">@(exp.ID)</td>
                                <td class="tx-sm-13 font-weight-bold"><a href="/Expense/Detail/@(exp.UID)" target="_blank" class="@(exp.StatusID == 1 ? "text-black-50":"")"> @(exp.DocumentNumber)</a></td>
                                <td class="tx-sm-13 font-weight-bold">@(exp.DocumentDate.Value.ToString("d"))</td>
                                <td class="tx-sm-13">@(exp.ExpenseCenterName)</td>
                                <td class="tx-sm-13">@(exp.ExpenseItemName)</td>
                                <td class="tx-sm-13">@(exp.ExpenseGroupName)</td>
                                <td class="tx-sm-13">@(exp.ExpensePeriodCode)</td>
                                <td class="tx-sm-13 font-weight-bold text-right">@(exp.TotalAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13 font-weight-bold text-right">@(exp.DistributionAmount?.ToString("N2"))</td>
                                <td class="tx-sm-13">@(exp.Currency)</td>
                                <td class="tx-sm-13">@(exp.StatusName)</td>
                                <td class="tx-sm-13">@(exp.RecordDate)</td>
                                <td class="tx-sm-13">@(exp.IsActive == true ? "Aktif":"Pasif")</td>
                                <td class="tx-sm-13"><a href="/Expense/Detail/@(exp.UID)" target="_blank" class="@(exp.StatusID == 1 ? "text-black-50":"")"> <i data-feather="file-text"></i></a></td>
                                <td class="tx-sm-13"><a href="/Expense/Chart/@(exp.UID)" target="_blank" class="@(exp.StatusID == 1 ? "text-black-50":"")"> <i data-feather="list"></i></a></td>
                            </tr>
                        }


                    </tbody>

                </table>
            </div>


            <footer class="content-footer">
                <div>
                    <span>&copy; @DateTime.Now.Year UFE Group LLC </span>
                </div>

            </footer>

        </div>
    }
</div>



@section scripts {
    <script>
        $(function () {

            $('#ECID').select2({
                placeholder: 'G/G Merkezi Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            $('#EIID').select2({
                placeholder: 'Masraf Kalemi Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });

            var dateFormat = 'yy-mm-dd',
                from = $('#DTBG')
                    .datepicker({
                        defaultDate: '+1w',
                        numberOfMonths: 2,
                        dateFormat: "yy-mm-dd",
                        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                        firstDay: 1
                    })
                    .on('change', function () {
                        to.datepicker('option', 'minDate', getDate(this));
                    }),
                to = $('#DTEN').datepicker({
                    defaultDate: '+1w',
                    numberOfMonths: 2,
                    dateFormat: "yy-mm-dd",
                    dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                    monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                    firstDay: 1
                })
                    .on('change', function () {
                        from.datepicker('option', 'maxDate', getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;

            }
        });


    </script>


    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}