@model ExpenseControlModel
@{
    ViewBag.Title = "Masraf Merkezi İşlemleri";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Yeni Masraf Dökümanı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page"> <a href="/Expense">Masraf Yönetimi - Masraf Dokümanları</a></li>
                            </ol>
                        </nav>
                        <h4 class="mg-b-0 tx-spacing--1">Yeni Masraf Dokümanı</h4>
                    </div>
                </div>


                @using (Html.BeginForm("AddExpense", "Expense", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">



                            <div class="form-group row mg-b-5 ">
                                <label for="DocumentDate" class="col-sm-3 col-form-label">Belge Tarihi</label>
                                <div class="col-sm-6">
                                    <input id="DocumentDate" name="DocumentDate" type="text" class="form-control shiftdate" autocomplete="off" placeholder="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="DocumentSource" class="col-sm-3 col-form-label">Referans</label>
                                <div class="col-sm-6">
                                    <input id="DocumentSource" name="DocumentSource" type="text" class="form-control font-weight-bold" maxlength="50" autocomplete="off" placeholder="Kaynak" value="" required>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="ExpenseCenterID" class="col-sm-3 col-form-label tx-sm-13">Masraf Merkezi</label>
                                <div class="col-sm-6">
                                    <select class="form-control font-weight-bold select2" id="ExpenseCenterID" name="ExpenseCenterID" required>
                                        @foreach (var item in Model.ExpenseCenters.OrderBy(x => x.SortBy))
                                        {
                                            <option value="@(item.ID)" data-group="@(item.ProfitCenter)">@($"{item.ExpenseCenterName}" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="ExpenseItemID" class="col-sm-3 col-form-label">Masraf Kalemi</label>
                                <div class="col-sm-6">
                                    <select class="form-control font-weight-bold select2" id="ExpenseItemID" name="ExpenseItemID" required>
                                        @foreach (var item in Model.ExpenseItems.OrderBy(x => x.SortBy))
                                        {
                                            <option value="@(item.ID)">@($"{item.ID} - {item.ExpenseItemName}" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row bg-gray-50">
                                <label for="ExpenseGroupID" class="col-sm-3 col-form-label">Masraf Grubu</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ExpenseGroupID" name="ExpenseGroupID" required>
                                        <option value="">Masraf Grubu Seçiminiz</option>
                                        @foreach (var item in Model.ExpenseGroups.OrderBy(x => x.SortBy))
                                        {
                                            <option value="@(item.ID)">@($"{item.ExpenseGroupName}" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="ExpensePeriod" class="col-sm-3 col-form-label">Belge Dönemi Başlangıcı</label>
                                <div class="col-sm-6">
                                    <input id="ExpensePeriod" name="ExpensePeriod" type="text" class="form-control shiftdate" autocomplete="off" placeholder="Tarih" value="@((new DateTime(DateTime.Now.Year, DateTime.Now.Month,1)).ToString("yyyy-MM-dd"))" required>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="TotalAmount" class="col-sm-3 col-form-label">Masraf Tutarı</label>
                                <div class="col-sm-6">
                                    <input id="TotalAmount" name="TotalAmount" type="text" class="form-control font-weight-bold tx-15 text-right money" autocomplete="off" min="0" placeholder="Masraf Tutarı" value="0,00" required>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">@(Model.Authentication.ActionEmployee.OurCompany.Currency)</div>
                            </div>

                            <div class="form-group row bg-gray-50">
                                <label for="DistributionAmount" class="col-sm-3 col-form-label">Dağılım Tutarı</label>
                                <div class="col-sm-6">
                                    <input id="DistributionAmount" name="DistributionAmount" type="text" class="form-control font-weight-bold tx-15 text-right money" autocomplete="off" min="0" placeholder="Dağılım Tutarı" value="0,00" required>
                                </div>
                                <div class="col-sm-3 form-control-plaintext font-weight-bold">
                                    <input id="Currency" name="Currency" type="hidden" value="@(Model.Authentication.ActionEmployee.OurCompany.Currency)" />
                                    @(Model.Authentication.ActionEmployee.OurCompany.Currency)
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="ExpenseDescription" class="col-sm-3 col-form-label">Açıklama</label>
                                <div class="col-sm-6">
                                    <textarea id="ExpenseDescription" name="ExpenseDescription" rows="2" cols="20" class="form-control" style="width:100% !important;"></textarea>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                        </div>
                    </div>
                }

                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-t-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <h4 class="mg-b-0 tx-spacing--1">Otomatik Masraf Dokümanı Oluştur</h4>
                    </div>
                </div>


                @using (Html.BeginForm("AddExpenseAuto", "Expense", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">

                            <div class="form-group row mg-b-2 bg-gray-50">
                                <label for="ExpensePeriod" class="col-sm-3 col-form-label">Masraf Dönemi</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ExpensePeriod" name="ExpensePeriod" required>
                                        <option value="">Masraf Dönemi Seçiminiz</option>
                                        @foreach (var item in Model.ExpensePeriods.OrderBy(x => x.PeriodCode))
                                        {
                                            <option value="@(item.PeriodCode)">@($"{item.PeriodCode} ({item.DateBegin?.ToShortDateString()} - {item.DateEnd?.ToShortDateString()})" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Location" class="btn btn-primary btn-block text-left" value="1">Lokasyon Maaşları için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Office" class="btn btn-brand-01 btn-block text-left" value="1">Ofis Maaşları için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Setcard" class="btn btn-warning btn-block text-left" value="1">Yemek Kartları için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Rent" class="btn btn-info btn-block  text-left" value="1">Kiralar için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Vat" class="btn btn-info btn-block  text-left" value="1">KDV için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-2">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" name="Expense" class="btn btn-info btn-block  text-left" value="1">KDV için Masraf Dokümanı Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>


                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section canvasmenu {

}

@section scripts {
    <script src="~/assets/js/ActionForceScript.js"></script>
    <script>
        $(function () {
            'use strict'
            $('.select2').select2({
                placeholder: 'Masraf Merkezi Seçiminiz',
                searchInputPlaceholder: 'Search options',
                allowClear: true
            });
            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#ExpensePeriod').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });



            $('#DateBegin').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#DateEnd').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#ReturnWorkDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });
        });
        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.fulldate').mask('0000-00-00 00:00:00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.quantity').mask("##0", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });

        $(document).ready(function () {

            $("#ExpenseCenterID").change(function () {

                //var centerID = $("#ExpenseCenterID").val();
                var isprofit = $(this).find(':selected').data('group');

                if (isprofit == 'True') {

                    $("#ExpenseGroupID").find('option').remove().end();
                    $("#ExpenseGroupID").append("<option value=''>Masraf Grubu Seçiminiz</option>");
                    $("#ExpenseGroupID").append("<option value='1'>Lokasyon</option>");

                }
                else {

                    $("#ExpenseGroupID").find('option').remove().end();
                    $("#ExpenseGroupID").append("<option value=''>Masraf Grubu Seçiminiz</option>");
                    $("#ExpenseGroupID").append("<option value='2'>İşletme Maliyeti</option>");
                    $("#ExpenseGroupID").append("<option value='3'>Genel</option>");

                }
            });
        });

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

