@model MallControlModel
<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th></th>
            <th>No</th>
            <th>Adı</th>
            <th>Şehir</th>
            <th>Türü</th>
            <th>Fiyat Kategorisi</th>
            <th class="text-center">Para Birimi</th>
            <th class="text-center">Vergi Oranı</th>
            <th class="text-center">Time Zone</th>
            <th class="text-center">Kaldır</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RelatedLocationList.OrderBy(x => x.SortBy))
        {
            <tr style='@(item.IsActive == false ? "color: red" : "")'>
                <td><span class="@(item.IsActive == true ? "tx-success":"tx-danger")">&#8226;</span></td>
                <td class="tx-sm-13 bold">@item.SortBy</td>
                <td class="tx-sm-13"><a href="@("/Location/Detail/" + @item.LocationUID)">@($"{item.LocationName} {item.Description}")</a></td>
                <td class="tx-sm-13">@(!String.IsNullOrEmpty(item.State) ? item.State : item.CityName)</td>
                <td class="tx-sm-13">@item.LocationTypeName</td>
                <td class="tx-sm-13">@(!String.IsNullOrEmpty(item.CategoryName) ? item.CategoryName : "")</td>
                <td class="tx-sm-13 text-center">@item.Currency</td>
                <td class="tx-sm-13 text-center">% @item.TaxRate</td>
                <td class="tx-sm-13 text-center">@item.Timezone</td>
                <td class="tx-sm-13 text-center">
                    <a href=""><u>Kaldır</u></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Result != null)
{
    <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
    </script>
}