@model MallControlModel
@{
    ViewBag.Title = "Lokasyon Listesi";
}

<div class="content-body">

    <div class="d-flex flex-row-reverse align-items-end  mg-b-20 mg-lg-b-25 mg-xl-b-30">

        <div class="col-9" >
            @using (Ajax.BeginForm("LinkToMall", "Mall", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "toBeUpdatedLocationList", InsertionMode = InsertionMode.Replace, OnComplete = "OnComplete"}))
            {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(Model => Model.MallModel.ID)
                    <div class="form-row align-items-end">

                        <div class="form-group col-md-4 d-flex align-items-end">
                            <select class="form-control" id="locationModelID" name="LocationModelID">
                                <option value="" label="Lokasyon Seçiniz"></option>
                                @foreach (var item in Model.LocationList)
                                {
                                    <option value="@item.LocationID" @(Model?.LocationModelID == item.LocationID ? "selected" : "")> @Html.Raw($"<strong>{item.LocationFullName}</strong>") </option>
                                }
                            </select>
                        </div>

                        <div class="form-group col-md-3 d-flex align-items-end ">
                            <button class="btn btn-primary" type="submit" id="btnsearch"> Lokasyon İlişkilendir </button>
                        </div>
                    </div>
             }

        </div>

    </div>

  
    <div class="table" id="toBeUpdatedLocationList">
        @Html.Partial("_PartialRelatedLocationList", Model)
    </div>

</div>

@section scripts {

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}




