@model MallControlModel
@{
    ViewBag.Title = "AVM Listesi";
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">AVM Listesi</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">AVM Listesi</li>
                </ol>
            </nav>
        </div>
        <div class="d-none d-md-block">
            <a href="@("/Mall/Add/")" class="btn btn-primary btn-uppercase"><i data-feather="plus-square"></i> &nbsp; AVM Ekle</a>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            @using (Html.BeginForm("MallFilter", "Mall", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
            <div class="form-row align-items-end">
                <div class="form-group col-md-4 d-flex align-items-end">
                    <input id="mallName" name="MallName" type="text" class="form-control" autocomplete="off" placeholder="AVM Adı" value="@(Model.FilterModel?.MallName?? "")">
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">
                    <select class="form-control" id="stateID" name="StateName">
                        <option value="" label="Eyalet Seçiniz"></option>
                        @foreach (var item in Model.StateList)
                        {
                            <option value="@item.StateName" @(Model.FilterModel != null ? (Model.FilterModel?.StateName == item.StateName ? "selected" : "") : "")>@Html.Raw($"<strong>{item.StateName}</strong>")</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-2 d-flex align-items-end">
                    <select class="form-control" id="cityID" name="CityName">
                        <option value="" label="Şehir Seçiniz"></option>
                        @foreach (var item in Model.CityList)
                        {
                            <option value="@item.CityName" @(Model.FilterModel != null ? (Model.FilterModel?.CityName == item.CityName ? "selected" : "") : "")>@Html.Raw($"<strong>{item.CityName}</strong>")</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-1 d-flex align-items-end ">
                    <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
                </div>
            </div>
            }
        </div>
        <div class="col-3">
            <div class="btn-group btn-group-sm float-right" role="group">
                <button type="button" class="btn btn-light" onclick="MallSearch('-1');">Tümü</button>
                <button type="button" class="btn btn-primary" onclick="MallSearch('1');">Aktifler</button>
                <button type="button" class="btn btn-secondary" onclick="MallSearch('0');">Pasifler</button>
            </div>
        </div>
    </div>
    <div>
        <div class="table" id="MallList">
            @Html.Partial("_PartialMallList", Model)
        </div>
    </div>
</div>
@section scripts {
    <script>
        function MallSearch(active) {

            var data = new FormData();

            data.append('MallName', $("#mallName").val());
            data.append('StateName', $("#stateID").val());
            data.append('CityName', $("#cityID").val());
            data.append('IsActive', active);

            $.ajax({
                url: '@Url.Action("MallSearch", "Mall")',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                data: data
            }).done(function (res) {
                $('#MallList').html(res);
            });
        }
    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

