@model LocationControlModel
<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</a>
<div>
    <h4>@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) | <span class="font-weight-bold text-black-50">Fiyat Kategori Güncelle</span></h4>
    <div class="form-group row bg-gray-50 mg-b-5">
        <label for="Mobile" class="col-sm-3 col-form-label">Fiyat Listesi</label>
        <div class="col-sm-6">
            <select class="form-control" id="priceCategory" name="PriceCatID">
                @if (Model?.PriceCategoryList?.Count > 0)
                {
                    <option value="">Seçiniz</option>
                    foreach (var item in Model.PriceCategoryList)
                    {
                        <option value="@(item.ID)" @(Model.LocationPriceCategory.PriceCategoryID == item.ID ? "selected" : "")>@(item.TicketTypeName + " " + item.CategoryName)</option>
                    }
                }
            </select>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="form-group row bg-gray-50 mg-b-5">
        <label for="Mobile" class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
        <div class="col-sm-6">
            <input id="pricedatepicker" type="text" class="form-control form-control-sm shiftdate" placeholder="Başlangıç Tarihi" value="@(Model?.LocationPriceCategory.StartDate?.ToString("yyyy-MM-dd"))">
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>


<script type="text/javascript">

    $('#pricedatepicker').datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        dateFormat: "yy-mm-dd",
        dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
        monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
        firstDay: 1
    });

    $('.shiftdate').mask('0000-00-00');

</script>

@*<input id="Date_@(param.ID)" type="text" class="form-control form-control-sm datepicker" placeholder="Başlangıç Tarihi" value="@(param.DateStart?.ToString("yyyy-MM-dd"))" onchange="EditLocationParameter(@(param.ID),@(param.LocationID))">*@

