@model LocationControlModel

<div class="row row-xs">
    <div class="col-lg-12">
        <ul class="list-group list-group-flush mg-b-0 tx-13">
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Lokasyon Kodu</span>
                <span class="tx-light tx-15">@(Model.LocationModel.LocationCode)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Adı</span>
                <span class="tx-rubik">@(Model.LocationModel.LocationName)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Türü</span>
                <span class="tx-rubik">@(Model.LocationModel.Description)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Şehir</span>
                <span class="tx-rubik">@(Model.LocationModel.State)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Enlem</span>
                <span class="tx-rubik">@(Model.LocationModel.Latitude)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Boylam</span>
                <span class="tx-rubik">@(Model.LocationModel.Longitude)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">IP</span>
                <span class="tx-rubik">@(Model.LocationModel.IP)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Time Zone</span>
                <span class="tx-rubik">@(Model.LocationModel.Timezone)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Para Birimi</span>
                <span class="tx-rubik">@(Model.LocationModel.Currency)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">No</span>
                <span class="tx-rubik">@(Model.LocationModel.SortBy)</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Operatör var mı?</span>
                <span class="tx-rubik">@Html.Raw(Model.LocationModel.IsHaveOperator.Value == true ? "Evet" : "Hayır")</span>
            </li>
            <li class="list-group-item pd-x-0 d-flex justify-content-between">
                <span class="tx-medium">Aktif mi?</span>
                <span class="tx-rubik">@Html.Raw(Model.LocationModel.IsActive.Value == true ? "Evet" : "Hayır")</span>
            </li>
        </ul>
    </div>
</div>

<div class="row row-xs bg-gray-100 mg-b-0 mg-t-40">
    <div class="col-sm-3 pd-t-10 pd-b-10">
        <b>Kayıt Tarihçesi</b>
    </div>
</div>

@if (Model.LogList != null && Model.LogList.Count() > 0)
{
    <div class="row row-xs">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Kişi</th>
                    <th>Ortam</th>
                    <th>İşlem</th>
                    <th>Açıklama</th>
                    <th>Alan</th>
                    <th>Önceki</th>
                    <th>Yeni</th>
                    <th>Başarılı?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LogList.OrderBy(x => x.RecordDate))
                {
                    <tr>
                        <td>@(item.RecordDate)</td>
                        <td>@(item.RecordEmployee)</td>
                        <td>@(item.Environment)</td>
                        <td>@(item.ProcessType)</td>
                        <td>@(item.ResultMessage)</td>
                        <td>@(item.FieldName)</td>
                        <td>@(item.OldValue)</td>
                        <td>@(item.NewValue)</td>
                        <td>@(item.IsSuccess)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
