@model LocationControlModel

@using (Html.BeginForm("EditLocation", "Location", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row row-xs">
        <div class="col-lg-12">
            <div class="form-group row mg-b-5">
                <label for="ourCompany" class="col-sm-3 col-form-label">Firma</label>
                <div class="col-sm-6">
                    <select class="form-control" id="ourCompany" name="OurCompany" required>
                        @if (Model?.OurCompanyList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>

                            foreach (var item in Model.OurCompanyList)
                            {
                                <option value="@(item.CompanyID)" @(Model.Authentication.ActionEmployee.OurCompanyID == item.CompanyID ? "selected" : "")>@(item.CompanyName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="locationCode" class="col-sm-3 col-form-label">Lokasyon Kodu</label>
                <div class="col-sm-6">
                    <input id="locationCode" name="LocationCode" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon Kodu" value="@(Model?.CheckLocation?.LocationCode ?? Model.LocationModel.LocationCode)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="locationName" class="col-sm-3 col-form-label">Adı</label>
                <div class="col-sm-6">
                    <input id="locationName" name="LocationName" type="text" class="form-control" autocomplete="off" placeholder="Adı" value="@(Model?.CheckLocation?.LocationName ?? Model.LocationModel.LocationName)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="locationTypeID" class="col-sm-3 col-form-label">Türü</label>
                <div class="col-sm-6">
                    <select class="form-control" id="locationTypeID" name="LocationTypeID" required="">
                        @if (Model?.LocationTypeList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>

                            foreach (var item in Model.LocationTypeList)
                            {
                                <option value="@(item.ID)" @(Model.LocationModel.LocationTypeID == item.ID ? "selected" : "")>@(item.TypeName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="state" class="col-sm-3 col-form-label">Şehir</label>
                <div class="col-sm-6">
                    @*<input id="state" name="State" type="text" class="form-control" autocomplete="off" placeholder="Şehir" value="@(Model.LocationModel.State)">*@
                    <select class="form-control" id="state" name="CityID">
                        @if (Model?.CityList?.Count > 0)
                        {
                            foreach (var item in Model.CityList)
                            {
                                <option value="@(item.ID)" @(Model.LocationModel.CityID == item.ID ? "selected" : "")>@(item.CityName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="latitude" class="col-sm-3 col-form-label">Enlem</label>
                <div class="col-sm-6">
                    <input id="latitude" name="Latitude" type="text" class="form-control" autocomplete="off" placeholder="Enlem" value="@(Model?.CheckLocation?.Latitude ?? Model.LocationModel.Latitude)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="longitude" class="col-sm-3 col-form-label">Boylam</label>
                <div class="col-sm-6">
                    <input id="longitude" name="Longitude" type="text" class="form-control" autocomplete="off" placeholder="Boylam" value="@(Model?.CheckLocation?.Longitude ?? Model.LocationModel.Longitude)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="iP" class="col-sm-3 col-form-label">IP</label>
                <div class="col-sm-6">
                    <input id="iP" name="IP" type="text" class="form-control" autocomplete="off" placeholder="IP" value="@(Model?.CheckLocation?.IP ?? Model.LocationModel.IP)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="avm" class="col-sm-3 col-form-label">AVM</label>
                <div class="col-sm-6">
                    <select class="form-control" id="avm" name="MallID">
                        @if (Model?.MallList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>

                            foreach (var item in Model.MallList)
                            {
                                <option value="@(item.ID)" @(Model.LocationModel.MallID == item.ID ? "selected" : "")>@(item.FullName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="timezone" class="col-sm-3 col-form-label">Time Zone</label>
                <div class="col-sm-6">
                    <select class="form-control" id="timezone" name="Timezone" required="">
                        <option value="">Seçiniz</option>

                        @for (int i = 3; i >= -13; i--)
                        {
                            <option value="@i" @(Model.Authentication.ActionEmployee.OurCompany.TimeZone == i ? "selected" : "")>@( i > 0 ? "+" + i : i.ToString())</option>
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="priceCategory" class="col-sm-3 col-form-label">Fiyat Listesi</label>
                <div class="col-sm-6">
                    <select class="form-control" id="priceCategory" name="PriceCatID" required="">
                        @if (Model?.PriceCategoryList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>
                            foreach (var item in Model.PriceCategoryList)
                            {
                                <option value="@(item.ID)" @(Model.LocationModel.PriceCatID == item.ID ? "selected" : "")>@(item.TicketTypeName + " " + item.CategoryName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="bankAccount" class="col-sm-3 col-form-label">POS Hesabı</label>
                <div class="col-sm-6">
                    <select class="form-control" id="bankAccount" name="POSAccountID" required="">
                        @if (Model?.BankAccountList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>
                            foreach (var item in Model.BankAccountList)
                            {
                                <option value="@(item.ID)" @(Model.LocationModel.POSAccountID == item.ID ? "selected" : "")>@(item.AccountName)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="currency" class="col-sm-3 col-form-label">Para Birimi</label>
                <div class="col-sm-6">
                    <input id="currency" name="Currency" type="text" class="form-control" autocomplete="off" placeholder="Para Birimi" value="@(Model.Authentication.ActionEmployee.OurCompany.Currency)" readonly>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="currency" class="col-sm-3 col-form-label">Vergi Oranı</label>
                <div class="col-sm-6">
                    <select class="form-control" id="bankAccount" name="TaxRate" required="">
                        @if (Model?.TaxList?.Count > 0)
                        {
                            <option value="">Seçiniz</option>
                            foreach (var item in Model.TaxList)
                            {
                                <option value="@(item.Rate)" @(Model?.LocationModel?.TaxRate == item.Rate ? "selected" : "")>@(item.Code)</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="sortBy" class="col-sm-3 col-form-label">No</label>
                <div class="col-sm-6">
                    <input id="sortBy" name="SortBy" type="text" class="form-control" autocomplete="off" placeholder="No" value="@(Model?.CheckLocation?.SortBy.Trim() ?? Model.LocationModel.SortBy.Trim())">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="mapUrl" class="col-sm-3 col-form-label">Map URL</label>
                <div class="col-sm-6">
                    <input id="mapUrl" name="MapURL" type="text" class="form-control" autocomplete="off" placeholder="Map URL" value="@(Model?.CheckLocation?.MapURL ?? Model.LocationModel.MapURL)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="description" class="col-sm-3 col-form-label">Description</label>
                <div class="col-sm-6">
                    <input id="description" name="Description" type="text" class="form-control" autocomplete="off" placeholder="Description" value="@(Model?.CheckLocation?.Description ?? Model.LocationModel.Description)">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="enforcedWarning" class="col-sm-3 col-form-label">Açıklama</label>
                <div class="col-sm-6">
                    <textarea id="enforcedWarning" name="EnforcedWarning" type="text" class="form-control" autocomplete="off" placeholder="Açıklama" style="height:150px">@(Model?.CheckLocation?.EnforcedWarning ?? Model.LocationModel.EnforcedWarning)</textarea>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="isHaveOperator" class="col-sm-3 col-form-label">Operatör var mı?</label>
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isHaveOperator" name="IsHaveOperator" value="1" @(Model.LocationModel.IsHaveOperator.Value == true ? "checked" : "")>
                        <label class="custom-control-label" for="isHaveOperator">Operatör var mı?</label>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <label for="isActive" class="col-sm-3 col-form-label">Aktif mi?</label>
                <div class="col-sm-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="isActive" name="IsActive" value="1" @(Model.LocationModel.IsActive.Value == true ? "checked" : "")>
                        <label class="custom-control-label" for="isActive">Aktif</label>
                    </div>
                </div>
                <div class="col-sm-3">
                </div>
            </div>
            <div class="form-group row mg-b-5">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                    <input id="locationID" name="LocationID" type="hidden" value="@(Model.LocationModel.LocationID)" />
                    <input id="locationUID" name="LocationUID" type="hidden" value="@(Model.LocationModel.LocationUID)" />
                    <button type="submit" class="btn btn-primary btn-block">Lokasyon Güncelle</button>
                </div>
            </div>
        </div>
    </div>
}

