@model LocationControlModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Başlangıç Tarihi</th>
            <th>Kayıt Tarihi</th>
            <th>Kaydeden</th>
            <th>Güncelleme Tarihi</th>
            <th>Güncelleyen</th>
            <th class="text-center">Düzenle</th>
            <th class="text-center">Sil</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.LocationPriceCategoryList != null)
        {
            foreach (var item in Model.LocationPriceCategoryList.OrderByDescending(x => x.RecordDate))
            {
                <tr class="@(Model?.LocationModel.PriceCatID == item.PriceCategoryID ? "selected":"")">
                    <td class="tx-sm-13 bold">@($"{item.TicketTypeName} {item.CategoryName}")</td>
                    <td class="tx-sm-13">@(item.StartDate)</td>
                    <td class="tx-sm-13">@(item.RecordDate)</td>
                    <td class="tx-sm-13">@(item.REmployeeName)</td>
                    <td class="tx-sm-13">@(item.UpdateDate)</td>
                    <td class="tx-sm-13">@(item.UEmployeeName)</td>
                    <td class="tx-sm-13 text-center"><a href="#modelLocationPriceCategoryEdit" data-toggle="modal" class="text-primary" onclick="EditPriceCat(@(item.ID));"><i class="wd-15" data-feather="edit"></i></a></td>
                    <td class="tx-sm-13 text-center"><a href="@(Model.LocationPriceCategoryList.IndexOf(item))" class="text-danger"><i class="wd-15" data-feather="trash"></i></a></td>
                </tr>
            }
        }
    </tbody>
</table>
