@model LocationControlModel

<table class="table table-light table-hover table-striped mg-b-0">
    <tbody class="table-hover table-striped">
        <tr>
            <td class="wd-25p"> <span class="tx-medium">Lokasyon Kodu</span></td>
            <td><span class="tx-light tx-15">@(Model.LocationModel.LocationCode)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Adı</span></td>
            <td> <span class="tx-rubik">@(Model.LocationModel.LocationName)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Türü</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.Description)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Şehir</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.CityName)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Enlem</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.Latitude)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Boylam</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.Longitude)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">IP</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.IP)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Time Zone</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.Timezone)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Para Birimi</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.Currency)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Vergi Oranı</span></td>
            <td><span class="tx-rubik">% @(Model.LocationModel.TaxRate)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">No</span></td>
            <td><span class="tx-rubik">@(Model.LocationModel.SortBy)</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Operatör var mı?</span></td>
            <td><span class="tx-rubik">@Html.Raw(Model.LocationModel.IsHaveOperator.Value == true ? "Evet" : "Hayır")</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Kartlı Sistem Varmı?</span></td>
            <td><span class="tx-rubik">@Html.Raw(Model.LocationModel.UseCardSysteme.Value == true ? "Evet" : "Hayır")</span></td>
        </tr>
        <tr>
            <td class="wd-25p"><span class="tx-medium">Aktif mi?</span></td>
            <td><span class="tx-rubik">@Html.Raw(Model.LocationModel.IsActive.Value == true ? "Evet" : "Hayır")</span></td>
        </tr>
    </tbody>
</table>

<div class="row row-xs bg-gray-100 mg-b-0 mg-t-40">
    <div class="col-sm-3 pd-t-10 pd-b-10">
        <b>Kayıt Tarihçesi</b>
    </div>

    <div class="col-sm-4 pd-t-10">@(Html.Raw($"<b>Kaydeden </b> : {Model.LocationModel.ERName} {Model.LocationModel.RecordDate} ")) </div>
    <div class="col-sm-4 pd-t-10">@(Model.LocationModel.UpdateDate != null ? Html.Raw($"<b>Güncelleyen </b> : {Model.LocationModel.EUName} {Model.LocationModel.UpdateDate} ") : Html.Raw("")) </div>

</div>

@if (Model.LogList != null && Model.LogList.Count() > 0)
{
    <div class="row row-xs">
        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Tarih</th>
                    <th>Kişi</th>
                    <th>Ortam</th>
                    <th>İşlem</th>
                    <th>Açıklama</th>
                    <th>Alan</th>
                    <th>Önceki</th>
                    <th>Yeni</th>
                    <th>Başarılı?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LogList.OrderBy(x => x.RecordDate))
                {
                    <tr>
                        <td>@(item.RecordDate)</td>
                        <td>@(item.RecordEmployee)</td>
                        <td>@(item.Environment)</td>
                        <td>@(item.ProcessType)</td>
                        <td>@(item.ResultMessage)</td>
                        <td>@(item.FieldName)</td>
                        <td>@(item.OldValue)</td>
                        <td>@(item.NewValue)</td>
                        <td>@Html.Raw(item.IsSuccess.Value == true ? "<i class='ion ion-md-checkmark-circle text-success'></i>" : "<i class='ion ion-md-close-circle'></i>")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
