@model LocationControlModel
<div class="col-sm-6 col-md-5 col-lg mg-t-15">
    <nav class="nav nav-classic tx-13">
        <a href="/Location/Action" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Action" ? "active" : "")"><i data-feather="layers"></i> Cari Hesap</a>
        <a href="/Location/Goal" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Goal" ? "active" : "")"><i data-feather="target"></i> Hedefler</a>
        <a href="/Location/Employee" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Employee" ? "active" : "")"><i data-feather="users"></i> Çalışanlar</a>
        <a href="/Location/Contract" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Contract" ? "active" : "")"><i data-feather="file"></i> Sözleşmeler</a>
        <a href="/Location/PriceCategory" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "PriceCategory" ? "active" : "")"><i data-feather="dollar-sign"></i> Fiyat Kategorileri</a>
        <a href="/Location/Sale" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Sale" ? "active" : "")"><i data-feather="clipboard"></i> Satışlar</a>
        <a href="/Location/PosTerminal" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "PosTerminal" ? "active" : "")"><i data-feather="credit-card"></i> Pos Cihazları</a>
        <a href="/Location/Schedule" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Schedule" ? "active" : "")"><i data-feather="calendar"></i> Schedule (Takvim)</a>
        <a href="/Location/Shift" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Shift" ? "active" : "")"><i data-feather="clock"></i> Shift (Mesai)</a>
        <a href="/Location/Stat" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Stat" ? "active" : "")"><i data-feather="check-square"></i> İstatistik</a>
        <a href="/Location/Part" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Part" ? "active" : "")"><i data-feather="grid"></i> Animals/Trambolines</a>
        <a href="/Location/Cash" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Cash" ? "active" : "")"><i data-feather="file-text"></i> Yazar Kasalar</a>
        <a href="/Location/Result" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Result" ? "active" : "")"><i data-feather="moon"></i> Gün Sonları</a>
        <a href="/Location/Warehouse" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Warehouse" ? "active" : "")"><i data-feather="truck"></i> Depolar</a>
        <a href="/Location/Mall" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Mall" ? "active" : "")"><i data-feather="shopping-bag"></i> AVM</a>
        <a href="/Location/Edit/@(Model.LocationModel.LocationUID)" class="nav-link @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Edit" ? "active" : "")"><i data-feather="edit"></i> Güncelle</a>
    </nav>
</div>
