@model LocationControlModel
@{
    ViewBag.Title = "Lokasyon Listesi";
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Lokasyon Listesi</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
        <div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                    <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Lokasyon Listesi</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            @using (Html.BeginForm("LocationFilter", "Location", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-row align-items-end">
                    <div class="form-group col-md-4 d-flex align-items-end">
                        <input id="locationName" name="LocationName" type="text" class="form-control" autocomplete="off" placeholder="Lokasyon Adı" value="@(Model.FilterModel?.LocationName?? "")">
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <select class="form-control" id="stateID" name="State">
                            <option value="" label="Şehir Seçiniz"></option>
                            @foreach (var item in Model.StateList)
                            {
                                <option value="@item" @(Model.FilterModel != null ? (Model.FilterModel?.State == item ? "selected" : "") : "")>@Html.Raw($"<strong>{item}</strong>")</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-2 d-flex align-items-end">
                        <select class="form-control" id="typeID" name="TypeName">
                            <option value="" label="Tür Seçiniz"></option>
                            @foreach (var item in Model.LocationTypeList)
                            {
                                <option value="@item.ID" @(Model.FilterModel != null ? (Model.FilterModel?.TypeName == item.TypeName ? "selected" : "") : "")>@Html.Raw($"<strong>{item.TypeName}</strong>")</option>
                            }
                        </select>
                    </div>
                    <div class="form-group col-md-1 d-flex align-items-end ">
                        <button class="btn btn-primary" type="submit" id="btnsearch">Ara</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-3">
            <div class="btn-group btn-group-sm float-right" role="group">
                <button type="button" class="btn btn-light" onclick="LocationSearch('-1');">Tümü</button>
                <button type="button" class="btn btn-primary" onclick="LocationSearch('1');">Aktifler</button>
                <button type="button" class="btn btn-secondary" onclick="LocationSearch('0');">Pasifler</button>
            </div>
        </div>
    </div>
    <div>
        <div class="table" id="LocationList">
            @Html.Partial("_PartialLocationList",Model)
        </div>
    </div>
</div>
@section scripts {
    <script>
        function LocationSearch(active) {

            var data = new FormData();

            data.append('LocationName', $("#locationName").val());
            data.append('State', $("#stateID").val());
            data.append('TypeName', $("#typeID").val());
            data.append('IsActive', active);

            $.ajax({
                url: '@Url.Action("LocationSearch","Location")',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                data: data
            }).done(function (res) {
                $('#LocationList').html(res);
            });
        }
    </script>

     @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}



