@model LocationControlModel
@{
    ViewBag.Title = "Lokasyon Fiyat Kategorileri";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20">@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) - Fiyat Kategorileri Detayı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-two pd-lg-r-15">
                <div class="row">
                    @{Html.RenderPartial("_PartialLocationInformation", Model);}
                    @{Html.RenderPartial("_PartialLocationSideBar", Model);}
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
                <div class="card mg-b-20">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Fiyat Kategorileri Detayı</h6>
                        <div class="d-flex tx-13">
                            <a href="#modelLocationPriceCategoryAdd" data-toggle="modal" class="link-03 lh-0 tx-primary"><i class="wd-15" data-feather="plus-circle"></i> &nbsp; Fiyat Kategorisi Ekle</a>
                        </div>
                    </div>
                    <div class="card-body pd-20 pd-lg-25" id="locationPriceLists">
                        @{Html.RenderPartial("_PartialLocationPriceList", Model);}
                    </div>
                </div>
                <div class="card mg-b-20 mg-lg-b-25">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Kayıt Tarihçesi</h6>
                    </div>
                    <div class="card-body pd-25">
                        @{Html.RenderPartial("_PartialLocationLogList", Model);}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelLocationPriceCategoryAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="AddLocationPriceCategory">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div>
                    @using (Ajax.BeginForm("CreatePriceCat", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "locationPriceLists", InsertionMode = InsertionMode.Replace, OnSuccess = "OnLocationPriceCategoryAddSuccess" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) | <span class="font-weight-bold text-black-50">Fiyat Kategori Ekle</span></h4>
                        <div class="form-group row bg-gray-50 mg-b-5">
                            <label for="Mobile" class="col-sm-3 col-form-label">Fiyat Listesi</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="priceCategory" name="PriceCategoryID" required>
                                    @if (Model?.PriceCategoryList?.Count > 0)
                                    {
                                        <option value="">Seçiniz</option>
                                        foreach (var item in Model.PriceCategoryList)
                                        {
                                            <option value="@(item.ID)">@(item.TicketTypeName + " " + item.CategoryName)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-group row bg-gray-50 mg-b-5">
                            <label for="Mobile" class="col-sm-3 col-form-label">Başlangıç Tarihi</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-sm shiftdateAdd" placeholder="Başlangıç Tarihi" name="StartDate" autocomplete="off" required>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="form-group row mg-b-0">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <input name="LocationID" type="hidden" value="@(Model?.LocationModel?.LocationID)" />
                                <button type="submit" class="btn btn-primary btn-block tx-15">Fiyat Kategori Ekle</button>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelLocationPriceCategoryEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="EditLocationPriceCategory">

            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            'use strict'
            $("body").addClass("page-profile");
        });

        function OnLocationPriceCategoryEditSuccess(data) {
            $('#modelLocationPriceCategoryEdit').modal('hide');
        };

        function OnLocationPriceCategoryAddSuccess(data) {
            $('#modelLocationPriceCategoryAdd').modal('hide');
        };

        function EditPriceCat(id) {
            var data = new FormData();
            data.append('ID', id);

            $.ajax({
                url: '@Url.Action("EditPriceCat", "Location")',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                data: data
            }).done(function (d) {
                $('#EditLocationPriceCategory').html(d);
            });
        };

        function DeletePriceCat(id) {
            var data = new FormData();
            data.append('ID', id);

            $.ajax({
                url: '@Url.Action("DeletePriceCat", "Location")',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                data: data
            }).done(function (d) {
                $('#locationPriceLists').html(d);
            });
        };

        //function DeletePriceCat(id) {
        //    window.location.href = "/Location/DeletePriceCat/" + id;


        //}
    </script>
    <script type="text/javascript">

        $('.shiftdateAdd').datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            dateFormat: "yy-mm-dd",
            dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
            monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            firstDay: 1
        });

        $('.shiftdateAdd').mask('0000-00-00');

    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}