@model LocationControlModel
@{
    ViewBag.Title = "Lokasyon Fiyat Kategorileri";
}
@section style{
    <link href="/lib/animate.css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/dashforge.demo.css">
    <link rel="stylesheet" href="/assets/css/dashforge.css">
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}
<div class="content-header">
    <div class="content-search col-lg">
        <span class="tx-20">@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) - Fiyat Kategorileri Detayı</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="profile-sidebar profile-sidebar-two pd-lg-r-15">
                <div class="row">
                    @{Html.RenderPartial("_PartialLocationInformation", Model);}
                    @{Html.RenderPartial("_PartialLocationSideBar", Model);}
                </div>
            </div>
            <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
                <div class="card mg-b-20">
                    <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
                        <h6 class="tx-13 tx-spacing-1 tx-uppercase tx-semibold mg-b-0">Fiyat Kategorileri Detayı</h6>
                        <div class="d-flex tx-13">
                            <a href="#modelLocationPriceCategory" data-toggle="modal" class="link-03 lh-0 tx-primary">@*<i class="icon ion-md-add-circle-outline tx-15"></i>*@<i class="wd-15" data-feather="plus-circle"></i> &nbsp; Fiyat Kategorisi Ekle</a>
                        </div>
                    </div>
                    <div class="card-body pd-20 pd-lg-25" id="locationPriceLists">
                        @{Html.RenderPartial("_PartialLocationPriceList", Model);}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelLocationPriceCategory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="AddLocationPriceCategory">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div>
                    <h4>@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) | <span class="font-weight-bold text-black-50">Fiyat Kategorileri Ekle</span></h4>

                    @*@using (Ajax.BeginForm("AddEmployeePhone", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EmployeePhones", InsertionMode = InsertionMode.Replace, OnSuccess = "OnPhoneSuccess" }))
                        {
                            @Html.AntiForgeryToken()
                    *@

                    <div class="form-group row bg-gray-50 mg-b-5">
                        <label for="Mobile" class="col-sm-3 col-form-label">Fiyat Listesi</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="priceCategory" name="PriceCatID">
                                @if (Model?.PriceCategoryList?.Count > 0)
                                {
                                    <option value="">Seçiniz</option>
                                    foreach (var item in Model.PriceCategoryList)
                                    {
                                        <option value="@(item.ID)" @(Model.LocationModel.PriceCatID == item.ID ? "selected" : "")>@(item.TicketTypeName + " " + item.CategoryName)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    @*   }*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelLocationPriceCategoryEdit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-40" id="EditLocationPriceCategory">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div>
                    <h4>@(Model?.LocationModel?.LocationName + " " + Model?.LocationModel?.LocationTypeName) | <span class="font-weight-bold text-black-50">Fiyat Kategorileri Ekle</span></h4>

                    @*@using (Ajax.BeginForm("AddEmployeePhone", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "EmployeePhones", InsertionMode = InsertionMode.Replace, OnSuccess = "OnPhoneSuccess" }))
                        {
                            @Html.AntiForgeryToken()
                    *@

                    <div class="form-group row bg-gray-50 mg-b-5">
                        <label for="Mobile" class="col-sm-3 col-form-label">Fiyat Listesi</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="priceCategory" name="PriceCatID">
                                @if (Model?.PriceCategoryList?.Count > 0)
                                {
                                    <option value="">Seçiniz</option>
                                    foreach (var item in Model.PriceCategoryList)
                                    {
                                        <option value="@(item.ID)" @(Model.LocationModel.PriceCatID == item.ID ? "selected" : "")>@(item.TicketTypeName + " " + item.CategoryName)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                        </div>
                    </div>
                    @*   }*@
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(function () {
            'use strict'
            $("body").addClass("page-profile");

            $('#pricedatepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yyyy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('.shiftdate').mask('0000-00-00');

        });

        function OnLocationPriceCategorySuccess(data) {
            $('#modelLocationPriceCategoryEdit').modal('hide');
        };

        function EditPriceCat(id) {
            var data = new FormData();
            data.append('ID', id);

            $.ajax({
                url: '@Url.Action("EditPriceCat", "Location")',
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                data: data
            }).done(function (d) {
                console.log(d);
                $('#EditLocationPriceCategory').html(d);
            });
        };
    </script>
    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}