@model LayoutControlModel
<!DOCTYPE html>
<html lang="tr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap 4 Dashboard Template">
    <meta name="author" content="ThemePixels">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">
    <title>Ufe Grup - @ViewBag.Title </title>
    <!-- vendor css -->
    <link href="/lib/fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/jqvmap/jqvmap.min.css" rel="stylesheet">
    <!-- vendor css -->

    <link href="/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
    <link href="/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="/lib/select2/css/select2.min.css" rel="stylesheet">
    <link href="/assets/css/jquery.toast.css" rel="stylesheet" />
    <link href="/lib/fullcalendar/fullcalendar.min.css" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="/assets/css/dashforge.css">




    @RenderSection("style", false)
    @RenderSection("scriptheader", false)

</head>
<body class="">
    <aside class="aside aside-fixed">
        <div class="aside-header">
            <a href="/" class="aside-logo">Action<span> Force</span></a>
            <a href="" class="aside-menu-link">
                <i data-feather="menu"></i>
                <i data-feather="x"></i>
            </a>
        </div>
        <div class="aside-body">
            <div class="aside-loggedin">
                <div class="d-flex align-items-center justify-content-start">
                    <a href="" class="avatar"><img src="http://office.ufegrup.com/img/Employee/@Model.Authentication.ActionEmployee.FotoFile" class="rounded-circle" alt=""></a>
                    <div class="aside-alert-link">
                        <a href="/Logout" data-toggle="tooltip" title="Çıkış"><i data-feather="log-out"></i></a>
                    </div>
                </div>
                <div class="aside-loggedin-user">
                    <a href="#" class="d-flex align-items-center justify-content-between mg-b-2">
                        <h6 class="tx-semibold mg-b-0">@Model.Authentication.ActionEmployee.FullName </h6>
                    </a>
                    <p class="tx-color-03 tx-12 mg-b-0">@Model.Authentication.ActionEmployee.RoleGroup.GroupName</p>
                </div>
                <nav class="mg-t-10">
                    <select class="custom-select btn-xxs" id="CurrentCompanyCultureChange">
                        <option value="1" @(Model.Authentication.ActionEmployee.OurCompanyID == 1 ? "selected" : "")>UFE Group USA</option>
                        <option value="2" @(Model.Authentication.ActionEmployee.OurCompanyID == 2 ? "selected" : "")>UFE Grup  TUR</option>
                    </select>
                </nav>
            </div><!-- aside-loggedin -->
            <ul class="nav nav-aside">

                <li class="nav-label mg-t-10 active">Schedule & Shift</li>

                <li class="nav-item with-sub  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Schedule" ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="calendar"></i> <span>Mesai Plan Takvimi</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Schedule" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Schedule">01 Lokasyon Takvimi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Schedule" && this.ViewContext.RouteData.Values["action"].ToString() == "Location" ? "class=active" : "")><a href="/Schedule/Location">02 Lokasyon Planları</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Schedule" && this.ViewContext.RouteData.Values["action"].ToString() == "Employee" ? "class=active" : "")><a href="/Schedule/Employee">03 Çalışan Planları</a></li>

                    </ul>
                </li>
                <li class="nav-item with-sub  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Shift" ? "show" : "")">
                    <a href="/Shift" class="nav-link"><i data-feather="clock"></i> <span>Mesai & Mola</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Shift" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Shift">01 Lokasyon Çalışan Mesai</a></li>
                        @*<li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Shift" && this.ViewContext.RouteData.Values["action"].ToString() == "LocationShift" ? "class=active" : "")><a href="/Shift/LocationShift">02 Lokasyon Mesaileri</a></li>
                <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Shift" && this.ViewContext.RouteData.Values["action"].ToString() == "EmployeeShift" ? "class=active" : "")><a href="/Shift/EmployeeShift">03 Çalışan Mesaileri</a></li>*@
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Shift" && this.ViewContext.RouteData.Values["action"].ToString() == "Report" ? "class=active" : "")><a href="/Shift/Report">02 Takvim Mesai Raporu</a></li>

                    </ul>
                </li>


                <li class="nav-label mg-t-10 active">Finans - Cari Hesap</li>


                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Action" ? "show" : "")">
                    <a href="/Action/Index" class="nav-link"><i data-feather="layers"></i> <span>Cari Hesap İşlemleri</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Action" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Action/Index">01 Cari Hesap Ekstresi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Action" && this.ViewContext.RouteData.Values["action"].ToString() == "Transfers" ? "class=active" : "")><a href="/Action/Transfers">02 Cari Virman</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" ? "show" : "") ">
                    <a href="" class="nav-link"><i data-feather="hard-drive"></i> <span>Kasa Nakit İşlemleri</span></a>
                    <ul>
                        <li class="nav-label">Tahsilatlar (+)</li>

                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Cash">01 Kasa Tahsilatı</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "Sale" ? "class=active" : "")><a href="/Cash/Sale">02 Bilet Satışı</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "Exchange" ? "class=active" : "")><a href="/Cash/Exchange">03 Döviz Satışı</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "Open" ? "class=active" : "")><a href="/Cash/Open">04 Kasa Açılış Fişi</a></li>

                        <li class="nav-label">Ödemeler (-)</li>

                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "CashPayment" ? "class=active" : "")><a href="/Cash/CashPayment">01 Kasa Ödemesi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "SaleReturn" ? "class=active" : "")><a href="/Cash/SaleReturn">02 Bilet Satışı İadesi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "Expense" ? "class=active" : "")><a href="/Cash/Expense">03 Masraf Ödeme Fişi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "BankTransfer" ? "class=active" : "")><a href="/Cash/BankTransfer">04 Havale / EFT işlemi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Cash" && this.ViewContext.RouteData.Values["action"].ToString() == "SalaryPayment" ? "class=active" : "")><a href="/Cash/SalaryPayment">05 Maaş Avans Ödemesi</a></li>
                    </ul>
                </li>
                @*<li class="nav-item"><a href="/Action/Bank" class="nav-link"><i data-feather="layers"></i> <span>Banka Hesap Ekstresi</span></a></li>*@
                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Bank" ? "show" : "")">
                    <a href="" class="nav-link"><i data-feather="credit-card"></i> <span>Banka Pos İşlemleri</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Bank" && this.ViewContext.RouteData.Values["action"].ToString() == "Current" ? "class=active" : "")><a href="/Bank/Current">01 Banka Hesap Ekstresi</a></li>
                        <li class="nav-label">Tahsilatlar</li>

                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Bank" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Bank">01 Pos Tahsilatı</a></li>

                        <li class="nav-label">İptal / İade</li>

                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Bank" && this.ViewContext.RouteData.Values["action"].ToString() == "PosCancel" ? "class=active" : "")><a href="/Bank/PosCancel">01 Pos İptal (Aynı Gün)</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Bank" && this.ViewContext.RouteData.Values["action"].ToString() == "PosRefund" ? "class=active" : "")><a href="/Bank/PosRefund">02 Pos İade</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" ? "show" : "")">
                    <a href="" class="nav-link"><i data-feather="user"></i> <span>Çalışan Cari İşlemleri</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" && this.ViewContext.RouteData.Values["action"].ToString() == "Current" ? "class=active" : "")><a href="/Salary/Current">01 Çalışan Hesap Ekstresi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Salary">02 Ücret Hakediş</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" && this.ViewContext.RouteData.Values["action"].ToString() == "SalaryPayment" ? "class=active" : "")><a href="/Salary/SalaryPayment">03 Maaş Avans Ödemesi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" && this.ViewContext.RouteData.Values["action"].ToString() == "Unit" ? "class=active" : "")><a href="/Salary/Unit">04 Saat Ücret Tanımları</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Salary" && this.ViewContext.RouteData.Values["action"].ToString() == "Permit" ? "class=active" : "")><a href="/Salary/Permit">05 Çalışan İzinleri</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "CashRecorder" ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="file-text"></i> <span>Yazarkasa İşlemleri</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "CashRecorder" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/CashRecorder">01 Yazarkasa Fişleri</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "CashRecorder" && this.ViewContext.RouteData.Values["action"].ToString() == "Report" ? "class=active" : "")><a href="/CashRecorder/Report">02 Yazarkasa Raporu</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Result" ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="moon"></i> <span>Gün Sonu İşlemleri</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Result" && this.ViewContext.RouteData.Values["action"].ToString() == "Envelope" ? "class=active" : "")><a href="/Result/Envelope">01 Gün Sonu Zarfları</a></li>
                    </ul>
                </li>
                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="settings"></i> <span>Tanımlar</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Definition">01 Kasalar</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" && this.ViewContext.RouteData.Values["action"].ToString() == "Bank" ? "class=active" : "")><a href="/Definition/Bank">02 Bankalar</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" && this.ViewContext.RouteData.Values["action"].ToString() == "BankAccount" ? "class=active" : "")><a href="/Definition/BankAccount">03 Banka Hesapları</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" && this.ViewContext.RouteData.Values["action"].ToString() == "PosTerminal" ? "class=active" : "")><a href="/Definition/PosTerminal">04 POS Cihazları</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Definition" && this.ViewContext.RouteData.Values["action"].ToString() == "CashRecord" ? "class=active" : "")><a href="/Definition/CashRecord">05 Yazarkasalar</a></li>
                    </ul>
                </li>


                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" || this.ViewContext.RouteData.Values["controller"].ToString() == "Mall"  ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="map-pin"></i> <span>AVM - Lokasyon</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Location" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Location">01 Lokasyon</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Mall" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Mall/Index">02 AVM</a></li>
                    </ul>
                </li>

                <li class="nav-item"><a href="/Employee" class="nav-link"><i data-feather="users"></i> <span>Çalışanlar</span></a></li>

                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Inventory" ? "show" : "")">
                    <a href="/Employee" class="nav-link"><i data-feather="archive"></i> <span>Envanter</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Inventory" && this.ViewContext.RouteData.Values["action"].ToString() == "Pos" ? "class=active" : "")><a href="/Inventory/Pos">01 ÖKC POS Cihazları</a></li>
                        @*<li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Inventory" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Mall/Index">02 AVM</a></li>*@
                    </ul>
                </li>


                <li class="nav-label mg-t-10 active">Satış - Fiyat</li>


                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" ? "show" : "")">
                    <a href="/Sale/Price" class="nav-link"><i data-feather="dollar-sign"></i> <span>Fiyat Yönetimi</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" && this.ViewContext.RouteData.Values["action"].ToString() == "Price" ? "class=active" : "")><a href="/Sale/Price">01 Fiyat Listesi</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" && this.ViewContext.RouteData.Values["action"].ToString() == "PriceCategory" ? "class=active" : "")><a href="/Sale/PriceCategory">02 Fiyat Kategorileri</a></li>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" && this.ViewContext.RouteData.Values["action"].ToString() == "TicketProduct" ? "class=active" : "")><a href="/Sale/TicketProduct">03 Bilet Ürünleri</a></li>
                    </ul>
                </li>

                <li class="nav-item with-sub @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" ? "show" : "")">
                    <a href="/Sale/Price" class="nav-link"><i data-feather="clipboard"></i> <span>Satışlar</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Sale" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Sale/Index">01 Satış Listesi</a></li>
                    </ul>
                </li>

                <li class="nav-label mg-t-10">Araçlar</li>

                <li class="nav-item with-sub  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Compute" ? "show" : "")">
                    <a href="/Revenue" class="nav-link"><i data-feather="cpu"></i> <span>Hesaplamalar</span></a>
                    <ul>
                        <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Compute" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Compute/Index">Hakediş Hesaplamaları</a></li>

                    </ul>
                </li>

                @if (Model.Authentication.ActionEmployee.RoleGroup.RoleLevel >= 5)
                {
                    <li class="nav-label mg-t-10">Yönetim</li>

                    <li class="nav-item with-sub  @(this.ViewContext.RouteData.Values["controller"].ToString() == "Revenue" ? "show" : "")">
                        <a href="/Revenue" class="nav-link"><i data-feather="briefcase"></i> <span>Hasılat</span></a>
                        <ul>
                            <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Revenue" && this.ViewContext.RouteData.Values["action"].ToString() == "Index" ? "class=active" : "")><a href="/Revenue">Hasılat Raporu</a></li>
                            <li @(this.ViewContext.RouteData.Values["controller"].ToString() == "Revenue" && this.ViewContext.RouteData.Values["action"].ToString() == "Parameters" ? "class=active" : "")><a href="/Revenue/Parameters">Parametreler</a></li>

                        </ul>
                    </li>
                }


            </ul>

        </div>
    </aside>
    <div class="content ht-100v pd-0">
        @RenderBody()
    </div>





    @RenderSection("canvasmenu", false)

    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/feather-icons/feather.min.js"></script>
    <script src="/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/dashforge.js"></script>

    <script src="/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
    <script src="/assets/js/dashforge.aside.js"></script>
    <script src="/lib/prismjs/prism.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>
    <script src="/lib/jqueryui/jquery-ui.min.js"></script>

    <script src="/assets/js/jquery.toast.js"></script>
    <script src="/lib/jquery.mask/jquery.mask.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script type="text/javascript">

        $('#CurrentCompanyCultureChange').on('change', function (e) {
            e.preventDefault();

            var url = '@(Request.Url.AbsoluteUri)';

            console.log(this.value);
            console.log(url);

            $.ajax({
                method: "GET",
                url: "/Login/ChangeOurCompany",
                data: { id: this.value, url: url}
            }).done(function (d) {
                window.location.href = url;
            });
        });

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.quantity').mask("#.##0", { reverse: true });
            $('.number').mask("##0", { reverse: true });
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });
    </script>


    @RenderSection("scripts", false)





</body>
</html>
