@model EmployeesControlModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/scss/global.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(DateTime.Now.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="order-detail">

                    <h1>Çalışanlar</h1>
                    <div class="scroll-y mb-0">
                        <div class="row no-gutters">
                            <div class="col-md-12 p-2">

                                @foreach (var item in Model.Employees)
                                {
                                    <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">

                                        <div class="card-header @(item.Shift != null && item.Shift.Duration == null && item.Breaks.Any() && item.Breaks.Any(x=> x.Duration == null) ? "bg-warning" : item.Shift != null && item.Shift.Duration == null ? $"bg-success" :  item.Shift != null ?  "bg-primary" : "bg-body" )">
                                            <div class="d-flex">
                                                <span class="flex"></span>
                                                <div class="img min-width img-on">
                                                    <img src="@($"http://office.ufegrup.com/img/Employee/{item.FotoFile}")" alt="@(Model.Authentication?.CurrentEmployee?.FullName)">
                                                </div>
                                                <h4 class="font-weight-bold fa-2x pt-2"> @(item.FullName)</h4>
                                            </div>
                                        </div>
                                        @*<div class="m-0 p-0">
                                                <a href="#" class="btn btn-block btn-warning font-weight-bold"><i class="font-weight-bold" data-feather="coffee"></i> &nbsp; Molada</a>
                                            </div>*@
                                        <div class="card-body m-0 p-0">
                                            <div class="table-responsive scrollable scroll-x">
                                                <table class="table mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th class="bg-body p-2" colspan="3">Takvimi</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="p-2 text-center">@(item?.Schedule?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                            <th class="p-2 text-center">@(item?.Schedule?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                            <th class="p-2 text-center">@(item?.Schedule?.Duration?.ToString(@"hh\:mm\:ss"))</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="bg-success--lt p-2" colspan="2">Mesaisi</th>
                                                            <th class="bg-success--lt p-0 m-0 text-right" style="vertical-align: middle;">
                                                                <a href="@(item.Shift != null && item.Shift.Duration == null ? $"/Employees/EmployeeShiftEnd?EmployeeID={item.ID}&Token={item.Token}" : item.Shift == null ? $"/Employees/EmployeeShiftStart?EmployeeID={item.ID}&Token={item.Token}" :"#" )" class="btn btn-block  font-weight-bold text-success">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><g><rect fill="none" height="24" width="24" x="0" /></g><g><g><path d="M12,2C6.5,2,2,6.5,2,12s4.5,10,10,10s10-4.5,10-10S17.5,2,12,2z M12,20c-4.41,0-8-3.59-8-8s3.59-8,8-8s8,3.59,8,8 S16.41,20,12,20z M12.5,7H11v6l5.2,3.2l0.8-1.3l-4.5-2.7V7z" /></g></g></svg>
                                                                </a>
                                                            </th>

                                                        </tr>
                                                        <tr>
                                                            <th class="text-success p-2 text-center">@(item?.Shift?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                            <th class="text-success p-2 text-center">@(item?.Shift?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                            <th class="text-success p-2 text-center">@(item?.Shift?.Duration?.ToString(@"hh\:mm\:ss"))</th>

                                                        </tr>
                                                        <tr>
                                                            <th class="bg-warning--lt p-2" colspan="2">Molaları</th>
                                                            <th class="bg-warning--lt p-0 m-0 text-right" style="vertical-align: middle;">
                                                                <a href="@(item.Shift != null && item.Shift.Duration == null && item.Breaks.Any() && item.Breaks.Any(x=> x.Duration == null) ? $"/Employees/EmployeeBreakEnd?EmployeeID={item.ID}&Token={item.Token}" : item.Shift != null && item.Shift.Duration == null  && !item.Breaks.Any(x=> x.Duration == null) ? $"/Employees/EmployeeBreakStart?EmployeeID={item.ID}&Token={item.Token}" :"#" )" class="btn btn-block font-weight-bold text-warning">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="36px" viewBox="0 0 24 24" width="36px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none" /><path d="M16 5v8c0 1.1-.9 2-2 2H8c-1.1 0-2-.9-2-2V5h10m4-2H4v10c0 2.21 1.79 4 4 4h6c2.21 0 4-1.79 4-4v-3h2c1.11 0 2-.89 2-2V5c0-1.11-.89-2-2-2zm-2 5V5h2v3h-2zm2 11H2v2h18v-2z" /></svg>
                                                                </a>
                                                            </th>

                                                        </tr>
                                                        @foreach (var b in item.Breaks)
                                                        {
                                                            <tr>
                                                                <th class="text-warning p-2 text-center">@(b?.DateStart.ToString("HH\\:mm\\:ss"))</th>
                                                                <th class="text-warning p-2 text-center">@(b?.DateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                                <th class="text-warning p-2 text-center">@(b?.Duration?.ToString(@"hh\:mm\:ss"))</th>
                                                            </tr>

                                                        }
                                                    </tbody>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- content -->


        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script>
        $(function () {
            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

        });</script>
</body>
</html>
