@model EnvelopeControlModel
@{
    ViewBag.Title = "Gün Sonu Zarfı";
}

<div class="d-flex flex fixed-content">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-2">
                <div class="toolbar row  no-gutters">
                    <a href="#" class="btn btn-md btn-rounded light-green text-white" title="Satış">
                        <span class="font-weight-bold">@(Model.DocumentDate.ToLongDateString())</span>
                    </a>
                    <a href="#" class="btn btn-md btn-wave btn-rounded light-green text-white px-3">
                        <i data-feather="sun"></i>
                    </a>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-sm btn-block btn-white btn-rounded">
                        <span class="font-weight-bold">@(Model.Location.FullName)</span>
                    </a>
                </div>
            </div>
            <div class="scroll-y mb-0">
                <div class="row no-gutters">
                    <div class="col-md-12 p-2">

                        <div class="card mb-2" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <span class="font-weight-500 fa-2x">Lokasyon Takvim ve Mesaisi</span>
                            </div>
                            <div class="card-body m-0 p-0">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <td class="text-body font-weight-500 text-center bg-body p-1">@(Model.Schedule?.DateStart.ToShortTimeString())</td>
                                            <td class="text-body font-weight-500 text-center bg-body p-1">@(Model.Schedule?.DateEnd?.ToShortTimeString())</td>
                                            <td class="text-body font-weight-500 text-center bg-body p-1">@(Model.Schedule?.Duration?.ToString(@"hh\:mm"))</td>
                                        </tr>
                                        <tr>
                                            <td class="text-success font-weight-500 text-center bg-body p-1">@(Model.Shift?.DateStart.ToString("HH\\:mm\\:ss"))</td>
                                            <td class="text-success font-weight-500 text-center bg-body p-1">@(Model.Shift?.DateEnd?.ToString("HH\\:mm\\:ss"))</td>
                                            <td class="text-success font-weight-500 text-center bg-body p-1">@(Model.Shift?.Duration?.ToString(@"hh\:mm\:ss"))</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <div class="d-flex">
                                    <span class="font-weight-500">Çalışanlar Mesai ve Hakedişler</span>
                                    <span class="flex"></span>
                                    <div>
                                        <a href="/Envelope/CalculateSalary" class="font-weight-bold pl-2" title="Add Cash Collect">
                                            <i class="text-success font-weight-bold" data-feather="repeat"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 p-0">
                                <div class="table-responsive scrollable scroll-x">
                                    @foreach (var item in Model.EmployeeActions.Where(x => x.ActionTypeID == 32))
                                    {
                                        var shiftModel = Model.EmployeeShifts.FirstOrDefault(x => x.EmployeeID == item.EmployeeID);

                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="p-1 pl-3" colspan="3">@(item.FullName)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="bg-body p-1 pl-3">Takvimi</td>
                                                    <th class="p-1">@(shiftModel?.ScheduleDateStart?.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="p-1 text-right">@(shiftModel?.ScheduleDateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                </tr>
                                                <tr>
                                                    <td class="bg-body p-1 pl-3">Mesaisi</td>
                                                    <th class="text-success p-1">@(shiftModel?.ShiftDateStart?.ToString("HH\\:mm\\:ss"))</th>
                                                    <th class="text-success p-1 text-right">@(shiftModel?.ShiftDateEnd?.ToString("HH\\:mm\\:ss"))</th>
                                                </tr>
                                                <tr>
                                                    <td class="bg-body p-1 pl-3">Mesai Süresi (Saat)</td>
                                                    <th class="p-1">@(shiftModel?.ShiftDuration?.ToString(@"hh\:mm"))</th>
                                                    <th class="p-1 text-right">@(item.QuantityHour?.ToString("N2"))</th>
                                                </tr>
                                                <tr>
                                                    <td class="bg-body p-1 pl-3">Birimi - Hakedişi</td>
                                                    <td class="p-1 text-right">@(item.UnitPrice?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                                    <th class="p-1 text-right">@(item.TotalAmount?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</th>
                                                </tr>
                                                <tr>
                                                    <td class="bg-body p-1 pl-3">Setcard - Maaş</td>
                                                    <td class="p-1 text-right">@(item.TotalAmountFood?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                                    <td class="p-1 text-right">@(item.TotalAmountSalary?.ToString("N2")) @(item.Currency == "USD" ? "$": item.Currency == "EUR" ? "€" : "₺")</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <div class="d-flex">
                                    <span class="font-weight-500">Biletler ve Satışlar</span>
                                </div>
                            </div>
                            <div class="card-body m-0 p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>

                                            <tr class="table-info">
                                                <td class="p-1 pl-3">Dk.</td>
                                                <td class="p-1 pl-3 text-right">@(Model.PriceList.FirstOrDefault()?.Sign)</td>
                                                <td class="p-1 pl-3 text-center" colspan="2">Sale</td>
                                                <td class="p-1 pl-3 text-center" colspan="2">Refund</td>
                                                <td class="p-1 pl-3 text-right">@(Model.PriceList.FirstOrDefault()?.Sign)</td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.PriceList.OrderBy(x => x.Unit).ToList())
                                            {
                                                var saletotal = Model.TicketList.Where(x => x.PayMethodID == 1 && x.Unit == item.Unit).ToList();
                                                var salereftotal = Model.TicketList.Where(x => x.PayMethodID == 1 && x.Unit == item.Unit && (new List<int> { 4, 5 }).Contains(x.StatusID)).ToList();

                                                <tr>
                                                    <td class="bg-body p-1 pl-3">@(item.Unit)</td>
                                                    <td class="bg-body p-1 pl-3 text-right">@(item.Price?.ToString("N2"))</td>
                                                    <th class="p-1 text-info text-right">@(saletotal.Count)</th>
                                                    <th class="p-1 text-info text-right">@(saletotal.Sum(x=> x.Total).ToString("N2"))</th>
                                                    <th class="p-1 text-danger text-right">@(salereftotal.Count)</th>
                                                    <th class="p-1 text-danger text-right">@(salereftotal.Sum(x=> x.Total).ToString("N2"))</th>
                                                    <th class="p-1 text-right">@((saletotal.Sum(x => x.Total) - salereftotal.Sum(x => x.Total)).ToString("N2") )</th>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="bg-body p-1 pl-3 text-info" colspan="6">Cash</th>
                                                <th class="bg-body p-1 pl-3 text-right">@(Model.LocationBalance.CashTotal.ToString("N2"))</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <table class="table mb-0">
                                        <thead>

                                            <tr class="table-warning">
                                                <td class="p-1 pl-3">Dk.</td>
                                                <td class="p-1 pl-3 text-right">@(Model.PriceList.FirstOrDefault()?.Sign)</td>
                                                <td class="p-1 pl-3 text-center" colspan="2">Sale</td>
                                                <td class="p-1 pl-3 text-center" colspan="2">Refund</td>
                                                <td class="p-1 pl-3 text-right">@(Model.PriceList.FirstOrDefault()?.Sign)</td>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.PriceList.OrderBy(x => x.Unit).ToList())
                                            {
                                                var saletotal = Model.TicketList.Where(x => x.PayMethodID == 2 && x.Unit == item.Unit).ToList();
                                                var salereftotal = Model.TicketList.Where(x => x.PayMethodID == 2 && x.Unit == item.Unit && (new List<int> { 4, 5 }).Contains(x.StatusID)).ToList();

                                                <tr>
                                                    <td class="bg-body p-1 pl-3">@(item.Unit)</td>
                                                    <td class="bg-body p-1 pl-3 text-right">@(item.Price?.ToString("N2"))</td>
                                                    <th class="p-1 text-warning text-right">@(saletotal.Count)</th>
                                                    <th class="p-1 text-warning text-right">@(saletotal.Sum(x=> x.Total).ToString("N2"))</th>
                                                    <th class="p-1 text-danger text-right">@(salereftotal.Count)</th>
                                                    <th class="p-1 text-danger text-right">@(salereftotal.Sum(x=> x.Total).ToString("N2"))</th>
                                                    <th class="p-1 text-right">@((saletotal.Sum(x => x.Total) - salereftotal.Sum(x => x.Total)).ToString("N2") )</th>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="bg-body p-1 pl-3 text-warning" colspan="6">Credit</th>
                                                <th class="bg-body p-1 pl-3 text-right">@(Model.LocationBalance.CreditTotal.ToString("N2"))</th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-center text-info p-0">Cash</th>
                                                <th class="text-center text-warning p-0">Credit</th>
                                                <th class="text-center p-0">Revenues</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th class="text-center p-1">@($"{Model.LocationBalance?.CashTotal.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                                                <th class="text-center p-1">@($"{Model.LocationBalance?.CreditTotal.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                                                <th class="text-center p-1">@($"{Model.LocationBalance?.Balance.ToString("N2")} {Model.LocationBalance?.CurrencySign}")</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <span class="font-weight-500">Günlük Kasa Özeti</span>
                            </div>
                            <div class="card-body m-0 p-0">
                                @{ Html.RenderPartial("_PartialCashSummary", Model.Summary);}
                            </div>
                        </div>

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <div class="d-flex">
                                    <span class="font-weight-500">Z Raporu</span>
                                    <span class="flex"></span>
                                    <div>
                                        <a href="javascript:;" class="font-weight-bold pl-2" title="Add Cash Collect" data-toggle="modal" data-target="#modalcashrecorder">
                                            <i class="text-success font-weight-bold" data-feather="plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body m-0 p-0">
                                <div class="table-responsive">
                                    <table class="table table-theme table-hover table-row v-middle m-0 p-0" style="border-spacing: 0 1px !important;">
                                        <thead>
                                            <tr class="table-light text-sm font-weight-bold">
                                                <td class="p-1">No</td>
                                                <td class="text-center p-1">Tarih</td>
                                                <td class="text-center p-1">Tutar</td>
                                                <td class="p-1"></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.CashRecordSlip)
                                            {
                                                <tr class="v-middle shadow-sm">
                                                    <td class="pl-1"><a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalcashrecorderedit" onclick="GetCashRecorderModal(@(item.ID))">@(item.DocumentNumber)</a></td>
                                                    <td class="">@(item.Date?.ToShortDateString())</td>
                                                    <td class="text-right  @(item.IsActive == false ? "text-muted":"text-dark") font-weight-bold pr-0"><b>@(item.CashAmount?.ToString("N2"))</b></td>
                                                    <td class="pl-1"> @(item.Currency == "TRL" ? "₺" : item.Currency == "USD" ? "$":"€")</td>
                                                </tr>
                                            }
                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <div class="card-header">
                                <div class="d-flex">
                                    <span class="font-weight-500">Gün Sonu Zarfı</span>
                                </div>
                            </div>
                            <div class="card-header">
                                <div class="d-flex">
                                    @using (Html.BeginForm("AddResultDocument", "Envelope", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input id="ResultFile" name="ResultFile" class="form-control" type="file" style="width:100%;" />
                                                <input id="DayResultID" name="DayResultID" type="hidden" value="@(Model.CurrentDayResult.ID)" />
                                            </div>
                                            <div class="input-group-append">
                                                <button type="submit" id="btn-save" class="btn btn-block bg-primary text-white input-group-btn">Ekle</button>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="card-body m-0 p-0">
                                <div class="table-responsive">
                                    <table class="table table-theme table-hover table-row v-middle m-0 p-0" style="border-spacing: 0 1px !important;">
                                        <thead>
                                            <tr class="table-light text-sm font-weight-bold">
                                                <td class="p-1">No</td>
                                                <td class="text-center p-1">Tarih</td>
                                                <td class="text-center p-1">Doc</td>
                                                <td class="p-1"></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.ResultDocuments)
                                            {
                                                <tr class="v-middle shadow-sm">
                                                    <td class="pl-1">
                                                        <a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalResultDocument" onclick="GetResultDocument(@(item.ID))">@(item.ID)</a>
                                                    </td>
                                                    <td class="">@(item.Date.ToShortDateString())</td>
                                                    <td class="@(item.IsActive == false ? "text-muted":"text-dark") font-weight-bold pr-0">
                                                        <b>
                                                            <a href="javascript:;" class="@(item.IsActive == false ? "text-danger":"")" data-toggle="modal" data-target="#modalResultDocument" onclick="GetResultDocument(@(item.ID))">Detay</a>
                                                        </b>
                                                    </td>
                                                    <td class="pl-1"> </td>
                                                </tr>
                                            }
                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalcashrecorder" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title font-weight-500 text-dark">Cash Payment</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body mt-0 mb-0 pb-4 pt-4">
                @using (Html.BeginForm("AddCashRecordSlip", "Envelope", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label pr-0">ZRapor No</label>
                        <div class="col-8">
                            <input id="ReceiptNumber" type="text" name="ReceiptNumber" class="form-control font-weight-bold" required />
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Fiş Tarihi</label>
                        <div class="col-8">
                            <input id="ReceiptDate" name="ReceiptDate" type="date" class="form-control font-weight-bold" placeholder="Date" value="@(Model.DocumentDate.ToString("yyyy-MM-dd"))" required>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Fiş Saati</label>
                        <div class="col-8">
                            <input id="ReceiptTime" name="ReceiptTime" type="time" class="form-control font-weight-bold" step="1" placeholder="Time" value="@(Model.DocumentDate.ToString("HH\\:mm\\:ss"))" required>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Nakit</label>
                        <div class="col-8">
                            <input id="CashAmount" name="CashAmount" type="text" class="form-control font-weight-bold text-right money" onkeyup="SumCashRecorder()" placeholder="0,00" required>
                        </div>
                    </div>
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label">Kredi</label>
                        <div class="col-8">
                            <input id="CreditAmount" name="CreditAmount" type="text" class="form-control font-weight-bold text-right money" onkeyup="SumCashRecorder()" placeholder="0,00" required>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label pr-0">Fiş Tutarı</label>
                        <div class="col-8">
                            <input id="NetAmount" name="NetAmount" type="text" class="form-control font-weight-bold text-right money" placeholder="0,00" required>
                        </div>
                    </div>

                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label pr-0">Genel Tutar</label>
                        <div class="col-8">
                            <input id="TotalAmount" name="TotalAmount" type="text" class="form-control font-weight-bold text-right money" placeholder="0,00" required>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <input id="ReceiptFile" name="ReceiptFile" class="form-control" type="file" style="width:100%;" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label"></label>
                        <div class="col-8">
                            <button type="submit" id="btn-save" class="btn btn-block bg-primary text-white btn-rounded">Kaydet</button>
                        </div>
                    </div>

                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-rounded btn-light" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="modalcashrecorderedit" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title">Cash Recorder Slip</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                <div class="p-0" id="modalcashContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-rounded btn-light text-info" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

<div id="modalResultDocument" class="modal fade" data-backdrop="true" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header"><div class="modal-title">Envelope File</div><button class="close" data-dismiss="modal">×</button></div>
            <div class="modal-body mt-0 mb-0 pb-0 pt-0">
                <div class="p-0" id="modalResultDocumentContent">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-block btn-rounded btn-light text-info" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
</div>

@section scripts {

    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
                $(function () {
                    notie.setOptions({
                        alertTime: 5
                    })
                    notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                    noticed = true;
                });
        </script>
    }

    <script type="text/javascript">

        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.postcode').mask('00000-000');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });

        function SumCashRecorder() {

            var cashamount = $("#CashAmount").val().replace('.', '').replace(',', '.');
            var creditamount = $("#CreditAmount").val().replace('.', '').replace(',', '.');

            var rate = parseFloat(cashamount) + parseFloat(creditamount) || 0.00;

            $("#NetAmount").val(rate.toFixed(2).replace('.', ',').toString());
        };

        function GetCashRecorderModal(id) {

            $("#modalcashContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/Envelope/GetCashRecorder",
                data: { ID: id }
            }).done(function (d) {
                $("#modalcashContent").html(d);
            });
        };


        function GetResultDocument(id) {

            $("#modalResultDocumentContent").html('Loading.');

            $.ajax({
                method: "GET",
                url: "/Envelope/GetResultDocument",
                data: { ID: id }
            }).done(function (d) {
                $("#modalResultDocumentContent").html(d);
            });
        };

    </script>
}