@model ActionControlModel
<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</a>
<div>
    <h4>@($"{Model.CurrentLocation.SortBy.Trim()} {Model.CurrentLocation.LocationName}") - @(Model.CurrentDate.Value.ToShortDateString())</h4>
    <p class="tx-color-03"> Lokasyon Kasası Seçiminiz ?</p>
    <div class="table-responsive">
        <table class="table table-info table-hover mg-b-0" data-dismiss="modal" aria-label="Close">
            <tbody>
                @foreach (var item in Model.CashList)
                {
                    <tr onclick="TLocationCashSet(@(item.ID),'@($"{item.LocationFullName} {item.CashName} {item.Currency}")')">
                        <th class="font-weight-bold">@(item.Currency)</th>
                        <th>@($"{item.LocationFullName} {item.CashName} ({item.Currency})" )</th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
