@model ActionControlModel
@{
    ViewBag.Title = "Cari Virman İşlemleri";
}

@section style{
    <link rel="stylesheet" href="/assets/css/dashforge.profile.css">
}

<div class="content-header">
    <div class="content-search">
        <span class="tx-20">Cari Virman Ekleme</span>
    </div>
    <nav class="nav">
        @(DateTime.UtcNow.AddHours(Model.Authentication.ActionEmployee.OurCompany.TimeZone.Value).ToLongDateString())
    </nav>
</div>
<div class="content-body">
    <div class="pd-x-0 tx-13">
        <div class="media d-block d-lg-flex">
            <div class="media-body  mg-t-40 mg-lg-t-0">
                <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
                    <div>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                                <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cari Virman İşlemleri</li>
                            </ol>
                        </nav>
                        <h4 class="mg-b-0 tx-spacing--1">Yeni Virman</h4>
                    </div>
                    <div class="d-none d-md-block">
                        <a href="/Action/Transfers" class="btn btn-primary btn-uppercase"><i data-feather="list"></i> &nbsp; Virman Listesi</a>
                    </div>
                </div>


                @using (Html.BeginForm("AddNewTransfer", "Action", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="row row-xs">
                        <div class="col-lg-12">
                            <div class="form-group row">
                                <label for="DocumentDate" class="col-sm-3 col-form-label">Tarih</label>
                                <div class="col-sm-6">
                                    <input id="DocumentDate" name="DocumentDate" type="text" class="form-control shiftdate" autocomplete="off" placeholder="Tarih" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" required>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group row mg-b-5 bg-gray-50">
                                <label for="FromLocationID" class="col-sm-3 col-form-label">Lokasyon</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="FromLocationID" name="FromLocationID" required>
                                        @foreach (var item in Model.LocationList.OrderBy(x => x.SortBy))
                                        {
                                            <option value="@item.LocationID">@($"{item.SortBy.Trim()} {item.LocationName} {item.State} {item.Description}" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group row bg-gray-50">
                                <label for="FromName" class="col-sm-3 col-form-label">Kaynak ( Çıkış )</label>
                                <div class="col-sm-6">
                                    <input id="FromCashID" name="FromCashID" type="hidden" value="" />
                                    <input id="FromBankID" name="FromBankID" type="hidden" value="" />
                                    <input id="FromEmplID" name="FromEmplID" type="hidden" value="" />
                                    <input id="FromCustID" name="FromCustID" type="hidden" value="" />

                                    <input id="FromName" name="FromName" type="text" class="form-control" autocomplete="off" placeholder="Kaynak" required readonly>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#modalFLocationCashSelect" data-toggle="modal" class="btn btn-info" title="Kasa" onclick="FLocationCashSelect()"><i class="ion ion-md-keypad"></i></a>
                                    <a href="#modalFLocationBankSelect" data-toggle="modal" class="btn btn-warning" title="Banka" onclick="FLocationBankSelect()"><i class="ion ion-md-card"></i></a>
                                    <a href="#modalFLocationEmployeeSelect" data-toggle="modal" class="btn btn-success" title="Personel" onclick="FLocationEmployeeSelect()"><i class="ion ion-md-person"></i></a>
                                    <a href="#modalFLocationCustomerSelect" data-toggle="modal" class="btn btn-primary" title="Müşteri" onclick="FLocationCustomerSelect()"><i class="ion ion-md-man"></i></a>
                                </div>
                            </div>
                            <div class="form-group row mg-b-5 bg-gray-100">
                                <label for="ToLocationID" class="col-sm-3 col-form-label">Lokasyon</label>
                                <div class="col-sm-6">
                                    <select class="form-control" id="ToLocationID" name="ToLocationID" required>
                                        @foreach (var item in Model.LocationList.OrderBy(x => x.SortBy))
                                        {
                                            <option value="@item.LocationID">@($"{item.SortBy.Trim()} {item.LocationName} {item.State} {item.Description}" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group row bg-gray-100">
                                <label for="ToName" class="col-sm-3 col-form-label">Hedef ( Giriş )</label>
                                <div class="col-sm-6">
                                    <input id="ToCashID" name="ToCashID" type="hidden" value="" />
                                    <input id="ToBankID" name="ToBankID" type="hidden" value="" />
                                    <input id="ToEmplID" name="ToEmplID" type="hidden" value="" />
                                    <input id="ToCustID" name="ToCustID" type="hidden" value="" />

                                    <input id="ToName" name="ToName" type="text" class="form-control" autocomplete="off" placeholder="Hedef" required readonly>
                                </div>
                                <div class="col-sm-3">
                                    <a href="#modalTLocationCashSelect" data-toggle="modal" class="btn btn-info" title="Kasa" onclick="TLocationCashSelect()"><i class="ion ion-md-keypad"></i></a>
                                    <a href="#modalTLocationBankSelect" data-toggle="modal" class="btn btn-warning" title="Banka" onclick="TLocationBankSelect()"><i class="ion ion-md-card"></i></a>
                                    <a href="#modalTLocationEmployeeSelect" data-toggle="modal" class="btn btn-success" title="Personel" onclick="TLocationEmployeeSelect()"><i class="ion ion-md-person"></i></a>
                                    <a href="#modalTLocationCustomerSelect" data-toggle="modal" class="btn btn-primary" title="Müşteri" onclick="TLocationCustomerSelect()"><i class="ion ion-md-man"></i></a>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="Amount" class="col-sm-3 col-form-label">Tutar</label>
                                <div class="col-sm-4">
                                    <input id="Amount" name="Amount" type="text" class="form-control money" autocomplete="off" placeholder="Tutar" required>
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control" name="Currency" required>
                                        @foreach (var item in Model.CurrencyList)
                                        {
                                            <option value="@item.Code" @(Model.Authentication.ActionEmployee.OurCompany.Currency == item.Code ? "selected" : "")>@($"{item.Code} ({item.Sign})")</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="CarrierEmployeeID" class="col-sm-3 col-form-label">Sorumlu Personel</label>
                                <div class="col-sm-6">
                                    <select class="form-control select2" id="CarrierEmployeeID" name="CarrierEmployeeID" required>
                                        @foreach (var item in Model.EmployeeList.Where(x => x.IsActive == true).OrderBy(x => x.FullName))
                                        {
                                            <option value="@item.EmployeeID">@($"{item.FullName.Trim()} ({item.IsActive})" )</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="Description" class="col-sm-3 col-form-label">Açıklama</label>
                                <div class="col-sm-6">
                                    <textarea id="Description" name="Description" rows="5" cols="20" class="form-control" style="width:100% !important;"></textarea>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                            <div class="form-group row mg-b-0">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block">Cari Virman Ekle</button>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalFLocationCashSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectLocationCash">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFLocationBankSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectLocationBank">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFLocationEmployeeSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectLocationEmployee">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalFLocationCustomerSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectLocationCustomer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalTLocationCashSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectTLocationCash">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTLocationBankSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectTLocationBank">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTLocationEmployeeSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectTLocationEmployee">

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTLocationCustomerSelect" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body pd-20 pd-sm-20" id="SelectTLocationCustomer">

            </div>
        </div>
    </div>
</div>




@section canvasmenu {

}

@section scripts {
    <script src="~/assets/js/ActionForceScript.js"></script>
    <script>
        $(function () {
            'use strict'
            $('.select2').select2({
                placeholder: 'Lokasyon Seçiminiz',
                searchInputPlaceholder: 'Search options'
            });
            $('#DocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#UpdateDocumentDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#SlipDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });

            $('#UpdateSlipDate').datepicker({
                dateFormat: "yy-mm-dd",
                dayNamesMin: ["Pz", "Pt", "Sa", "Ca", "Pe", "Cu", "Ct"],
                monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
                firstDay: 1
            });
        });
        $(function () {
            $('.shiftbegintime').mask('00:00');
            $('.hour').mask('00:00');
            $('.hourfull').mask('00:00:00');
            $('.shiftdate').mask('0000-00-00');
            $('.money').mask("#.##0,00", { reverse: true });
            $('.quantity').mask("##0", { reverse: true });
            $('.money4').mask("#.##0,0000", { reverse: true });
        });


    </script>

    @if (Model.Result != null) //
    {
        <script type="text/javascript">
        $.toast({
            heading: 'Information',
            text: '@Model.Result.Message ',
            showHideTransition: 'slide',
            icon: 'info',
            hideAfter: 5000,
            position: 'bottom-right',
        });
        </script>
    }
}

