@model SaleControlModel
@{
    ViewBag.Title = "Satışlar";
    ViewBag.PageTitle = $"<span class='font-weight-bold'> Siparişler </span>";

}

<div class="d-flex flex fixed-content">
    <div class="d-flex flex" id="content-body">
        <div class="d-flex flex-column flex" data-plugin="user">
            <div class="p-2">
                <div class="toolbar">
                    <a href="/Sale/Index/@(Model.SelectedDate.AddDays(-1).ToString("yyyy-MM-dd"))@(Model.CurrentOurCompany != null ? "?OurCompnayID="+Model.CurrentOurCompany.CompanyID:"")" class="btn btn-md btn-white" title="Önceki Gün">
                        <i class="text-info font-weight-bold" data-feather="chevron-left"></i>
                    </a>
                    <a href="/Sale/Index/@(Model.LocationDate.ToString("yyyy-MM-dd"))@(Model.CurrentOurCompany != null ? "?OurCompnayID="+Model.CurrentOurCompany.CompanyID:"")" class="btn btn-md btn-white" title="Bu gün">
                        <i class="text-info font-weight-bold" data-feather="target"></i>
                    </a>
                    <a href="/Sale/Index/@(Model.SelectedDate.AddDays(1).ToString("yyyy-MM-dd"))@(Model.CurrentOurCompany != null ? "?OurCompnayID="+Model.CurrentOurCompany.CompanyID:"")" class="btn btn-md btn-white" title="Sonraki Gün">
                        <i class="text-info font-weight-bold" data-feather="chevron-right"></i>
                    </a>
                    <a href="/Sale/Detail/@(Model.SelectedDate.ToString("yyyy-MM-dd"))@(Model.CurrentOurCompany != null ? "?OurCompnayID="+Model.CurrentOurCompany.CompanyID:"")" class="btn btn-md btn-block btn-white" title="Satış Detay">
                        <i class="text-info font-weight-bold" data-feather="layers"></i>
                    </a>


                </div>
                <div class="mt-2">
                    <a href="#" class="btn btn-sm btn-block btn-white">
                        <span class="text-black-50">@($"({Model.DateKey?.WeekNumber}. Hafta)") </span> &nbsp;&nbsp; <span class="font-weight-bold">@(Model.SelectedDate.ToLongDateString())</span>
                    </a>
                </div>
            </div>
            <div class="scroll-y mb-0">
                <div class="row no-gutters">
                    <div class="col-md-12 p-2">

                        <div class="card" data-sr-id="31" style="visibility: visible; transform: none; opacity: 1; transition: none 0s ease 0s;">
                            <!--<div class="card-header">
                                <span class="font-weight-500">Bugün Toplam Satışlar   </span>-->
                            @*<span class="text-info">Nakit</span> <span class="text-warning">Kredi Kartı</span>*@
                            <!--</div>-->
                            <div class="card-body m-0 p-0">


                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="text-success p-1" colspan="4">

                                                    <select class="custom-select" id="OurCompanyID">
                                                        <option value="0">Tümü</option>
                                                        @foreach (var item in Model.OurCompanies)
                                                        {
                                                            <option value="@(item.CompanyID)" @(item.CompanyID == Model?.CurrentOurCompany?.CompanyID ? "selected" : "" )>@(item.CompanyName)</option>
                                                        }
                                                    </select>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var our in Model.CurrentOurCompany != null ? Model.OurCompanies.Where(x => x.CompanyID == Model.CurrentOurCompany?.CompanyID) : Model.OurCompanies)
                                            {
                                                var cash = Model.Revenue.Where(x => x.OurCompanyID == our.CompanyID && x.PayMethodID == 1 && x.ActionTypeID == 24).ToList();
                                                var credit = Model.Revenue.Where(x => x.OurCompanyID == our.CompanyID && x.PayMethodID == 2 && x.ActionTypeID == 1).ToList();
                                                var total = Model.Revenue.Where(x => x.OurCompanyID == our.CompanyID).ToList();


                                                <tr>
                                                    <th>Nakit</th>
                                                    <th class="text-info p-2 text-right" style="border-right:solid 1px #e6e6e6;">@(cash.Where(x => x.Currency == "USD").Sum(x=> x.Amount).ToString("N2")) $</th>
                                                    <th class="text-info p-2 text-right" style="border-right: solid 1px #e6e6e6;">@(cash.Where(x => x.Currency == "EUR").Sum(x=> x.Amount).ToString("N2")) €</th>
                                                    <th class="text-info p-2 text-right">@(cash.Where(x => x.Currency == "TRL").Sum(x=> x.Amount).ToString("N2")) ₺</th>
                                                </tr>

                                               
                                                <tr>
                                                    <th>Banka</th>
                                                    <th class="text-warning p-2 text-right" style="border-right:solid 1px #e6e6e6;">@(credit.Where(x => x.Currency == "USD").Sum(x=> x.Amount).ToString("N2")) $</th>
                                                    <th class="text-warning p-2 text-right" style="border-right: solid 1px #e6e6e6;">@(credit.Where(x => x.Currency == "EUR").Sum(x=> x.Amount).ToString("N2")) €</th>
                                                    <th class="text-warning p-2 text-right">@(credit.Where(x => x.Currency == "TRL").Sum(x=> x.Amount).ToString("N2")) ₺</th>
                                                </tr>
                                               
                                               
                                                <tr>
                                                    <th class="bg-body p-2 text-left" style="border-right: solid 1px #e6e6e6; border-top: solid 4px #e6e6e6;">Toplam</th>
                                                    <th class="bg-body p-2 text-right" style="border-right: solid 1px #e6e6e6; border-top: solid 4px #e6e6e6;">@((total.Where(x => x.Currency == "USD").Sum(x => x.Amount)).ToString("N2")) $</th>
                                                    <th class="bg-body p-2 text-right" style="border-right: solid 1px #e6e6e6; border-top: solid 4px #e6e6e6;">@((total.Where(x => x.Currency == "EUR").Sum(x => x.Amount)).ToString("N2")) €</th>
                                                    <th class="bg-body p-2 text-right" style="border-top: solid 4px #e6e6e6;">@((total.Where(x => x.Currency == "TRL").Sum(x => x.Amount)).ToString("N2")) ₺</th>
                                                </tr>

                                                <tr class="v-middle shadow-sm">
                                                    <td colspan="4" class="bg-body p-1 pl-2 pt-3">İşçilik Maliyeti</td>
                                                </tr>

                                                foreach (var currency in Model.SalaryList?.Where(x => x.OurCompanyID == our.CompanyID).Select(x => x.Currency).Distinct().ToList())
                                                {
                                                    <tr>
                                                        <td class="p-2" style="border-right: solid 1px #e6e6e6;">@(our.Code)</td>
                                                        <td class="text-success p-2" style="border-right: solid 1px #e6e6e6;">@(Model.SalaryList?.Where(x => x.OurCompanyID == our.CompanyID)?.Select(x => x.LocationID)?.Distinct()?.Count())</td>
                                                        <td class="text-success p-2" style="border-right: solid 1px #e6e6e6;"><i data-feather="user"></i> &nbsp; @(Model.SalaryList?.Where(x => x.OurCompanyID == our.CompanyID && x.Currency == currency)?.Count())</td>
                                                        <th class="text-success p-2 text-right">@(Model.SalaryList?.Where(x => x.OurCompanyID == our.CompanyID && x.Currency == currency)?.Sum(x => x.Amount)?.ToString("N2")) @(currency == "USD" ? "$" : currency == "EUR" ? "€" : "₺")</th>
                                                    </tr>
                                                }

                                               

                                                foreach (var currency in Model.ExpenseList?.Where(x => x.OurCompanyID == our.CompanyID).Select(x => x.Currency).Distinct().ToList())
                                                {
                                                    <tr>
                                                        <td class="text-primary p-2" style="border-right: solid 1px #e6e6e6;">Masraflar</td>
                                                        <td class="p-2" style="border-right: solid 1px #e6e6e6;">@(our.Code)</td>
                                                        <td class="text-primary p-2" style="border-right: solid 1px #e6e6e6;">@(Model.ExpenseList?.Where(x => x.OurCompanyID == our.CompanyID)?.Select(x => x.LocationID)?.Distinct()?.Count())</td>
                                                        <th class="text-primary p-2 text-right">@(Model.ExpenseList?.Where(x => x.OurCompanyID == our.CompanyID && x.Currency == currency)?.Sum(x => x.Amount)?.ToString("N2")) @(currency == "USD" ? "$" : currency == "EUR" ? "€" : "₺")</th>
                                                    </tr>
                                                }


                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4">
                                                    <a href="/Sale/Detail/@(Model.SelectedDate.ToString("yyyy-MM-dd"))@(Model.CurrentOurCompany != null ? "?OurCompnayID="+Model.CurrentOurCompany.CompanyID:"")" class="btn btn-md btn-block btn-white" title="Satış Detay">
                                                        <i class="text-info font-weight-bold" data-feather="layers"></i> &nbsp; Satış Detayları
                                                    </a>
                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">

        $('select#OurCompanyID').on('change', function (e) {

            var id = this.value;

            //const params = new URLSearchParams(window.location.search);
            const newparams = new URLSearchParams('');

            if (id != '0') {
                newparams.append('OurCompnayID', id);
            }

            window.location.search = newparams;
        });

    </script>

    @if (Model.Result != null && !string.IsNullOrEmpty(Model.Result.Message)) //
    {
        <script>
                $(function () {
                    notie.setOptions({
                        alertTime: 5
                    })
                    notie.alert({ type: 2, text: '@(Html.Raw(Model.Result.Message))', position: 'bottom' });
                    noticed = true;
                });
        </script>
    }
}