@model ActionsControlModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFE POS</title>
    <meta name="description" content="UFE POS">
    <meta name="keywords" content="UFE POS">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="/assets/scss/global.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="header">
                <div class="menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="49.778" viewBox="0 0 64 49.778">
                        <path d="M59.889,40.556v7.111H10.111V40.556H59.889M67,5H3v7.111H67Zm0,14.222H3v7.111H67Zm0,14.222H3V54.778H67Z" transform="translate(-3 -5)" fill="currentColor" />
                    </svg>
                    <!-- menu -->
                </div>
                <div class="logo">
                    <a href="javascript:;">UFE POS</a>
                    <div class="date">@(Model.DocumentDate.ToLongDateString())</div>
                </div>
                <div class="homepage">
                    <a href="/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                            <path d="M4,16.5H16.5V4H4ZM22.75,54h12.5V41.5H22.75ZM4,54H16.5V41.5H4ZM4,35.25H16.5V22.75H4Zm18.75,0h12.5V22.75H22.75ZM41.5,4V16.5H54V4ZM22.75,16.5h12.5V4H22.75ZM41.5,35.25H54V22.75H41.5ZM41.5,54H54V41.5H41.5Z" transform="translate(-4 -4)" fill="currentColor" />
                        </svg>
                        <!-- homepage -->
                    </a>
                </div>
            </div><!-- header -->
            <div class="side-menu-overlay"></div>
            <div class="side-menu">
                @{ Html.RenderPartial("_PartialMenu");}
            </div><!-- side-menu -->
            <div class="content">
                <div class="card-transactions" style="padding: 0px 20px 0px;">

                    <div class="head-date">
                        <div class="yesterday">
                            <a href="/Actions/Index/@(Model.DocumentDate.AddDays(-1).ToString("yyyy-MM-dd"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="15 18 9 12 15 6"></polyline></svg>
                            </a>
                        </div>
                        <div class="today">
                            <a href="/Actions/Index/@(DateTime.Now.ToString("yyyy-MM-dd"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><circle cx="12" cy="12" r="6"></circle><circle cx="12" cy="12" r="2"></circle></svg>
                            </a>
                        </div>
                        <div class="tomorrow">
                            <a href="/Actions/Index/@(Model.DocumentDate.AddDays(1).ToString("yyyy-MM-dd"))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </a>
                        </div>
                    </div>

                    <div class="table-responsive" style="margin-bottom: 20px;">
                        <div class="table-responsive">
                            <table cellpadding="0" cellspacing="0" class="tickets-sales-cash">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th colspan="4" class="text-center">Nakit</th>
                                        <th colspan="4" class="text-center">Kart</th>
                                        <th class="text-center">Toplam</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:left;">Belge Tarihi</th>
                                        <th style="text-align:left;">İşlem</th>
                                        <th style="text-align:left;">Belge No</th>

                                        <th style="text-align:right;">Tahsilat</th>
                                        <th style="text-align:right;">Ödeme</th>
                                        <th style="text-align:right;">Toplam</th>
                                        <th style="text-align:right;">Bakiye</th>

                                        <th style="text-align:right;">Tahsilat</th>
                                        <th style="text-align:right;">Ödeme</th>
                                        <th style="text-align:right;">Toplam</th>
                                        <th style="text-align:right;">Bakiye</th>

                                        <th style="text-align:right;">Bakiye</th>
                                        <th>Para Br.</th>
                                        <th>Kayıt Tarihi</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.ActionList)
                                    {
                                        Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency && x.Type == item.Module).Total += item.Module == "Cash" ? item.CashAmount ?? 0 : item.CardAmount ?? 0;


                                        <tr>
                                            <td class="tx-sm-13" style="text-align:left;">@item.ProcessDate.Value.ToShortDateString()</td>
                                            <td class="tx-sm-13" style="text-align:left;">@item.ProcessName</td>
                                            <td class="tx-sm-13" style="text-align:left;">@item.DocumentNumber</td>
                                            <td class="tx-sm-13 text-right bg-cash" style="text-align:right;">@(item.CashCollection != null ? item.CashCollection.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-cash" style="text-align:right;">@(item.CashPaymnet != null ? item.CashPaymnet.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-cash" style="text-align:right;">@(item.CashAmount != null ? item.CashAmount.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-cash" style="font-weight: 500; text-align: right;">@(Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency && x.Type == "Cash").Total.ToString("N2"))</td>

                                            <td class="tx-sm-13 text-right bg-credit" style="text-align:right;">@(item.CardCollection != null ? item.CardCollection.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-credit" style="text-align:right;">@(item.CardPayment != null ? item.CardPayment.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-credit" style="text-align:right;">@(item.CardAmount != null ? item.CardAmount.Value.ToString("N2") : "")</td>
                                            <td class="tx-sm-13 text-right bg-credit" style="font-weight: 500; text-align: right;">@(Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency && x.Type == "Bank").Total.ToString("N2"))</td>


                                            <td class="tx-sm-13 text-right bg-info" style="font-weight: 900; font-size: 15px; text-align: right;">@((Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency && x.Type == "Cash").Total + Model.FooterTotals.FirstOrDefault(x => x.Currency == item.Currency && x.Type == "Bank").Total).ToString("N2"))</td>
                                            <td class="tx-sm-13">@item.Currency</td>
                                            <td class="tx-sm-13 text-right">@item.RecordDate</td>

                                        </tr>
                                    }


                                </tbody>
                                <tfoot>
                                    @*Dip Toplam*@
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th>Dip Toplam</th>

                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right bg-light">@((Model.FooterTotals.FirstOrDefault(x => x.Type == "Cash" && x.Currency == "TRL").Total - Model.HeaderTotals.FirstOrDefault(x => x.Type == "Cash" && x.Currency == "TRL").Total).ToString("N2"))</th>

                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th class="text-right bg-light">@((Model.FooterTotals.FirstOrDefault(x => x.Type == "Bank" && x.Currency == "TRL").Total - Model.HeaderTotals.FirstOrDefault(x => x.Type == "Bank" && x.Currency == "TRL").Total).ToString("N2"))</th>

                                        <th class="text-right bg-light" style="font-weight:900; font-size:15px;">@((((Model.FooterTotals.FirstOrDefault(x => x.Type == "Cash" && x.Currency == "TRL").Total - Model.HeaderTotals.FirstOrDefault(x => x.Type == "Cash" && x.Currency == "TRL").Total)) + (Model.FooterTotals.FirstOrDefault(x => x.Type == "Bank" && x.Currency == "TRL").Total - Model.HeaderTotals.FirstOrDefault(x => x.Type == "Bank" && x.Currency == "TRL").Total)).ToString("N2"))</th>
                                        <th>TRL</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>


                <!-- sales-list -->
            </div><!-- content -->
        </div>
    </div><!-- main -->
    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/global.js"></script>
    <script>
        $(function () {
            const open = 'open';
            const $menu = $('.header .menu');
            const $listBtn = $('.bot-list-btn');

            $menu.on('click', function () {
                let $this = $(this);
                if (($this).hasClass(open)) {
                    $this.removeClass(open);
                    $('.side-menu,.side-menu-overlay').removeClass(open);
                } else {
                    $this.addClass(open);
                    $('.side-menu,.side-menu-overlay').addClass(open);
                }
            });
            $('.side-menu-overlay').on('click', function () {
                $menu.removeClass(open);
                $('.side-menu,.side-menu-overlay').removeClass(open);
            });

            $listBtn.on('click', function () {
                let $this = $(this);
                if ($this.hasClass(open)) {
                    $this.removeClass(open);
                    $('.fixed-footer-overlay').removeClass(open);
                    $('.footer-basket').stop().slideUp();
                } else {
                    $this.addClass(open);
                    $('.fixed-footer-overlay').addClass(open);
                    $('.footer-basket').stop().slideDown();
                }
            });
            $('.fixed-footer-overlay').on('click', function () {
                $listBtn.removeClass(open);
                $('.fixed-footer-overlay').removeClass(open);
                $('.footer-basket').stop().slideUp();
            });
            $(document).ready(function () {
                $('.piece-options .minus').click(function () {
                    var $input = $(this).parent().find('input');
                    var count = parseInt($input.val()) - 1;
                    count = count < 1 ? 1 : count;
                    $input.val(count);
                    $input.change();
                    return false;
                });
                $('.piece-options .plus').click(function () {
                    var $input = $(this).parent().find('input');
                    $input.val(parseInt($input.val()) + 1);
                    $input.change();
                    return false;
                });
            });
        });</script>
</body>
</html>
